{% load i18n %}
{# due_date #}
<date-field-group
  field_name="due_date"
  :display_date="document.tracking.due_date_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# submission_date #}
<date-field-group
  field_name="submission_date"
  :display_date="document.tracking.submission_date_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>

{# chair #}
<select-group
  field_name="chair"
  :val="document.tracking.chair"
  :labels="trackingLabels"
  :choices="personChoices"
  @update-tracking="updateTracking"
></select-group>

{# date_chair_sent #}
<date-field-group
  field_name="date_chair_sent"
  :display_date="document.tracking.date_chair_sent_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# date_chair_appr #}
<date-field-group
  field_name="date_chair_appr"
  :display_date="document.tracking.date_chair_appr_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# date_coordinator_sent #}
<date-field-group
  field_name="date_coordinator_sent"
  :display_date="document.tracking.date_coordinator_sent_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# date_coordinator_appr #}
<date-field-group
  field_name="date_coordinator_appr"
  :display_date="document.tracking.date_coordinator_appr_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# director #}
<select-group
  field_name="director"
  :val="document.tracking.director"
  :labels="trackingLabels"
  :choices="personChoices"
  @update-tracking="updateTracking"
></select-group>

{# date_director_sent #}
<date-field-group
  field_name="date_director_sent"
  :display_date="document.tracking.date_director_sent_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# date_director_appr #}
<date-field-group
  field_name="date_director_appr"
  :display_date="document.tracking.date_director_appr_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# date_number_requested #}
<date-field-group
  field_name="date_number_requested"
  :display_date="document.tracking.date_number_requested_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# number_approved #}
<date-field-group
  field_name="number_approved"
  :display_date="document.tracking.number_approved_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# date_doc_submitted #}
<date-field-group
  field_name="date_doc_submitted"
  :display_date="document.tracking.date_doc_submitted_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# proof_sent_to #}
<select-group
  field_name="proof_sent_to"
  :val="document.tracking.proof_sent_to"
  :labels="trackingLabels"
  :choices="personChoices"
  @update-tracking="updateTracking"
></select-group>


{# date_proof_author_sent #}
<date-field-group
  field_name="date_proof_author_sent"
  :display_date="document.tracking.date_proof_author_sent_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# date_proof_author_approved #}
<date-field-group
  field_name="date_proof_author_approved"
  :display_date="document.tracking.date_proof_author_approved_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# anticipated_posting_date #}
<date-field-group
  field_name="anticipated_posting_date"
  :display_date="document.tracking.anticipated_posting_date_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# actual_posting_date #}
<date-field-group
  field_name="actual_posting_date"
  :display_date="document.tracking.actual_posting_date_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


{# updated_posting_date #}
<date-field-group
  field_name="updated_posting_date"
  :display_date="document.tracking.updated_posting_date_display"
  :labels="trackingLabels"
  @update-tracking="updateTracking"
></date-field-group>


