{% extends "travel/travel_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% block header %}
{% endblock %}
{% block content %}

    <style>
        .label {
            font-weight: bold;
        }

        table, td {
            font-size: small;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'travel:conf_list' %}">Conferences</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <div class="container">

        <h1>{{ object }}</h1>


        <div class="btn-group">
            <a class="btn btn-warning" href="{% url 'travel:conf_edit' object.id %}">
                Edit
            </a>
            <a class="btn btn-danger " href="{% url 'travel:conf_delete' object.id %}">
                Delete
            </a>
        </div>

        <br><br>

        <div class="row">
            <div class="col">
                <h3>
                    Conference Detail:
                </h3>

                <table class="table table-sm">
                    {% for field in field_list %}
                        {% verbose_td_display object field th_width="30%" %}
                    {% endfor %}

                </table>
                <br>
                <h3>
                    Connected Travel Requests Detail:
                </h3>
                <ul>
                    {% for trip in object.trips.all %}
                        <li>
                            <a href="{% url 'travel:trip_detail' trip.id %}">{{ trip }}</a> by {{ trip.user }}
                            (STATUS: <span style="background-color: {{ trip.status.color }}">{{ trip.status }}</span>)

                        </li>
                    {% empty %}
                        <em>There are no trips connected to this event.</em>
                    {% endfor %}
                </ul>

                <br>
                <h3>
                    List of Travellers:
                </h3>

                <ul>
                    {% for traveller in object.total_traveller_list %}
                        <li>
                            {{ traveller }} {% if traveller in object.bta_traveller_list %}(BTA){% endif %}
                        </li>
                    {% empty %}
                        <em>There is nobody travelling to this event.</em>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

{% endblock content %}
