{% load verbose_names %}
<em>
    *** un message français suivra
</em>
<br><br>

<p>
    Your trip request has been  {{triprequest.status.name}}.
    <br><br>
    You can click <a href="http://dmapps{% url 'travel:request_detail' triprequest.id %}">HERE</a> to access the request. Here are the details:
    <br><br>
</p>

<table>
    {% for field in field_list %}
        {% verbose_td_display triprequest field %}
    {% endfor %}
</table>

<p>
    ********************************************************************
</p>

<p>
    {{ triprequest.user.first_name }},
    <br><br>
    Votre demande de voyage a été {{triprequest.status.nom}}.
    <br><br>
    Vous pouvez cliquer <a href="http://dmapps{% url 'travel:request_detail' triprequest.id %}">ICI</a> pour accéder la voyage.
    Voici les détails du voyage:
</p>

<table>
    {% for field in field_list %}
        {% verbose_td_display triprequest field %}
    {% endfor %}
</table>


<style media="screen">
    table, td {
        border: solid 1px black;
    }
</style>
