{% load verbose_names %}
{% load custom_tags %}

<style media="screen">
    table, td, th, tr {
        border: solid 1px black;
        text-align: left;
        margin-right: 15px;
    }
</style>

<h1>
    A request is awaiting the approval of {{ triprequest.current_reviewer.user }} as {{ triprequest.current_reviewer.role }}.
</h1>
{% if reviewer_role_id == 5 %}
    {% echo "adm" as my_type %}
{% elif reviewer_role_id == 6 %}
    {% echo "rdg" as my_type %}
{% endif %}

<p>
    You can manage approvals via the <a href="{{ SITE_FULL_URL }}{% url 'travel:admin_approval_list' my_type %}">TMS admin console</a>.
    {#    To view the trips awaiting your approval, please click <a href="">HERE</a>. Here are the trip details:#}
</p>
<table>
    {% for field in field_list %}
        {% verbose_td_display triprequest field %}
    {% endfor %}
</table>


