{% extends "travel/travel_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% block header %}
{% endblock %}
{% block content %}

    <style>
        .label {
            font-weight: bold;
        }

        table, td {
            font-size: small;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'travel:event_list' %}">Trips</a></li>
            <li class="breadcrumb-item"><a href="{% url 'travel:event_detail' object.id %}">{{ object }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if object.submitted %}
                    Un-submit Request
                {% else %}
                    Submit Request
                {% endif %}
            </li>
        </ol>
    </nav>

    <div class="container">
        {#        <div class="float-right">#}
        {#            <a class="btn btn-warning " href="{% url 'travel:event_print' object.id %}">#}
        {#                Travel Plan <img src="{% static 'img/icons/pdf.svg' %}" alt="" width="20px">#}
        {#            </a>#}
        {#        </div>#}
        <h1>
            <b>
                Do you wish to {% if object.submitted %} un-submit {% else %} submit {% endif %} the following trip?
            </b>
        </h1>
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field placeholder="" %}

            {% endfor %}

            <div class="">


                <input type="submit" class="btn btn-lg btn-warning" value="Yes">

                <a class="btn btn-lg btn-secondary" href="{% url 'travel:event_detail' object.id %}">
                    Cancel
                </a>
            </div>
        </form>

        <br>
        <div class="row">
            <div class="col">
                <h3>
                    Details:
                </h3>

                <table class="table table-sm">
                    {% for field in field_list %}
                        {% verbose_td_display object field format="currency" th_width="30%" %}
                    {% endfor %}

                </table>

            </div>
        </div>
        <br><br>
        <hr>


    </div>
    <br><br><br>
{% endblock content %}
{% block body_js %}

    <script type="application/javascript">

    </script>

{% endblock %}