{% extends "travel/travel_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}
{% block header %}
{% endblock %}
{% block content %}

    <style>
        .label {
            font-weight: bold;
        }

        table, td {
            font-size: small;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'travel:event_list' %}">Trips</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <div class="container">

        <h1>{{ object }}</h1>


        <div class="btn-group">

            {% if object.submitted %}
                <span data-toggle="tooltip" title="{% trans "Only application administrators can modify a submitted trip" %}">
            {% endif %}
            <a class="btn btn-warning {% if object.submitted and not is_admin %}disabled{% endif %}"
               href="{% url 'travel:event_edit' object.id %}">
                Edit
            </a>
            {% if object.submitted %}
                </span>
            {% endif %}
            {% if object.submitted %}
                <span data-toggle="tooltip" title="{% trans "Submitted trips cannot be deleted." %}">
            {% endif %}
            <a class="btn btn-danger {% if object.submitted %}disabled{% endif %}" href="{% url 'travel:event_delete' object.id %}">
                Delete
            </a>
            {% if object.submitted %}
                </span>
            {% endif %}
            <a class="btn btn-dark" href="{% url 'travel:event_print' object.id %}" data-toggle="tooltip" title="">
                Print Travel Form
            </a>
            <a class="btn btn-primary " href="{% url 'travel:duplicate_event' object.id %}">
                Use as Template
            </a>
            {% if object.submitted and not is_admin %}
                <span data-toggle="tooltip" title="{% trans "Only application administrators can un-submit a trip" %}">
            {% endif %}
            <a class="btn btn-{% if object.submitted %}secondary{% else %}success{% endif %} {% if object.submitted and not is_admin %}disabled{% endif %}"
               href="{% url 'travel:event_submit' object.id %}">
                {% if object.submitted %}Un-submit {% else %} Submit {% endif %}
            </a>
            {% if object.submitted and not is_admin %}
                </span>
            {% endif %}
        </div>

        <br><br>

        <div class="row">
            <div class="col">
                <h3>
                    Trip Detail:
                </h3>

                <table class="table table-sm">
                    {% for field in field_list %}
                        {% verbose_td_display object field format="currency" th_width="30%" nullmark="<span class='highlight'> &nbsp; n/a &nbsp;  </span>" %}
                    {% endfor %}
                </table>

            </div>

        </div>
        <br><br>
        <div class="row">
            {% if object.is_group_trip %}

                <div class="col">
                    <div class="float-right">
                        <a href="#" pop-href="{% url 'travel:event_new' object.id %}" class="btn btn-primary">Add Traveller</a>
                    </div>
                    <h3>
                        Group Travellers:
                    </h3>
                    <br>
                    <table class="table table-sm table-hover sortable">
                        <thead>
                        <tr>
                            {% for field in child_field_list %}
                                {% if "cost_breakdown" in field or "purpose_long" in field %}
                                    <th style="width: 20%">{% get_verbose_label object field %}</th>
                                {% else %}
                                    <th scope="col">{% get_verbose_label object field %}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for child in object.children_events.all %}

                            <tr pop href="{% url 'travel:event_edit' child.id "pop" %}"
                                class="{% if child.total_cost == 0 %}bad{% endif %}">

                                {% for field in child_field_list %}
                                    <td>{% get_field_value child field format="currency" safe=True %}</td>

                                {% endfor %}
                                <td><a class="btn btn-sm btn-warning stop-pop"
                                       href="{% url 'travel:child_duplicate_event' child.id  'pop' %}">Clone</a></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                        <tr>
                            <th colspan="{{ child_field_list|length|subtract:1|floatformat }}" style="text-align: right">TOTAL COST:</th>
                            <th style="width: 8%;">{{ object.total_trip_cost|currency:"True" }}</th>
                        </tr>
                    </table>


                </div>
            {% endif %}

        </div>
    </div>

{% endblock content %}
