{% load verbose_names %}
{% load bootstrap4 %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

<style>
    .label {
        font-weight: bold;
    }

    table.real, td.real, th.real {
        font-size: small;
        border: 1px solid black;
        text-align: left;
        border-collapse: collapse;
    }

    td, th {
        padding: 1px;
    }

    th.real {
        background-color: #ebf597;
    {#color: white;#} border: 1px solid black;
        font-weight: bold;
    }

    .total {
        background-color: lightgray;
        color: black;
    }

    .block {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 18px;
    }

    @page {
        size: legal landscape;
        margin: 1cm;
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 18cm;
        margin-right: 0cm;
        height: 1cm;
    }
    }

    th.right, td.right {
        text-align: right;
    }

    th.center, td.center {
        text-align: center;
    }

    th.left, td.left {
        text-align: left;
    }

    th.wide-cell, td.wide-cell {
        padding-bottom: 5px;
    }

    th.wset, td.wset {
        width: 60px;
    }


</style>


<div id="footerContent">
    {% block page_foot %}
        <pdf:pagenumber/>
    {% endblock %}
</div>
<div class="block">
    <table>
        <td>
            <div class="block">
                <table class="real">
                    <tr class="real">
                        <th style="width: 200px; text-align: right;" class="real">Date of Crew Change or Group Travel:</th>
                        <td style="width: 200px; text-align: center;" class="real">{{ parent.start_date|date:"F d, Y" }}
                            to {{ parent.end_date|date:"F d, Y" }}</td>
                    </tr>
                </table>
            </div>
            <div class="block">
                <table class="real">
                    <tr class="real">
                        <th style="width: 200px; text-align: right;" class="real">Plan number (optional):</th>
                        <td style="width: 200px; text-align: center;" class="real">{{ parent.plan_number }}</td>
                    </tr>
                </table>
            </div>

            <div class="block">
                <table class="real">
                    <tr class="real">
                        <th colspan="2" style="width: 600px; text-align: center;" class="real center">Information</th>
                    </tr>
                    <tr>
                        <th style="width: 200px; text-align: right;" class="real">Vessel Name or Group Name (if applicable):</th>
                        <td style="width: 400px; text-align: left;" class="real"></td>

                    </tr>
                    <tr>
                        <th style="width: 200px; text-align: right;" class="real">Region/Sector/Branch/<br>Directorate/Section:</th>
                        <td style="width: 400px; text-align: left;"
                            class="real">{{ parent.section.division.branch.region.name }}/{{ parent.section.division.branch.name }}/{{ parent.section.division.name }}/{{ parent.section.name }}</td>
                    </tr>
                    <tr>
                        <th style="width: 200px; text-align: right;" class="real">Trip Purpose:</th>
                        <td style="width: 400px; text-align: left;" class="real">{{ parent.purpose|nz:"n/a" }}</td>
                    </tr>
                    <tr>
                        <th style="width: 200px; text-align: right;" class="real">If "Other" is chosen, provide a detailed explanation:</th>
                        <td style="width: 400px; text-align: left;" class="real">n/a</td>
                    </tr>
                    <tr>
                        <th style="width: 200px; text-align: right;" class="real">Trip objective and justification for not using
                            telepresence or other alternative to travel:
                        </th>
                        <td style="width: 400px; text-align: left;" class="real">{{ parent.objective_of_event }}</td>
                    </tr>
                    <tr>
                        <th style="width: 200px; text-align: right;" class="real">Justification for the number of travellers:</th>
                        <td style="width: 400px; text-align: left;" class="real">{{ parent.multiple_attendee_rationale }}</td>
                    </tr>

                </table>
            </div>

        </td>
        <td style="width: 50px"></td>
        <td>


            <h1>Crew and Group Travel Request and Approval Form</h1>
            <table style="font-size: small">
                <tr>
                    <th style="width: 100px; text-align: left"><u>Purpose of Travel</u></th>
                    <th style="width: 500px; text-align: left"><u>Explanation</u></th>
                </tr>
                {% for purpose in purpose_list %}
                    <tr>
                        <td>{{ purpose.name }}</td>
                        <td>{{ purpose.description_eng }}</td>
                    </tr>
                {% endfor %}

            </table>
        </td>
    </table>
</div>
<div class="block">
    <table class="">
        <tr class="real">
            <th rowspan="2" colspan="2" class="real center" style="text-align: center;">Traveller name</th>
            <th rowspan="2" class="real center" style="text-align: center;">Origin / Destination(s) of Travel</th>
            <th rowspan="2" class="real center" style="text-align: center;">Public Servant?</th>
            <th rowspan="1" colspan="11" class="real center" style="text-align: center;">Cost Information (include taxes)</th>
            <th rowspan="1" colspan="2" class="real center" style="text-align: center;">Event</th>
        </tr>
        <tr class="real">
            {% with object_list.first  as random_object %}
                {% for key in my_dict|lookup:random_object %}
                    {% if "accom" in key.name|lower %}
                        <th class="real center">Accommo-<br>dation</th>
                    {% else %}
                        <th class="real center">{{ key }}</th>
                    {% endif %}
                {% endfor %}
            {% endwith %}

            <th class="real center" style="text-align: center;">Total Trip Amount</th>
            <th class="real center">Is the trip part of an Event?</th>
            <th class="real center">Event number (optional)</th>
        </tr>
        {% for child in object_list %}



            <tr>
                <th class="real center" style="text-align: center;">{{ forloop.counter }}</th>
                <td class="real center">{{ child.first_name }} {{ child.last_name }}</td>
                <td class="real center">{{ child.departure_location }} to {{ parent.destination }}</td>
                <td class="real center" style="text-align: center;">{{ child.is_public_servant|yesno }}</td>
                {% for key in my_dict|lookup:child %}
                    <td class="real center"
                        style="text-align: center;">{{ my_dict|lookup:child|lookup:key|zero2val:"---"|currency|nz:"---" }}</td>
                {% endfor %}


                <td class="real center" style="text-align: center;">{{ child.total_cost|zero2val:"---"|currency|nz:"---" }}</td>
                {#                <td class="real center">{{ parent.total_cost|currency|nz:"" }}</td>#}
                {% if parent.trip %}
                    <td class="real center">{{ parent.trip.has_event_template|yesno:"yes,no,unknown" }}</td>
                {% else %}
                    <td class="real center">no</td>
                {% endif %}
                <td class="real center">{{ parent.trip.number|nz:"---" }}</td>

            </tr>

        {% endfor %}

        <tr style="border: 0px">
            <td class="center" style="width: 25px;"></td>
            <td class="center" style="width: 175px;"></td>
            <td class="center" style="width: 200px;"></td>
            <td class="center" style="width: 50px"></td>

            {# starting with AIR #}
            {% for cat in my_dict.totals %}
                {% if not cat == "total" %}
                    <td class="real center wset"
                        style="text-align: center; font-weight: bold">{{ my_dict.totals|lookup:cat|zero2val:"---"|currency }}</td>
                {% endif %}
            {% endfor %}
            <td class="real center wset"
                style="text-align: center; font-weight: bold">{{ my_dict.totals|lookup:"total"|zero2val:"---"|currency }}</td>
            <td class="center wset"></td>
            <td class="center wset"></td>
        </tr>
    </table>
</div>
{# signatures #}

<br>
<div class="block">
    <table>
        <td>
            <table>
                <tr>
                    <th class="right wide-cell">Expenditure Initiation approved by (Print):</th>
                    <td class="left wide-cell" colspan="3">
                        {#                        <u>Serge Doucet, Regional Director General, Gulf Region___</u>#}
                        {{ parent.rdg.user|nz:"n/a" }}
                        {% if parent.rdg %} | Regional Director General | {{ parent.rdg.user.shared_models_regions.first }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    {% if parent.rdg.status_id == 2 %}
                        <th class="right wide-cell" style="width: 500px;"></th>
                        <td class="left wide-cell" style="width: 500px; font-size: 18px">Approved on {{ parent.rdg.status_date }}</td>
                        <th class="right wide-cell" style="width: 100px;"></th>
                        <td class="left wide-cell" style="width: 200px;"></td>
                    {% else %}
                        <th class="right wide-cell" style="width: 500px;">Signature:</th>
                        <td class="left wide-cell" style="width: 500px;">______________________________________________</td>
                        <th class="right wide-cell" style="width: 100px;">Date:</th>
                        <td class="left wide-cell" style="width: 200px;">___________________</td>
                    {% endif %}
                </tr>
            </table>
        </td>
        <td>
            <table style="width: 50%;">
                {% for r in parent.recommenders %}
                    {% if not r.status_id == 21 %}
                        <tr>
                            <th class="right wide-cell">Recommended by:</th>
                            <td rowspan="1" class="left wide-cell">
                                {{ r.user }}
                                {% if r.status_id == 2 %}
                                    (digitally signed on {{ r.status_date }})
                                {% else %}
                                    (NOT RECOMMENDED)
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if parent.adm.status_id == 2 %}
                    <tr>
                        <th class="right wide-cell">Approved by:</th>
                        <td rowspan="1" class="left wide-cell">
                            {{ parent.adm.user }} on {{ parent.adm.status_date }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </td>
    </table>
</div>


<div class="block">
    <strong>Additional Notes</strong><br>
    DETAILED COST BREAKDOWN PER TRAVELLER:<br>
    {% for object in object_list %}
        {{ object.first_name }} {{ object.last_name }} &rarr; {{ object.cost_breakdown }}<br>
    {% endfor %}

</div>