{% extends "travel/travel_base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">
        <br>
        <div class="container">
            <div class="jumbotron">
                <h1 class="three-em">
                    {% trans "Welcome to the Travel Plan Management System" %}
                </h1>
            </div>
            {#        {% url 'travel:event_list' as server_list_url %}#}
            {#        {% url 'travel:user_list' as user_list_url %}#}
            {#        {% url 'travel:share_list' as share_list_url %}#}
            <h2>
                {#            <ul>#}
                {#                <li>#}
                {#                    <a href="{{ server_list_url }}">Events</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="{{ user_list_url }}">Users</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="{{ share_list_url }}">travel</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="{% url 'travel:email_list' %}">Email list</a>#}
                {#                </li>#}
                {#            </ul>#}
            </h2>
            <br><br>
            <div class="">

            </div>

        </div>
    </div>
{% endblock content %}
