{% extends "travel/travel_base.html" %}
{% load i18n %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% block content %}
    <style>

        .card, .jumbotron {
            background-color: rgba(255, 255, 255, 0.7);
            border: black solid 1px;
            margin-left: 25px;
            margin-right: 25px;
            border-radius: 25px;
        }

        .card {
            background-color: rgba(255, 255, 255, 1);
        }

        .btn-primary {
            background-color: #79aec8;
            border: grey;
        }

        .container-fluid, .container {
            border-radius: 25px;
            margin-top: 15px;
            padding: 15px;
            background-color: transparent;
            font-size: small;

        }

        .subtitle, .subtitle-success {
            font-size: 16px;
            font-weight: bold;
        }

        .subtitle-success {
            color: green;
        }

        .nav-tabs {
            font-size: 16px;
        }
    </style>
    <div class="container">
    <div class="jumbotron py-3 mx-0">
        <h1 class="three-em center-col">
            {% trans "DFO Science Travel Management System" %}
        </h1>
        <h4 class="center-col">
            <em>
                {% trans '"Get Your Pre-approval to Travel Today!!"' %}
            </em>
        </h4>

        <br>
        <br>


        {% url 'travel:request_list' as event_list_url %}
        {% url 'travel:request_review_list' "awaiting" as event_approval_list_url %}
        {% url 'travel:request_review_list' as event_assigned_list_url %}
        {% url 'travel:request_new' as event_new_url %}

        <div class="row mb-4 justify-content-center">


            <div class="container mt-3">


                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#traveller">{% trans "Traveller" %}</a>
                    </li>

                    {% if is_reviewer %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reviewer">
                                {% trans "Reviewer" %}
                                {% if number_waiting %} (<span class="red-font blink-me">{{ number_waiting }}</span>) {% endif %}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_admin %}
                        {% for region in tab_dict %}
                            {% with tab_dict|lookup:region as dict %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"
                                       href="#region_{{ region.id }}">
                                        {{ region }} {% if dict.things_to_deal_with %}
                                        (<span class="red-font blink-me">{{ dict.things_to_deal_with }}</span>){% endif %}
                                    </a>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}


                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    {# Traveller Pane #}
                    <div id="traveller" class="container tab-pane active"><br>
                        <div class="row">
                            <div class="card" style="width: 17rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{% trans "Create a New Request" %}</h5>
                                    <p class="card-text">{% trans "Create a new individual or group request to travel" %}</p>
                                    <div class="center-col">
                                        <a href="{{ event_new_url }}" class="btn btn-primary">{% trans "Go" %}</a>
                                    </div>
                                </div>
                            </div>

                            {% if user.user_trip_requests.count > 0 %}
                                {% echo event_list_url|add:"?user=" as your_url %}

                                <div class="card" style="width: 17rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "View Your Requests" %}
                                            ({{ user.user_trip_requests.count }})</h5>
                                        <p class="card-text">{% trans "View any current or old trip requests that you have created in the past" %}</p>
                                        <div class="center-col">
                                            <a href="{{ your_url }}{{ user.id }}" class="btn btn-primary">{% trans "Go" %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="card" style="width: 17rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{% trans "View All Requests" %}</h5>
                                    <p class="card-text">{% trans "View a full list of trip requests in the system accross all DFO regions" %}</p>
                                    <div class="center-col">
                                        <a href="{{ event_list_url }}" class="btn btn-primary">{% trans "Go" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Reviewer Pane #}
                    {% if is_reviewer %}

                        <div id="reviewer" class="container tab-pane fade"><br>
                            {% echo event_list_url|add:"?user=" as your_url %}

                            <h5 class="">{% trans "Your Reviews" %}</h5>
                            <p class="card-text">{% trans "View and manage trip requests for which you are a reviewer" %}</p>
                            <div class="mb-3">
                                {% if number_waiting > 0 %}
                                    <a href="{{ event_approval_list_url }}" class="btn btn-outline-dark">
                                        {% trans "Trip requests awaiting your review" %}
                                        (<span class="red-font blink-me">{{ number_waiting }}</span>)
                                    </a>
                                {% else %}
                                    <span class="subtitle-success">
                                                        {% trans "There are no requests currently awaiting your review" %}
                                                    </span><br>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <a href="{{ event_assigned_list_url }}" class="btn btn-outline-dark">
                                    {% trans "Trip requests assigned to you" %}
                                    (<span>{{ user.reviewers.count }}</span>)
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {% for region in tab_dict %}
                        {% with tab_dict|lookup:region as dict %}
                            <div id="region_{{ region.id }}" class="container tab-pane fade"><br>

                                <h2 class="card-title">{{ region }}</h2>
                                <h4 class="card-text">{% trans "Perform tasks reserved for travel app administrators" %}</h4>

                                {% if not region == "NCR" %}

                                    {# ADM stuff #}
                                    <div class="mb-3">
                                        {% if dict.adm_number_waiting %}
                                            <a href="{{ dict.adm_approval_list_url }}" class="btn btn-outline-dark">
                                                {% trans "Trip requests awaiting approval from ADM" %}
                                                (<span class="red-font blink-me">{{ dict.adm_number_waiting }}</span>)
                                            </a>
                                        {% else %}
                                            <span class="subtitle-success">{% trans "There are currently no requests awaiting ADM approval" %}</span>
                                        {% endif %}
                                    </div>

                                    {# RDG stuff #}
                                    <div class="mb-3">
                                        {% if dict.rdg_number_waiting %}
                                            <a href="{{ dict.rdg_approval_list_url }}" class="btn btn-outline-dark">
                                                {% trans "Trip requests awaiting approval from RDG" %}
                                                (<span class="red-font blink-me">{{ dict.rdg_number_waiting }}</span>)
                                            </a>
                                        {% else %}
                                            <span class="subtitle-success">{% trans "There are currently no requests awaiting RDG approval" %}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {# Verification #}
                                <div class="mb-3">
                                    {% if dict.unverified_trips %}
                                        <a href="{{ dict.trip_verification_list_url }}" class="btn btn-outline-dark">
                                            {% trans "Trips awaiting verification" %}
                                            (<span class="red-font blink-me">{{ dict.unverified_trips }}</span>)
                                        </a>
                                    {% else %}
                                        <span class="subtitle-success">{% trans "There are no trips currently awaiting verification" %}</span>
                                    {% endif %}
                                </div>
                            </div>

                        {% endwith %}
                    {% endfor %}

                </div>

            </div>
        </div>

        <br>


    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="center-col">
        <a class=""
           style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
           href="#"
           rel="noopener noreferrer"
           title="Download free do whatever you want high-resolution photos from Ross Parmly on Unsplah"><span
                style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                                  style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                                  viewBox="0 0 32 32"><title>unsplash-logo</title><path
                d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Photo by Ross Parmly</span></a>
    </footer>
{% endblock content %}
