{% extends "travel/base.html" %}
{% load i18n %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load bootstrap4 %}

{% block alerts %}
{% endblock %}
{% block content %}
    <style>


        .card, .jumbotron {
            background-color: rgba(255, 255, 255, 1);
            border: black solid 1px;
            margin-left: 25px;
            margin-right: 25px;
            border-radius: 25px;
        }

        .card {
            background-color: rgba(255, 255, 255, 1);
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #79aec8;
            border: grey;
        }

        .container-fluid, .container {
            border-radius: 25px;
            margin-top: 15px;
            padding: 15px;
            background-color: transparent;
            font-size: small;

        }

        .subtitle, .subtitle-success {
            font-size: 16px;
            font-weight: bold;
        }

        .subtitle-success {
            color: green;
        }

        .nav-tabs {
            font-size: 16px;
        }
    </style>

    <div class="container">

    <div class="jumbotron py-3 mx-0">
        <h1 class="three-em center-col">
            {% trans "DFO Science Travel Management System" %}
        </h1>
        <h4 class="center-col">
            <em>
                {% trans '"Get Your Pre-approval to Travel Today!!"' %}
            </em>
        </h4>

        <br>
        <br>


        {% url 'travel:request_new' "my" as request_new_url %}
        {% url 'travel:request_list' user|slugify as request_list_url %}

        {% url 'travel:request_review_list' "awaiting" as active_tr_reviews_list_url %}
        {% url 'travel:request_review_list' as all_tr_reviews_list_url %}

        {% url 'travel:trip_review_list' "awaiting" as active_trip_reviews_list_url %}
        {% url 'travel:trip_review_list'  as all_trip_reviews_list_url %}

        <div class="row mb-4 justify-content-center">


            <div class="container mt-3">


                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#traveller">{% trans "Traveller" %}</a>
                    </li>

                    {% if reviews_waiting %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reviewer">
                                {% trans "Reviewer" %}
                                {% if reviews_waiting %} (<span class="red-font blink-me">{{ reviews_waiting }}</span>) {% endif %}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_admin %}
                        {% for region in tab_dict %}
                            {% with tab_dict|lookup:region as dict %}
                                {% if dict.things_to_deal_with or "ADM" in region %}

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab"
                                           href="#region_{{ region|slugify }}">
                                            {#                                                {% if region.abbrev %}#}
                                            {#                                                    {{ region.abbrev }}#}
                                            {#                                                {% else %}#}
                                            {{ region }}
                                            {#                                                {% endif %}#}
                                            {% if dict.things_to_deal_with %}
                                                (<span class="red-font blink-me">{{ dict.things_to_deal_with }}</span>)
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}


                </ul>
                {% echo "22em" as width1 %}
                {% echo "24em" as width2 %}
                {% echo "26em" as width3 %}
                <!-- Tab panes -->
                <div class="tab-content">

                    {# Traveller Pane #}
                    <div id="traveller" class="container tab-pane fade active show"><br>

                        <div class="row mb-3">


                            <div class="card" style="width: {{ width1 }};">
                                <div class="card-body">
                                    <h5 class="card-title">{% trans "Create a New Request" %}</h5>
                                    <p class="card-text">{% trans "Create a new individual or group request to travel" %}</p>
                                    <div class="center-col">
                                        <a href="{{ request_new_url }}" class="btn btn-primary">{% trans "Go" %}</a>
                                    </div>
                                </div>
                            </div>

                            {% if user.user_trip_requests.count > 0 %}
                                {#                                    {% echo event_list_url|add:"?user=" as your_url %}#}

                                <div class="card" style="width: {{ width1 }};">
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "View Your Requests" %}
                                            ({{ user_trip_requests }})</h5>
                                        <p class="card-text">{% trans "View trips requests that you have created or on which you are a traveller." %}</p>
                                        <div class="center-col">
                                            <a href="{{ request_list_url }}" class="btn btn-primary">{% trans "Go" %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}



                            <div class="card" style="width: {{ width1 }};">
                                <div class="card-body">
                                    <h5 class="card-title">{% trans "Browse Upcoming Trips" %}</h5>
                                    <p class="card-text">{% trans "View a list of upcoming trips in the systems." %}</p>
                                    <div class="center-col">
                                        <a href="{% url 'travel:trip_list' "upcoming" %}" class="btn btn-primary">{% trans "Go" %}</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                        {% if requests_awaiting_changes %}
                            <div class="row justify-content-center">
                                <div class="col-7 alert alert-danger center-col" role="alert">
                                    <h5 class="py-1 blink-me">
                                        {% trans "There are trip requests requiring your attention!" %}
                                    </h5>
                                </div>
                            </div>
                        {% endif %}

                    </div>

                    {# Reviewer Pane #}

                    <div id="reviewer" class="container tab-pane fade"><br>

                        <h2 class="">{% trans "Your Reviews" %}</h2>
                        <p class="card-text">{% trans "View and manage trips and/or trip requests for which you are a reviewer" %}</p>
                        <div class="row">
                            {% if is_trip_reviewer %}
                                {% if trip_reviews_waiting %}
                                    <div class="card" style="width: {{ width3 }};">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {% trans "Trips Awaiting Review" %}
                                                (<span class="red-font blink-me">{{ trip_reviews_waiting }}</span>)
                                            </h5>
                                            <p class="card-text">{% trans "View a list of trips for which you are the active reviewer." %}</p>
                                            <div class="center-col">
                                                <a href="{{ active_trip_reviews_list_url }}"
                                                   class="btn btn-primary {{ disabled_text }}">
                                                    {% trans "Go" %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {#                                        <div class="card" style="width: {{ width1 }};">#}
                                {#                                            <div class="card-body">#}
                                {#                                                <h5 class="card-title">#}
                                {#                                                    {% trans "Tagged Trips" %}#}
                                {#                                                </h5>#}
                                {#                                                <p class="card-text">{% trans "View a list of trips for which you have been tagged as a reviewer." %}</p>#}
                                {#                                                <div class="center-col">#}
                                {##}
                                {#                                                <span data-toggle="tooltip" title="{{ tip_msg }}">#}
                                {#                                            <a href="{{ all_trip_reviews_list_url }}" class="btn btn-primary">#}
                                {#                                                {% trans "Go" %}#}
                                {#                                            </a>#}
                                {#                                            </span>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                            {% endif %}

                            {% if is_tr_reviewer %}
                                {% if tr_reviews_waiting %}

                                    <div class="card" style="width: {{ width3 }};">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {% trans "Requests Awaiting Review" %}
                                                (<span class="red-font blink-me">{{ tr_reviews_waiting }}</span>)
                                            </h5>
                                            <p class="card-text">{% trans "View a list of requests for which you are the active reviewer." %}</p>
                                            <div class="center-col">
                                                <a href="{{ active_tr_reviews_list_url }}"
                                                   class="btn btn-primary {{ disabled_text }}">
                                                    {% trans "Go" %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {#                                        <div class="card" style="width: {{ width1 }};">#}
                                {#                                            <div class="card-body">#}
                                {#                                                <h5 class="card-title">#}
                                {#                                                    {% trans "Tagged Requests" %}#}
                                {#                                                </h5>#}
                                {#                                                <p class="card-text">{% trans "View a list of requests for which you have been tagged as a reviewer." %}</p>#}
                                {#                                                <div class="center-col">#}
                                {##}
                                {#                                                    <a href="{{ all_tr_reviews_list_url }}" class="btn btn-primary">#}
                                {#                                                        {% trans "Go" %}#}
                                {#                                                    </a>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                            {% endif %}
                        </div>
                    </div>

                    {% for region in tab_dict %}
                        {% with tab_dict|lookup:region as dict %}
                            <div id="region_{{ region|slugify }}" class="container tab-pane fade"><br>

                                <h2 class="card-title">
                                    {% if region.id %}
                                        {% blocktrans with region as r %}
                                            {{ r }} Region - Admin
                                        {% endblocktrans %}
                                    {% else %}
                                        {{ region }} - Admin
                                    {% endif %}
                                </h2>
                                <h4 class="card-text">{% trans "Perform tasks reserved for travel app administrators" %}</h4>


                                <div class="row mb-4">
                                    {% if not "ADM" in region %}
                                        {#  regional trip requests #}
                                        {#                                            <div class="card" style="width: {{ width1 }};">#}
                                        {#                                                <div class="card-body">#}
                                        {#                                                    <h5 class="card-title">#}
                                        {#                                                        {% trans "Trips and Requests" %}#}
                                        {#                                                    </h5>#}
                                        {#                                                    <p class="card-text">#}
                                        {#                                                        {% trans "View all trips and trip requests that are linked to this region." %}#}
                                        {#                                                    </p>#}
                                        {#                                                    <div class="center-col">#}
                                        {#                                                        {% with region.id|tostring as region_str %}#}
                                        {#                                                            <a href="{% url 'travel:trip_list' "region-"|add:region_str %}"#}
                                        {#                                                               class="btn btn-primary">{% trans "Trips" %}#}
                                        {#                                                            </a>#}
                                        {#                                                            <a href="{% url 'travel:request_list' "region-"|add:region_str %}"#}
                                        {#                                                               class="btn btn-primary">{% trans "Requests" %}#}
                                        {#                                                            </a>#}
                                        {#                                                        {% endwith %}#}
                                        {#                                                    </div>#}
                                        {#                                                </div>#}
                                        {#                                            </div>#}
                                    {% endif %}

                                    {# ADM stuff #}
                                    {% if not "ADM" in region %}
                                        {% if dict.adm_number_waiting %}

                                            <div class="card" style="width: {{ width2 }};">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        {% trans "Requests Awaiting ADM" %}
                                                        (<span class="red-font blink-me">{{ dict.adm_number_waiting }}</span>)
                                                    </h5>
                                                    <p class="card-text">{% trans "list of regional requests awaiting ADM approval." %}</p>
                                                    <div class="center-col">
                                                        <a href="{{ dict.adm_approval_list_url }}" class="btn btn-primary">
                                                            {% trans "Go" %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}


                                    {# RDG stuff #}
                                    {% if not "ADM" in region %}
                                        {% if dict.rdg_number_waiting %}
                                            <div class="card" style="width: {{ width2 }};">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        {% trans "Requests Awaiting RDG" %}
                                                        (<span class="red-font blink-me">{{ dict.rdg_number_waiting }}</span>)
                                                    </h5>
                                                    <p class="card-text">{% trans "list of regional requests awaiting RDG approval." %}</p>
                                                    <div class="center-col">
                                                        <a href="{{ dict.rdg_approval_list_url }}" class="btn btn-primary">
                                                            {% trans "Go" %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    {# Verification #}
                                    {% if dict.unverified_trips %}
                                        <div class="card" style="width: {{ width1 }};">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    {% trans "Trip Verifications" %}
                                                    (<span class="red-font blink-me">{{ dict.unverified_trips }}</span>)
                                                </h5>
                                                <p class="card-text">{% trans "list of trips that require verification." %}</p>
                                                <div class="center-col">
                                                    <a href="{{ dict.trip_verification_list_url }}" class="btn btn-primary">
                                                        {% trans "Go" %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if "ADM" in region %}
                                        {# ADM hit list stuff #}
                                        {% if dict.adm_trips_ready %}
                                            <div class="card" style="width: {{ width1 }};">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        {#                                                            {% trans 'Eligible for Review' %}<br> #}
                                                        The ADMO Net
                                                        (<span class="red-font blink-me">{{ dict.adm_trips_ready }}</span>)
                                                    </h5>
                                                    <p class="card-text">{% trans "A list of trips eligible for the ADM review process to begin'." %}</p>
                                                    <div class="center-col">
                                                        <a href="{% url 'travel:trip_list' "adm-hit-list" %}"
                                                           class="btn btn-primary">
                                                            {% trans "Go" %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {#                                            <div class="card" style="width: {{ width1 }};">#}
                                        {#                                                <div class="card-body">#}
                                        {#                                                    <h5 class="card-title">{% trans "Browse all Trips" %}</h5>#}
                                        {#                                                    <p class="card-text">{% trans "View a full list of current and historical trips in the systems." %}</p>#}
                                        {#                                                    <div class="center-col">#}
                                        {#                                                        <a href="{% url 'travel:trip_list' 'adm-all' %}"#}
                                        {#                                                           class="btn btn-primary">{% trans "Go" %}</a>#}
                                        {#                                                    </div>#}
                                        {#                                                </div>#}
                                        {#                                            </div>#}
                                    {% endif %}

                                </div>
                            </div>

                        {% endwith %}
                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="mb-3">
            {% autoescape off %}
                {% bootstrap_messages size='small' %}
            {% endautoescape %}
        </div>


    </div>
    <div class="jumbotron py-3 mx-0" style="background-color:white;">

        <h2 class="three-em center-col">
            {% trans "An Overview of the Travel App" %}
        </h2>

        {% include "travel/_process_timeline.html" %}

    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="center-col">
        <a class=""
           style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
           href="#"
           rel="noopener noreferrer"
           title="Download free do whatever you want high-resolution photos from Ross Parmly on Unsplah"><span
                style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                                  style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                                  viewBox="0 0 32 32"><title>unsplash-logo</title><path
                d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Photo by Ross Parmly</span></a>
    </footer>
{% endblock content %}


{% block body_js %}
    <script type="application/javascript">
        {#        {% if reviews_waiting %}#}
        {#            $('#reviewer').tab('show');#}
        {#        {% else %}#}
        {#            $('#traveller').tab('show');#}
        {#        {% endif %}#}


    </script>
{% endblock %}