{% extends "travel/travel_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}
{% block content %}
    <style>
        .indent-lg {
            margin-left: 5em;
            margin-right: 5em;
        }

        table {
            width: auto;
        }

        th, td, table {
            font-size: small;
            padding-right: 10px;
        }

    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">
                {% trans "Home" %}
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <h1>
            {{ title }}
        </h1>
        <br>
        <form method="post" class="form">
            {% csrf_token %}

            {{ formset.management_form }}
            {% bootstrap_formset_errors formset %}
            <div class="btn-group">
                <button id="submit" type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="{% url 'travel:index' %}">Back</a>
            </div>
            <br><br>
            <table class="table" style="width: auto">
                <thead>
                <tr>
                    <th>Id</th>
                    {% for field in field_list %}
                        <th scope="col">{% get_verbose_label my_object field %}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                        <td>{{ form.instance.id|nz:"---" }}</td>
                        {% for field in form %}
                            <td {% if field.name == "color" %}class="color-cell" color-value="{{ form.instance.color }}"{% endif %}>
                                {% bootstrap_field field size='small' show_label=False placeholder="" %}
                            </td>
                        {% endfor %}
                        {% if form.instance.id %}
                            <td>{{ form.instance.last_modified }}</td>

                            <td>

                                {% if "status" in title|lower %}
                                    {% url 'travel:delete_status' form.instance.id as my_delete_url %}
                                {% elif "help" in title|lower %}
                                    {% url 'travel:delete_help_text' form.instance.id as my_delete_url %}
                                {% elif "cost categories" in title|lower %}
                                    {% url 'travel:delete_cost_category' form.instance.id as my_delete_url %}
                                {% elif "costs" in title|lower %}
                                    {% url 'travel:delete_cost' form.instance.id as my_delete_url %}
                                {% elif "njc" in title|lower %}
{#                                    {% url 'travel:delete_njc_rate' form.instance.id as my_delete_url %}#}
                                {% endif %}

                                <a class="delete-btn" href="#" delete_url="{{ my_delete_url }}">
                                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
                                </a>
                            </td>
                        {% else %}
                            <td>(new record)</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <div class="btn-group">
                <button id="submit" type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="{% url 'travel:index' %}">Back</a>
            </div>

        </form>
    </div>
{% endblock content %}
{% block body_js %}
    <script type="application/javascript">

        $(".delete-btn").click(function () {
            input = confirm("Are you sure you want to delete this line?")
            if (input) {
                window.location.href = $(this).attr("delete_url")
            }
        });

        $(".color-cell").each(function () {
            let myColor = $(this).attr("color-value");
            $(this).children().children("input").css("background-color", myColor);
        });


    </script>

{% endblock %}