{% extends "travel/travel_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}
{% block header %}
{% endblock %}
{% block content %}


    <style>
        .label {
            font-weight: bold;
        }

        table, td {
            font-size: small;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">Home</a></li>
            {% if admin %}
                <li class="breadcrumb-item"><a href="{% url 'travel:admin_approval_list' %}">Admin Request Approval List</a>
                </li>

            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'travel:request_review_list' 'awaiting' %}">Requests Awaiting Your Review</a>
                </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ triprequest }} Reviewer Approval</li>
        </ol>
    </nav>

    <div class="container">

        {% if admin %}
            <h1>Do you wish to approve on behalf of the {{ triprequest.current_reviewer.user }} ({{ triprequest.current_reviewer.role }})?</h1>
        {% else %}
            <h1>Do you wish to approve the following request?</h1>
        {% endif %}

        <br>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="float-right">
                <a class="" href="#" id="save">({% trans "Save comments without approving" %})</a>
            </div>
            {% for field in form %}
                {% bootstrap_field field placeholder="" %}
            {% endfor %}



            <div class="float-right">
                <a class="btn btn-outline-dark " href="{% url 'travel:request_print' triprequest.id %}" target="_blank">
                    Print Travel Plan&nbsp; <img src="{% static 'img/icons/pdf.svg' %}" alt="" width="20px">
                </a>
                <a class="btn btn-outline-dark" href="{% url 'travel:export_cfts_request' triprequest.id %}" target="_blank">
                    CFTS Report &nbsp; <img src="{% static 'img/icons/excel.svg' %}" alt="" width="20px">
                </a>
            </div>
            <div class="">

                <a class="btn btn-lg btn-success" id="yes" href="#">
                    {% trans "Yes" %}
                </a>
                <a class="btn btn-lg btn-danger" id="no" href="#">
                    {% trans "No" %}
                </a>
                <a class="btn btn-lg" id="request_changes" href="#" style="background-color: orange">
                    {% trans "Request Changes" %}
                </a>
                <a class="btn btn-lg btn-primary" href="{% url 'travel:request_detail' triprequest.id %}">
                    {% trans "Make Changes Yourself" %}
                </a>

                <a class="btn btn-lg btn-secondary" href="{% url 'travel:request_review_list' %}">
                    {% trans "Cancel" %}
                </a>
                <input type="submit" class="hidden">
            </div>

        </form>

        <br><br>
        <hr>
        {% include "travel/_trip_request_detail.html" %}
    </div>



    <br><br><br>
{% endblock content %}
{% block body_js %}

    <script type="application/javascript">
        $("#yes").click(function () {
            $("#id_approved").val(true);
            $("form").submit();
        });
        $("#no").click(function () {
            $("#id_approved").val(false);
            $("form").submit();
        });
        $("#save").click(function () {
            $("#id_stay_on_page").val(1);
            $("form").submit();
        });
        $("#request_changes").click(function () {
            $("#id_changes_requested").val(true);
            $("form").submit();
        });

    </script>

{% endblock %}