{% extends "travel/form.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}
{% block header %}
    {{ block.super }}
    <style>
        .label {
            font-weight: bold;
        }

        table, td {
            font-size: small;
        }
    </style>

{% endblock %}

{% block area_above_h1 %}
    <span id="the-top"></span>
{% endblock %}

{% block pre_form_div %}


    <hr>
    {% include "travel/_trip_request_detail.html" %}
    <br><br>
{#    <div class="center-col">#}
{#        <h2>#}
{#            <a href="#the-top">({% trans "Back to top" %})</a>#}
{#        </h2>#}
{#    </div>#}

    <div class="float-right mb-3">
        <a class="btn btn-outline-dark " href="{% url 'travel:request_print' triprequest.id %}" target="_blank">
            {% trans "Print Travel Plan" %}&nbsp; <img src="{% static 'img/icons/pdf.svg' %}" alt="" width="20px">
        </a>
        <a class="btn btn-outline-dark" href="{% url 'travel:export_cfts_request' triprequest.id %}" target="_blank">
            {% trans "CFTS Report" %} &nbsp; <img src="{% static 'img/icons/excel.svg' %}" alt="" width="20px">
        </a>
    </div>

{% endblock %}




{% block form_buttons %}

    <div class="">
        <a class="btn btn-secondary" id="save" href="#">
            {% trans "Save comments" %}
        </a>
        <a class="btn btn-success" id="yes" href="#">
            {% trans "I approve" %}
        </a>
        <a class="btn btn-danger" id="no" href="#">
            {% trans "I do not approve" %}
        </a>
        <a class="btn" id="request_changes" href="#" style="background-color: orange">
            {% trans "Request changes" %}
        </a>
        <a class="btn btn-primary" href="{% url 'travel:request_detail' triprequest.id "all" %}" target="_blank">
            {% trans "Make changes yourself" %}
        </a>

        <input type="submit" class="hidden">
    </div>
{% endblock %}


{% block post_form_div %}



{% endblock %}

<br><br><br>



{% block body_js %}

    <script type="application/javascript">
        $("#yes").click(function () {
            $("#id_approved").val(true);
            $("form").submit();
        });
        $("#no").click(function () {
            $("#id_approved").val(false);
            $("form").submit();
        });
        $("#save").click(function () {
            $("#id_stay_on_page").val(1);
            $("form").submit();
        });
        $("#request_changes").click(function () {
            $("#id_changes_requested").val(true);
            $("form").submit();
        });

    </script>

{% endblock %}