{% extends "travel/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}
{% block content %}
    <style>
        .indent-lg {
            margin-left: 5em;
            margin-right: 5em;
        }

        table {
            width: auto;
        }

        th, td, table {
            font-size: small;
            padding-right: 10px;
        }

    </style>


    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">
                    {% trans "Home" %}
                </a></li>

                <li class="breadcrumb-item">

                    {% if trip %}
                        <a href="{% url 'travel:trip_detail' trip.id type %}">
                            {{ trip }}
                        </a>
                    {% else %}
                        <a href="{% url 'travel:request_detail' triprequest.id type %}">
                            {{ triprequest }}
                        </a>
                    {% endif %}

                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans "Manage Reviewers" %}
                </li>
            </ol>
        </nav>
        <h1>
            {% trans "Managing Reviewers:" %}
        </h1>
        <h2>
            {{ triprequest }}{{ trip }}
        </h2>
        {% if triprequest.reviewer_order_message %}
            <h2 class="red-font blink-me">
                {{ triprequest.reviewer_order_message }}
            </h2>
        {% endif %}

        <br>
        <form method="post" class="form">
            {% csrf_token %}

            {{ formset.management_form }}
            {% bootstrap_formset_errors formset %}
            <div class="btn-group">
                <button class="btn btn-primary submit">
                    {% trans "Save" %}
                </button>

                {% if trip %}
                    {% url 'travel:reset_trip_reviewers' trip.id type as reset_url %}
                    {% url 'travel:trip_detail' trip.id type as back_url %}
                {% else %}
                    {% url 'travel:reset_tr_reviewers' triprequest.id type as reset_url %}
                    {% url 'travel:request_detail' triprequest.id type as back_url %}
                {% endif %}

                <a class="btn btn-warning" href="{{ reset_url }}">
                    {% trans "Reset" %}
                </a>
                <a class="btn btn-secondary" href="{{ back_url }}">
                    {% trans "Back" %}
                </a>
            </div>
            <br><br>
            <table class="table" style="width: 70%">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    {% for field in field_list %}
                        {% if field == "order" %}
                            <th style="width:150px">{% get_verbose_label my_object field %}</th>

                        {% else %}
                            <th scope="col">{% get_verbose_label my_object field %}</th>
                        {% endif %}
                    {% endfor %}
                    <th style="align-content: center" colspan="2">{% trans "Status" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                    {% bootstrap_form_errors form %}
                    <tr>
                        {% for field in form %}
                            {% if field.is_hidden %}
                                <td>
                                    {{ field }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% for field in form %}
                            {% if not field.is_hidden %}
                                {% if form.instance.id and not form.instance.status.id == 4 and not form.instance.status.id == 20 and triprequest %}
                                    <td>
                                        {{ form.instance|getattribute:field.name }}
                                        <span class="gone">{{ field }}</span>
                                    </td>
                                {% else %}

                                    <td {% if field.name == "color" %}class="color-cell" color-value="{{ form.instance.color }}"{% endif %}>
                                        {% bootstrap_field field size='small' show_label=False placeholder="" %}
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            {{ form.instance.status|nz:"---" }}
                        </td>
                        {% if form.instance.id %}
                            {% if not form.instance.status.id == 4 and not form.instance.status.id == 20 and triprequest %}
                                {# NO delete button #}
                            {% else %}
                                <td>
                                    {% if triprequest %}
                                        {% url 'travel:delete_tr_reviewer' form.instance.id as my_delete_url %}
                                    {% else %}
                                        {% url 'travel:delete_trip_reviewer' form.instance.id as my_delete_url %}
                                    {% endif %}
                                    <a class="delete-btn" href="#" delete_url="{{ my_delete_url }}">
                                        <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td>(new record)</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <div class="btn-group">
                <button class="btn btn-primary submit">
                    {% trans "Save" %}
                </button>
                <a class="btn btn-warning" href="{{ reset_url }}">
                    {% trans "Reset" %}
                </a>
                <a class="btn btn-secondary" href="{{ back_url }}">
                    {% trans "Back" %}
                </a>
            </div>

        </form>
    </div>
{% endblock content %}
{% block body_js %}
    <script type="application/javascript">
        let newFormNumber = Number($("#id_form-INITIAL_FORMS").val());

        $(".submit").click(function () {
            var newOrder = $("#id_form-" + newFormNumber + "-order").val();
            var newUser = $("#id_form-" + newFormNumber + "-user").val();
            var newRole = $("#id_form-" + newFormNumber + "-role").val();
            // if everything is blank, the user is not trying to add a new record
            if (newOrder == "" && newUser == "" && newRole == "") {
                $("#id_form-" + newFormNumber + "-trip_request").val(null);
                $("#id_form-" + newFormNumber + "-trip").val(null);
            }
        });

        $(".delete-btn").click(function () {
            input = confirm("Are you sure you want to delete this line?");
            if (input) {
                window.location.href = $(this).attr("delete_url")
            }
        });

        $(".color-cell").each(function () {
            let myColor = $(this).attr("color-value");
            $(this).children().children("input").css("background-color", myColor);
        });


    </script>

{% endblock %}