{% load verbose_names %}
{% load bootstrap4 %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

<style>
    .label {
        font-weight: bold;
    }

    table.real, td.real, th.real {
        font-size: small;
        border: 1px solid black;
        text-align: left;
        border-collapse: collapse;
    }

    td, th {
        padding: 1px;
    }

    th.real {
        background-color: #ebf597;
    {#color: white;#} border: 1px solid black;
        font-weight: bold;
    }

    .total {
        background-color: lightgray;
        color: black;
    }

    .block {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 18px;
    }

    @page {
        size: legal landscape;
        margin: 1cm;
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 18cm;
        margin-right: 0cm;
        height: 1cm;
    }
    }

    th.right, td.right {
        text-align: right;
    }

    th.center, td.center {
        text-align: center;
    }

    th.left, td.left {
        text-align: left;
    }

    th.wide-cell, td.wide-cell {
        padding-bottom: 5px;
    }


</style>


<div id="footerContent">
    {% block page_foot %}
        <pdf:pagenumber/>
    {% endblock %}
</div>
<div class="block">
    <table>
        <td style="width: 40px;"></td>
        <td>
            <div class="block">
                <table class="real">
                    <tr class="real">
                        <th style="width: 100px; text-align: right;" class="real">Period Covered:</th>
                        <td style="width: 200px; text-align: center;" class="real">{{ parent.start_date|date:"F d, Y" }}
                            to {{ parent.end_date|date:"F d, Y" }}</td>
                    </tr>
                </table>
            </div>
            <div class="block">
                <table class="real">
                    <tr class="real">
                        <th style="width: 100px; text-align: right;" class="real">Plan number (optional):</th>
                        <td style="width: 200px; text-align: center;" class="real">{{ parent.plan_number }}</td>
                    </tr>
                </table>
            </div>

            <div class="block">
                <table class="real">
                    <tr class="real">
                        <th colspan="2" style="width: 300px; text-align: center;" class="real center">Traveller's Information</th>
                    </tr>
                    <tr>
                        <th style="width: 100px; text-align: right;" class="real">Name of Traveller:</th>
                        <td style="width: 200px; text-align: left;" class="real">{{ parent.first_name }} {{ parent.last_name }}</td>
                        <th style="width: 200px; text-align: left;" class="real">Public Servant: choose yes or no below</th>
                    </tr>
                    <tr>
                        <th style="width: 100px; text-align: right;" class="real">Region/Sector/Branch/<br>Directorate/Section:</th>
                        <td style="width: 200px; text-align: left;"
                            class="real">{{ parent.section.division.branch.region.name }}/{{ parent.section.division.branch.name }}/{{ parent.section.division.name }}/{{ parent.section.name }}</td>
                        <td style="width: 200px; text-align: left;" class="real">{{ parent.is_public_servant|yesno }}</td>
                    </tr>
                    <tr>
                        <th style="width: 100px; text-align: right;" class="real">Address:</th>
                        <td style="width: 200px; text-align: left;" class="real">{{ parent.address }}</td>
                        <th style="width: 200px; text-align: left;" class="real">For non public servant, provide company name below (if
                            applicable)
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 100px; text-align: right;" class="real">Telephone number:</th>
                        <td style="width: 200px; text-align: left;" class="real">{{ parent.phone }}</td>
                        <td style="width: 200px; text-align: left;" class="real">{{ parent.company_name|nz:"" }}</td>
                    </tr>
                    <tr>
                        <th style="width: 100px; text-align: right;" class="real">Email:</th>
                        <td colspan="2" style="width: 400px; text-align: left;" class="real">{{ parent.email }}</td>
                    </tr>
                </table>
            </div>

        </td>
        <td style="width: 50px"></td>
        <td>


            <h1>Travel Request and Approval Form</h1>
            <table style="font-size: small">
                <tr>
                    <th style="width: 100px; text-align: left"><u>Purpose of Travel</u></th>
{#                    <th style="width: 500px; text-align: left"><u>Explanation</u></th>#}
                </tr>
                {% for category in trip_category_list %}
                    <tr>
                        <td>{{ forloop.counter }} - {{ category.name }}</td>
{#                        <td>{{ purpose.description_eng }}</td>#}
                    </tr>
                {% endfor %}

            </table>
        </td>
    </table>
</div>
<div class="block">
    <table class="">
        <tr class="real">
            <th rowspan="2" style="text-align: center;" class="real center">Amended</th>
            <th rowspan="2" class="real center">Trip</th>
            <th rowspan="1" colspan="2" class="real center" style="text-align: center">Date</th>
            <th rowspan="2" class="real center">Origin / Destination(s) of Travel</th>
            <th rowspan="1" colspan="2" class="real center">Purpose of Travel</th>
            <th rowspan="1" colspan="11" class="real center">Cost Information (include taxes)</th>
            <th rowspan="1" colspan="1" class="real center">Event</th>
        </tr>
        <tr class="real">
            <th class="real center">From<br>DD/MM</th>
            <th class="real center">To<br>DD/MM</th>
            <th class="real center">Trip Purpose</th>
            <th class="real center">If "Other" is chosen as trip purpose, provide detailed explanation
                and Provide specific trip objective and justification for not using telepresence or other alternative to travel. Provide
                justification if agenda is not available.
            </th>
            {% for key in my_dict|lookup:parent %}
                {% if "accom" in key.name|lower %}
                    <th class="real center">Accommo-<br>dation</th>
                {% else %}
                    <th class="real center">{{ key }}</th>
                {% endif %}
            {% endfor %}
            <th class="real center">Total Request Amount</th>
            <th class="real center">Is the trip part of an Event?</th>
        </tr>
        <tr>
            <th class="real center"></th>
            <th class="real center">1</th>
            <td class="real center">{{ parent.start_date|date:"d-F" }}</td>
            <td class="real center">{{ parent.end_date|date:"d-F" }}</td>
            <td class="real center">
                {% if parent.departure_location %}
                    {{ parent.departure_location }} to
                {% endif %}
                {{ parent.destination }}
            </td>
            <td class="real center">{{ parent.trip.trip_subcategory.trip_category }}</td>
            <td class="real left">{{ parent.purpose_long|safe }}</td>
            {% for key in my_dict|lookup:parent %}
                <td class="real center">{{ my_dict|lookup:parent|lookup:key|currency|nz:"---" }}</td>

            {% endfor %}
            <td class="real center">{{ parent.total_cost|currency|nz:"" }}</td>
            {% if parent.trip %}
                <td class="real center">{{ parent.trip.has_event_template|yesno:"yes,no,unknown" }}</td>
            {% else %}
                <td class="real center">no</td>
            {% endif %}

        </tr>
        <tr>
            <td class="center wset" style="width: 50px;"></td>
            <td class="center wset" style="width: 30px;"></td>
            <td class="center wset" style="width: 50px;"></td>
            <td class="center wset" style="width: 50px;"></td>
            <td class="center wset" style="width: 150px;"></td>
            <td class="center wset" style="width: 100px;"></td>
            <td style="width: 300px" class="center"></td>
            {# starting with AIR #}
            {% for key in my_dict|lookup:parent %}
                <td style="width: 50px;" class=" center"></td>
            {% endfor %}
            <td class="center wset" style="width: 50px;"></td>
            <td class="center wset" style="width: 50px;"></td>
        </tr>
    </table>
</div>
{# signatures #}

<br>
<div class="block">
    <table>
        <td>
            <table>
                <tr>
                    <th class="right wide-cell">Traveller:</th>
                    <td colspan="2" class="left wide-cell">
                        {{ parent.user }}

                        {% if parent.submitted %}
                            (digitally signed on {{ parent.submitted }})
                        {% else %}
                            (NOT SUBMITTED)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="right wide-cell">Expenditure Initiation approved by (Print):</th>
                    <td class="left wide-cell" colspan="3">
                        {#                        <u>Serge Doucet, Regional Director General, Gulf Region___</u>#}
                        {{ parent.rdg.user |nz:"n/a" }}
                        {% if parent.rdg.user %} | Regional Director General | {{ parent.rdg.user.shared_models_regions.first }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    {% if parent.rdg.status_id == 2 %}
                        <th class="right wide-cell" style="width: 500px;"></th>
                        <td class="left wide-cell" style="width: 500px; font-size: 18px">Approved on {{ parent.rdg.status_date }}</td>
                        <th class="right wide-cell" style="width: 100px;"></th>
                        <td class="left wide-cell" style="width: 200px;"></td>
                    {% else %}
                        <th class="right wide-cell" style="width: 500px;">Signature:</th>
                        <td class="left wide-cell" style="width: 500px;">______________________________________________</td>
                        <th class="right wide-cell" style="width: 100px;">Date:</th>
                        <td class="left wide-cell" style="width: 200px;">___________________</td>
                    {% endif %}
                </tr>
            </table>
        </td>
        <td>
            <table style="width: 50%;">
                {% for r in parent.recommenders %}
                    {% if not r.status_id == 21 %}
                        <tr>
                            <th class="right wide-cell">Recommended by:</th>
                            <td rowspan="1" class="left wide-cell">
                                {{ r.user }}
                                {% if r.status_id == 2 %}
                                    (digitally signed on {{ r.status_date }})
                                {% else %}
                                    (NOT RECOMMENDED)
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if parent.adm.status_id == 2 %}
                    <tr>
                        <th class="right wide-cell">Approved by:</th>
                        <td rowspan="1" class="left wide-cell">
                            {{ parent.adm.user }} on {{ parent.adm.status_date }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </td>
    </table>
</div>

<div class="block">
    <strong>Additional Notes</strong><br>
    DETAILED COST BREAKDOWN: {{ parent.cost_breakdown }}
</div>