{% extends "travel/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% load humanize %}

{% block title_area %}
{% endblock %}


{% block subcontent %}
  <div id="app" v-cloak>
    <div class="mb-3 mt-3" v-if="trip">
      <h2>${trip.display}</h2>
    </div>
    <div v-if="isNCRAdmin || isRegionalAdmin" class="alert alert-primary no-print py-2" role="alert" style="width: 60%">
      <p class="mb-0">
        <span class="h5 mdi mdi-information-outline mr-3"></span> <span class="h6">{% trans "You are viewing this trip as an admin user." %}</span>
      </p>
    </div>
    {# warnings #}
    <div v-if="trip.id">

      <div v-if="isNCRAdmin && trip.is_adm_approval_required && trip.status === 30" class="alert alert-danger py-2" role="alert" style="width: 80%">
        <p class="mb-0">
          <span class="h5 mdi mdi-alert-decagram-outline mr-3"></span>
          <span class="h6">{% trans "This trip must be verified before a review can be started." %}        </span>
          <a class="btn btn-sm btn-primary py-0"
             href="{% url 'travel:trip_verify' object.id %}">{% trans "Verify the Trip Now" %}</a>
        </p>
      </div>
    </div>

    {# ADM Admin stuff #}
    <div class="btns mb-3">

      {% include "travel/common/_trip_admin_notes_button.html" %}

      {# all admins can modify trip detail #}
      <a v-if="canModify" class="btn btn-admin" href="{% url 'travel:trip_edit' object.id %}{{ view.get_query_string }}">
        {% trans "Edit" %}
      </a>
      <a v-if="canModify" class="btn btn-admin" href="{% url 'travel:trip_clone' object.id %}{{ view.get_query_string }}">
        {% trans "Clone" %}
      </a>
      <a v-if="canModify && trip.status === 30" class="btn btn-admin" href="{% url 'travel:trip_verify' object.id %}{{ view.get_query_string }}">
        {% trans "Verify" %}
      </a>

      <a v-if="isNCRAdmin && trip.status !== 43 && trip.status !== 30 && trip.is_adm_approval_required"
         class="btn btn-admin" v-if="trip.status !== 30"
         href="{% url 'travel:trip_review_toggle' object.id %}">
        <span v-if="trip.status === 32">{% trans "Re-open the review process (late submission)" %}</span>
        <span v-else-if="trip.status === 41">{% trans "Start a Review for this trip" %}</span>
        <span v-else>{% trans "Terminate the review process" %}</span>
      </a>

      <a v-if="canModify && trip.status !== 43" class="btn btn-admin" href="{% url 'travel:trip_cancel' object.id %}{{ view.get_query_string }}">
        {% trans "Cancel this Trip" %}
      </a>
      <a v-if="canModify && trip.requests.length === 0" class="btn btn-danger" href="{% url 'travel:trip_delete' object.id %}{{ view.get_query_string }}">
        {% trans "Delete" %}
      </a>
      <a class="btn btn-success" href="{% url 'travel:request_new' %}?{{ view.get_query_string }};trip={{ object.id }}">
        {% trans "Start a Request" %}
      </a>
    </div>
    <div v-if="!showAdminNotesForm" class="btns mb-3">
    </div>
    <div class="mb-3 card admin-notes" v-if="trip.admin_notes_html && !showAdminNotesForm">
      <div class="card-header">{% trans "Administrative Notes" %}</div>
      <div class="card-body">
        <p class="card-text" v-html="trip.admin_notes_html"></p>
      </div>
    </div>
    {% include "travel/common/_trip_detail.html" %}
    <div v-if="isNCRAdmin || (!trip.is_adm_approval_required && isAdmin)">
      {% include "travel/common/_travellers.html" %}
    </div>
    <div v-if="trip.is_adm_approval_required && isNCRAdmin">
      {% include "travel/common/_reviewers.html" %}
    </div>
  </div>
{% endblock %}


{% block body_js %}
  {{ block.super }}
  <script type="application/javascript">
  let isReview = false;
  </script>
  {% include "travel/common/_trip_script.html" %}
{% endblock %}