{% extends "travel/generic_list.html" %}

{% load verbose_names %}
{% load custom_filters %}

{% block field_td %}

    {% if "adm" in field.name %}
        <span class="{% if object.is_adm_approval_required %}red-font{% endif %}">{% get_field_value object field.name safe=True %}</span>
    {% elif "total_travellers" in field %}
        {{ object.total_traveller_list|length|zero2val:"---" }}
    {% elif "connected_request" in field %}
        {{ object.trip_requests.count|zero2val:"---" }}
    {% elif "status" in field.name %}
        <span style="background-color: {{ object.status.color }}">{% get_field_value object field.name %}</span>
    {% else %}
        {% get_field_value object field.name safe=True %}
    {% endif %}
{% endblock %}
