{% extends "travel/generic_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}
{% block subcontent %}

    {% crash_if_none "is_adm_admin" is_adm_admin %}

    <style>
        .plainjane {
            background-color: #f5efe6;
            border: black solid 1px;
        }

        .admin_notes {
            padding: 10px;
            background-color: #efee7e;
            font-weight: bold;
        }
    </style>


    <div class="mb-5">

        <div class="btns">

            {# ADM Admin stuff #}
            {% if is_adm_admin %}
                <a class="btn btn-dark" href="#" pop-href="{% url 'travel:trip_admin_notes_edit' object.id %}">
                    {% trans "Administrative Notes" %}
                </a>


                {# Review BUTTON #}
                {% if object.status.id == 30 %} {# disabled for everyone #}
                    {% echo "disabled" as review_disabled_var %}
                    {% trans "This trip must be verified before a review can be started." as review_tip_text %}
                {% endif %}

                {% if object.status.id == 30 or object.status.id == 41 %}
                    {% echo "success" as review_btn_color %}
                    {% trans "Start a Review" as review_btn_text %}
                {% else %}
                    {% echo "danger" as review_btn_color %}
                    {% trans "End this review" as review_btn_text %}
                {% endif %}


                <span data-toggle="tooltip" title="{{ review_tip_text }}">
                <a class="btn btn-{{ review_btn_color }} {{ review_disabled_var }}"
                   href="{% url 'travel:trip_review_toggle' object.id %}">{{ review_btn_text }}</a>
                </span>
            {% endif %}

            <a class="btn btn-warning" href="{% url 'travel:trip_edit' object.id %}">
                {% trans "Edit" %}
            </a>
            {% if object.trip_requests.count %}
                <span data-toggle="tooltip"
                      title="You cannot delete a trip that is currently tagged on a trip request.">
            {% endif %}
            <a class="btn btn-danger {% if object.trip_requests.count %}disabled{% endif %}"
               href="{% url 'travel:trip_delete' object.id %}">
                {% trans "Delete" %}
            </a>
            {% if object.trip_requests.count %}
                </span>
            {% endif %}
        </div>
    </div>

    {# Trip detail #}

    {% if object.admin_notes %}
        <strong>
            {% trans "ADMINISTRATIVE NOTES" %}
        </strong>
        <div class="mb-3 card admin_notes">
            {{ object.admin_notes_html|safe }}
        </div>

    {% endif %}

    {% include "travel/_trip_detail.html" %}

    {% if is_adm_admin %}
        {% include "travel/_trip_reviewers.html" %}
    {% endif %}


{% endblock %}
