{% extends "travel/travel_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load custom_filters %}
{% load i18n %}
{% block header %}
{% endblock %}
{% block content %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">
                {% trans "Home" %}
            </a></li>
            <li class="breadcrumb-item"><a href="{% url 'travel:trip_list' %}">
                {% trans "Trips" %}
            </a></li>
            {% if object %}
                <li class="breadcrumb-item"><a href="{% url 'travel:trip_detail' object.id %}">{{ object }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                {% trans "Edit" %}
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                {% trans "New" %}
                </li>
            {% endif %}
        </ol>
    </nav>

    <div class="container">

        <h1>
            {% if object %}
                {{ object }}
            {% else %}
                New Trip
            {% endif %}
        </h1>

        <br>

        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}

                {% if field.name in help_text_dict and "_date" not in field.name %}
                    {% bootstrap_label field.label %}
                    {% with help_text_dict|lookup:field.name as help_text %}
                        <img src="{% static 'img/icons/information.png' %}" style="width: 20px" data-toggle="popover" data-trigger="hover"
                             title="{{ field.label }}"
                             data-content="{{ help_text }}">
                        {% bootstrap_field field placeholder="" show_label=False %}
                    {% endwith %}
                {% else %}
                    {% bootstrap_field field placeholder="" %}
                {% endif %}


{#                {% bootstrap_field field placeholder="" %}#}

            {% endfor %}


            {% buttons %}
                {% if object %}
                    <button type="submit" class="btn btn-success">Update</button>
                    <a class="btn btn-secondary" href="{% url 'travel:trip_detail' object.id %}">Cancel</a>
                {% else %}
                    <button type="submit" class="btn btn-success">Add</button>
                    <a class="btn btn-secondary" href="{% url 'travel:trip_list' %}">Cancel</a>
                {% endif %}


            {% endbuttons %}
        </form>

    </div>
{% endblock content %}

{% block body_js %}

    <script type="application/javascript">
        var userObj = {{ user_json|safe }};
        var sectionObj = {{ section_json|safe }};
        var myId = "";

        function refreshUserInfo() {
            myId = $("#id_user").val();
            $("#id_first_name").val(userObj[myId]["first_name"]);
            $("#id_last_name").val(userObj[myId]["last_name"]);
            $("#id_email").val(userObj[myId]["email"]);
        }

        



        $("#id_user").change(function () {
            refreshUserInfo();
        });


        $("#id_section").change(function () {
            mySectionId = $(this).val();
            $("#id_recommender_1").val(sectionObj[mySectionId]["recommender_1"]);
            $("#id_recommender_2").val(sectionObj[mySectionId]["recommender_2"]);
            $("#id_recommender_3").val(sectionObj[mySectionId]["recommender_3"]);
            $("#id_approver").val(sectionObj[mySectionId]["approver"]);
            $('select').trigger("chosen:updated");
        });

        $(document).ready(function () {
            // Stuff to do as soon as the DOM is ready
            refreshUserInfo();
        });


    </script>
{% endblock %}


