{% extends "travel/travel_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load custom_filters %}

{% block subtitle %}
    {% if object %}
        - {% trans "Edit request" %}
    {% else %}
        - {% trans "New request" %}
    {% endif %}
{% endblock %}

{% block content %}

    <style>
        input.cost {
            font-size: small;
            width: 100%;
        }

        select:invalid {
            height: 0px !important;
            opacity: 0 !important;
            position: absolute !important;
            display: flex !important;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'travel:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'travel:request_list' %}">Trip Requests</a></li>
            {% if object %}
                <li class="breadcrumb-item"><a href="{% url 'travel:request_detail' object.id %}">{{ object }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">New</li>
            {% endif %}
        </ol>
    </nav>

    <div class="container mb-3">

        <h1>
            {% if object %}
                {% if cloned %}
                    CLONING:
                {% endif %}
                {{ object }}
            {% else %}
                New <span id="request-type"></span> Request
            {% endif %}
        </h1>

    </div>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="container">
            {% bootstrap_form_errors form %}


            {# Fields without a label; Will serve as a catch all but also to bring in hidden fields #}
            {% for field in form %}
                {% if field.field.group == 0 %}
                    {% bootstrap_field field placeholder="" %}
                {% endif %}
            {% endfor %}

            {# GENERAL DETAILS #}
            <div class="card mb-2">
                <h2 class="card-header text-white bg-primary">
                    {% trans "General Trip Information" %}
                </h2>
                <div class="card-body">
                    <div class="card-text">
                        {% for field in form %}
                            {% if field.field.group == 1 %}
                                {% include "travel/_trip_request_form_layout.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# TRAVELLER #}
            <div class="card mb-2">
                <h2 class="card-header text-white bg-primary" id="group2-text-h2">

                </h2>
                <div class="card-body">
                    <div class="card-text">
                        {% for field in form %}
                            {% if field.field.group == 2 %}
                                {% include "travel/_trip_request_form_layout.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# JUSTIFICATION #}
            <div class="card mb-2">
                <h2 class="card-header text-white bg-primary">
                    {% trans "Trip Justification" %}
                </h2>
                <div class="card-body">
                    <div class="card-text">
                        {% for field in form %}
                            {% if field.field.group == 3 %}
                                {% include "travel/_trip_request_form_layout.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="container center-col">
                {% buttons %}
                    {% if object %}
                        <button type="submit" class="btn btn-success">Update</button>
                        <a class="btn btn-secondary" href="{% url 'travel:request_detail' object.id %}">Cancel</a>
                    {% else %}
                        <button type="submit" class="btn btn-success">Add</button>
                        <a class="btn btn-secondary" href="{% url 'travel:request_list' %}">Cancel</a>
                    {% endif %}
                {% endbuttons %}
            </div>
    </form>

{% endblock content %}

{% block body_js %}

    <script type="application/javascript">
        var userObj = {{ user_json|safe }};
        var confObj = {{ conf_json|safe }};
        {#var sectionObj = {{ section_json|safe }};#}
        var myId = "";

        function refreshUserInfo() {
            myId = $("#id_user").val();
            // no ID provided
            if (myId == "") {
                $("#id_first_name").val("").prop("required", true);
                $("#id_last_name").val("").prop("required", true);
                $("#id_email").val("").prop("required", true);
                $(".disappear-if-user").removeClass("gone");
            } else {
                $(".disappear-if-user").addClass("gone");
                $("#id_is_public_servant").val("True");
                $("#id_company_name").val("");
                $("#id_first_name").val(userObj[myId]["first_name"]).prop("required", false);
                $("#id_last_name").val(userObj[myId]["last_name"]).prop("required", false);
                $("#id_email").val(userObj[myId]["email"]).prop("required", false);
            }

            if ($("#id_is_public_servant").val() == "True") {
                $("#id_dfo_region").removeClass("gone");
            } else {
                $("#id_dfo_region").addClass("gone");
            }

        }

        function refreshPublicServantFields() {
            if ($("#id_is_public_servant").val() == "False") {
                $(".hide-if-public-servant").removeClass("gone");
                $(".hide-if-not-public-servant").addClass("gone");
            } else {
                $(".hide-if-public-servant").addClass("gone");
                $(".hide-if-not-public-servant").removeClass("gone");
            }
        }


        $("#id_is_public_servant").change(function () {
            refreshPublicServantFields();
        });

        function refreshClassHideMe() {
            // not a group request
            if ($("#id_is_group_request").val() == "False") {
                $("#id_user").prop("required", false);
                $("#group2-text-h2").html("{% trans "Traveller Information" %}");
                $("#request-type").html("{% trans "Individual" %}");
                $(".not-a-group-field").removeClass("gone");
                $(".show-me-when-group-request").addClass("gone");
            } else {
                $("#id_user").prop("required", true);
                $("#group2-text-h2").text("{% trans "Requester Information" %}");
                $("#request-type").html("{% trans "Group" %}");
                $(".not-a-group-field").addClass("gone");
                $(".show-me-when-group-request").removeClass("gone");
            }
            refreshUserInfo();
        }



        $("#id_user").change(function () {
            refreshUserInfo();
        });

        //$("#id_reason").change(function () {
        //            refreshConference();
        //      });

        $("#id_trip").change(function () {
            // update location and (maybe) dates
            myId = $(this).val();
            $("#id_destination").val(confObj[myId]["location"]);
            $("#id_start_date").flatpickr().setDate(confObj[myId]["start_date"]);
            $("#id_end_date").flatpickr().setDate(confObj[myId]["end_date"]);
            {#$("#id_email").val(userObj[myId]["email"]);#}
        });

        $("#id_is_group_request").change(function () {
            refreshClassHideMe();
        });



        $(document).ready(function () {
            // Stuff to do as soon as the DOM is ready
            refreshPublicServantFields();
            refreshUserInfo();
            refreshClassHideMe();
            // do not make these fields required, otherwise we will not see the form errors if omitted
            $("#id_user").prop("required", false);
            $("#id_section").prop("required", false);
        });

        $("#new_event").click(function () {
            $("#id_stay_on_page").val(1);
            $("form").submit();
        });

        $("#predefined-addresses").change(function () {
            $myInput = $(this);
            $("#id_address").val($myInput.val());
        });

        {% if object %}
            $("#group_request_container").addClass("gone");
        {% endif %}

    </script>
{% endblock %}


