{% extends "travel/list.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load verbose_names %}
{% load bootstrap4 %}
{% load custom_filters %}
{% load el_pagination_tags %}

{% block title_area %}
  <div class="float-right">
    {% if view.request.GET.travel_only %}
      <a href="{% url 'travel:user_list' %}" class="btn btn-dark">Show ALL users</a>
    {% else %}
      <a href="{% url 'travel:user_list' %}?travel_only=true" class="btn btn-dark">Show Regional & National coordinators Only</a>
    {% endif %}
  </div>
  {{ block.super }}
{% endblock %}

{% block new_object_button %}
  {% if new_object_url %}
    {% trans 'New' as default_new_btn_text %}
    <div class="col" style="text-align: right; padding-bottom: 10px">
      <a href="#" pop-href="{{ new_object_url }}" class="btn btn-sm btn-primary">{% trans "New DM Apps User" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block table %}
  <table class="table table-sm {% if row_object_url_name %}table-hover{% endif %} sortable">
    <thead>
    {% block head %}
      {% for field in field_list %}
        <th class="{{ field.class }}" {% if field.width %}style="width: {{ field.width }}"{% endif %}>
          {% get_verbose_label random_object field.name %}
        </th>
      {% endfor %}
      <th class="text-center">
        {% trans "Regional Coordinators" %}
      </th>
      <th class="text-center">
        {% trans "National Coordinator" %}
      </th>

    {% endblock %}
    </thead>

    <tbody>

    {% for object in list %}

      {% url row_object_url_name object.id as my_url %}

      <tr {% if row_object_url_name %}href="{{ my_url }}"{% endif %} id="user_{{ object.id }}">

        {% url 'travel:toggle_user' object.id "admin" as admin_url %}
        {% url 'travel:toggle_user' object.id "adm_admin" as adm_admin_url %}

        {% for field in field_list %}

          <td class="{{ field.class }}">
            {% if "last_login" in field.name %}
              {{ object.last_login|naturaltime|nz }}
            {% else %}
              {% get_field_value object field.name %}
            {% endif %}
          </td>
        {% endfor %}
        <td class="text-center">
          {% if admin_group in object.groups.all %}
            <a class="btn btn-sm btn-success" href="{{ admin_url }}">Yes</a>
          {% else %}
            <a class="btn btn-sm btn-danger" href="{{ admin_url }}">No</a>
          {% endif %}
        </td>
        <td class="text-center">
          {% if adm_admin_group in object.groups.all %}
            <a class="btn btn-sm btn-success" href="{{ adm_admin_url }}">Yes</a>
          {% else %}
            <a class="btn btn-sm btn-danger" href="{{ adm_admin_url }}">No</a>
          {% endif %}
        </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}