<em>
  *** un message français suivra
</em>
<br><br>
<p>
  This is an automated message to notify you that you have been added as a custodian on the following data resource:
</p>
  <table>
    <tr>
      <td><b>Title:</b></td>
      <td>{{object.title_eng}}</td>
    </tr>
    <tr>
      <td><b>Resource type:</b></td>
      <td>{{object.resource_type}}</td>
    </tr>
    <tr>
      <td><b>Section:</b></td>
      <td>{{object.section}}</td>
    </tr>
    <tr>
      <td><b>Status:</b></td>
      <td>{{object.status}}</td>
    </tr>
  </table>
  <p>
    The detailed record can be viewed <a href="{{SITE_FULL_URL}}{% url 'inventory:resource_detail' object.id %}">HERE</a>.
  </p>

<hr>
<br>
<p>
  Ce message automatisé vous informe que vous avez été ajouté en tant que gardien sur la ressource de donnée suivante :
</p>
  <table>
    <tr>
      <td><b>Titre:</b></td>
      <td>{{object.title_eng}}</td>
    </tr>
    <tr>
      <td><b>type de ressource:</b></td>
      <td>{{object.resource_type}}</td>
    </tr>
    <tr>
      <td><b>section:</b></td>
      <td>{{object.section}}</td>
    </tr>
    <tr>
      <td><b>statut:</b></td>
      <td>{{object.status}}</td>
    </tr>
  </table>
  <p>
    L’enregistrement détaillé peut être affiché <a href="{{SITE_FULL_URL}}{% url 'inventory:resource_detail' object.id %}">ICI</a>.
  </p>
