{% extends "tickets/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load humanize %}
{% load verbose_names %}
{% load custom_filters %}

{% block content %}
  {#  <script type="text/javascript" src="{% static "js/popItOut.js" %}"></script>#}
  <div class="container">
    <div class="title-block mb-5">
      <div class="">
        <a href="{% url 'tickets:detail' object.id %}" class="btn btn-lg btn-primary">All Done!!</a>
      </div>
    </div>

    <div class="">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Assigned</th>
          <th>Not Assigned</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {% for dm in object.dm_assigned.all %}
              <div class="mb-1">
                <a href="{% url 'tickets:assign_dm' object.id dm.id %}" class="btn btn-success">{{ dm }}</a>
              </div>
            {% empty %}
              <em>Nobody.</em>
            {% endfor %}
          </td>
          <td>
            {% for staff in staff.all %}
              <div class="mb-1">
                <a href="{% url 'tickets:assign_dm' object.id staff.id %}" class="btn btn-secondary">{{ staff }}</a>
              </div>
            {% empty %}
              <em>Nobody.</em>
            {% endfor %}
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="title-block mb-5">
      <div class="">
        <a href="{% url 'tickets:detail' object.id %}" class="btn btn-lg btn-primary">All Done!!</a>
      </div>
    </div>

  </div>


{% endblock %}
