{% extends 'shared_models/generic_popout_detail.html' %}
{% load i18n %}
{% load verbose_names %}

{% block buttons %}
    <a class="btn btn-warning" href="{% url 'tickets:file_update' object.ticket.id object.id %}"
       onclick="refreshParent();">Edit</a>
    <a class="btn btn-success" href="{% url 'tickets:file_create' object.ticket.id %}">Add Another File</a>
    <a class="btn btn-danger" href="{% url 'tickets:file_delete' object.ticket.id object.id %}">Delete</a>
{% endblock %}

{% block detail_tr %}
    {% if field.title == 'File' %}
        <tr><th>{% get_verbose_label object field %}</th><td><a class="btn btn-success" href="{{ object.file.url }}">{% trans "View" %} / {% trans "Download" %}</a></td></tr>
    {% else %}
        {% verbose_td_display object field %}
    {% endif %}
{% endblock %}

