{% extends "tickets/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load custom_filters %}
{% load custom_tags %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tickets:list' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Report for Finance</li>
        </ol>
    </nav>

    <style>
        table, td {
            font-size: small;
        }
    </style>

    <div class="indent-med">
        <br>
        <h1> DM Tickets Finance Report</h1>
        <br>

        <form action="." method="get">
            <div class="row">
                <div class="col-3">
                    {% for field in filter.form %}
                        {% bootstrap_field field layout="horizontal" size="small" %}
                    {% endfor %}
                </div>
                <div class="col-2">
                    <input class="btn btn-sm btn-primary" type="submit" value="Filter"/>
                    <a href="{% url 'tickets:finance_spreadsheet' %}" class="btn btn-sm btn-success">Export to Excel Spreadsheet</a>

                </div>


            </div>
        </form>


        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col" width='250px'>Fiscal Year</th>
                <th scope="col" width='150px'>DM Ticket #</th>
                <th scope="col" width='200px'>Service Desk #</th>
                <th scope="col" width='150px'>Section</th>
                <th scope="col" width='250px'>Primary Client</th>
                <th scope="col" width='450px'>Title</th>
                <th scope="col" width='450px'>Request Type</th>
                <th scope="col" width='200px'>Estimated Cost</th>
                <th scope="col" width='200px'>Coding</th>
                <th scope="col" width='100px'>Status</th>
                <th scope="col" width='200px'>Date Opened</th>
                <th scope="col" width='200px'>Date Closed</th>
            </tr>
            </thead>

            <tbody>
            {% for obj in filter.qs %}
                <tr>
                    <td> {{ obj.fiscal_year }} </td>
                    <td><a href="{% url 'tickets:detail' pk=obj.id %}">{{ obj.id }}</a></td>

                    <td>
                        {% if obj.sd_ticket_url %}
                            <a href="{{ obj.sd_ticket_url|safe }}" target="_blank">
                                {{ obj.sd_ref_number }}
                            </a>
                        {% else %}
                            {{ obj.sd_ref_number }}

                        {% endif %}
                    </td>
                    <td>{{ obj.section }}</td>
                    <td>{{ obj.primary_contact }}</td>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.request_type }}</td>
                    <td>$ {{ obj.estimated_cost|floatformat:2 }}</td>
                    <td>{{ obj.financial_coding }}</td>
                    {% if obj.status == '5' %}
                        <td class="active1">
                            {% elif obj.status == '2' %}
                        <td class="resolved">
                            {% elif obj.status == '6' %}
                        <td class="idle">
                            {% elif obj.status == '7' %}
                        <td class="unresolved">
                    {% endif %}
                    {{ obj.get_status_display }}
                    </td>



                    <td>{{ obj.date_opened|date:"F m, Y" }}</td>
                    <td>{{ obj.date_closed|date:"F m, Y" }}</td>


                </tr>
            {% endfor %}
            <br>

            </tbody>
        </table>
    </div>

{% endblock content %}
