{% extends "tickets/confirm_delete.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tickets:list' %}">Tickets</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tickets:detail' object.id %}">{{ object }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </nav>

    <div class="container">

        <form method="post">{% csrf_token %}
            <h1>Are you sure you want to delete "{{ object }}"?</h1>
            <br><br>
            <input class="btn btn-lg btn-danger" type="submit" value="Confirm"/>
            <a class="btn btn-lg btn-primary" href="{% url 'tickets:detail' object.id %}">Back</a>
        </form>
    </div>

{% endblock content %}
