{% extends "tickets/form.html" %}

{% load bootstrap4 %}

{% block content %}
    <div class="container">
        {# Load js file to allow for popout window #}
        {% load static %}
        <script type="text/javascript" src="{% static "js/popItOut.js" %}"></script>

        <h1>{{ object.title }}</h1>
        <h2>Ticket notes (Markdown format is accepted):</h2>
        {% bootstrap_form_errors form %}

        <form method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form show_label=False %}


            <p>
                <a href="#" class="btn btn-sm btn-warning" id="insertDate"> Insert Date</a>
            </p>

            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary" href="{% url 'tickets:detail' object.id %}">Back</a>
            {% endbuttons %}
        </form>

    </div>
    <script type="text/javascript">
        var user_name = "{{ user.last_name|lower }}";
    </script>



{% endblock content %}
