{% load i18n %}

<!-- template for the modal component -->
<script type="text/x-template" id="select-tools-template">

<div class="btn-group">
  <button class="w25px px-1 py-0 btn btn-sm btn-dark" @click="$emit('select-all')" data-toggle="tooltip" title="{% trans "select all" %}">
    <span class="mdi mdi-select-all text-light"></span>
  </button>
  <button v-if="count" class="w25px px-1 py-0 btn btn-sm btn-dark" @click="$emit('unselect-all')" data-toggle="tooltip" title="{% trans "unselect all" %}">
    <span class="mdi mdi-close text-light"></span>
  </button>
  <button v-if="count" class="w25px px-1 py-0 btn btn-sm btn-primary" @click="$emit('move-up')" data-toggle="tooltip" title="{% trans "move up" %}">
    <span class="mdi mdi-arrow-up text-light"></span>
  </button>
  <button v-if="count" class="w25px px-1 py-0 btn btn-sm btn-primary" @click="$emit('move-down')" data-toggle="tooltip" title="{% trans "move down" %}">
    <span class="mdi mdi-arrow-down text-light"></span>
  </button>
  <button v-if="count" class="w25px px-1 py-0 btn btn-sm btn-danger" @click="$emit('delete-selected')" data-toggle="tooltip" title="{% trans "delete" %}">
    <span class="mdi mdi-delete text-light"></span>
  </button>
</div>


</script>

<script type=" application/javascript">

Vue.component("select-tools", {
  template: "#select-tools-template",
  delimiters: ["${", "}"],
  name: "select-tools",
  props: {
    selected_items_count: {
      type: Number
    }
  },
  data() {
    return {
      count: this.selected_items_count,
    };
  },
  methods: {
    update() {
      this.sample[this.field] = this.input
      this.$emit("change", this.sample)
    }
  },
  computed: {},
  watch: {
    selected_items_count() {
      this.count = this.selected_items_count;
    }
  }

});
</script>