{% load i18n %}
{% load custom_filters %}


{% for category in object.achievement_categories %}

  <div class="mb-5" id="category{{ category.id }}">
    <h6>
      {{ category.tname }} ({{ category.code }})
    </h6>
    {% if not category.is_publication %}
      {% for achievement in object.achievements.all %}
        {% if achievement.category.id == category.id %}
          <div class="" id="achievement{{ achievement.id }}">
            {{ achievement.achievement_display|safe }}
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for publication_type in object.achievement_publication_types %}
        <div class="mb-5">
          <u class="mb-3 font-italic">
            {{ publication_type }}
          </u>
          {% for achievement in object.achievements.all %}
            {% if achievement.category.id == category.id and achievement.publication_type.id == publication_type.id %}
              <div class="" id="achievement{{ achievement.id }}">
                {{ achievement.achievement_display|safe }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}


    {% endif %}
    <hr>


    {#  <div v-else>#}
    {#        <div v-for="publication_type in application.achievement_publication_types" :key="publication_type.id" class="mb-5">#}
    {#          <u :id="`publication_type{publication_type.id}`" class="mb-3 font-italic">#}
    {#            ${publication_type.tname}#}
    {#          </u>#}
    {#          <achievement#}
    {#            :id="`achievement${achievement.id}`"#}
    {#            v-for="achievement in achievements" :key="achievement.id"#}
    {#            v-if="achievement.category === category.id && achievement.publication_type === publication_type.id"#}
    {#            :object="achievement"#}
    {#            :editable="canModify" :dirty="unsavedChanges"#}
    {#            @keypress="unsavedChanges=true"#}
    {#            :category_choices="categoryChoices"#}
    {#            :publication_type_choices="publicationTypeChoices"#}
    {#            :review_type_choices="reviewTypeChoices"#}
    {#            :labels="achievementLabels"#}
    {#            @change="updateAchievement"#}
    {#            @clone="cloneAchievement"#}
    {#            @remove="deleteAchievement"#}
    {#          ></achievement>#}
    {#        </div>#}
    {#      </div#}


  </div>
{% endfor %}


{#<div v-if="!editMode" class="col">#}
{#      <span v-html="object.achievement_display"></span> [<span @click="copyRef(object.id)" class="copy-me text-primary">REF ${object.id}</span>]#}
{#    </div>#}

{##}
{##}
{#<div class="table table-sm">#}
{#{% for category in object.achievement_categories %}#}
{#{{ category }}#}
{#{% endfor %}#}
{##}
{#  #}
{#  <div v-if="achievements.length">#}
{#    <div v-for="category in application.achievement_categories" :key="category.id" class="mb-5">#}
{#      <h6 :id="`category${category.id}`" >#}
{#        ${category.display}#}
{#      </h6>#}
{#      <achievement#}
{#        v-for="achievement in achievements" :key="achievement.id"#}
{#        v-if="achievement.category === category.id"#}
{#        :object="achievement"#}
{#        :editable="canModify" :dirty="unsavedChanges"#}
{#        @keypress="unsavedChanges=true"#}
{#        :category_choices="categoryChoices"#}
{#        :publication_type_choices="publicationTypeChoices"#}
{#        :labels="achievementLabels"#}
{#        @change="updateAchievement"#}
{#        @clone="cloneAchievement"#}
{#        @remove="deleteAchievement"#}
{#      ></achievement>#}
{#    </div>#}
{#  </div>#}
{#  <div v-else>#}
{#    <em class="text-muted">#}
{#      {% trans "No achievements have been added to this application." %}#}
{#    </em>#}
{#  </div>#}
{#</div>#}