{% load i18n %}
{% load custom_filters %}


{% for category in object.achievement_categories %}

  <div class="mb-5" id="category{{ category.id }}">
    <h6>
      {{ category.tname }} ({{ category.code }})
    </h6>
    {% if not category.is_publication %}
      {% for achievement in object.achievements.all %}
        {% if achievement.category.id == category.id %}
          <div class="" id="achievement{{ achievement.id }}">
            {{ achievement.achievement_display|safe }}
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for publication_type in object.achievement_publication_types %}
        <div class="mb-5">
          <u class="mb-3 font-italic" id="publication_type{{ publication_type.id }}">
            {{ publication_type }}
          </u>
          {% for achievement in object.achievements.all %}
            {% if achievement.category.id == category.id and achievement.publication_type.id == publication_type.id %}
              <div class="" id="achievement{{ achievement.id }}">
                {{ achievement.achievement_display|safe }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}


    {% endif %}
    <hr>

  </div>
{% endfor %}

