{% extends "csas2/form.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load custom_filters %}
{% load csas_filters %}

{% block post_input %}
  {% if is_admin %}
    {% if field.name == "client" %}
      <div class="mb-4">
        <a href="#" pop-href="{% url 'shared_models:user_new' %}" class="badge badge-pill badge-primary py-2 px-3">{% trans "Add New User" %}</a>
      </div>
    {% elif field.name == "section" %}
      <div class="mb-4">
        <a href="{% url 'shared_models:section_new' %}" target="_blank" class="badge badge-pill badge-primary py-2 px-3">{% trans "Add New Section" %}</a>
      </div>
    {% elif field.name == "advice_needed_by" %}
      <div id="fiscal-year-annotation">
        <div class="alert alert-warning" role="alert">
          <p class="lead my-0">
            <span class="mdi mdi-information-outline mr-1"></span>
            {% blocktrans %}
              Based on the dated selected above, this request will fall into the <u id="fy"></u> fiscal year
            {% endblocktrans %}
          </p>
        </div>
      </div>

    {% endif %}
  {% endif %}
{% endblock %}

{% block body_js %}
  {{ block.super }}

  <script type="application/javascript">
  var $is_multiregional = $("#id_is_multiregional");
  var $advice_needed_by = $("#id_advice_needed_by");
  var $has_funding = $("#id_has_funding");
  var $is_deferred = $("#id_is_deferred");
  var $is_virtual = $("#id_is_virtual");
  var $steering_committee_meeting = $("#id_create_steering_committee_meeting");
  var $keystone_meeting = $("#id_create_keystone_meeting");

  $(document).ready(function () {
    // Stuff to do as soon as the DOM is ready
    refreshMultiregionalSection();
    refreshFundingSection();
    refreshDeferredSection();
    refreshVirtualSection();
    refreshCommitteeMeetingSection();
    refreshKeystoneMeetingSection();
    refreshFiscalYearAnnotation();
  });

  function refreshMultiregionalSection() {
    if ($is_multiregional.val() === "1") {
      $(".multiregional_text_div").removeClass("gone");
    } else {
      $(".multiregional_text_div").addClass("gone");
    }
  }

  function refreshFundingSection() {
    if ($has_funding.prop("checked")) {
      $(".funding_text_div").removeClass("gone");
    } else {
      $(".funding_text_div").addClass("gone");
    }
  }

  function refreshDeferredSection() {
    if ($is_deferred.prop("checked")) {
      $(".deferred_text_div").removeClass("gone");
    } else {
      $(".deferred_text_div").addClass("gone");
    }
  }

  function refreshVirtualSection() {
    if ($is_virtual.val() === "True") {
      $(".location_div").addClass("gone");
      $("#id_location").val("");
    } else {
      $(".location_div").removeClass("gone");
    }
  }

  function refreshCommitteeMeetingSection() {
    if ($steering_committee_meeting.prop("checked")) {
      $(".committee_members_div").removeClass("gone");
    } else {
      $(".committee_members_div").addClass("gone");
    }
  }

  function refreshKeystoneMeetingSection() {
    if ($keystone_meeting.prop("checked")) {
      $(".science_leads_div").removeClass("gone");
      $(".client_leads_div").removeClass("gone");
      $(".chair_div").removeClass("gone");
    } else {
      $(".science_leads_div").addClass("gone");
      $(".client_leads_div").addClass("gone");
      $(".chair_div").addClass("gone");
    }
  }


  function refreshFiscalYearAnnotation() {
    if (!$advice_needed_by.val()) $("#fiscal-year-annotation").hide();
    else {
      $("#fiscal-year-annotation").show();
      let d = new Date(`${$advice_needed_by.val()} 12:00:00`);
      let fy = fiscalYear(d);
      $("#fy").html(fy)
    }
  }

  $is_multiregional.change(function () {
    refreshMultiregionalSection();
  })

  $has_funding.change(function () {
    refreshFundingSection();
  })

  $is_deferred.change(function () {
    refreshDeferredSection();
  })

  $is_virtual.change(function () {
    refreshVirtualSection();
  })
  $steering_committee_meeting.change(function () {
    refreshCommitteeMeetingSection();
  })
  $keystone_meeting.change(function () {
    refreshKeystoneMeetingSection();
  })


  $advice_needed_by.change(function () {
    refreshFiscalYearAnnotation();
  })

  function fiscalYear(d) {
    let month = d.getMonth() + 1;
    let year = d.getFullYear();
    if (month && year) {
      if (month >= 4) return `${year}-${year + 1}`;
      return `${year - 1}-${year}`;
    } else return "???";
  }


  </script>
{% endblock %}

