{% extends "csas2/form.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load custom_filters %}
{% load csas_filters %}



{% block body_js %}
  {{ block.super }}

  <script type="application/javascript">


  var $is_multiregional = $("#id_is_multiregional");
  var $had_assistance = $("#id_had_assistance");
  var $has_funding = $("#id_has_funding");

  $(document).ready(function () {
    // Stuff to do as soon as the DOM is ready
    refreshMultiregionalSection()
    refreshAssistanceSection()
    refreshFundingSection()

  });

  function refreshMultiregionalSection() {
    if ($is_multiregional.prop("checked")) {
      $(".multiregional_text_div").removeClass("gone")
    } else {
      $(".multiregional_text_div").addClass("gone")
    }
  }


  function refreshAssistanceSection() {
    if ($had_assistance.prop("checked")) {
      $(".assistance_text_div").removeClass("gone")
    } else {
      $(".assistance_text_div").addClass("gone")
    }
  }

  function refreshFundingSection() {
    if ($has_funding.prop("checked")) {
      $(".funding_text_div").removeClass("gone")
    } else {
      $(".funding_text_div").addClass("gone")
    }
  }

  $is_multiregional.change(function () {
    refreshMultiregionalSection()
  })

  $had_assistance.change(function () {
    refreshAssistanceSection()
  })

  $has_funding.change(function () {
    refreshFundingSection()
  })

  </script>
{% endblock %}


{##}
{#{% block body %}#}
{#  <style>#}
{#  label {#}
{#      font-weight: bold;#}
{#  }#}
{#  </style>#}
{##}
{##}
{##}
{##}
{#  <div class="container">#}
{#    <h1>#}
{#      {{ object }}#}
{#    </h1>#}
{#    <br><br>#}
{##}
{#    <form method="post" class="form">#}
{#      {% bootstrap_form_errors form %}#}
{#      {% csrf_token %}#}
{#      {% buttons %}#}
{#        <div class="btn-group">#}
{#          <button type="submit" class="btn btn-primary">#}
{#            {% trans "Update" %}#}
{#          </button>#}
{#          <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">#}
{#            {% trans "Close" %}#}
{#          </a>#}
{#        </div>#}
{#      {% endbuttons %}#}
{##}
{#      {% for field in form %}#}
{#        <div class="{{ field.name }}_div">#}
{#          {% if 'editable' in field.field.widget.attrs|lookup:"class" %}#}
{##}
{#            {% if field.name in help_text_dict %}#}
{#              {% bootstrap_label field.label %}#}
{#              {% with help_text_dict|lookup:field.name as help_text %}#}
{#                <img src="{% static 'img/icons/information.png' %}" style="width: 20px" data-toggle="popover"#}
{#                     data-trigger="hover"#}
{#                     title="{{ field.label }}"#}
{#                     data-content="{{ help_text }}">#}
{##}
{##}
{#                {% bootstrap_field field %}#}
{#              {% endwith %}#}
{##}
{#            {% else %}#}
{##}
{#              {% bootstrap_label field.label %}#}
{#              {% bootstrap_field field %}#}
{##}
{#            {% endif %}#}
{##}
{##}
{##}
{#          {% else %}#}
{#            {% if field.name in help_text_dict %}#}
{#              {% bootstrap_label field.label %}#}
{#              {% with help_text_dict|lookup:field.name as help_text %}#}
{#                <img src="{% static 'img/icons/information.png' %}" style="width: 20px" data-toggle="popover"#}
{#                     data-trigger="hover"#}
{#                     title="{{ field.label }}"#}
{#                     data-content="{{ help_text }}">#}
{#                {% bootstrap_field field placeholder="" show_label=False %}#}
{#              {% endwith %}#}
{##}
{#            {% else %}#}
{#              {% bootstrap_field field placeholder="" %}#}
{#            {% endif %}#}
{#          {% endif %}#}
{#        </div>#}
{##}
{#      {% endfor %}#}
{##}
{##}
{#      {% buttons %}#}
{#        <div class="btn-group">#}
{#          <button type="submit" class="btn btn-primary">#}
{#            {% trans "Update" %}#}
{#          </button>#}
{#          <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">#}
{#            {% trans "Close" %}#}
{#          </a>#}
{#        </div>#}
{#      {% endbuttons %}#}
{#    </form>#}
{##}
{##}
{#  </div>#}
{# only do this if we are in the project create view #}
{##}
{##}
{##}
{##}
{#{% endblock %}#}
{##}
