{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
{% language "en" %}

  <div class="">
    <h1>
      Terms of Reference
    </h1>
  </div>

  <div class="">
    <h2>
      {{ object.process.name }}
    </h2>
  </div>

  <div class="">
    <h3>
      {{ object.process.scope_type }} – {{ object.process.lead_region.tname }} Region
    </h3>
  </div>

  <div class="">
    <h4>
      {{ object.meeting.tor_display_dates }}
    </h4>
  </div>

  <div class="">
    <h4>
      {{ object.meeting.location }}
    </h4>
  </div>

  <div class="">
    <h4>
      Chairperson: {{ object.meeting.chair }}
    </h4>
  </div>

  <div class="">
    <h4>
      Context
    </h4>
    {{ object.context_en_html }}
  </div>
  <div class="">
    <h4>
      Objectives
    </h4>
    {{ object.objectives_en_html }}
  </div>
  <div class="">
    <h4>
      Expected Publications
    </h4>
    <ul>
      {% for type in object.expected_document_types.all %}
        <li>{{ type }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="">
    <h4>
      Expected Participation
    </h4>
    {{ object.participation_en_html }}
  </div>
  <div class="">
    <h4>
      References (Optional)
    </h4>
    {{ object.references_en_html }}
  </div>

{% endlanguage %}

</body>
</html>