{% extends "masterlist/masterlist_base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">
        <br>
        <div class="container">
            <div class="jumbotron">
                <h1 class="three-em">
                    {% trans "Regional Contact List & Consultation Instructions" %}
                </h1>
                {#                <hr>#}

                {% if user.is_authenticated %}
                    <br>
                    <p></p>
                {% else %}
                    <br>

                    {% url 'accounts:login' as sign_in_url %}
                    {% url 'masterlist:index' as next_url %}
                    {% url 'accounts:signup' as sign_up_url %}

                    <p>
                        {% blocktrans %}
                            You must be <a href="{{ sign_in_url }}?next={{ next_url }}">signed in</a> to use this
                            application.
                        {% endblocktrans %}
                    <p>
                        {% blocktrans %}
                            If you do not have an account, you can create one <a href="{{ sign_up_url }}">here</a>.
                        {% endblocktrans %}
                    </p>
                {% endif %}
            </div>

        </div>

        {% if user.is_authenticated %}
            <div align="center">
                {% url 'masterlist:person_list' as person_list_url %}
                {% url 'masterlist:org_list' as org_list_url %}

                <h4>
                    {% blocktrans %}
                        Click <a href="{{ person_list_url }}">HERE</a> to search for a person.
                        <br><br>
                        Click <a href="{{ org_list_url }}">HERE</a> to search for an organization.
                        <br><br>
                    {% endblocktrans %}
                </h4>
            </div>
        {% endif %}

    </div>

{% endblock content %}
