{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'masterlist' %}{% endblock bug_create %}


{% block title %}
    {% trans "Master List" %} {% block subtitle %}{% endblock %}
{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_all %}
    <li class="nav-item"><a class="nav-link" href="{% url 'masterlist:index' %}">
        {% trans "Home" %}
    </a></li>

{% endblock left_all %}

{% block left_auth %}

    <li class="nav-item"><a class="nav-link" href="{% url 'masterlist:person_list' %}">
        {% trans "People" %}
    </a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'masterlist:org_list' %}">
        {% trans "Organizations" %}
    </a></li>

    <li class="nav-item"><a class="nav-link" href="{% url 'masterlist:report_search' %}">
        {% trans "Reports" %}
    </a></li>

    {% for group in user.groups.all %}
        {% if group.name == "masterlist_admin" %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_sectors' %}">Manage Sectors</a>#}
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_roles' %}">Manage Member Roles</a>#}
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_orgs' %}">Manage Organizations</a>#}
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_statuses' %}">Manage Statuses</a>#}
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_entry_types' %}">Manage Entry Types</a>#}
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_funding_purposes' %}">Manage Funding Purposes</a>#}
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_regions' %}">Manage DFO Regions</a>#}
{#                    <a class="dropdown-item" href="{% url 'masterlist:manage_groupings' %}">Manage Groupings</a>#}
                </div>
            </li>

        {% endif %}

    {% endfor %}


{% endblock left_auth %}
{% block left_admin %}
{% endblock left_admin %}
