bokeh==2.2.3
certifi==2020.6.20
chardet==3.0.4
Deprecated==1.2.10
Django==3.1.2
django-bootstrap4==2.3.1
# django-easy-pdf==0.2.0.dev1
django-el-pagination==3.3.0
django-filter==2.4.0
django-tracking2==0.5.0
html2text==2020.1.16
html5lib==1.1
idna==2.10
Jinja2==2.11.2
Markdown==3.3.3
MarkupSafe==1.1.1
cx-Oracle==7.1.3
numpy==1.19.2
packaging==20.4
pandas==1.1.3
Pillow==8.0.1
PyGithub==1.53
PyJWT==1.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
reportlab==3.5.54
requests==2.24.0
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
textile==4.0.1
tornado==6.0.4
unicodecsv==0.14.1
urllib3==1.25.11
webencodings==0.5.1
wrapt==1.12.1
xhtml2pdf==0.2.5
XlsxWriter==1.3.7
python-decouple==3.3
python-Levenshtein==0.12.0
gunicorn==20.0.4
whitenoise==5.2.0
requests_oauthlib==1.3.0
sendgrid==6.4.7
python-http-client==3.3.1
django-storages[azure]
msrestazure==0.6.4

# libraries for unit testing
factory-boy==3.1.0
Faker==4.14.0

# THESE TWO LIBRARIES CAN BE PROBLEMATIC
mysqlclient==1.4.6
shapely==1.7.1

phonenumberslite==8.12.8
django-phonenumber-field==5.0.0
django-tables2==2.3.1
