
  /*#map3 {*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*}*/

  .leaflet-container {
      height: 400px;
      width: 600px;
  }
  .leaflet-control-layers-base {
      text-align: left;
  }

/*.leaflet-container {*/
/*  width: 25%;*/
/*  height: 45%;*/
/*}*/