{% extends "sar_search/sar_search_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load i18n %}
{% block content %}
    <style>
        .indent-lg {
            margin-left: 5em;
            margin-right: 5em;
        }

        {% if "Org" in title %}
            table {
                width: 100%;
            }
            th, td, table {
                font-size: small;
            }
        {% else %}
            table {
                width: 100%;
            }
            td {
                padding-right: 10px;
            }
        {% endif %}
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if "coord" in title|lower %}
                <li class="breadcrumb-item"><a href="{% url 'sar_search:index' %}"> Home </a></li>
                <li class="breadcrumb-item"><a href="{% url 'sar_search:species_list' %}"> Species </a></li>
                <li class="breadcrumb-item"><a href="{% url 'sar_search:species_detail' record.species.id %}"> {{ record.species }} </a></li>
                <li class="breadcrumb-item"><a href="{% url 'sar_search:record_detail' record.id %}"> {{ record }} </a></li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'sar_search:index' %}">{% trans "Home" %}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>

    <div class="indent-lg">
        <h1>
            {{ title }}
        </h1>
        <br>
        <form method="post" class="form">
            {% csrf_token %}

            {{ formset.management_form }}
            {% bootstrap_formset_errors formset %}

            <table>
                <thead>
                <tr>
                    {% for field in field_list %}
                        <th scope="col">{% get_verbose_label my_object field %}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                        {% for field in form %}
                            {% if not field.is_hidden %}
                                <td {% if field.name == "color" %}class="color-cell" color-value="{{ form.instance.color }}"{% endif %}>
                                    {% bootstrap_field field size='small' show_label=False placeholder="" %}
                                </td>
                            {% else %}
                                {% bootstrap_field field size='small' show_label=False placeholder="" %}

                            {% endif %}

                        {% endfor %}
                        {% if form.instance.id %}

                            <td>
                                <a class="delete-me" href="#" val="{{ form.instance.id }}">
                                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
                                </a>
                                {% if "tax" in title|lower %}
                                    <a id="secrect-delete-btn-{{ form.instance.id }}"
                                       href="{% url 'sar_search:delete_taxon' form.instance.id %}" class="hidden"></a>
                                {% elif "statuses" in title|lower %}
                                    <a id="secrect-delete-btn-{{ form.instance.id }}"
                                       href="{% url 'sar_search:delete_status' form.instance.id %}" class="hidden"></a>
                                {% elif "schedule" in title|lower %}
                                    <a id="secrect-delete-btn-{{ form.instance.id }}"
                                       href="{% url 'sar_search:delete_schedule' form.instance.id %}" class="hidden"></a>
                                {% elif "count" in title|lower %}
                                    <a id="secrect-delete-btn-{{ form.instance.id }}"
                                       href="{% url 'sar_search:delete_region' form.instance.id %}" class="hidden"></a>
                                {% elif "coord" in title|lower %}
                                    <a id="secrect-delete-btn-{{ form.instance.id }}"
                                       href="{% url 'sar_search:delete_coord' form.instance.id %}" class="hidden"></a>
                                {% endif %}

                            </td>
                        {% else %}
                            <td>(new record)</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <p>
                <button id="submit" type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">Back</a>
            </p>

        </form>
    </div>
{% endblock content %}
{% block body_js %}
    <script type="application/javascript">
        $(".color-cell").each(function () {
            let myColor = $(this).attr("color-value");
            $(this).children().children("input").css("background-color", myColor);
        });

        $(".delete-me").click(function () {
            var objectId = $(this)[0].getAttribute("val");

            var userInput = "";
            while (userInput !== "n" && userInput !== "y") {
                userInput = prompt("Are you sure you want to delete this from the database? \n\n Please respond with 'y' for yes and 'n' for no.").toLocaleLowerCase();
            }
            if (userInput === "y") {
                $("#secrect-delete-btn-" + objectId)[0].click();
            }
        })
    </script>



{% endblock %}