{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
    <style>
        table, td, th {
            border: black 1px solid;
        }

        .red-font {
            color: red;
            font-weight: bold;

        }

    </style>

    <script>
        window.resizeTo(width = 1000, height = 800);
    </script>
    <div class="container">

        <h1>
            {% trans "Point list import form:" %}
        </h1>
        <ul>
            <li>
                {% trans "the file must be in csv format" %}
            </li>
            <li>
                {% trans "the order of the columns in the file is NOT important" %}
            </li>
            <li>
                {% trans "the file must have the follow format: " %}
            </li>
        </ul>
        <table>
            <thead>
            <th>record_name</th>
            <th>site_name</th>
            <th>site_lat</th>
            <th>site_long</th>
            <th>record_source</th>
            <th>type</th>

            </thead>
            <tr>
                <td>
                    <em>
                        <ul>
                            <li>name of record to add</li>
                            <li>must be identical if to be added to the same record in SAR Search</li>
                        </ul>
                    </em>
                </td>
                <td>
                    <em>
                        <ul>
                            <li>name of site</li>
                            <li>this field can be null</li>
                        </ul>
                    </em>
                </td>
                <td>
                    <em>
                        <ul>
                            <li>positive float</li>
                            <li>point latitude</li>
                        </ul>
                    </em>
                </td>
                <td>
                    <em>
                        <ul>
                            <li>negative float</li>
                            <li>point longitude</li>
                        </ul>
                    </em>
                </td>
                <td>
                    <em>
                        <ul>
                            <li>source of record</li>
                            <li>must be identical if to be added to the same record in SAR Search</li>
                        </ul>
                    </em>
                </td>
                <td>
                    <em>
                        <ul>
                            <li>must be one of following:</li>
                            <li><code>point</code></li>
                            <li><code>line</code></li>
                            <li><code>polygon</code></li>
                        </ul>
                    </em>
                </td>
            </tr>

        </table>
        <br><br>
        EXAMPLE:
        <table>
            <thead>
            <th>record_name</th>
            <th>site_name</th>
            <th>site_lat</th>
            <th>site_long</th>
            <th>record_source</th>
            <th>type</th>

            </thead>
            <tr>
                <td>St. John River</td>
                <td>site 1</td>
                <td>46.302</td>
                <td>-67.5327</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>point</td>
            </tr>
            <tr>
                <td>St. John River</td>
                <td>site 2</td>
                <td>46.456</td>
                <td>-67.4355</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>point</td>
            </tr>
            <tr>
                <td>St. John River</td>
                <td>site 3</td>
                <td>46.344</td>
                <td>-67.5677</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>point</td>
            </tr>
            <tr>
                <td>St. John River</td>
                <td></td>
                <td>46.332</td>
                <td>-67.532557</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>point</td>
            </tr>
            <tr>
                <td>St. John River</td>
                <td></td>
                <td>46.765</td>
                <td>-67.57327</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>point</td>
            </tr>
            <tr>
                <td>Grand Lake</td>
                <td>1</td>
                <td>46.123</td>
                <td>-67.57237</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>polygon</td>
            </tr>
<tr>
                <td>Grand Lake</td>
                <td>2</td>
                <td>46.45634</td>
                <td>-67.572637</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>polygon</td>
            </tr>
            <tr>
                <td>Grand Lake</td>
                <td>3</td>
                <td>46.675</td>
                <td>-67.876</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>polygon</td>
            </tr>
            <tr>
                <td>Grand Lake</td>
                <td>4</td>
                <td>46.345</td>
                <td>-67.6732</td>
                <td>Environment Canada. 2013. Recovery Strategy for the Cobblestone Tiger Beetle etc etc etc...</td>
                <td>polygon</td>
            </tr>
        </table>


        <br><br>

        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}

                {#                <h2 class="red-font">WARNING: running this function will overwrite any existing points in this record.</h2>#}
                <h3>Please select the file to upload:</h3>
                {{ field }}
            {% endfor %}

            <br>
            <br>

            <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
            <br>
            <br>
            <a class="btn btn-secondary" href="#" onclick="window.close()">{% trans "Cancel" %}</a>

        </form>

    </div>

{% endblock content %}
