.label {
    font-style: italic;
}


.requested, .tentative {
    background-color: #ffffc3;
}

.accepted, .approved {
    background-color: #ccfacc;
}

.denied {
    background-color: #ffcdcd;
}

.bad-card {
    background-color: #ffe9e9;
}


.field-season {
    background-color: #f3e9ff;
}