{% load pssi_custom_tags %}

<style>
  a.details_table_of_contents:not([href]) {
    color: #007bff;
    cursor: pointer;
  }
  a.details_table_of_contents:not([href]):hover {
    text-decoration: underline;
  }
</style>

<h4>Table of Contents</h4>
{% details_table_of_contents_display object "data_asset_name" %}
{% details_table_of_contents_display object "data_asset_sorting_category" %}
{% details_table_of_contents_display object "operational_or_analytical_data" %}
{% details_table_of_contents_display object "data_asset_acronym" %}
{% details_table_of_contents_display object "data_asset_description" %}
{% details_table_of_contents_display object "apm_id" %}
{% details_table_of_contents_display object "non_salmon_data" %}
{% details_table_of_contents_display object "data_asset_status" %}
{% details_table_of_contents_display object "data_asset_format" %}
{% details_table_of_contents_display object "data_type" %}
{% details_table_of_contents_display object "data_asset_location" %}
{% details_table_of_contents_display object "data_asset_trustee" %}
{% details_table_of_contents_display object "data_asset_custodian" %}
{% details_table_of_contents_display object "application_data_asset_is_associated_with" %}
{% details_table_of_contents_display object "application_description" %}
{% details_table_of_contents_display object "technical_documentation" %}
{% details_table_of_contents_display object "access_point" %}
{% details_table_of_contents_display object "policy_levers_data_asset_supports" %}
{% details_table_of_contents_display object "key_decisions" %}
{% details_table_of_contents_display object "impact_to_dfo_data_consumers" %}
{% details_table_of_contents_display object "decision_supporting_key_products" %}
{% details_table_of_contents_display object "impact_on_decision_making" %}
{% details_table_of_contents_display object "uniqueness" %}
{% details_table_of_contents_display object "cost" %}
{% details_table_of_contents_display object "data_asset_size" %}
{% details_table_of_contents_display object "update_frequency" %}
{% details_table_of_contents_display object "data_standards" %}
{% details_table_of_contents_display object "metadata_maturity" %}
{% details_table_of_contents_display object "data_quality_rating" %}
{% details_table_of_contents_display object "naming_conventions" %}
{% details_table_of_contents_display object "security_classification" %}
{% details_table_of_contents_display object "inbound_data_linkage" %}
{% details_table_of_contents_display object "outbound_data_linkage" %}
{% details_table_of_contents_display object "publication_status" %}