{% extends "publications/pub_base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">
        <br>
        <div class="container">
            <div class="jumbotron">
                <h1 class="three-em">
                    {% trans "Project Publications Inventory" %}
                </h1>
                <hr>
                <h3>
                    {% trans "Project Publications Inventory Application" %}
                </h3>

                <br>
                <p></p>

                <br>
                <div style="text-align: center">
                    <h4>
                        {% trans "Please use <u>Microsoft Edge</u> or <u>Google Chrome</u> to view this page." %}
                        <br><br><b>
                        <span class="highlight">
                            {% trans "DO NOT USE Internet Explorer." %}
                        </span>
                    </b>

                    </h4>
                </div>

            </div>

        </div>

        <div align="center">
            {% url 'publications:pub_new' as new_pub_url %}
            {% url 'publications:my_pub_list' as my_pub_url %}
            {% url 'publications:pub_list' as all_pub_url %}


            <h4>
                {% blocktrans %}
                    Click
                    <a href="{{ new_pub_url }}">HERE</a> to add a new publication.
                    <br><br>
                    To view or edit an existing publication, go to <a href="{{ my_pub_url }}">Your
                    Publications</a>.
                    <br><br>
                    For a list of all publications, go to <a href="{{ all_pub_url }}">All
                    Publications</a>.

                {% endblocktrans %}

                <br><br>


            </h4>
        </div>


    </div>

{% endblock content %}
