{% extends "publications/pub_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}

{% block content %}

    <style>
        /* Set the size of the div element that contains the map */
        #map, #lineMap {
            height: 300px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
        .label {
            font-weight: bold;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'publications:index' %}">
                {% trans "All Projects" %}
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <div class="container">
       {% if has_admin %}
        <div class="btn-group">
            <span data-toggle="tooltip"
                  title="{% trans "Cannot submit/unsumbit projects that do not belong to you or your section." %}">

            {% if not object.submitted and not report_mode %}
                <a class="btn btn-primary btn-sm" href="{% url 'publications:prj_edit' object.id %}">
                    {% trans "Add/Edit Project Details" %}
                </a>
            {% endif %}
             <span data-toggle="tooltip" title="{% trans "Delete this project" %}">
                <a class="btn btn-danger btn-sm" href="{% url 'publications:prj_delete' object.id%}">{% trans "Delete" %}</a>
            </span>

        </div>
        {% endif %}

        <h2>{{ object }}</h2>

        <div class="row">
            <div class="col-8">
                <div><span class="label">{% trans "Year" %}:</span> {{ object.year }}</div>
                {% if coordinates %}
                    <div><span class="label">{% trans "Location" %}:</span>
                        {% for coord in coordinates %}
                            {{coord}}
                        {% endfor %}</div>
                {% endif %}
                {% for div in divisions %}
                    <div><span class="label">{% trans "Division" %}:</span> {{ div }} </div>
                {% endfor %}
                {% for field in abstract %}
                    {% verbose_field_display object field format='HTML' %}
                {% endfor %}
                {% for lookup in field_list %}
                    <table class="table table-hover table-borderless table-sm no-gutters" style="width: auto">
                        <thead>
                            <tr><th>
                               {% if has_admin %}
                                <span>
                                    {% with "Add "|add:lookup.label as btn_label %}
                                    <a class="btn btn-primary" href="#"
                                    onclick="return popitup('{% url 'publications:text_add' object.id lookup.url %}','popoutWindow')"
                                    title="{% trans btn_label%}">+</a>
                                    {% endwith %}
                                </span>
                                {% endif %}
                                {% with lookup.label|add:":" as lst_label %}
                                {% trans lst_label %}
                                {% endwith %}
                            </th></tr>
                        </thead>
                        <tbody>
                        {% for val in lookup.list %}
                            <tr id="{{lookup.url}}-{{ val.id }}">
                                <td>
                                    {% if has_admin %}
                                    <a class="delete-me" href="#" val="{{ val.id }}">
                                        <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                                             title="Delete">
                                    </a>
                                    <a id="secrect-delete-btn-{{ val.id }}"
                                       href="{% url 'publications:lookup_delete' lookup.url object.id val.id %}" class="hidden"></a>
                                    {% endif %}

                                    {{ val }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            <div class="col-4">
                <div id="map"></div>
                <div id="lineMap"></div>
                {% for lookup in lookups %}
                <table class="table table-hover table-borderless table-sm no-gutters" style="width: auto">
                    <thead>
                        <tr><th>
                           {% if has_admin %}
                           <span>
                                {% with "Add "|add:lookup.label as btn_label %}
                                <a class="btn btn-primary" href="#"
                                   onclick="return popitup('{% url 'publications:lookup_add' object.id lookup.url %}','popoutWindow')"
                                    title="{% trans btn_label%}">+</a>
                                {% endwith %}
                            </span>
                            {% endif %}
                            {% with lookup.label|add:":" as lst_label %}
                            {% trans lst_label %}
                            {% endwith %}
                        </th></tr>
                    </thead>
                    <tbody>
                    {% for val in lookup.list %}
                        <tr id="{{lookup.url}}-{{ val.id }}">
                            <td>
                                {% if has_admin %}
                                <a class="delete-me" href="#" val="{{ val.id }}">
                                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                                         title="Delete">
                                </a>
                                <a id="secrect-delete-btn-{{ val.id }}"
                                   href="{% url 'publications:lookup_delete' lookup.url object.id val.id %}" class="hidden"></a>
                                {% endif %}
                                {{ val }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
    <script type="application/javascript">


        $(".delete-me").click(function (e) {
            var objectId = $(this)[0].getAttribute("val");
            var userInput = "";
            userInput = confirm("{% trans "Are you sure you want to delete the list item?" %}");
            if (userInput === true) {
                document.location.href = $("#secrect-delete-btn-" + objectId)[0].getAttribute("href");
            }
            e.stopImmediatePropagation();
        });

        function initialize() {
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                {% if center %}
                center: {lat: {{center.lat}}, lng: {{center.lon}} },
                {% else %}
                center: {lat: 24.886, lng: -70.268},
                {% endif %}
                mapTypeId: 'terrain'
            });
            var iw = new google.maps.InfoWindow();
            var bounds = new google.maps.LatLngBounds();

            var oms = new OverlappingMarkerSpiderfier(map, {
                markersWontMove: true,
                markersWontHide: true,
                basicFormatEvents: true
            });

            // Define the LatLng coordinates for the polygon's path.
            {% for poly in polygon %}
            var shape_coord = [
                {% for point in poly.points %}
                    {lat: {{point.latitude}}, lng: {{point.longitude}} },
                {% endfor %}
            ];

            // Construct the polygon.
            var polygon = new google.maps.Polygon({
              paths: shape_coord,
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35
            });
            polygon.setMap(map);

            google.maps.event.addListener(polygon, 'mouseover', function (e) {
                iw.setContent("{{ poly.name }}");
                var latLng = e.latLng;
                iw.setPosition(latLng);
                iw.open(map);
             });

            google.maps.event.addListener(polygon, 'mouseout', function () {
                iw.close(map);
             });
            {% endfor %}

        }

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initialize";
            document.body.appendChild(script);
        }

        window.onload = loadScript();

    </script>


{% endblock content %}
