{% load i18n %}

<!-- template for the modal component -->
<script type="text/x-template" id="author-editor-template">
<div class="">
  <button @click="openOverlay" v-if="!author.id" class="btn btn-sm btn-primary py-0 px-1">
    <span class="h5 mdi mdi-plus text-light"></span>
  </button>
  <button class="btn btn-sm" @click="openOverlay" v-else>
    <span class="mdi mdi-pencil"></span>
  </button>

  <transition v-if="overlay" name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container" style="width: 800px">
          <div v-if="!personEditMode" class="modal-header">
            <h4 v-if="!author.id"> {% trans "Add Author" %}</h4>
            <h4 v-else> {% trans "Edit Author" %} </h4>
          </div>
          <div v-else class="modal-header">
            <h4> {% trans "Add a Person" %}</h4>
          </div>
          <div class="modal-body">
            <form v-if="!personEditMode" @submit.prevent="onSubmit">
              <div class="mb-3">
                <div class="form-group">
                  <label for="">${labels.person}</label>
                  <v-select
                    v-model="authorToEdit.person"
                    :options="personChoices"
                    :reduce="choice => choice.value"
                    label="text"
                    class="no-borders"
                    :clearable=false
                    required
                  ></v-select>
                </div>
                <div class="mb-3">
                  <button @click="openPersonEditMode" class="badge badge-pill badge-primary">{% trans "Add a person" %}</button>
                </div>
                <div class="form-group">
                  <input v-model="authorToEdit.is_lead" class="" type="checkbox" id="is_lead">
                  <label class="form-check-label" for="is_lead"> {% trans "Is lead?" %} </label>
                </div>
              </div>
              <div class="alert alert-danger mb-3" role="alert" v-if="error">
                <p class="lead">
                  ${ error }
                </p>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-success">
                  <span v-if="author.id">{% trans "Update" %}</span>
                  <span v-else>{% trans "Create" %}</span>
                </button>
                <button class="mx-1 btn btn-primary" @click="closeOverlay" type="button">{% trans "Back" %}</button>
              </div>
            </form>
            <form v-else @submit.prevent="addPerson">
              <div class="mb-3">
                <div class="form-group">
                  <label for="">${personLabels.first_name}</label>
                  <input type="text" v-model="person.first_name" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="">${personLabels.last_name}</label>
                  <input type="text" v-model="person.last_name" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="">${personLabels.email}</label>
                  <input type="email" v-model="person.email" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="">${personLabels.phone}</label>
                  <input type="text" v-model="person.phone" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="">${personLabels.affiliation}</label>
                  <input type="text" v-model="person.affiliation" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="">${personLabels.language}</label>
                  <v-select
                    v-model="person.language"
                    :options="languageChoices"
                    :reduce="choice => choice.value"
                    label="text"
                    class="no-borders"
                    :clearable=false
                    required
                  ></v-select>
                </div>
              </div>
              <div class="alert alert-danger mb-3" role="alert" v-if="error">
                <p class="lead">
                  ${ error }
                </p>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-success">
                  <span v-if="author.id">{% trans "Update" %}</span>
                  <span v-else>{% trans "Create" %}</span>
                </button>
                <button class="mx-1 btn btn-primary" @click="closeOverlay" type="button">{% trans "Back" %}</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </transition>
</div>

</script>
<script type="application/javascript">

Vue.component("author-editor", {
  template: "#author-editor-template",
  delimiters: ["${", "}"],
  name: "author-editor",
  props: {
    document_id: {
      required: false
    },
    author: {
      required: false,
      default: function () {
        return {};
      }
    }
  },
  data() {
    return {
      dates: null,
      error: null,
      authorToEdit: {},
      labels: {},
      languageChoices: [],
      loadingPersons: false,
      overlay: false,
      person: {},
      personChoices: [],
      personEditMode: false,
      personLabels: {},
      search: null,
      user: null,
    };
  },
  methods: {
    addPerson() {
      this.error = null;
      let endpoint = "/api/csas/people/";
      let method = "POST";
      apiService(endpoint, method, this.person).then(response => {
        if (response.id) {
          this.getAuthorMetadata()
          this.personEditMode = false;
          this.authorToEdit.person = response.id
        } else {
          this.error = groomJSON(response)
        }
      });
    },
    closeOverlay() {
      this.error = null;
      if (this.author.id) {
        this.primeAuthor();
        this.authorToEdit = this.author;
      }
      this.overlay = false;
    },
    getAuthorMetadata() {
      let endpoint = `/api/csas/meta/models/author/`;
      apiService(endpoint).then(data => {
        this.labels = data.labels;
      });
    },
    getPersonMetadata() {
      let endpoint = `/api/csas/meta/models/person/`;
      apiService(endpoint).then(data => {
        this.personLabels = data.labels;
        this.personChoices = data.person_choices;
        this.languageChoices = data.language_choices;
      });
    },
    onSubmit() {
      this.error = null;
      var method;
      var endpoint;
      if (this.author.id) {
        endpoint = `/api/csas/authors/${this.author.id}/`;
        method = "PUT";
      } else {
        endpoint = "/api/csas/authors/";
        method = "POST";
      }
      apiService(endpoint, method, this.authorToEdit).then(response => {
        if (response.id) {
          this.$emit("update-authors");
          if (!this.authorToEdit.id) this.primeAuthor();
          this.overlay = false;
        } else {
          this.error = groomJSON(response)
        }
      });
    },
    openOverlay() {
      this.error = null;
      this.overlay = true;
      if (!this.author.id) {
        this.primeAuthor();
      } else {
        this.authorToEdit = JSON.parse(JSON.stringify(this.author)); // deep copy
      }
    },
    openPersonEditMode() {
      this.error = null;
      this.primeAuthor();
      this.personEditMode = true;
    },
    primeAuthor() {
      this.authorToEdit = {
        person: null,
        document: this.document_id
      };
    },
  },
  created() {
    this.getAuthorMetadata();
    this.getPersonMetadata();
  },
  computed: {}
});
</script>