{% extends "trapnet/list.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block filter %}
  <form class="form toolbar" action="." method="get" id="filter-form">
    <div class="row">

      <div class="col">
        {% bootstrap_field filter.form.id placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.observations__species placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>

      <div class="col">
        {% bootstrap_field filter.form.site__river placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.year placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>

      <div class="col">
        {% bootstrap_field filter.form.site placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.month placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>

      <div class="col">
        {% bootstrap_field filter.form.sample_type placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.day placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>

      <div class="col">
        {% bootstrap_field filter.form.monitoring_program placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}

      </div>


    </div>
  </form>
{% endblock %}