{% extends "trapnet/list.html" %}

{% load bootstrap4 %}
{% load i18n %}


{% block table_td %}
  {% if field.name == "id" %}
    <a href="{% url 'trapnet:specimen_detail' object.id %}" target="_blank">{{ object.id }} <span class="mdi mdi-arrow-top-right"></span></a>
    {{ object.sites.count }}
  {% else %}
    {{ block.super }}
  {% endif %}

{% endblock %}



{% block filter %}
  <form class="form toolbar" action="." method="get" id="filter-form">
    <div class="row">
      <div class="col">
        {% bootstrap_field filter.form.id placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.sample_id placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.species placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.sample__sample_type placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.sample__site__river placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.year placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.sample__site placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.month placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.tag_number__icontains placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.day placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.scale_id_number__icontains placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
        {% bootstrap_field filter.form.old_id__icontains placeholder="" size="small" form_group_class="mb-2" label_class=" mb-0" %}
      </div>

    </div>
  </form>
{% endblock %}