<script type="application/javascript">
    function toggleLocationOfTor(){
        if ($('#id_are_tor').is(':checked')) {
            $('#location_of_tor_div').show();
        } else {
            $('#location_of_tor_div').hide();
        }
    }

    function toggleNHQSectors(){
        let region_array = $("#id_other_dfo_regions :selected").map(function(i, el) {
            return $(el).text();
        }).get();
        if (region_array.includes("National") || ($("#id_lead_region :selected").text() == "National")) {
            $('#dfo_national_sectors_div').show();
        } else {
            $('#dfo_national_sectors_div').hide();
        }
    }

     $("#id_other_dfo_regions").change(function () {
            toggleNHQSectors();
    });

     $("#id_lead_region").change(function () {
            toggleNHQSectors();
    });

    $(document).ready(function () {
        toggleNHQSectors();
    });

    toggleLocationOfTor();
    $("#id_are_tor").change(toggleLocationOfTor)



</script>