<script type="application/javascript">

    function updateFields() {
        let int_type = parseInt($("#id_interaction_type :selected").val(), 10);

        let $committee = $("#committee_div");
        let $date_of_meeting = $("#date_of_meeting_div");
        let $dfo_liaison = $("#dfo_liaison_div");
        let $dfo_role = $("#dfo_role_div");
        let $other_dfo_participants = $("#other_dfo_participants_div");
        let $external_contact = $("#external_contact_div");
        let $external_organization = $("#external_organization_div");
        let $main_topic = $("#main_topic_div");
        let $species = $("#species_div");

        // Default hiden fields
        $committee.hide();
        $("#id_committee").prop("required", false);

        // Default not hidden fields
        $date_of_meeting.show();
        $("#id_date_of_meeting").prop("required", false);
        $dfo_liaison.show();
        $("#id_dfo_liaison").prop("required", false);
        $dfo_role.show();
        $("#id_dfo_role").prop("required", false);
        $other_dfo_participants.show();
        $("#id_other_dfo_participants").prop("required", false);
        $external_contact.show();
        $("#id_external_contact").prop("required", false);
        $external_organization.show();
        $("#id_external_organization").prop("required", false);
        $main_topic.show();
        $("#id_main_topic").prop("required", false);
        $species.show();
        $("#id_species").prop("required", false);

        if (int_type === 1 || int_type === 2 || int_type === 3 || int_type === 4) {
            $("#id_date_of_meeting").prop("required", true);
        }

        if (int_type === 4) {
            $committee.show();
            $("#id_committee").prop("required", true);

            $dfo_role.show();
            $("#id_dfo_role").prop("required", false);

            $dfo_liaison.hide();
            $("#dfo_liaison").prop("required", false);

            $other_dfo_participants.hide();
            $("id_other_dfo_participants").prop("required", false);

            $external_contact.hide();
            $("#id_external_contact").prop("required", false);

            $external_organization.hide();
            $("#id_external_organization").prop("required", false);

            $main_topic.hide();
            $("#id_main_topic").prop("required", false);

            $species.hide();
            $("#id_species").prop("required", false);
        } else if (int_type === 5) {
            $committee.show();
            $("#id_committee").prop("required", true);
        }
    }

    $("#id_interaction_type").change(function () {
        updateFields();
    });

    $(document).ready(function () {
        updateFields();
    });
</script>