{% load static %}
{% load verbose_names %}
<div>
    <h4>Sample Details:</h4>
    <br>
</div>
<div class="row">

    {# FIRST COLUMN #}
    <div class="col">
        {% verbose_field_display object "id" %}
        {% verbose_field_display object "fish_number" %}
        {% verbose_field_display object "fish_length" %}
        {% verbose_field_display object "fish_weight" %}
        {% verbose_field_display object "sex" %}
    </div>

    {# SECOND COLUMN #}
    <div class="col">
        {% verbose_field_display object "maturity" %}
        {% verbose_field_display object "gonad_weight" %}
        {% verbose_field_display object "parasite" %}
        {% verbose_field_display object "lab_sampler" %}
    </div>

    {# THIRD COLUMN #}
    <div class="col">
        {% verbose_field_display object "otolith_sampler" %}
        {% verbose_field_display object "lab_processed_date" %}
        {% verbose_field_display object "annulus_count" %}
        {% verbose_field_display object "otolith_season" %}
        {% verbose_field_display object "otolith_image_remote_filepath" %}
    </div>

    {# FORTH COLUMN #}
    <div class="col">
        {% verbose_field_display object "otolith_processed_date" %}
        {% verbose_field_display object "remarks" %}
        {% verbose_field_display object "creation_date" %}
        {% verbose_field_display object "last_modified_date" %}
        {% verbose_field_display object "created_by" %}
        {% verbose_field_display object "last_modified_by" %}
    </div>
</div>
