{% extends "scifi/scifi_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load el_pagination_tags %}
{% load verbose_names %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'scifi:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Projects</li>
        </ol>
    </nav>

    <div class="indent-med">

        <h1 class="big-header">Projects </h1>
        <p>TOTAL: {{ object_list.count }}</p>

        <form class="form" action="." method="get">
            <div class="row">
                {% for field in filter.form %}
                    <div class="col-5">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>
                {% endfor %}
                <div class="col-3">
                    <br>
                    <input type="submit" value="Filter" class="btn btn-sm btn-warning">
                    <a href="." class="btn btn-sm btn-info">Clear</a>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-10">

                Total projects = {{ filter.qs.count }}<br><br>
                {% paginate 20 filter.qs as filter_list %}
                {% show_pages %} <b><em>(ordered by creation date)</em></b>
                <div class="float-right" style="padding-bottom: 10px">
                    <a href="{% url 'scifi:project_new' %}" class="btn btn-sm btn-primary">New Project</a>
                </div>

                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        {% for field in field_list %}
                            <th scope="col">{% get_verbose_label filter.qs.first field %}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>


                    {% for object in filter_list %}
                        <tr>
                            {% for field in field_list %}
                                <td>
                                    {% get_field_value object field %}
                                </td>
                            {% endfor %}
                            <td>
                                <a href="{% url 'scifi:project_edit' object.id %}">
                                    <img src="{% static "/admin/img/icon-changelink.svg" %}" data-toggle="tooltip"
                                         title="Edit">
                                </a>
                            </td>
                            <td>
                                <a class="delete-me" href="{% url 'scifi:project_delete' object.id %}">
                                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                                         title="Delete">
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    <br>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock content %}
