{% extends "scifi/scifi_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_tags %}
{% load i18n %}
{% load humanize %}
{% load custom_filters %}
{% block content %}

    <style>
        .label {
            font-weight: bold;
        }
    </style>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'scifi:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'scifi:report_search' %}">Report Search</a></li>
            <li class="breadcrumb-item active" aria-current="page">Report: Account Summary</li>
        </ol>
    </nav>
    <div class="indent-med">
        <h1>Account Summary for {{ rc }} - FY {{ fiscal_year }}</h1>
        <h2><em></em></h2>
        <br>
        <h3>Summary:</h3>
        {% include "scifi/_report_summary_table.html" %}


        <br>
        <h3>Projects:</h3>
        <table class="table table-sm table-hover sortable" style="width: auto;">
            <thead>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>RCs</th>
            <th>Allotment Categories</th>
            <th>Allocations</th>
            <th>Adjustments</th>
            <th>Outstanding Obligations</th>
            <th>Expenditures</th>
            <th>Free Balance</th>
            </thead>
            <tbody>
            {% for project in project_list %}
                <tr href="{% url 'scifi:report_project' fiscal_year.id project.id %}">
                    <td>
                        {{ project.code }}
                    </td>
                    <td>{{ project.name }}</td>
                    <td>{{ my_dict|lookup:project.code|lookup:"rcs" }}</td>
                    <td>{{ my_dict|lookup:project.code|lookup:"ac_cats" }}</td>
                    <td>{{ my_dict|lookup:project.code|lookup:"allocations"|currency }}</td>
                    <td>{{ my_dict|lookup:project.code|lookup:"adjustments"|currency }}</td>
                    <td>{{ my_dict|lookup:project.code|lookup:"obligations"|currency }}</td>
                    <td>{{ my_dict|lookup:project.code|lookup:"expenditures"|currency }}</td>
                    {% with my_dict|lookup:project.code|lookup:"allocations" as allocations %}
                        {% with my_dict|lookup:project.code|lookup:"adjustments" as adjustments %}
                            {% with my_dict|lookup:project.code|lookup:"expenditures" as expenditures %}
                                {% with my_dict|lookup:project.code|lookup:"obligations" as obligations %}
                                    {% add allocations adjustments as income %}
                                    {% add obligations expenditures as outgoing %}
                                    {% with income|subtract:outgoing as balance %}
                                        {% if balance > 0 %}
                                            <td class="good">
                                                {% elif balance < 0 %}
                                            <td class="bad">
                                                {% else %}
                                            <td>
                                        {% endif %}
                                    {{ balance|currency }}
                                    </td>
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}

                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>


{% endblock content %}
