{% extends "scifi/scifi_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_tags %}
{% load i18n %}
{% load humanize %}
{% load custom_filters %}
{% block content %}
    

    <style>
        table, td, th {
            font-size: small;
        }

    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'scifi:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'scifi:report_search' %}">Report Search</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project }} Transactions {{ fiscal_year }}</li>
        </ol>
    </nav>

    <div class="indent-med">
        <h1>{{ project }} - FY {{ fiscal_year }}</h1>

        <h3>Project Summary:</h3>
        {% include "scifi/_report_summary_table.html" %}


        <br>
        <h3>Transactions:</h3>
        <table class="table table-sm table-hover sortable" style="width:auto;">
            <thead>
            <tr>
                {% for field in field_list %}
                    {% if field == "fiscal_year" or field == "invoice_date" %}
                        <th scope="col" style="width: 100px;">{% get_verbose_label my_object field %}</th>
                    {% elif field == "project.code" %}
                        <th>Project code</th>
                    {% elif field == "allotment_code" %}
                        <th>Category</th>
                    {% else %}
                        <th scope="col">{% get_verbose_label my_object field %}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr href="{% url 'scifi:trans_detail' object.id %}">

                    {% for field in field_list %}
                        {% if field == "allotment_code" %}
                            {% get_field_value object field as ac %}
                            <td style="background-color: {{ ac.allotment_category.color }};">
                                {% else %}
                            <td>
                        {% endif %}
                    {% if field == "outstanding_obligation" %}
                        {% get_field_value object field as val %}
                        {% if val == 0 %}
                            ${{ val|floatformat:2|intcomma }}
                        {% elif val < 0 %}
                            <span class="concern"
                                  style="font-weight: bold">${{ val|floatformat:2|intcomma }}</span>
                        {% else %}
                            <span class="highlight"
                                  style="font-weight: bold">${{ val|floatformat:2|intcomma }}</span>
                        {% endif %}
                    {% elif field == "invoice_cost" %}
                        {% get_field_value object field as val %}
                        {% if object.transaction_type == 1 %}
                            <span class="red-font"
                                  style="font-weight: bold">${{ val|floatformat:2|intcomma }}</span>
                        {% elif object.transaction_type == 2 %}
                            <span class="blue-font"
                                  style="font-weight: bold">${{ val|floatformat:2|intcomma }}</span>
                        {% else %}
                            <span class="green-font"
                                  style="font-weight: bold">${{ val|floatformat:2|intcomma }}</span>
                        {% endif %}

                    {% elif field == "amount_paid_in_mrs" %}
                        {% get_field_value object field format="currency" %}
                    {% elif field == "obligation_cost" %}
                        {% get_field_value object field format="currency" %}
                    {% elif field == "allotment_code" %}
                        {{ ac.allotment_category }} ({{ ac.code }})
                    {% else %}
                        {% get_field_value object field %}
                    {% endif %}
                    </td>

                    {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock content %}
