{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'scifi' %}{% endblock bug_create %}





{% block title %}
    {% trans "SciFi" %} {% block subtitle %}{% endblock %}
{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block body_js %}
    {% block js %}{% endblock js %}
{% endblock body_js %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_all %}
    <li class="nav-item"><a class="nav-link" href="{% url 'scifi:index' %}">
        {% trans "Home" %}
    </a></li>

{% endblock left_all %}

{% block left_auth %}

    {# Settings #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'scifi:allotment_list' %}">Allotment Codes</a>
            <a class="dropdown-item" href="{% url 'scifi:business_list' %}">Business Lines</a>
            <a class="dropdown-item" href="{% url 'scifi:lo_list' %}">Line Objects</a>
            <a class="dropdown-item" href="{% url 'scifi:rc_list' %}">Responsibility Centres</a>
            <a class="dropdown-item" href="{% url 'scifi:project_list' %}">Projects</a>
            <a class="dropdown-item" href="{% url 'scifi:user_list' %}">SciFi Users</a>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{% url 'scifi:trans_list' %}">
            {% trans "Transactions" %}
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{% url 'scifi:report_search' %}">
            {% trans "Reports" %}
        </a>
    </li>




{% endblock left_auth %}
{% block left_admin %}{% endblock left_admin %}
