{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'scifi' %}{% endblock bug_create %}

{% block bug_list_4_app %}
    <a class="dropdown-item" href="{% url 'bugs:bug_list_4_app' 12 %}">
        {% trans "View bugs for this app" %}
    </a>
{% endblock bug_list_4_app %}




{% block title %}
    {% trans "SciFi" %}
{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_all %}
    <li class="nav-item"><a class="nav-link" href="{% url 'scifi:index' %}">
        {% trans "Home" %}
    </a></li>

{% endblock left_all %}

{% block left_auth %}

    {# Settings #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'scifi:allotment_list' %}">Allotment Codes</a>
            <a class="dropdown-item" href="{% url 'scifi:business_list' %}">Business Lines</a>
            <a class="dropdown-item" href="{% url 'scifi:lo_list' %}">Line Objects</a>
            <a class="dropdown-item" href="{% url 'scifi:rc_list' %}">Responsibility Centres</a>
            <a class="dropdown-item" href="{% url 'scifi:project_list' %}">Projects</a>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{% url 'scifi:trans_list'  %}">
            {% trans "Transactions" %}
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{% url 'scifi:report_search'  %}">
            {% trans "Reports" %}
        </a>
    </li>


    {#    #}
    {#    <li class="nav-item"><a class="nav-link under-dev" href="#">#}
    {#        {% trans "Organizations" %}#}
    {#    </a></li>#}
    {#    <li class="nav-item"><a class="nav-link" href="#">#}
    {#        {% trans "New Entry" %}#}
    {#    </a></li>#}

    {#  {% for group in user.groups.all %}#}
    {#    {% if group.name == "inventory_section_head"   %}#}
    {#      <li class="nav-item"><a class="nav-link" href="{% url 'inventory:my_section_detail' %}"> My Section </a></li>#}
    {#    {% endif %}#}
    {##}
    {#  {% endfor %}#}



{% endblock left_auth %}
{% block left_admin %}
{% endblock left_admin %}
