{% extends "scifi/scifi_base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    <style>
        select:invalid {
            height: 0px !important;
            opacity: 0 !important;
            {#position: absolute !important;#}
            display: flex !important;
        }

        select:invalid[multiple] {
            margin-top: 15px !important;
        }

    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'scifi:index' %}">Home</a></li>
            {% if custom_transaction %}
                <li class="breadcrumb-item active" aria-current="page">New Expense</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'scifi:trans_list' %}">Transaction List</a></li>
                {% if object %}
                    <li class="breadcrumb-item active" aria-current="page">Edit Transaction: {{ object }}</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">New Transaction</li>
                {% endif %}
            {% endif %}
        </ol>
    </nav>

    <div class="container">
        <h1>
            {% if custom_transaction %}
                New Expense
            {% else %}
                {% if object %}
                    {{ object }}
                {% else %}
                    New Transaction
                {% endif %}
            {% endif %}
        </h1>

        <form method="post" class="form" style="width: 85%;">
            {% bootstrap_form_errors form %}
            {% csrf_token %}


            {% for field in form %}


                {% bootstrap_field field size='small' layout='horizontal' placeholder="" %}


            {% endfor %}

            <div class="btn-group">
                {% if object %}
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    <a class="btn btn-sm btn-secondary" href="{% url 'scifi:trans_detail' object.id %}">Cancel</a>
                {% else %}
                    <button id="submit" type="submit" class="btn btn-sm btn-success">Save & Next (Ctrl+A)</button>
                    <button id="submit_done" type="submit" class="btn btn-sm btn-primary">Save & Done (Ctrl+S)</button>
                    {% if custom_transaction %}
                        <a class="btn btn-secondary" href="{% url 'scifi:index' %}">Cancel</a>
                    {% else %}
                        <a class="btn btn-sm btn-secondary" href="{% url 'scifi:trans_list' %}">Cancel</a>
                    {% endif %}
                {% endif %}
            </div>
            <br>
            <br>


        </form>

    </div>

    <script type="text/javascript">
        window.name = "motherWindow";

        document.addEventListener("keydown", function (zEvent) {
            if (zEvent.ctrlKey && zEvent.code === "KeyS") {
                zEvent.preventDefault()
                $("#submit_done")[0].click();
            } else if (zEvent.ctrlKey && zEvent.code === "KeyA") {
                zEvent.preventDefault()
                $("#submit")[0].click();
            }
        });

        $("input").keydown(function (event) {
            if (event.key == "Enter") {
                event.preventDefault()
            }
        });
        $("#id_fiscal_year")[0].focus()


    </script>
{% endblock %}

