{% extends "scifi/scifi_base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'scifi:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'scifi:trans_list' %}">Transaction List</a></li>
        {% if object %}
            <li class="breadcrumb-item active" aria-current="page">Edit Transaction: {{ object }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">New Transaction</li>
        {% endif %}
    </ol>
</nav>

<div class="container">
    <h1>
        {% if object %}
            {{ object }}
        {% else %}
            New Transaction
        {% endif %}
    </h1>

    <form method="post" class="form">
        {% csrf_token %}
        <div class="btn-group">
            {% if object %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary" href="{% url 'scifi:trans_detail' object.id %}">Cancel</a>
            {% else %}
                <button type="submit" class="btn btn-primary">Add</button>
                <a class="btn btn-secondary" href="{% url 'scifi:trans_list' %}">Cancel</a>
            {% endif %}
        </div>
        <br>    <br>

        {% bootstrap_form form %}
        <div class="btn-group">
            {% if object %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary" href="{% url 'scifi:trans_detail' object.id %}">Cancel</a>
            {% else %}
                <button type="submit" class="btn btn-primary">Add</button>
                <a class="btn btn-secondary" href="{% url 'scifi:trans_list' %}">Cancel</a>
            {% endif %}
        </div>


    </form>

</div>

{% endblock content %}
