{% extends "scifi/scifi_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load nz %}
{% load verbose_names %}
{% load el_pagination_tags %}
{% block content %}


    <style>
        table, td, th {
            font-size: small;
        {#border: 1px solid black;#}
        }

        thead, th {
            font-weight: bold;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'scifi:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transactions</li>
        </ol>
    </nav>

    <div class="indent-med">

        <h1 class="big-header">Transactions </h1>


        <form class="form" action="." method="get">
            <div class="row">
                {% for field in filter.form %}
                    <div class="col">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>
                {% endfor %}
                <div class="col-2">
                    <br>
                    <input type="submit" value="Filter" class="btn btn btn-warning">
                    <a href="{% url 'scifi:trans_new' %}" class="btn btn-success">New</a><br>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-12">
                Total transactions = {{ object_list.count }}<br><br>
                {% paginate filter.qs as filter_list %}
                {% show_pages %} (ordered by requisition date)
                <table class="table table-sm table-hover table-bordered">
                    <thead>
                    <tr>
                        {% for field in field_list %}
                            <th scope="col" style="width: 100px">{% get_verbose_label my_object field %}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in filter_list %}
                        <tr>
                            {% for field in field_list %}
                                <td>
                                    {% if field == "obligation_cost" or field == "invoice_cost" or field == "amount_paid_in_mrs" %}
                                        {% get_field_value object field format="currency" %}
                                    {% elif field == "supplier_description" %}
                                        <a href="{% url 'scifi:trans_detail' object.id %}">{% get_field_value object field format="currency" %}</a>
                                    {% else %}
                                        {% get_field_value object field %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    <br>
                    </tbody>
                </table>
                {% show_pages %}
            </div>
        </div>


    </div>

{% endblock content %}
