{% extends "scifi/scifi_base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'scifi:index' %}">Home</a></li>
            {% if custom_transaction %}
                <li class="breadcrumb-item active" aria-current="page">New Expense</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'scifi:trans_list' %}">Transaction List</a></li>
                {% if object %}
                    <li class="breadcrumb-item active" aria-current="page">Edit Transaction: {{ object }}</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">New Transaction</li>
                {% endif %}
            {% endif %}
        </ol>
    </nav>

    <div class="container">
        <h1>
            {% if custom_transaction %}
                New Expense
            {% else %}
                {% if object %}
                    {{ object }}
                {% else %}
                    New Transaction
                {% endif %}
            {% endif %}
        </h1>

        <form method="post" class="form" style="width: 85%;">
            {% bootstrap_form_errors form %}
            {% csrf_token %}


            {% for field in form %}


                {% bootstrap_field field size='small' layout='horizontal' placeholder="" %}


            {% endfor %}

            <div class="btn-group">
                {% if object %}
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    <a class="btn btn-sm btn-secondary" href="{% url 'scifi:trans_detail' object.id %}">Cancel</a>
                {% else %}
                    <button id="submit" type="submit" class="btn btn-sm btn-success">Save & Next (Ctrl+A)</button>
                    <button id="submit_done" type="submit" class="btn btn-sm btn-primary">Save & Done (Ctrl+S)</button>
                    {% if custom_transaction %}
                        <a class="btn btn-secondary" href="{% url 'scifi:index' %}">Cancel</a>
                    {% else %}
                        <a class="btn btn-sm btn-secondary" href="{% url 'scifi:trans_list' %}">Cancel</a>
                    {% endif %}
                {% endif %}
            </div>
            <br>
            <br>


        </form>

    </div>
{% endblock content %}

{% block body_js %}
<script type="text/javascript">
    window.name = "motherWindow";

    var projectObj = {{project_json|safe}};

    $("input").keydown(function (event) {
        if (event.key == "Enter") {
            event.preventDefault()
        }
    });

    $("#id_fiscal_year_chosen .chosen-search-input").focus()

    $("#id_project").change(function(e) {
        updateDefaults()

        // Where to?
        if ($("#id_responsibility_center").val() == "") {
            $("#id_responsibility_center_chosen .chosen-search-input").focus();
        } else if ($("#id_business_line").val() == "") {
            $("#id_business_line_chosen .chosen-search-input").focus();
        } else if ($("#id_allotment_code").val() == "") {
            $("#id_allotment_code_chosen .chosen-search-input").focus();
        } else if ($("#id_line_object").val() == "") {
            $("#id_line_object_chosen .chosen-search-input").focus();
        } else {
            $("#id_supplier_description").focus();
        }
    });

    function updateDefaults() {
        projectId = $("#id_project").val()

        // RC
        if (projectObj[projectId]["rc"] != null && projectObj[projectId]["rc"] != "") {
            $("#id_responsibility_center").val(projectObj[projectId]["rc"]);
            $('#id_responsibility_center').trigger("chosen:updated");
        }
        // BL
        if (projectObj[projectId]["bl"] != null && projectObj[projectId]["bl"] != null) {
            $("#id_business_line").val(projectObj[projectId]["bl"]);
            $('#id_business_line').trigger("chosen:updated");
        }
        // AC
        if (projectObj[projectId]["ac"] != null && projectObj[projectId]["ac"] != null) {
            $("#id_allotment_code").val(projectObj[projectId]["ac"]);
            $('#id_allotment_code').trigger("chosen:updated");
        }
        // LO
        if (projectObj[projectId]["lo"] != null && projectObj[projectId]["lo"] != null) {
            $("#id_line_object").val(projectObj[projectId]["lo"]);
            $('#id_line_object').trigger("chosen:updated");
        }
    }

</script>
{% endblock body_js %}