{% load static %}

body {
    background-image: url("{% static 'img/whalesdb/whale-background.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.card, .jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
}
