

<div class="col">
  <div class="card pointy" style="width: 18rem;" data-toggle="modal" data-target="#lines">
    <div class="card-body text-center">
      <h5 class="card-title"> Lines Deployed ({{ object.lines.count }})</h5>
      <span class="mdi mdi-currency-eth h1"></span>
    </div>
  </div>
</div>

<div class="modal fade" id="lines" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Lines Deployed </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if not object.lines.exists %}
          <em>No lines have been added to this sample.</em>
        {% else %}
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>Tag</th>
              <th>Coordinates</th>
              <th class="text-center">No. surfaces</th>
              <th class="text-center">Species count</th>
              <th class="text-center">Has invasive species?</th>
              <th class="text-center">Was lost?</th>
            </tr>
            </thead>
            <tbody>
            {% for l in object.lines.all %}
              <tr href="{% url 'grais:line_detail' l.id %}">
                <td>{{ forloop.counter }}</td>
                <td>{{ l.collector }}</td>
                <td>{{ l.coordinates }}</td>
                <td class="text-center">{{ l.surfaces.count }}</td>
                <td class="text-center">{{ l.surface_species_count }}</td>
                <td class="text-center">{{ l.has_invasive_spp|yesno }}</td>
                <td class="text-center {% if l.is_lost %}red-font{% endif %}">{{ l.is_lost|yesno }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endif %}

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href=""> New Line </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
