.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D4D4D4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 60px;
}

.sidebar .closebtn {
  position: absolute;
  top: 60px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  colour: black;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #FFF;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

table, td, th {
    font-size: small;
}

#filter-form {
    font-size: small;
    width: 100%;
}
select,option{
    font-size: x-small;
}

label {
    font-weight: bold;
}