{% load i18n %}
{% load verbose_names %}
{% load custom_filters %}

<div class="pointy mb-5" @click="collapseOverview = !collapseOverview">
  <h4 id="overview">
    {% trans "Project Overview" %}
    <span v-if="!collapseOverview" class="ml-1 mdi mdi-toggle-switch-off text-primary"></span>
    <span v-else class="ml-1 mdi mdi-toggle-switch"></span>
  </h4>
</div>
<div v-if="!collapseOverview">
  <div v-if="canModify" class="mb-3">
    <button class="btn btn-sm btn-warning no-print" @click="goProjectEdit(project.id)">
      <span class="mdi mdi-pencil"></span> {% trans "Edit" %}
    </button>
  </div>

  {% trans "<span class='red-font'>missing</span>" as nulltext %}
  <table class="table table-sm mb-5">
    {% for field in project_field_list %}
      {% if "overview" in field %}
        <tr>
          <th>{% get_verbose_label object field %}</th>
          <td>
            {{ object.overview_html|nz:nulltext }}
          </td>
        </tr>
      {% elif "references" in field %}
        <tr>
          <th>
            {% get_verbose_label object field %}
            (<a href="{% url 'ppt:project_references' object.id %}">{% trans "manage" %}</a>)
          </th>
          <td>
            {% if object.references.exists %}
              <ul>
                {% for ref in object.references.all %}
                  <li>{{ ref.short_citation_html|safe }}</li>
                {% endfor %}
              </ul>
            {% else %}
              ---
            {% endif %}
          </td>
        </tr>

      {% elif "csrf_theme" in field %}
        <tr>
          <th>{% get_verbose_label object field %}</th>
          <td>
            {% if object.client_information %}
              {{ object.client_information.csrf_priority.csrf_sub_theme.csrf_theme }}
            {% else %}
              ---
            {% endif %}
          </td>
        </tr>
      {% elif "csrf_sub_theme" in field %}
        <tr>
          <th>{% get_verbose_label object field %}</th>
          <td>
            {% if object.client_information %}
              {{ object.client_information.csrf_priority.csrf_sub_theme }}
            {% else %}
              ---
            {% endif %}
          </td>
        </tr>
      {% elif "csrf_priority" in field %}
        <tr>
          <th>{% get_verbose_label object field %}</th>
          <td>
            {% if object.client_information %}
              {{ object.client_information.csrf_priority }} ({{ object.client_information.csrf_priority.code }})
            {% else %}
              ---
            {% endif %}
          </td>
        </tr>
      {% elif "csas" in field %}
        <tr>
          <th>{% trans "Linkages to CSAS Processes" %}</th>
          <td>
            {% if object.csas_processes.exists %}
              {% for obj in object.csas_processes.all %}
                <div>
                  <a href="{% url 'csas2:process_detail' obj.id %}">{{ obj.tname }} ({{ obj.id }})</a>
                </div>
              {% endfor %}
            {% else %}
              <em>{% trans "There are no CSAS processes attached to this project." %}</em>
            {% endif %}
          </td>
        </tr>

      {% elif "dmas" in field %}
        <tr>
          <th>
            {% url 'inventory:dma_list' as dma_list %}
            {% blocktrans %}
              Data management agreements (link to <a href="{{ dma_list }}" target="_blank">Science Data Inventory</a>)
            {% endblocktrans %}
          </th>
          <td>
            {% if object.dmas.exists %}
              {% for obj in object.dmas.all %}
                <div>
                  <a href="{% url 'inventory:dma_detail' obj.id %}" target="_blank">
                    <span class="mdi mdi-arrow-top-right text-primary"></span> {{ obj.title }}
                  </a>
                </div>
              {% endfor %}
            {% else %}
              <em>{% trans "There are no data management agreements attached to this project." %}</em>
            {% endif %}
          </td>
        </tr>

      {% else %}
        {% verbose_td_display object field th_width="30%" td_width="70%" nullmark=nulltext %}
      {% endif %}
    {% endfor %}
  </table>
</div>