{% load project_filters %}

{% if "dates" in field %}
  <td v-html='projectYear.dates'></td>
{% elif "metadata" in field %}
  <td v-html='projectYear.metadata'></td>
{% elif "allocated_budget" in field %}
  <td v-html='projectYear.allocated_budget'></td>
{% elif "allocated_salary" in field %}
  <td v-html='projectYear.allocated_salary'></td>
{% elif "allocated_capital" in field %}
  <td v-html='projectYear.allocated_capital'></td>
{% elif "it_needs" in field %}
  <td v-html='projectYear.it_needs'></td>
{% elif "codes" in field %}
  <td v-html='projectYear.project_codes'></td>
{% elif "total_score" in field %}
  <td>
    ${ projectYear.review_score_percentage } (${ projectYear.review_score_fraction })
  </td>
{% elif "status" in field %}
  <td v-html='projectYear.formatted_status'></td>

{% elif "services" in field %}
  <td v-html='projectYear.services'></td>

{% elif field|is_markdown_field %}
  <td v-html='projectYear.{{ field }}_html'></td>

{% elif  "requires_" in field or "has_" in field or "eligible" in field %}
  <td>${ projectYear.{{ field|strip_label }} | yesNo }</td>

{% else %}
  <td v-html='projectYear.{{ field }}'></td>
{% endif %}