{% extends "shared_models/generic_formset.html" %}
{% load static %}
{% load i18n %}

{% block bug_create %}
    {% url 'tickets:bug_create' 'csas' %}
{% endblock bug_create %}

{% block title %}
    {{ title }}
    {% block subtitle %} - {{ subtitle }}{% endblock %}
{% endblock title %}

{% block delete_link %}
  {% if delete_url_name %}
  <td>
    <a class="delete-btn red-font" href="#" delete_url="{% url delete_url_name key form.instance.id %}"
       object-name="{{ form.instance }}">
      ({% trans "delete" %})
    </a>
  </td>
  {% endif %}
{% endblock delete_link %}

{% block header %}
    {{ block.super }}
<style>
    {% include "csas/csas_css.css" %}

    .container-fluid, .container {
        border-radius: 25px;
        margin-top: 15px;
        padding: 15px;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: small;
    }

    .label {
        font-weight: bold;
    }

    table, td {
        font-size: small;
    }
    .btn-std {
      width: 300px;
  }

</style>
{% endblock %}

{% block subcontent %}
    <div class="container">
        <input id="show-active" class="form-check-input" type="checkbox" name="show-active" checked="">
        <label class="form-check-label" for="show-active">Show Active</label>
    </div>
    {{ block.super}}
{% endblock %}

{% block body %}
    {{ block.super }}
{% endblock body %}

{% block left_auth %}
    {% include "csas/csas_nav.html" %}
{% endblock left_auth %}

{% block body_js %}
  <script type="application/javascript">
    function set_is_active_visible() {
        $( "input.form-check-input" ).each(function( index ) {
            var elem = $( this );

            // if the show only active checkbox is checked add the d-none class to the table row
            // that this 'is_active' checkbox belongs in to hide it. If the show-active checkbox is not checked
            // make sure to remove the d-none element that hides the row from all elements

            if( elem.attr('id').endsWith('is_active') && !elem.attr('checked')) {
                var trow = elem.parent().parent().parent().parent();
                if($("#show-active").is(':checked') ){
                    trow.addClass('d-none');
                } else {
                    trow.removeClass('d-none');
                }
            }
        });
    }

    $(document).ready(function () {
        set_is_active_visible();
    });

    $( "#show-active" ).change(function () {
        set_is_active_visible();
    });
  </script>
    {{ block.super }}
{% endblock %}