{% extends "grais/grais_base.html" %}
{% load bootstrap4 %}

{% block content %}


<div class="nav-map">
  <br>
  {% if object.id %}
    <p>
      <a href="{% url 'grais:sample_list' %}">All samples</a> >
      <a href="{% url 'grais:sample_detail' object.sample.id %}"> {{object.sample}}</a> >
      <a href="{% url 'grais:probe_measurement_detail' object.id %}">Probe measurement {{object.id}}</a> >
      Edit
    </p>
  {% else %}
    <p>
      <a href="{% url 'grais:sample_list' %}">All samples</a> >
      <a href="{% url 'grais:sample_detail' view.kwargs.sample %}">Sample {{view.kwargs.sample}}</a> >
      New probe measurement
    </p>
  {% endif %}<br>

</div>
<div class="container">


    {% if object.id %}

    {% else %}
      <h1>NEW MEASUREMENT</h1>
    {% endif %}


  <form method="post" class="form">
      {% csrf_token %}

      {% include "grais/_probe_measurement_form.html" %}

      {% buttons %}
          <button type="submit" class="btn btn-success">Submit</button>
          {% if object %}
          <a class="btn btn-secondary" href="{% url 'grais:sample_detail' object.sample.id %}">Cancel</a>
              {% else %}

          <a class="btn btn-secondary" href="{% url 'grais:sample_detail' view.kwargs.sample %}">Cancel</a>
          {% endif %}
      {% endbuttons %}
  </form>
</div>



{% endblock content %}
