{% extends "bugs/bugs_base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<div class="nav-map">
  <br>
  <a href="{% url 'bugs:bug_list' %}">All bugs</a> >
  Bug {{object.id}}
</div>

<div class="container">
  <h1>{{object.subject}}</h1>

  <a href="{% url 'bugs:bug_edit'  object.id %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'bugs:bug_delete'  object.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'bugs:resolve_bug'  object.id %}" class="btn btn-success">Resolve</a>
<br><br>
<p><b>
  Username:
</b><br>
  {{object.user}}
</p>

<p><b>
  Date created:
</b><br>
{{object.date_created|date:"F d Y"}}
</p>

<p><b>
  Importance:
</b><br>
{{object.get_importance_display}}
</p>

<p><b>
  Subject:
</b><br>
{{object.subject}}
</p>

<p><b>
  Detail:
</b><br>
{{object.detail}}
</p>

<p><b>
  Date resolved:
</b><br>
{{object.date_resolved|date:"F d Y"}}
</p>


</div>

{%endblock%}
