<h1>Bug details: </h1>

<table>
  <tr>
    <td><b>Application:</b></td>
    <td>  {{app_name}}</td>
  </tr>
  <tr>
    <td><b>Created by:</b></td>
    <td>  {{object.user}}</td>
  </tr>
  <tr>
    <td><b>Date created:</b></td>
    <td>{{object.date_created|date:"F d Y"}}</td>
  </tr>
  <tr>
    <td><b>Importance:</b></td>
    <td>{{object.get_importance_display}}</td>
  </tr>
  <tr>
    <td><b>Subject:</b></td>
    <td>{{object.subject}}</td>
  </tr>
  <tr>
    <td><b>Details:</b></td>
    <td>{{object.detail}}</td>
  </tr>
</table>
