{% load i18n %}
{% load static %}
{% load verbose_names %}
{% load custom_filters %}
{% load travel_tags %}
{% load travel_filters %}
{#  BASIC DETAIL #}

<div class="card mb-2">
  <h3 class="card-header bg-outline-dark">
    {% trans "Request Summary" %}
    <span class="mdi mdi-help-circle-outline" data-toggle="popover"
          data-trigger="hover"
          title="{% trans "Request Summary" %}"
          data-content="{{ help_text_dict.trip_request_header }}"></span>
  </h3>
  <div class="card-body">
    <div class="card-text">
      <div v-if="loading_request" class="loading mb-3 mt-3 text-center mt-5">
        <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <div v-else>
        <div class="mb-3 card admin-notes" v-if="request.admin_notes_html && !showAdminNotesForm">
          <div class="card-header">{% trans "Administrative Notes" %}</div>
          <div class="card-body">
            <p class="card-text" v-html="request.admin_notes_html"></p>
          </div>
        </div>
        <table class="table table-sm mb-5" style="width: auto">
          {% get_request_field_list tr=trip_request as request_field_list %}
          {% for field in request_field_list %}
            <tr>
              <th style="width: 25%">
                {% get_verbose_label trip_request field %}
              </th>
              {% if  field == 'trip' %}
                <td v-html="request.trip.display"></td>
              {% elif "|" in field %}
                {% if "status" in field %}
                  <td>
                    <span :class="request.status_class + ' px-1 py-1'">${request.status_display}</span>
                  </td>
                {% else %}
                  {% if "cost" in field or "CAD" in field %}
                    <td>${request.{{ field|get_attr }} | floatformat}</td>
                  {% else %}
                    <td v-html="request.{{ field|get_attr }}"></td>
                  {% endif %}
                {% endif %}
              {% else %}
                <td v-html="request.{{ field }}"></td>
              {% endif %}
            </tr>
          {% endfor %}

          <tbody>
        </table>

        {# ATTACHMENTS #}
        <div class="mb-5" style="width: 50%">
          <div class="float-right mb-3" v-if="canModify && !isReview">
            <button class="btn btn-sm btn-primary py-0 px-1">
              <span class="mdi mdi-plus text-light"></span> {% trans "Add attachement" %}
            </button>
          </div>
          <p class="h5">
            {% trans "Attachments" %}
            <span class="mdi mdi-information-outline" data-toggle="popover" data-trigger="hover" title="{% trans "File Attachments" %}"
                  data-content="{{ help_text_dict|lookup:"files_header" }}"></span>
          </p>
          <table class="table table-bordered table-sm" v-if="request.files.length">
            <tr>
              <th>${fileLabels.name}</th>
              <th>${fileLabels.date_created}</th>
              <th class="center-col">${fileLabels.file}</th>
            </tr>
            <tbody>
            <tr v-for="file in request.files" :key="file.id">
              <td>${ file.name }</td>
              <td>${ file.date_created }</td>
              <td class="center-col">
                <a data-toggle="tooltip" title="{% trans "Open the file" %}" :href="`/travel-plans/download/file/${file.id}/`">
                  <span class="h5 mdi mdi-attachment text-primary"></span>
                </a>
              </td>
              <td v-if="canModify && !isReview" style="width:75px">
                <button class="btn btn-sm btn-warning py-0 px-1" data-toggle="tooltip" title="{% trans "Edit" %}">
                  <span class="mdi mdi-pencil text-dark"></span>
                </button>
                <button class="btn btn-sm btn-danger py-0 px-1" data-toggle="tooltip" title="{% trans "Delete" %}">
                  <span class="mdi mdi-delete text-light"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div v-else>
            <em> {% trans "No files have been attached to this request" %}... </em>
          </div>
        </div>

        {# Reviewers #}
        <div class="float-right mb-3" v-if="canModify && !isReview && !reviewerEditMode">
          <button @click="reviewerEditMode=true" class="btn btn-sm btn-primary py-0 px-1">
            <span class="mdi mdi-plus text-light"></span> {% trans "Modify" %}
          </button>
        </div>
        <p class="h5">
          {% trans "Approval Queue" %}
          <span class="mdi mdi-information-outline" data-toggle="popover" data-trigger="hover" title="{% trans "Request Reviewers" %}"
                data-content="{{ help_text_dict|lookup:"reviewers_header" }}"></span>
        </p>
        <div class="mb-5">
          <div v-if="request.reviewer_order_message" class="alert alert-danger py-1" role="alert" style="width: 80%">
            <p class="mb-0">
              <span class="h5 mdi mdi-alert-decagram-outline mr-3"></span>
              <span class="h6">${request.reviewer_order_message}</span>
            </p>
          </div>

          <table class="table table-bordered table-sm" v-if="request.reviewers.length && !reviewerEditMode">
            <thead>
            <th>${ reviewerLabels.user}</th>
            <th>${ reviewerLabels.role}</th>
            <th>${ reviewerLabels.status}</th>
            <th>${ reviewerLabels.status_date}</th>
            <th>${ reviewerLabels.comments}</th>
            </thead>
            <tbody>
            <tr v-for="item in request.reviewers" :key="item.id">
              <td>${item.user_display }</td>
              <td>${item.role_display }</td>
              <td :class="item.status_class">${item.status_display }</td>
              <td>${item.status_date |nz }</td>
              <td v-html="item.comments_html"></td>
              <td v-if="isAdmin && item.status === 1 && (item.role !== 5 && item.role !== 6)" style="width: 75px">
                <button
                  @click="skipReviewer(item)"
                  class="btn btn-sm btn-danger py-0 px-1" data-toggle="tooltip" title="{% trans "Skip" %}">
                  <span class="mdi mdi-skip-forward text-light"></span> {% trans "Skip" %}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div v-else-if="reviewerEditMode">
            <table class="table table-bordered table-sm">
              <thead>
              <th style="width: 125px">${ reviewerLabels.order}</th>
              <th>${ reviewerLabels.user}</th>
              <th>${ reviewerLabels.role}</th>
              <th>${ reviewerLabels.status}</th>
              </thead>
              <tbody>
              <tr v-for="(item, index) in editableReviewers" :key="item.id">
                <td>
                  <button v-if="index!==0" @click="moveReviewer(item, 'up')"><span class="mdi mdi-arrow-up-bold-circle-outline h5"></span></button>
                  <button v-if="index!==request.reviewers.length-1" @click="moveReviewer(item, 'down')"><span
                    class="mdi mdi-arrow-down-bold-circle-outline h5"></span></button>
                <td>
                  <v-select
                    style="width: 100%"
                    v-model="item.user"
                    id="id_user"
                    @input="updateReviewer(item)"
                    :options="dmAppsUsers"
                    label='full_name'
                    :reduce="full_name => full_name.id"
                    :clearable="false"
                    placeholder="{% trans "Start typing to search for a user" %}"
                  >
                  </v-select>
                </td>
                <td>
                  <select v-model="item.role" class="form-control form-control-sm" @change="updateReviewer(item)">
                    <option v-for="(obj, index) in roleChoices" :value="obj.value">${obj.text}</option>
                  </select>
                </td>
                <td :class="item.status_class">${item.status_display}</td>
                <td v-if="canModify && !isReview" style="width:75px">
                  <button
                    @click="deleteReviewer(item)"
                    class="btn btn-sm btn-danger py-0 px-1" data-toggle="tooltip" title="{% trans "Delete" %}">
                    <span class="mdi mdi-delete text-light"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div v-if="errorMsgReviewer" class="alert alert-danger py-1 mt-3" role="alert" style="width: 80%">
              <p class="mb-0">
                <span class="h5 mdi mdi-alert-decagram-outline mr-3"></span>
                <span class="h6">${errorMsgReviewer}</span>
              </p>
            </div>
            <div class="mt-3">
              <div class="float-right">
                <button @click="addReviewer" class="btn btn-sm btn-success text-light">
                  <span class="mdi mdi-plus text-light"></span>{% trans "Add reviewer" %}</button>
                <button v-if="!request.submitted" @click="goRequestReviewerReset" class="btn btn-sm btn-warning" id="reset-btn">
                  <span class="mdi mdi-redo-variant"></span>                  {% trans "Reset" %}
                </button>
              </div>
              <button @click="closeReviewerForm" class="btn btn-sm btn-primary text-light">{% trans "Done" %}</button>
            </div>
          </div>

          <div v-else>
            <em>{% trans "No reviewers, recommenders or approvers have been added to this request." %}</em>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
