{% load i18n %}
{% load static %}
{% load verbose_names %}
{% load custom_filters %}
{% load travel_tags %}
{% load travel_filters %}
{#  BASIC DETAIL #}

<div class="card mb-2">
  <h3 class="card-header bg-outline-dark">
    {% trans "Request Summary" %}
    <div class="neighbours">
      {% with help_text_dict|lookup:"trip_request_header" as help_text %}
        <img src="{% static 'img/icons/information.png' %}" style="width: 30px" data-toggle="popover"
             data-trigger="hover"
             title="{% trans "Request Summary" %}"
             data-content="{{ help_text }}">
      {% endwith %}
    </div>
  </h3>
  <div class="card-body">
    <div class="card-text">
      <div v-if="loading_request" class="loading mb-3 mt-3 text-center mt-5">
        <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <div v-else>
        <div class="mb-3 card admin-notes" v-if="request.admin_notes_html">
          <div class="card-header">{% trans "Administrative Notes" %}</div>
          <div class="card-body">
            <p class="card-text" v-html="request.admin_notes_html"></p>
          </div>
        </div>
        <table class="table table-sm" style="width: auto">
          {% get_request_field_list tr=trip_request as request_field_list %}
          {% for field in request_field_list %}
            <tr>
              <th style="width: 25%">
                {% get_verbose_label trip_request field %}
              </th>
              {% if  field == 'trip' %}
                <td v-html="request.trip.display"></td>
              {% elif "|" in field %}
                {% if "status" in field %}
                  <td>
                    <span :class="request.status_class + ' px-1 py-1'">${request.status_display}</span>
                  </td>
                {% else %}
                  {% if "cost" in field or "CAD" in field %}
                    <td>${request.{{ field|get_attr }} | floatformat}</td>
                  {% else %}
                    <td v-html="request.{{ field|get_attr }}"></td>
                  {% endif %}
                {% endif %}
              {% else %}
                <td v-html="request.{{ field }}"></td>
              {% endif %}
            </tr>
          {% endfor %}

          <tbody>
        </table>
      </div>


    </div>
  </div>
</div>