{% extends "shared_models/generic_base.html" %}

{% block bug_create %}
  {% include "cruises/base/_bug_url.html" %}
{% endblock bug_create %}

{% block title %}
  {% include "cruises/base/_app_title.html" %}
  {% block subtitle %} - {{ subtitle }}{% endblock %}
{% endblock title %}

{% block header %}
  {{ block.super }}
  {% include "cruises/base/_style.html" %}
{% endblock %}

{% block body %}
  {{ block.super }}
{% endblock body %}

{% block left_auth %}
  {% include "cruises/base/_nav_left_auth.html" %}
{% endblock left_auth %}

{% block body_js %}
  <script type="application/javascript">
  let greenIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
  });
  let redIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
  });
  </script>

{% endblock %}