{% extends "cruises/base.html" %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block subcontent %}

  {% localize off %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  {% endlocalize %}
  <style>
  #map {
      height: 400px; /* The height is 400 pixels */
      width: 100%; /* The width is the width of the web page */
  }
  </style>


  <div class="btns mb-5">
    <a href="{% url "cruises:cruise_edit" object.id %}" class="btn btn-warning">{% trans "Edit" %}</a>
    <a href="{% url "cruises:cruise_delete" object.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
    <a href="{% url "cruises:cruise_clone" object.id %}" class="btn btn-dark">{% trans "Clone" %}</a>
    <a href="{% url "cruises:instrument_new" object.id %}" class="btn btn-primary">Add an Instrument</a>
    <a href="#" pop-href="{% url "cruises:file_new" object.id %}" class="btn btn-primary">Add a File</a>
  </div>
  {% localize off %}
    <div id="map">
    </div>
  {% endlocalize %}
  <table class="table table-sm table-striped">
    {% for field in field_list %}
      {% if field == "description" or field == "purpose" or field == "samplers" or field == "notes" or field == "research_projects_programs" or field == "references" %}
        <tr>
          <th>{% get_verbose_label object field %}</th>
          <td>{% get_field_value object field to_html=True nullmark="" %}</td>
        </tr>
      {% else %}
        {% verbose_td_display instance=object field_name=field date_format="%d-%b-%Y" %}
      {% endif %}

    {% endfor %}


    {# instruments #}
    <tr>
      <th>
        Instruments:
      </th>
      <td>
        <ul>
          {% for instrument in object.instruments.all %}
            <li>
              <a href="{% url 'cruises:instrument_detail' instrument.id %}">
                {{ instrument }}
              </a>
            </li>
          {% empty %}
            <span class="">  <em>There are no instruments attached to this cruise.</em></span>
          {% endfor %}
        </ul>
      </td>
    </tr>


    {# files #}
    <tr>
      <th>
        Associated Files:
      </th>
      <td>
        <ul>
          {% for file in object.files.all %}
            <li>
              <a href="{{ file.file.url }}">{{ file.caption }}</a> (uploaded
              on: {{ file.date_created|date:"F d Y" }})
              &nbsp;
              &nbsp;
              <a href="#" pop-href="{% url 'cruises:file_edit' file.id %}">
                <span class="mdi mdi-pencil" style="font-size: large"></span>
              </a>
              <a href="#" pop-href="{% url 'cruises:file_delete' file.id %}">
                <span class="mdi mdi-delete" style="font-size: large"></span>
              </a>

            </li>
          {% empty %}
            <span class="">  <em>There are no files attached to this cruise.</em></span>
          {% endfor %}
        </ul>
      </td>
    </tr>


  </table>


{% endblock %}


{% block body_js %}


  {% localize off %}
    {{ block.super }}
    <script type="application/javascript">
    let points = {{ track_list | safe }};
    </script>

    <script type="application/javascript">

    function initialize() {
      map = new L.Map("map", {
        center: new L.LatLng(46, -64),
        zoom: 8,
      });

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map)

      L.marker(points[0], {icon: greenIcon}).addTo(map).bindPopup("<b>{% trans "Start" %}</b>");
      L.marker(points[points.length - 1], {icon: redIcon}).addTo(map).bindPopup("<b>{% trans "End" %}</b>");
      L.polyline([points], {
        color: 'black',
        dashArray: '3',
        weight: 1,
      }).addTo(map);

      map.fitBounds(points);
    }

    $(document).ready(function () {
      // Stuff to do as soon as the DOM is ready
      initialize()

    });
    </script>
  {% endlocalize %}

{% endblock %}