{% extends "cruises/cruises_base.html" %}
{% load bootstrap4 %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'cruises:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'cruises:mission_list' %}">Cruise List</a></li>
            {% if object %}
                <li class="breadcrumb-item"><a href="{% url 'cruises:mission_detail' object.mission.id %}">{{ object.mission }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>

            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'cruises:mission_detail' mission.id %}">{{ mission }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">New File</li>
            {% endif %}
        </ol>
    </nav>

    <div class="container">
        {% if object.id %}
            <h1>{{ object.caption }}</h1>
        {% else %}
            <h1>New File</h1>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="btn-group">

                {% if editable %}
                    <input type="submit" class="btn btn-primary" value="Submit">
                {% else %}
                    <a href="{% url "cruises:file_edit" object.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url "cruises:file_delete" object.id %}" class="btn btn-danger">Delete</a>

                {% endif %}
            </div>
            <br><br>

            <fieldset {% if not editable %}disabled   {% endif %}>
                {% bootstrap_form form %}
            </fieldset>

        </form>
        <br>

    </div>

{% endblock content %}
