{% extends "cruises/base.html" %}
{% load static %}
{% load i18n %}


{% block title_area %}{% endblock %}

{% block crumbs %}{% endblock %}

{% block subcontent %}




  <div class="row">
    <div class="col-7">
      <div class="mb-2">
        <img src="{% static 'img/icons/boat.svg' %}" alt="bad img!!" class="text-center" height="200">
      </div>
      <h1 style="font-size: 50px">
        {% trans "Welcome to DFO Cruises!" %}
      </h1>
    </div>
    <div class="col">
      <div class="mt-3 btn-group-vertical btn-std">
        <a href="{% url 'cruises:cruise_list' %}" class="btn btn-primary btn-lg">List all Cruises</a>
        <a href="{% url 'cruises:cruise_new' %}" class="btn btn-success btn-lg">Enter a New Cruise</a>
      </div>
    </div>
  </div>





{% endblock %}
