{% extends "fisheriescape/base.html" %}
{% load static %}
{% load verbose_names %}

{% block subcontent %}

    <div class="mb-4">
        <div class="btn-group">
{#            <a class="btn btn-warning" href="{% url 'fisheriescape:fishery_area_edit' object.id %}">Edit</a>#}
{#            <a class="btn btn-danger" href="{% url 'fisheriescape:fishery_area_delete' object.id %}">Delete</a>#}
            <a class="btn btn-dark" href="{{ request.META.HTTP_REFERER }}" >Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <table class="table table-sm table-striped">
            {% for field in field_list %}
               {% verbose_td_display object field %}
            {% endfor %}
            </table>
        </div>

    </div>
    <br>
    <br>

     <div class="col-12">
            {% include "fisheriescape/_fishery.html" %}
     </div>

{% endblock %}
