{% extends "fisheriescape/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block content %}


    <style>
        body{
            background-image: url({% static "/img/fisheriescape/whale_background.jpg" %});
            background-size: cover;
        }

        h1 {
            text-align: center;
            color: #0824de;
            font-family: 'Acme', sans-serif;
        }

        h2 {
            text-align: center;
            font-family: 'Acme', sans-serif;
        }

        .card {
            text-align: center;
            width: 350px;
            cursor: pointer;
        {#background-color: #eeeeee;#} box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            margin: 10px;
            height: 95%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .card-title {
            height: 30px;
        }

        .card-img {
            height: 170px;
        }

        .card-btns {
            padding-bottom: 30px;

        }

        .card-body {
            padding-bottom: 0px;

        }

        .card-img-top {
            padding: 30px;

        }

        .card-text {
            height: 5px;
        }

        .big {
            font-size: 7em;
            font-weight: bold;
        }

        .my-btn {
            margin-top: 5px;
            width: 65%
        }

        .jumbotron {
            {#background-color: rgba(255, 255, 255, 1);#}
            background-color: transparent;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .container {
            border-radius: 25px;
            margin-top: 15px;
            padding: 15px;
            {#background-color: transparent;#}
            {#font-size: small;#}
        }

    </style>

    <div class="container">
        <div class="jumbotron my-auto">
            <div style="text-align: center">
                <h1 class="h1 d-inline-block" style="font-size: 55px">Fisheries Landscape Tool</h1>
                <span class="badge badge-danger">in development</span>
            </div>
        </div>
    </div>


 <div class="container">

  <div class="jumbotron py-3 mx-0">

    {# Warnings #}
    <div class="mb-3">
      {% autoescape off %}
        {% bootstrap_messages size='small' %}
      {% endautoescape %}
    </div>

    <div class="mb-3 text" style="font-size: 16px;">
      <p>
        {% blocktrans %}
            <div style="text-align: center">
                <h3>Welcome to the Fisheries Landscape Tool</h3>
                <div style="font-size: 12px"><i>This tool is under development, but feel free to explore the database below.</i></div><br><br>
            </div>
            <div>
                <b>Fishery General Info</b> includes a variety of views you can use to search for fisheries information.
                <ul>
                    <li><b>Fishery </b> is a database of fisheries with their areas, dates, gear types, and marine mammal potential interactions.</li>
                    <li><b>Fishery Area</b> is a list of all the fishery areas and their maps.</li>
                    <li><b>NAFO Area</b> is a list of all the NAFO areas and their maps.</li>

                </ul>
                <b>Fisheriescape</b> includes a variety of views to visualize fisheriescape score results.
                <ul>
                    <li><b>Score Map</b> displays a map based on search criteria.</li>
                </ul>
            </div>
        {% endblocktrans %}
      </p>
    </div>
  </div>
 </div>

<!--Card container-->

<div class="container">

<!--    Tables Card-->

    <div class="row">
        <div class="col-sm">
            <div class="card border border-dark">
                <div class="card-header">
                    <h2>{% trans 'Fishery General Info' %}</h2>
                </div>
                <div class="card-img">
                    <img class="mh-80" src="{% static 'img/fisheriescape/fishery_search.jpg' %}" alt="Card image" style="width: 80%; height: 120%">
                </div>
                <div class="card-body">
                    <div class="btns">
                        <div><h5>Search by:</h5></div>
                        <a href="{% url 'fisheriescape:fishery_list' %}" class="btn my-btn btn btn-primary">Fishery</a>
                        <a href="{% url 'fisheriescape:fishery_area_list' %}" class="btn my-btn btn btn-primary">Fishery Area</a>
                        <a href="{% url 'fisheriescape:nafo_area_list' %}" class="btn my-btn btn btn-primary">NAFO Area</a>
{#                        <a href="{% url 'fisheriescape:map_view' %}" class="btn my-btn btn btn-primary">MAP</a>#}

                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card border border-dark">
                <div class="card-header">
                    <h2>{% trans 'Fisheriescape' %}</h2>
                </div>
                <div class="card-img">
                    <img class="mh-80" src="{% static 'img/fisheriescape/analyses_search.jpg' %}" alt="Card image" style="width: 80%; height: 120%">
                </div>
                <div class="card-body">
                    <div class="btns">
                        <div><h5>Search by:</h5></div>
{#                        <a href="{% url 'fisheriescape:analyses_filter' %}" class="btn my-btn btn btn-primary">Analysis Search</a>#}
{#                        <a href="{% url 'fisheriescape:score_filter' %}" class="btn my-btn btn btn-primary">Score Search</a>#}
                        <a href="{% url 'fisheriescape:score_map' %}" class="btn my-btn btn btn-primary">Score Map</a>

                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-sm">
{#            eventual 3rd card space#}
        </div>

    </div>
</div>

{% endblock %}
