{% extends 'fisheriescape/base.html' %}
{% load verbose_names %}
{% load i18n %}
{% load custom_filters %}
{% load static %}

{% block title_area %}
{% endblock %}

{% block crumbs %}
{% endblock %}


{% block content %}
    <div id="app" v-cloak>
        <div id="mySidebar" :class="(showSidebar) ? 'sidebar-opened':'sidebar-closed'">
            {% include "fisheriescape/_console.html" %}
        </div>
        <div :class="(showSidebar) ? 'main-opened':'main-closed'">

            <div class="container-fluid bg-light curvy">
                <div class="row">
                    <div class="col">
                        <h5>
                            {% trans "Map" %}
                        </h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-auto">
                        <div v-if="dataReady" id="maptest">
                            <div>Choose filters on the left menu to display the map.</div>
                        </div>
                        <div v-else class="loading mb-3 mt-3 text-center mt-5">
                            <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
                                <span class="sr-only"></span>
                            </div>
                            <h5>Waiting for database query to finish</h5>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}


{% block body_js %}
    {{ block.super }}

    <script type="application/javascript">
        const lobsterAreas = {{ lobster_areas | safe }};
        const SnowCrabAreas = {{ snow_crab_areas | safe }};
        const HerringAreas = {{ herring_areas | safe }};
        const GroundfishAreas = {{ groundfish_areas | safe }};
        const NAFOAreas = {{ nafo_areas | safe }};
        const NAFOSubAreas = {{ nafo_sub_areas | safe }};

        const areaOverlaysRawData = [lobsterAreas, SnowCrabAreas, HerringAreas, GroundfishAreas, NAFOAreas, NAFOSubAreas];

        var app = new Vue({
            el: '#app',
            delimiters: ["${", "}"],
            data: {
                showSidebar: true,
                features: [],
                vulnerableSpeciesSpots: [],
                count: 0,

                projects_loading: false,
                help_text: true,
                dataReady: true,
                scale: [],

                // filters
                filter: {
                    week: "",
                    species: "",
                    vulnerableSpecies: []
                },

                // lists for filters
                speciesList: [],
                weekList: [],
                vulnerableSpeciesList: [],
                pointList: ["point1", "point2"],

                // map
                center: [37.7749, -122.4194],
                bounds: [],
            },
            methods: {

                search() {
                    this.getFeatures();
                },
                searchVulnerableSpeciesSpots() {
                    this.getVulnerableSpecies();
                },
                buildScale(maxValue) {
                    const stepsCount = 10;
                    let stepsSize;
                    if (maxValue > 9) {
                        stepsSize = Math.floor((Math.floor(maxValue) / stepsCount));

                    } else {
                        stepsSize = (maxValue / stepsCount);
                    }
                    const scale = [];
                    for (let i = 0; i < stepsCount; i++) {
                        scale.push(parseFloat((i * stepsSize).toFixed(2)));
                    }

                    return scale;
                },
                getFeatures() {
                    this.projects_loading = true;
                    let featuresEndpoint = "/api/fisheriescape/scores-feature/?";

                    if (this.filter.species) featuresEndpoint += `species=${this.filter.species}&`;
                    if (this.filter.week) featuresEndpoint += `week=${this.filter.week}&`;
                    this.features = [];
                    apiService(featuresEndpoint)
                        .then(response => {
                            this.projects_loading = false;
                            this.dataReady = true;
                            this.features = response;
                            if (response.features.length) {
                                this.scale = this.buildScale(response.max_fs_score);
                            }
                            this.refreshMap();
                        });
                },
                getVulnerableSpecies() {
                    this.projects_loading = true;
                    let vulnerableSpeciesEndpoint = "/api/fisheriescape/vulnerable-species-spots/?";

                    if (this.filter.vulnerableSpecies) vulnerableSpeciesEndpoint += `vulnerable_species=${this.filter.vulnerableSpecies}&`;
                    if (this.filter.week) vulnerableSpeciesEndpoint += `week=${this.filter.week}`;
                    this.vulnerableSpeciesSpots = [];
                    apiService(vulnerableSpeciesEndpoint)
                        .then(response => {
                            this.projects_loading = false;
                            this.dataReady = true;
                            this.vulnerableSpeciesSpots = response;
                            this.refreshMap();
                        });
                },
                getFilterData() {
                    apiService(`/api/fisheriescape/species/`).then(response => this.speciesList = response);
                    apiService(`/api/fisheriescape/week/`).then(response => this.weekList = response);
                    apiService(`/api/fisheriescape/vulnerable-species/`).then(response => this.vulnerableSpeciesList = response);
                },
                removeMap() {
                    if (this.map) {
                        this.map.remove();
                    }
                },
                checkFilters() {
                    this.help_text = !(this.filter.week && this.filter.species);
                },
                refreshMap() {
                    this.removeMap();
                    this.setupLeafletMap();
                },
                setupLeafletMap: function () {

                    // Create variable for different base maps

                    var light = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/light-v10',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: `{{ mapbox_api_key }}`
                    });

                    var streets = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: `{{ mapbox_api_key }}`
                    });

                    // Initiate filter layer for later, has to be done here so it can be toggled on when map is initiated
                    // Use FeatureGroup instead of layerGroup because featureGroup allows getBounds() method

                    var overlayObject = L.featureGroup();
                    // Create the map starting location and zoom level and tell it which layers to have

                    const vulnerableSpeciesMarkers = this.vulnerableSpeciesSpots.map(spot => L.marker([spot.point.longitude, spot.point.latitude]));
                    const vulnerableSpeciesLayer = L.layerGroup(vulnerableSpeciesMarkers);


                    this.map = L.map('maptest', {
                        center: [48.46, -61.95],
                        zoom: 6,
                        layers: [streets, overlayObject] //this says what to have on by default
                    });


                    // Create subfunctions for polygon layer

                    function showInfo() {
                        this.setStyle({
                            'fillColor': '#689ae9'
                        });
                    }

                    function hideInfo() {
                        this.setStyle({
                            'fillColor': 'blue'
                        });
                    }


                    // Create zones polygon layer and use onEachFeature to show certain info for each feature

                    const areaOverlays = areaOverlaysRawData.reduce(
                        (acc, areas) => {
                            const areasName = areas.features[0].properties.layer_id;
                            acc[areasName] = L.geoJSON(areas, {
                                style: function () {
                                    return {
                                        color: 'blue'
                                    };
                                },
                                onEachFeature: function (feature, layer) {
                                    myUrl = `http://dmapps/en/fisheriescape/fisheryarea/${feature.properties.pk}/view/`;
                                    layer.bindPopup(`Name: <a href = "${myUrl}">${feature.properties.name}</a></br>Layer ID: ${feature.properties.layer_id}</br>Region: ${feature.properties.region}`);
                                    layer.on({
                                        mouseover: showInfo,
                                        mouseout: hideInfo
                                    });
                                }
                            });
                            return acc;
                        }, {}
                    );


                    // Define colour gradient for scores
                    getColor = (value) => {
                        return value > this.scale[9] ? '#FF050B' :
                            value > this.scale[8] ? '#FF3105' :
                                value > this.scale[7] ? '#FF6305' :
                                    value > this.scale[6] ? '#FF9405' :
                                        value > this.scale[5] ? '#FFC605' :
                                            {#value > this.scale[6] ? '#FFF805' :#}
                                            value > this.scale[4] ? '#D4FF05' :
                                                {#value > this.scale[5] ? '#A3FF05' :#}
                                                {#    value > this.scale[9] ? '#71FF06' :#}
                                                value > this.scale[3] ? '#3FFF06' :
                                                    {#            value > this.scale[3] ? '#0EFF06' :#}
                                                    {#                value > this.scale[3] ? '#06FF2F' :#}
                                                    value > this.scale[2] ? '#06FF61' :
                                                        {#    value > this.scale[2] ? '#06FF93' :#}
                                                        value > this.scale[1] ? '#06FFC4' :
                                                            '#06FFF6';
                    };

                    // Define polygon style
                    function gradientStyle(feature) {
                        return {
                            fillColor: getColor(feature.properties.fs_score),
                            weight: 0.5,
                            opacity: 1,
                            color: 'white',
                            dashArray: '3',
                            fillOpacity: 0.7
                        };
                    }

                    // Highlight the hexagon on mouseover
                    function highlightFeature(e) {
                        var layer = e.target;

                        layer.setStyle({
                            weight: 5,
                            color: '#666',
                            dashArray: '',
                            fillOpacity: 0.7
                        });

                        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                            layer.bringToFront();
                        }
                        info.update(layer.feature.properties);
                    }

                    var fisheries = new L.geoJson(this.features, { // Make the layer from the JSON and grab the handle.
                        onEachFeature: function (feature, layer) {
                            layer.bindPopup(
                                `Id: ${feature.id}</br>
                                Grid-id: ${feature.properties.grid_id}</br>
                                Species: ${feature.properties.species}</br>
                                Week: ${feature.properties.week}</br>
                                FS Score: ${feature.properties.fs_score}`);
                            layer.on({
                                mouseover: highlightFeature,
                                mouseout: function resetHighlight(e) {
                                    fisheries.resetStyle(e.target);
                                    info.update();
                                }
                            });

                        },
                        style: gradientStyle,
                    }).addTo(overlayObject);

                    // Add hover info control box with info

                    const info = L.control({position: 'bottomleft'});

                    info.onAdd = function (map) {
                        this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                        this.update();
                        return this._div;
                    };

                    // method that we will use to update the control based on feature properties passed
                    info.update = function (props) {
                        this._div.innerHTML = '<h4>Fisheriescape Scores</h4>' + (props ?
                            '<b>' + props.species + '</b><br /> FS Score:' + props.fs_score + '</b><br />' + props.week
                            : 'Hover over a hexagon');
                    };

                    info.addTo(this.map);

                    // Custom Legend

                    var legend = L.control({position: 'bottomright'});

                    legend.onAdd = map => {
                        var div = L.DomUtil.create('div', 'info legend'),
                            grades = this.scale;

                        // loop through our density intervals and generate a label with a colored square for each interval
                        for (var i = 0; i < grades.length; i++) {
                            div.innerHTML +=
                                '<i style="background:' + getColor(grades[i] + 0.01) + '"></i> ' +
                                grades[i] + (grades[i + 1] ? ' &ndash; ' + grades[i + 1] + '<br>' : '+');
                        }

                        return div;
                    };

                    legend.addTo(this.map);

                    // Create basemaps variable and add basemaps desired to it as options

                    var baseMaps = {
                        "Light": light,
                        "Streets": streets,
                    };

                    // Create overlay variable and add overlays desired
                    // Uses plugin from: https://github.com/ismyrnow/leaflet-groupedlayercontrol

                    var groupedOverlays = {
                        "Fisheriescape Scores": {
                            [this.filter.species]: overlayObject,
                        },
                        "Vulnerable Species": {"Spots":vulnerableSpeciesLayer},
                        "Fishing Areas": areaOverlays,
                    };

                    // Create the control layer box and add baseMaps and overlayMaps to it

                    L.control.groupedLayers(baseMaps, groupedOverlays).addTo(this.map);

                    // check if species and week filter has been chosen and if so get the bounds of the object
                    if (this.filter.species && this.filter.week) return this.map.fitBounds(overlayObject.getBounds(), {padding: [50, 50]});
                    {#if (this.filter.vulnerableSpecies && this.filter.week) return this.map.fitBounds(vulnerableSpeciesLayer.getBounds(), {padding: [50, 50]});#}

                },
            },
            async setup() {
                this.setupLeafletMap();
            },
            created() {
                this.getFilterData();
            },
            beforeDestroy() {
                if (this.map) {
                    this.map.remove();
                }
            }
        });

    </script>



{% endblock %}
