{% extends "vault/vault_base.html" %}
{% load static %}
{% block title %}vault db{% endblock title %}
{% block content %}

    <style>
        body{
            background-image: url({% static "/img/vault/whales.png" %});
            background-size: cover;
        }
    </style>

    {# <img src="{% static 'glf_data_management/img/data.jpg' %}" class="img-fluid max-width" alt="file not found"> #}
    <div class="container">
        <div class="jumbotron">
            <h1>Marine Megafauna Media Vault</h1>
        </div>
    </div>
    </div>

{#    <div align="center">#}
{#        <img src="{% static "/img/vault/whales.png" %}" class="rounded" width="95%" alt="...">#}
{##}
{#    </div>#}
    <div align="center">
        <p style="font-size: small">Photo by guille pozzi on Unsplash</p>
    </div>




{% endblock content %}
