{% extends "shared_models/generic_form.html" %}
{% load static %}

{% block jquery_import %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block bug_create %}
    {% include "vault/base/_bug_url.html" %}
{% endblock bug_create %}

{% block title %}
    {% include "vault/base/_app_title.html" %}
    {% block subtitle %} - {{ subtitle }}{% endblock %}
{% endblock title %}

{% block header %}
    {{ block.super }}
    {% include "vault/base/_style.html" %}
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class = "container">
        <div align = "center">
            <h1>Region Reference Map</h1>
            <img class="mh-80" src="{% static 'img/vault/MMVault General Areas.jpg' %}" alt="region image" style="width: 80%; height: 120%;">
        </div>
    </div>
{% endblock body %}

{% block left_auth %}
    {% include "vault/base/_nav_left_auth.html" %}
{% endblock left_auth %}


