{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'bugs:bug_create' 10 %}{% endblock bug_create %}

{% block bug_list_4_app %}
    <a class="dropdown-item" href="{% url 'bugs:bug_list_4_app' 10 %}">
        {% trans "View bugs for this app" %}
    </a>
{% endblock bug_list_4_app %}




{% block title %}
    {% trans "Instrument Tracking" %}
{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_auth %}
    <li class="nav-item"><a class="nav-link" href="{% url 'polls:index' %}">
        {% trans "Home" %}

    <li class="nav-item"><a class="nav-link" href="{% url 'polls:instrument_list' %}">
        {% trans "All Instruments" %}
    </a></li>



{% endblock left_auth %}
{% block left_admin %}
{% endblock left_admin %}
