{% extends 'scuba/base.html' %}
{% load verbose_names %}
{% load i18n %}

{% block subcontent %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <style>
  #map {
      height: 200px; /* The height is 400 pixels */
      width: 100%; /* The width is the width of the web page */
  }
  </style>

  <div class="btns mb-3">
    <a href="{% url 'scuba:region_edit' object.id %}" class="btn btn-warning btn-sm">{% trans "Edit" %}</a>
    <a href="{% url 'scuba:region_delete' object.id %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
  </div>

  <div class="mb-3 row">
    <div class="col">
      <table class="table table-sm" style="width: 50%">
        {% for field in field_list %}
          {% verbose_td_display object field %}
        {% endfor %}
      </table>
    </div>
    <div class="col">
      <div id="map">
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="float-right">
      <a href="{% url 'scuba:site_new' object.id %}" class="btn btn-sm btn-success"> {% trans "Add Site" %}</a>
    </div>
    <h3>{% trans "Sites" %}</h3>


    {% if object.sites.exists %}

      <table class="table table-hover table-sm">
        <thead>
        <tr>
          {% for field in site_field_list %}
            <th>
              {% get_verbose_label object.sites.first field %}
            </th>
          {% endfor %}
          <th>{% trans "No. of transects" %}</th>
          <th>{% trans "No. of samples" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for site in object.sites.all %}
          <tr href="{% url 'scuba:site_detail' site.id %}">
            {% for field in site_field_list %}
              <td>
                {% get_field_value site field %}
              </td>
            {% endfor %}
            <td> {{ site.transects.count }} </td>
            <td> {{ site.samples.count }} </td>

          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% else %}

      <em>{% trans "This region has no sites." %}</em>

    {% endif %}
  </div>

  <script type="application/javascript">
  function initialize() {
    map = new L.Map("map", {
      zoom: 10,
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map)

    var coords = [];
    {% for site in object.sites.all %}
      {% if site.get_coordinates %}
        latLong = [{{site.get_coordinates.x}}, {{ site.get_coordinates.y }}];
        L.marker(
            latLong, {title: '{{site}}',}
        ).addTo(map).bindPopup("<b>Site name:</b> {{site.name}}");
        coords.push(latLong)
      {% endif %}
    {% endfor %}

    map.fitBounds(coords);
    if(coords.length === 1) map.setZoom(12);

  }

  $(document).ready(function () {
    // Stuff to do as soon as the DOM is ready
    initialize()

  });
  </script>

{% endblock %}