{# <h2>Please select from the following:</h2> #}
<table class="table table-hover table-sm">
    <thead>
    <tr>

        <th scope="col">Crab number</th>
        <th scope="col">Sex</th>
        <th scope="col">Carapace width</th>
        <th scope="col">Abdomen width</th>
        <th scope="col">Chela height</th>
        <th scope="col">Maturity</th>
        <th scope="col">Shell condition</th>
        <th scope="col">Gonad colour</th>
        <th scope="col">Egg colour</th>
        <th scope="col">Eggs remaining</th>
        <th scope="col">Tag number</th>
        <th scope="col">Crab number</th>
        <th scope="col">Missing legs</th>
        <th scope="col">Durometer</th>
        <th scope="col">Samplers</th>
        <th scope="col">Weight</th>
        <th scope="col">Comments</th>
    </tr>
    </thead>
    <tbody>

    {% for obj in object.crabs.all %}
        <tr>
            <td>{{ obj.crab_number }}</td>
            <td>{{ obj.sex }}</td>
            <td>{{ obj.carapace_width }}</td>
            <td>{{ obj.abdomen_width }}</td>
            <td>{{ obj.chela_height }}</td>
            <td>{{ obj.maturity }}</td>
            <td>{{ obj.shell_condition }}</td>
            <td>{{ obj.gonad_colour }}</td>
            <td>{{ obj.egg_colour }}</td>
            <td>{{ obj.eggs_remaining }}</td>
            <td>{{ obj.tag_number }}</td>
            <td>{{ obj.crab_number }}</td>
            <td>{{ obj.missing_legs }}</td>
            <td>{{ obj.durometer }}</td>
            <td>{{ obj.samplers }}</td>
            <td>{{ obj.weight }}</td>
            <td>{{ obj.comments }}</td>


        </tr>
    {% endfor %}


    </tbody>
</table>


</tr>
</thead>
<tbody>

{% for obj in object.sets.all %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="{% url 'crab:set_detail' obj.id %}">
                {{ obj.set_name }}
            </a>
        </td>
        <td>{{ obj.start_time_logbook }}</td>
        <td>{{ obj.set_number }}</td>
        <td>{{ obj.zone }}</td>
        <td>{{ obj.valid|yesno }}</td>
        <td>{{ obj.swept_area }}</td>
        <td>{{ obj.get_swept_area_method_display }}</td>
        <td>{{ obj.comment }}</td>

    </tr>
{% endfor %}


</tbody>
</table>
