{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'snowcrab' %}{% endblock bug_create %}
{% block bug_list_4_app %}
    <a class="dropdown-item" href="<Crab></Crab> Bugs</a>
{% endblock bug_list_4_app %}

{% block title %}Snow Crab{% endblock title %}

{% block body %}
  {% block content %}{% endblock content %}
{% endblock body %}

{% block left_all %}
  <li class="nav-item"><a class="nav-link" href="{% url 'crab:index' %}"> Home</a></li>
{% endblock left_all %}

{% block left_unauth %}

{% endblock left_unauth %}

{% block left_auth %}
    <li class="nav-item"><a class="nav-link" href="{% url 'crab:cruise_list' %}"> Cruises</a></li>

{% endblock left_auth %}
{% block left_admin %}
{% endblock left_admin %}
