{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<script>
  window.resizeTo(width=400, height=400);

  window.onunload = refreshParent;
  function refreshParent() {
    window.opener.location.reload();
  }
</script>

<div class="container">
  <br>
  <h1>
    {% if view.kwargs.type == "measured" %}
    New number of fish measured:
    {% elif view.kwargs.type == "preserved" %}
    New number of fish preserved:
    {% endif %}

  </h1>

<br>
  <form  method="post">
    {% csrf_token %}
    {% for field in form %}
      {%bootstrap_field field layout='horizontal' size='small' %}

    {% endfor %}
    <br>
    <div style="text-align: center;">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>

  </form>
</div>
