<h1>New Access Request: </h1>

<table>
    <tr>
        <td><b>User:</b></td>
        <td>  {{ first_name }} {{ last_name }} ({{ email }})</td>
    </tr>

    <tr>
        <td><b>Application name:</b></td>
        <td>{{ application }}</td>
    </tr>

    <tr>
        <td><b>Comment:</b></td>
        <td>{{ optional_comment }}</td>
    </tr>

    {% autoescape off %}
        Click <a href="{{SITE_FULL_URL}}/admin/auth/user/{{ user_id }}/change/">here</a> to go to the Admin menu for this user.
    {% endautoescape %}


</table>
