
<style>

@page {
    size: legal landscape;
    margin: 1cm;
    @frame footer {
    -pdf-frame-content: footerContent;
    bottom: 0cm;
    margin-left: 18cm;
    margin-right: 0cm;
    height: 1cm;
}
}

td, th {
    padding: 2px;
    padding-top: 3px;
}

.thin {
    padding: 0;
    margin: 0;
}

th {
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.wide-cell {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.very-wide-cell {
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.show-all-borders {
    border: 1px solid black;
}

.show-top-border {
    border-top: 1px solid black;
}

.show-bottom-border {
    border-bottom: 1px solid black;
}

.grey {
    background-color: lightgray;
}

.data {
    background-color: #edf1ff;
}

.top {
    vertical-align: top;
}

.block {
    margin-bottom: 15px;
}

h1 {
    font-size: 18px;
}


.w10p {
    width: 10%;
}

.w20p {
    width: 20%;
}

.w40p {
    width: 40%;
}

.w45p {
    width: 45%;
}

.w60p {
    width: 60%;
}

.w75p {
    width: 75%;
}


.large-font {
    font-size: 20px;
}

.med-font {
    font-size: 14px;
}

.hyperlink {
    color: blue;
    text-decoration: underline;
}

.float-right {
    float: right;
}
</style>
