{% load verbose_names %}
{% load bootstrap4 %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}
{% load static %}

{% block extra_style %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

{% include "travel/traf/_css.html" %}

<div id="footerContent">
  {% block page_foot %}
    <pdf:pagenumber/>
  {% endblock %}
</div>


<div class="block">
  <table class="show-bottom-border">
    <tr>
      <td class="w40p">
        <img src="{% static 'travel/dfo_logo.png' %}" alt="" class="float-right">
      </td>
      <td>
        <h1>{% trans "Crew and Group Travel Request and Approval Form" %}</h1>
      </td>
    </tr>
  </table>
</div>

{# this is the top section; left = traveller information and right = explanations #}
<div class="block">
  <table>
    <tr>
      {# TRAVELLER INFO #}
      <td class="w45p">
        <table class="show-bottom-border show-top-border">
          <tr>
            <td class="w20p">{% trans "Date of Crew Change or Group Travel" %}</td>
            <td class="data">{{ parent.trip.start_date|date:"F d, Y" }} to {{ parent.trip.end_date|date:"F d, Y" }}</td>
            <td class="w20p">{% trans "Plan Number (Optional)" %}</td>
            <td class="data">{{ parent.trip.plan_number|nz }}</td>
          </tr>
        </table>
        <table>
          <tr class="grey show-bottom-border">
            <td colspan="2" class="">
              {% trans "Information" %}
            </td>
          </tr>
          <tr class="show-bottom-border">
            <td class="">{% trans "Vessel Name or Group Name" %}</td>
            <td class="data">{% trans "(if applicable)" %}</td>
          </tr>
          <tr class="show-bottom-border">
            <td class="">{% trans "Region/Sector/Branch/<br>Directorate/Section" %}</td>
            <td
              class="data">{{ parent.section.division.branch.region.name }}/{{ parent.section.division.branch.name }}/{{ parent.section.division.name }}/{{ parent.section.name }}</td>
          </tr>
          <tr class="show-bottom-border">
            <td class="">{% trans "Trip Purpose" %}</td>
            <td class="data">{{ parent.trip.trip_subcategory.trip_category|nz:"n/a" }}</td>
          </tr>
          <tr class="show-bottom-border">
            <td class="">{% trans "Trip objective and justification for not using telepresence or other alternative to travel" %}</td>
            <td class="data">{% trans "See comments" %}</td>
          </tr>
          <tr class="show-bottom-border">
            <td class="">{% trans "Justification for the number of travellers" %}:</td>
            <td class="data">{% trans "See comments" %}</td>
          </tr>
        </table>
      </td>
      <td style="width: 10px">&nbsp;</td>
      {# EXPLANATIONS #}
      <td class="top">
        <table>
          <tr>
            <th class="w20p">{% trans "Purpose of Travel" %}</th>
            <th>{% trans "Explanation" %}</th>
          </tr>
          <tr>
            <td class="top">01 - {% trans "Operational Activities" %}</td>
            <td class="top">
              {% blocktrans %}
                Travel that is required in support of the direct delivery of the core mandate of the Department of Fisheries and Oceans and/or the Canadian
                Coast Guard or legislative or legal requirements.
              {% endblocktrans %}
            </td>
          </tr>
          <tr>
            <td class="top">02 - {% trans "Key stakeholder Engagement" %}</td>
            <td class="top">
              {% blocktrans %}
                Travel that is necessary to engage key stakeholders in relation to policy, program or regulatory development or renewal or other matters that
                support the Department of Fisheries and Oceans and Canadian Coast Guard's ongoing working relationship or operations with such communities.
              {% endblocktrans %}
            </td>
          </tr>
          <tr>
            <td class="top">03 - {% trans "Internal Governance" %}</td>
            <td class="top">
              {% blocktrans %}
                Travel that is necessary to support sound internal governance of the Department of Fisheries and Oceans and/or the Canadian Coast Guard
                including management meetings and Departmental Audit Committee meetings, or that is necessary for the recruitment or hiring of employees.
              {% endblocktrans %}
            </td>
          </tr>
          <tr>
            <td class="top">04 - {% trans "Training" %}</td>
            <td class="top">
              {% blocktrans %}
                Travel to enable the training of employees to meet the assigned duties of their positions.
              {% endblocktrans %}
            </td>
          </tr>
          <tr>
            <td class="top">05 - {% trans "Other" %}</td>
            <td class="top">
              {% blocktrans %}
                Other travel - please provide detailed explanation
              {% endblocktrans %}
            </td>
          </tr>

        </table>

      </td>
    </tr>


  </table>
</div>

{# COST BREAKDOWN #}
<div class="block">

  <table class="show-all-borders">
    <tr>
      <td rowspan="2" colspan="1" class="grey text-center">{% trans "Amended" %}</td>
      <td rowspan="2" colspan="1" class="grey text-center">{% trans "Trip No" %}</td>
      <td rowspan="2" colspan="1" class="grey text-center">{% trans "Traveller name" %}</td>
      <td rowspan="2" class="grey text-center">{% trans "Origin / Destination(s) of Travel" %}</td>
      <td rowspan="2" class="grey text-center">{% trans "Public Servant?" %}</td>
      <td rowspan="1" colspan="11" class="grey text-center">{% trans "Cost Information (include taxes)" %}</td>
      <td rowspan="1" colspan="2" class="grey text-center">{% trans "Event" %}</td>
    </tr>
    <tr>
      {% with parent.travellers.first  as random_object %}
        {% for key in my_dict|lookup:random_object %}
          {% if "accom" in key.name|lower %}
            <td class="grey text-center">{% trans "Accommo-<br>dation" %}</td>
          {% else %}
            <td class="grey text-center">{{ key }}</td>
          {% endif %}
        {% endfor %}
      {% endwith %}

      <td class="grey text-center" style="text-align: center;">{% trans "Total Trip Amount" %}</td>
      <td class="grey text-center">{% trans "Is the trip part of an Event?" %}</td>
      <td class="grey text-center">{% trans "Event number (optional)" %}</td>
    </tr>
    {% for child in parent.travellers.all %}
      <tr>
        <td class="data">&nbsp;</td>
        <td class="data">{{ forloop.counter }}</td>
        <td class="data">{{ child.first_name }} {{ child.last_name }}</td>
        <td class="data">{{ child.departure_location }} to {{ parent.destination }}</td>
        <td class="data">{{ child.is_public_servant|yesno }}</td>

        {% for key in my_dict|lookup:child %}
          <td class="data">{{ my_dict|lookup:child|lookup:key|zero2val:"---"|currency|nz }}</td>
        {% endfor %}

        <td class="data">{{ child.total_cost|zero2val:"---"|currency|nz }}</td>

        {% if parent.trip %}
          <td class="data">{{ parent.trip.has_event_template|yesno:"yes,no,unknown" }}</td>
        {% else %}
          <td class="data">{% trans "no" %}</td>
        {% endif %}

        <td class="data">{{ parent.trip.number|nz }}</td>

      </tr>

    {% endfor %}

    <tr>
      <td colspan="5" class="">&nbsp;</td>
      {#            starting with AIR#}
      {% for cat in my_dict.totals %}
        {% if not cat == "total" %}
          <td class="">{{ my_dict.totals|lookup:cat|zero2val:"---"|currency|nz }}</td>
        {% endif %}
      {% endfor %}
      <td class="">{{ my_dict.totals|lookup:"total"|zero2val:"---"|currency|nz }}</td>
      <td class="" colspan="2">&nbsp;</td>
    </tr>
  </table>

</div>

<div class="block">
  <table>
    <tr>
      <td class="top">
        <table class="">
          <tr>
            <td>{% trans "Comments" %}</td>
          </tr>
          <tr>
            <td class="data">
              <p>
                <span>{% trans "Trip Title:"|upper %}</span>
                {{ parent.trip.tname }}
              </p>
              <p>
                {% get_verbose_label parent "objective_of_event" as text %}
                <span>{{ text|upper }}</span>
                {{ parent.objective_of_event }}
              </p>
              <p>
                {% get_verbose_label parent "benefit_to_dfo" as text %}
                <span>{{ text|upper }}</span>
                {{ parent.benefit_to_dfo }}
              </p>
              <p>
                {% get_verbose_label parent "funding_source" as text %}
                <span>{{ text|upper }}</span>
                {{ parent.funding_source }}
              </p>
              {% trans "DETAILED COST BREAKDOWN PER TRAVELLER" %}:
              <br>
              {% for object in parent.travellers.all %}
                {{ object.first_name }} {{ object.last_name }} &rarr; {{ object.cost_breakdown }}<br><br>
              {% endfor %}

            </td>

          </tr>

        </table>

      </td>
      <td class="top w40p">
        <table class="">
          <tr>
            <td class="text-right wide-cell w40p">{% trans "Expenditure Initiation approved by (Print)" %}</td>
            <td class="data wide-cell" colspan="1">
              {{ parent.expenditure_initiation.user |nz:"n/a" }}
              {% if parent.expenditure_initiation.user %}
                {% if parent.expenditure_initiation.user.profile.tposition %}
                  | {{ parent.expenditure_initiation.user.profile.tposition }}
                {% else %}
                  | {% trans "Regional Director General" %}
                {% endif %}
                | {{ parent.section.division.branch.region }}
              {% endif %}
            </td>
          </tr>
          <tr class="thin">
            <td class="thin">&nbsp;</td>
          </tr>
          <tr>
            {% if parent.expenditure_initiation.status == 2 %}
              <td colspan="2" class="" style="padding-left: 10px">
                {% include "travel/traf/_expenditure_initiation_approval.html" %}
              </td>
            {% else %}
              <td class="text-right very-wide-cell w40p">{% trans "Signature" %}</td>
              <td colspan="1" class="data wide-cell w40p"> &nbsp;</td>
            {% endif %}
          </tr>
          <tr class="thin">
            <td class="thin">&nbsp;</td>
          </tr>
          {% if parent.expenditure_initiation.status != 2 %}
            <tr>
              <td class="text-right wide-cell w40p">{% trans "Date" %}</td>
              <td class="data wide-cell"> &nbsp;</td>
            </tr>
          {% endif %}
        </table>
      </td>
      <td class="top">
        <table>
          {% for r in parent.recommenders %}
            {% if not r.status == 21 %}
              <tr>
                <td class="text-right wide-cell top">{% trans "Recommended by" %}</td>
                <td rowspan="1" class="data wide-cell">
                  {{ r.user }}
                  {% if r.status == 2 %}
                    ({% trans "digitally reviewed" %} on {{ r.status_date }} {{ r.status_date|date:'e' }})
                  {% else %}
                    ({% trans "NOT RECOMMENDED" %})
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
          {% if parent.adm.status == 2 %}
            <tr>
              <td class="text-right wide-cell">{% trans "Approved by" %}</td>
              <td rowspan="1" class="data wide-cell">
                {{ parent.adm.user }} on {{ parent.adm.status_date }} {{ parent.adm.status_date|date:'e' }}
              </td>
            </tr>
          {% endif %}
        </table>
      </td>
    </tr>
  </table>
</div>
