{% load i18n %}
{% load static %}
{% load custom_tags %}
{% load bootstrap4 %}

<div v-if="!showSidebar">
  <button class="btn btn-outline-light ml-2" @click="showSidebar=true" data-toggle="tooltip" title="{% trans "Open sidebar" %}">
    <span class="mdi mdi-arrow-collapse-right"></span>
  </button>
</div>
<div v-else class="container">
  <button class="btn btn-outline-light float-right mb-3" @click="showSidebar=false"><span class="mdi mdi-arrow-collapse-left"></span></button>
  <h5>
    {% trans "Filters" %}
  </h5>
  <hr>
  <div v-if="projects_loading" class="loading mb-3 mt-3 text-center mt-5">
    <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div v-else class="filters">
    {# Regular filters #}
    <div class="mb-5">

      {# Id #}
      <div class="form-group">
        <label class="text-muted small" for="filter.id">{% trans "Project Id" %}</label>
        <input
          v-model="filter.id"
          @change="updateResults"
          type="number"
          class="form-control form-control-sm" id="filter.id" placeholder="">
      </div>


      {# Region #}
      <div class="form-group">
        <label class="text-muted small" for="filter.region">{% trans "Region" %}</label>
        <select
          v-model="filter.region"
          @change="updateResults"
          class="form-control" id="filter.region"
        >
          <option value="">{% trans "all" %}</option>
          <option v-for="(obj, index) in regions" :value="obj.id">${obj.name}</option>
        </select>
      </div>

      {# Division #}
      <div class="form-group">
        <label class="text-muted small" for="filter.division">{% trans "Division" %}</label>
        <select
          v-model="filter.division"
          @change="updateResults"
          class="form-control form-control-sm" id="filter.division"
        >
          <option value="">{% trans "all" %}</option>
          <option v-for="(obj, index) in divisions" :value="obj.id">${obj.display}</option>
        </select>
      </div>

      {# Section #}
      <div class="form-group">
        <label class="text-muted small" for="filter.section">{% trans "Section" %}</label>
        <v-select
          v-model="filter.section"
          @input="updateResults"
          style="border-color: white"
          id="filter.section"
          :options="sections"
          label="full_name_en_ver1"
          :reduce="display => display.id"
          :clearable="true"
        >
        </v-select>
      </div>


      {# Fiscal Year #}
      <div class="form-group">
        <label class="text-muted small" for="filter.fiscal_year">{% trans "Fiscal Year" %}</label>
        <select
          v-model="filter.fiscal_year"
          @change="updateResults"
          class="form-control form-control-sm" id="filter.fiscal_year"
        >
          <option value="">{% trans "all" %}</option>
          <option v-for="(obj, index) in fiscalYears" :value="obj.id">${obj.full}</option>
        </select>
      </div>

      {# Funding Source #}
      <div class="form-group">
        <label class="text-muted small" for="filter.funding_source">{% trans "Funding Source" %}</label>
        <v-select
          v-model="filter.funding_source"
          @input="updateResults"
          style="border-color: white"
          id="filter.funding_source"
          :options="fundingSources"
          label="display"
          :reduce="display => display.id"
          :clearable="false"
        >
        </v-select>
      </div>

      {# Functional group #}
      <div class="form-group">
        <label class="text-muted small" for="filter.functional_group">{% trans "Functional Group" %}</label>
        <select
          v-model="filter.functional_group"
          @change="updateResults"
          class="form-control form-control-sm" id="filter.functional_group"
        >
          <option value="">{% trans "all" %}</option>
          <option v-for="(obj, index) in functionalGroups" :value="obj.id">${obj.name}</option>
        </select>
      </div>

      {# status #}
      <label class="text-muted small" for="filter.status">{% trans "Status" %}</label>
      <div class="form-group">
        <v-select
          v-model="filter.statuses"
          @input="updateResults"
          style="border-color: white"
          id="filter.statuses"
          :options="statuses"
          label="text"
          :reduce="choice => choice.value"
          :clearable="true"
          multiple
        >
        </v-select>
      </div>

      {#  ADVANCED FILTERS  #}
      <div v-if="showMoreFilters" class="mb-3">


        {# Starting Year #}
        <div class="form-group">
          <label class="text-muted small" for="filter.starting_fy">{% trans "Starting Year" %}</label>
          <select
            v-model="filter.starting_fy"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.starting_fy"
          >
            <option value="">{% trans "all" %}</option>
            <option v-for="(obj, index) in fiscalYears" :value="obj.id">${obj.full}</option>
          </select>
        </div>

        {# Title #}
        <div class="form-group">
          <label class="text-muted small" for="filter.title">{% trans "Title" %}</label>
          <input
            v-model="filter.title"
            @change="updateResults"
            type="text"
            class="form-control form-control-sm" id="filter.title" placeholder="">
        </div>

        {# Staff #}
        <div class="form-group">
          <label class="text-muted small" for="filter.staff">{% trans "Staff" %}</label>
          <input
            v-model="filter.staff"
            @change="updateResults"
            type="text"
            class="form-control form-control-sm" id="filter.staff" placeholder="">
        </div>


        {# Tag #}
        <div class="form-group">

          <label class="text-muted small" for="filter.tag">{% trans "Tag" %}</label>
          <v-select
            v-model="filter.tag"
            @input="updateResults"
            style="border-color: white"
            id="filter.tag"
            :options="tags"
            label="name"
            :reduce="name => name.id"
            :clearable="false"
          >
          </v-select>


        </div>

        {# Theme #}
        <div class="form-group">
          <label class="text-muted small" for="filter.theme">{% trans "Theme" %}</label>
          <select
            v-model="filter.theme"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.theme"
          >
            <option value="">{% trans "all" %}</option>
            <option v-for="(obj, index) in themes" :value="obj.id">${obj.name}</option>
          </select>
        </div>


        {# has Ship needs #}
        <div class="form-group">
          <label class="text-muted small" for="filter.has_ship_needs">{% trans "Has ship needs" %}</label>
          <select
            v-model="filter.has_ship_needs"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.has_ship_needs"
          >
            <option value="">------</option>
            <option :value="true">{% trans "Yes" %}</option>
            <option :value="false">{% trans "No" %}</option>
          </select>
        </div>

        {# requires specialized equipment #}
        <div class="form-group">
          <label class="text-muted small" for="filter.requires_specialized_equipment">{% trans "Requires specialized equipment" %}</label>
          <select
            v-model="filter.requires_specialized_equipment"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.requires_specialized_equipment"
          >
            <option value="">------</option>
            <option :value="true">{% trans "Yes" %}</option>
            <option :value="false">{% trans "No" %}</option>
          </select>
        </div>


        {# Has field component #}
        <div class="form-group">
          <label class="text-muted small" for="filter.has_field_component">{% trans "Has field component" %}</label>
          <select
            v-model="filter.has_field_component"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.has_field_component"
          >
            <option value="">------</option>
            <option :value="true">{% trans "Yes" %}</option>
            <option :value="false">{% trans "No" %}</option>
          </select>
        </div>

        {# Has data component #}
        <div class="form-group">
          <label class="text-muted small" for="filter.has_data_component">{% trans "Has data component" %}</label>
          <select
            v-model="filter.has_data_component"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.has_data_component"
          >
            <option value="">------</option>
            <option :value="true">{% trans "Yes" %}</option>
            <option :value="false">{% trans "No" %}</option>
          </select>
        </div>

        {# Has lab component #}
        <div class="form-group">
          <label class="text-muted small" for="filter.has_lab_component">{% trans "Has lab component" %}</label>
          <select
            v-model="filter.has_lab_component"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.has_lab_component"
          >
            <option value="">------</option>
            <option :value="true">{% trans "Yes" %}</option>
            <option :value="false">{% trans "No" %}</option>
          </select>
        </div>

        {# Services #}
        <div class="form-group">

          <label class="text-muted small" for="filter.services">${ projectYearLabels.services }</label>
          <v-select
            v-model="filter.services"
            @input="updateResults"
            style="border-color: white"
            id="filter.services"
            :options="services"
            label="text"
            :reduce="choice => choice.value"
            :clearable="true"
          >
          </v-select>


        </div>

        {# approval status #}
        <div class="form-group">

          <label class="text-muted small" for="filter.approval_status">{% trans "Approval status" %}</label>
          <select
            v-model="filter.approval_status"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.approval_status"
          >
            <option value selected>{% trans "all" %}</option>
            {% for status in approval_status_choices %}
              <option value="{{ status.value }}">{{ status.label }}</option>
            {% endfor %}
          </select>
        </div>

        {# approval level #}
        <div class="form-group">

          <label class="text-muted small" for="filter.approval_level">{% trans "Approval level" %}</label>
          <select
            v-model="filter.approval_level"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.approval_level"
          >
            <option value selected>{% trans "all" %}</option>
            {% for level in approval_level_choices %}
              <option value="{{ level.value }}">{{ level.label }}</option>
            {% endfor %}
          </select>
        </div>

        {# funding status #}
        <div class="form-group">

          <label class="text-muted small" for="filter.funding_status">{% trans "Funding status" %}</label>
          <select
            v-model="filter.funding_status"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.funding_status"
          >
            <option value selected>{% trans "all" %}</option>
            {% for status in funding_status_choices %}
              <option value="{{ status.value }}">{{ status.label }}</option>
            {% endfor %}
          </select>
        </div>

        {# om category #}
        <div class="form-group">

          <label class="text-muted small" for="filter.om_cost_category">{% trans "Has O&M Cost Category?" %}</label>
          <select
            v-model="filter.om_cost_category"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.om_cost_category"
          >
            <option value selected>{% trans "all" %}</option>
            {% for cat in om_cost_categories %}
              <option value="{{ cat.value }}">{{ cat.label }}</option>
            {% endfor %}
          </select>
        </div>

        {# activity type #}
        <div class="form-group">

          <label class="text-muted small" for="filter.om_cost_category">{% trans "Activity type" %}</label>
          <select
            v-model="filter.activity_type"
            @change="updateResults"
            class="form-control form-control-sm" id="filter.activity_type"
          >
            <option value selected>{% trans "all" %}</option>
            {% for cat in activity_types %}
              <option value="{{ cat.value }}">{{ cat.label }}</option>
            {% endfor %}
          </select>
        </div>


        <h5>
          {% trans "Columns" %}
        </h5>
        <hr>

        <div class="form-check">
          <input
            v-model="showColumnLeads"
            class="form-check-input" type="checkbox"
            id="col_leads"
          >
          <label class="text-muted small" class="form-check-label" for="col_leads">
            {% trans "Project Leads" %}
          </label>
        </div>

        <div class="form-check">
          <input
            v-model="showColumnScore"
            class="form-check-input" type="checkbox"
            id="col_score"
          >
          <label class="text-muted small" class="form-check-label" for="col_score">
            {% trans "Review Score" %}
          </label>
        </div>

        <div class="form-check">
          <input
            v-model="showColumnHidden"
            class="form-check-input" type="checkbox"
            id="col_hidden"
          >
          <label class="text-muted small" class="form-check-label" for="col_hidden">
            {% trans "Hidden" %}
          </label>
        </div>


        <div class="form-check">
          <input
            v-model="showColumnLastModified"
            class="form-check-input" type="checkbox"
            id="col_last_modified"
          >
          <label class="text-muted small" class="form-check-label" for="col_last_modified">
            {% trans "Last Modified" %}
          </label>
        </div>

        <div class="form-check">
          <input v-model="showColumnOM" class="form-check-input" type="checkbox" id="col_om">
          <label class="text-muted small" class="form-check-label" for="col_om">
            {% trans "Show O&M" %}
          </label>
        </div>
        <div class="form-check">
          <input v-model="showColumnSalary" class="form-check-input" type="checkbox" id="col_salary">
          <label class="text-muted small" class="form-check-label" for="col_salary">
            {% trans "Show Salary" %}
          </label>
        </div>
        <div class="form-check">
          <input v-model="showColumnCapital" class="form-check-input" type="checkbox" id="col_capital">
          <label class="text-muted small" class="form-check-label" for="col_capital">
            {% trans "Show Capital" %}
          </label>
        </div>
      </div>

      <div class="mb-3">
        <span class="text-primary clickable" @click="showMoreFilters=!showMoreFilters">
          <span v-if="showMoreFilters">{% trans "Show less filtering options" %}</span>
          <span v-else>{% trans "Show more filtering options" %}</span>
        </span>
      </div>

      <div class="mb-3">
        <button @click="clearFilters" class="btn btn-sm btn-warning">{% trans "Clear filters" %}</button>
      </div>
      <div class="mb-0">
        <button @click="generateReports('{% url 'ppt:management_reports' 'pop' %}', 'all');" href="#"
                class="btn btn-sm btn-primary">{% trans 'Reports' %}</button>
      </div>

    </div>


  </div>

</div>
