{% load i18n %}

<div v-if="showFinancialSummary" class="mt-5">

  <div v-if="financial_loading" class="loading mb-3 mt-3 text-center mt-5">
    <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div v-else-if="errorTooBigFinancial">
    <p class="lead font-italic">
      {% trans "There are too many projects in your search criteria. Please reduce the number of projects using the filters" %}
    </p>
  </div>
  <div v-else-if="errorTooSmallFinancial">
    <p class="lead font-italic">
      {% trans "There were no projects that met your search criteria. Please try again." %}
    </p>
  </div>
  <div v-else class="">
    <table class="table table-sm table-bordered" style="width: auto">
      <tr>
        <th class="w150">
          {% trans "Type" %}
        </th>
        <th class="w150">
          {% trans "Funding source" %}
        </th>
        <th class="w150">
          {% trans "Number of project years" %}
        </th>
        <th v-if="showColumnSalary" class="w150">
          {% trans "Requested Salary (excluding FTE)" %}
        </th>
        <th v-if="showColumnOM" class="w150">
          {% trans " Requested O & M" %}
        </th>
        <th v-if="showColumnCapital" class="w150">
          {% trans "Requested Capital" %}
        </th>
        <th class="w150">
          {% trans "Total" %}
        </th>
        <th v-if="showColumnSalary" class="w150">
          {% trans "Allocated Salary (excluding FTE)" %}
        </th>
        <th v-if="showColumnOM" class="w150">
          {% trans "Allocated O & M" %}
        </th>
        <th v-if="showColumnCapital" class="w150">
          {% trans "Allocated Capital" %}
        </th>
        <th class="w150">
          {% trans "Allocated Total" %}
        </th>
      </tr>
      <tbody>
      <tr v-for="(fs, index) in financials" :class="fs.type.toLowerCase()">
        <td>${fs.type}</td>
        <td>${fs.name}</td>
        <td>${fs.py_count}</td>
        <td v-if="showColumnSalary">${fs.salary |currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnOM">${fs.om|currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnCapital">${fs.capital|currencyFormat|zero2NullMark}</td>
        <td>${fs.total|currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnSalary">${fs.allocated_salary |currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnOM">${fs.allocated_om|currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnCapital">${fs.allocated_capital|currencyFormat|zero2NullMark}</td>
        <td>${fs.allocated_total|currencyFormat|zero2NullMark}</td>
      </tr>

      <tr>
        <td class="font-weight-bold">{% trans "TOTAL" %}</td>
        <td class="font-weight-bold">---</td>
        <td class="font-weight-bold">---</td>
        <td v-if="showColumnSalary" class="font-weight-bold">${financial_totals.salary |currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnOM" class="font-weight-bold">${financial_totals.om|currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnCapital" class="font-weight-bold">${financial_totals.capital|currencyFormat|zero2NullMark}</td>
        <td class="font-weight-bold">${financial_totals.total|currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnSalary" class="font-weight-bold">${financial_totals.allocated_salary |currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnOM" class="font-weight-bold">${financial_totals.allocated_om|currencyFormat|zero2NullMark}</td>
        <td v-if="showColumnCapital" class="font-weight-bold">${financial_totals.allocated_capital|currencyFormat|zero2NullMark}</td>
        <td class="font-weight-bold">${financial_totals.allocated_total|currencyFormat|zero2NullMark}</td>
      </tr>

      </tbody>
    </table>

    <table v-for="(fs, index) in financials" class="table table-sm table-bordered" style="width: auto">
      <caption style="font-weight: bold; caption-side: top">${fs.name}</caption>
      <tr>
        <th></th>
        <th>{% trans "Requested" %}</th>
        <th>{% trans "Allocated" %}</th>
        <th>{% trans "Difference" %}</th>
      </tr>
      <tr :class="fs.type.toLowerCase()">
        <td>{% trans "Salary (excluding FTE)" %}</td>
        <td>${fs.salary |currencyFormat|zero2NullMark}</td>
        <td>${fs.allocated_salary |currencyFormat|zero2NullMark}</td>
        <td>${fs.allocated_salary - fs.salary |currencyFormat|zero2NullMark}</td>
        <td>
          <button v-if="fs.showSalaryProjects" @click="toggleShowSalaryProjects(fs)" class="btn btn-sm btn-warning py-0 px-1">
            <span>  {% trans "hide salary projects" %} </span>
          </button>
          <button v-else @click="toggleShowSalaryProjects(fs)" class="btn btn-sm btn-success py-0 px-1">
            <span>  {% trans "show salary projects" %} </span>
          </button>
        </td>
      </tr>
      <tr v-if="fs.showSalaryProjects">
        <td colspan="7">
          <salary-project-table :fs="fs"></salary-project-table>
        </td>
      </tr>
      <tr :class="fs.type.toLowerCase()">
        <td>{% trans "O&M" %}</td>
        <td>${fs.om |currencyFormat|zero2NullMark}</td>
        <td>${fs.allocated_om |currencyFormat|zero2NullMark}</td>
        <td>${fs.allocated_om - fs.om |currencyFormat|zero2NullMark}</td>
        <td>
          <button v-if="fs.showOMProjects" @click="toggleShowOMProjects(fs)" class="btn btn-sm btn-warning py-0 px-1">
            <span>  {% trans "hide O&M projects" %} </span>
          </button>
          <button v-else @click="toggleShowOMProjects(fs)" class="btn btn-sm btn-success py-0 px-1">
            <span>  {% trans "show O&M projects" %} </span>
          </button>
        </td>
      </tr>
      <tr v-if="fs.showOMProjects">
        <td colspan="7">
          <om-project-table :fs="fs"></om-project-table>
        </td>
      </tr>
      <tr :class="fs.type.toLowerCase()">
        <td>{% trans "Capital" %}</td>
        <td>${fs.capital |currencyFormat|zero2NullMark}</td>
        <td>${fs.allocated_capital |currencyFormat|zero2NullMark}</td>
        <td>${fs.allocated_capital - fs.capital |currencyFormat|zero2NullMark}</td>
        <td>
          <button v-if="fs.showCapitalProjects" @click="toggleShowCapitalProjects(fs)" class="btn btn-sm btn-warning py-0 px-1">
            <span>  {% trans "hide capital projects" %} </span>
          </button>
          <button v-else @click="toggleShowCapitalProjects(fs)" class="btn btn-sm btn-success py-0 px-1">
            <span>  {% trans "show capital projects" %} </span>
          </button>
        </td>
      </tr>
      <tr v-if="fs.showCapitalProjects">
        <td colspan="7">
          <capital-project-table :fs="fs"></capital-project-table>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold">{% trans "Total" %}</td>
        <td class="font-weight-bold">${fs.total |currencyFormat|zero2NullMark}</td>
        <td class="font-weight-bold">${fs.allocated_total |currencyFormat|zero2NullMark}</td>
        <td class="font-weight-bold">${fs.allocated_total - fs.total |currencyFormat|zero2NullMark}</td>
      </tr>
    </table>
  </div>

</div>