{% load i18n %}

{% include "ppt/manage_projects/components/staff_projects_list.html" %}
{% include "ppt/manage_projects/components/finance_projects_list.html" %}
{% include "ppt/manage_projects/components/review_modal.html" %}
{% include "ppt/project_detail/components/salary_allocation_modal.html" %}
{% include "ppt/project_detail/components/om_allocation_modal.html" %}
{% include "ppt/project_detail/components/capital_allocation_modal.html" %}
{% include "ppt/project_detail/components/capital_distribution_modal.html" %}
{% include "ppt/project_detail/components/om_distribution_modal.html" %}
{% include "ppt/project_detail/components/salary_distribution_modal.html" %}

<script type="application/javascript">
Vue.component('v-select', VueSelect.VueSelect);
var app = new Vue({
  el: '#app',
  delimiters: ["${", "}"],
  data: {
    showSidebar: true,
    showMoreFilters: false,
    currentUser: {},
    isAdminOrMgmt: false,
    hover: false,
    cardViewOn: false,
    approvedActivities: true,

    errorNoFiscalYear: false,
    loadingReport: false,

    showTab: {
      projectList: true,
      staffList: false,
      financialSummary: false,
      reviews: false,
      approvals: false,
      DMAs: false,
      statusReports: false,
      activities: false,
    },
    // tabAPILoading keys must be in showTab
    tabAPILoading: {
      staffList: true,
      financialSummary: true,
      DMAs: true,
      statusReports: false,
      activities: false,
    },
    showStaffList: false,
    showFinancialSummary: false,
    showReviews: false,
    showApprovals: false,
    showDMAs: false,

    currentSort: 'name',
    currentSortDir: 'asc',
    currentSortTable: "",

    projects_loading: true,
    errorTooManyPY: false,
    errorTooBigStaff: false,
    errorTooSmallStaff: false,
    errorTooBigFinancial: false,
    errorTooSmallFinancial: false,
    errorTooBigStatusReports: false,
    errorTooBigActivities: false,
    projectYears: [],
    allPyIds: [],
    staff: [],
    staff_type_summary: [],
    staff_level_summary: [],
    staff_funding_summary: [],
    dmas: [],
    statusReports: [],
    uniqueStatusReports: [],
    activities: [],
    financials: [],
    next: null,
    previous: null,
    count: 0,
    activityNext: null,
    activityCount: 0,

    // filters
    filter: {
      statuses: []
    },

    status_report_filter: {},
    activity_filter: {},

    showColumnLeads: true,
    showColumnHidden: true,
    showColumnScore: false,
    showColumnLastModified: false,
    showColumnOM: false,
    showColumnSalary: false,
    showColumnCapital: false,

    fiscalYears: [],
    tags: [],
    services: [],
    statuses: [],
    themes: [],
    functionalGroups: [],
    fundingSources: [],
    sections: [],
    regions: [],
    divisions: [],

    projectLabels: {},
    projectYearLabels: {},
    reviewLabels: {},
    dmaLabels: {},

    // modal
    projectYear2Review: {},
    p2Update: {},
    allocation2Distribute: {},
    costs2Fund: [],
    omStaff2Fund: [],
    allocationProjectYear: {},
    modalAllocation: {},
    modalErrors: null,
    objectToEdit: {},
    showReviewModal: false,
    approvalModal: false,
    showModal: {
      salary_allocation: false,
      om_allocation: false,
      capital_allocation: false,
      capital_distribution: false,
      om_distribution: false,
      salary_distribution: false,
    },

  },
  methods: {
    getCurrentUser() {
      let endpoint = `/api/ppt/user/`;
      apiService(endpoint)
          .then(response => {
            this.currentUser = response;
            this.isAdminOrMgmt = this.currentUser.is_admin || this.currentUser.is_management
          })
    },
    goReport(reportName) {
      if (reportName === "dmas") {
        let ids = [];
        for (const dma of this.dmas) ids.push(dma.id);
        reportUrl = `{% url 'ppt:export_dmas' %}?ids=${ids}`;
        window.location.href = reportUrl;
        this.loadingReport = false;
      } else {
        let userInput = true;
        if (this.count > 500) userInput = confirm(`You are about to generate a report for a large number of projects (i.e., ${this.count} projects). Are you sure you want to continue?`);
        if (userInput) {
          this.loadingReport = true;
          endpoint = this.getProjectYearsEndpoint(5000);
          apiService(endpoint).then(response => {
            if (response.results) {
              let ids = [];
              for (const result of response.results) ids.push(result.id);
              let reportUrl;
              if (reportName === "basic") reportUrl = `{% url 'ppt:export_py_list' %}?ids=${ids}`;
              else if (reportName === "long") reportUrl = `{% url 'ppt:export_py_list' %}?long=true&ids=${ids}`;
              else if (reportName === "costs") reportUrl = `{% url 'ppt:export_costs' %}?ids=${ids}`;
              window.location.href = reportUrl;
              this.loadingReport = false;
            }
          })
        }
      }
    },
    goProjectDetail(projectYear) {
      url = `/ppt/projects/${projectYear.project.id}/view/?project_year=${projectYear.id}`;
      var win = window.open(url, '_blank');
    },
    goEmailLeads() {
      let userInput = true;
      if (this.count > 50) userInput = confirm(`You are about to generate an  email for a large number of project leads (i.e., ${this.count} project leads). Are you sure you want to continue?`);
      if (userInput) {
        let url = 'mailto:?bcc='
        let contactList = []
        for (const py of this.projectYears) {
          if (py.primary_contact_email && !contactList.includes(py.primary_contact_email)) {
            contactList.push(py.primary_contact_email)
          }
        }
        for (const email of contactList) {
          url = url.concat(email, ';')
        }
        var win = window.open(url, '_blank');

      }

    },
    goDMADetail(dma) {
      url = `/ppt/dmas/${dma.id}/view/`;
      var win = window.open(url, '_blank');
    },
    getFilterData() {
      var query = `?user=true`;
      apiService(`/api/ppt/themes/${query}`).then(response => this.themes = response)
      apiService(`/api/ppt/fiscal-years/${query}`).then(response => this.fiscalYears = response)
      apiService(`/api/ppt/tags/${query}`).then(response => {
        this.tags = [{name: "-----", id: ""}];
        this.tags.push(...response);
      })
      apiService(`/api/ppt/funding-sources/${query}`).then(response => {
        this.fundingSources = [{display: "-----", id: ""}];
        this.fundingSources.push(...response);
      })
      apiService(`/api/ppt/regions/${query}`).then(response => this.regions = response)
      if (this.filter.region && this.filter.region !== "") query += `&branch__sector__region=${this.filter.region}`
      apiService(`/api/ppt/divisions/${query}`).then(response => this.divisions = response)
      if (this.filter.division && this.filter.division !== "") query += `&division=${this.filter.division}`
      apiService(`/api/ppt/sections/${query}`).then(response => this.sections = response)

      // Functional Group
      let section = "";
      let region = "";
      let division = "";

      if (this.filter.section && this.filter.section !== "") section = this.filter.section;
      if (this.filter.division && this.filter.division !== "") division = this.filter.division;
      if (this.filter.region && this.filter.region !== "") region = this.filter.region;

      query = '?'
      if (section !== "") query += `sections=${section}&`
      if (division !== "") query += `sections__division=${division}&`
      if (region !== "") query += `sections__division__branch__sector__region=${region}&`
      apiService(`/api/ppt/functional-groups/${query}`).then(response => this.functionalGroups = response);
    },
    getFilterString() {
      let endpoint = `user=true&`
      if (this.filter.id) endpoint += `id=${this.filter.id}&`;
      if (this.filter.title) endpoint += `title=${this.filter.title}&`;
      if (this.filter.staff) endpoint += `staff=${this.filter.staff}&`;
      if (this.filter.fiscal_year) endpoint += `fiscal_year=${this.filter.fiscal_year}&`;
      if (this.filter.starting_fy) endpoint += `starting_fy=${this.filter.starting_fy}&`
      if (this.filter.tag) endpoint += `tag=${this.filter.tag}&`;
      if (this.filter.services) endpoint += `services=${this.filter.services}&`;
      if (this.filter.theme) endpoint += `theme=${this.filter.theme}&`;
      if (this.filter.functional_group) endpoint += `functional_group=${this.filter.functional_group}&`;
      if (this.filter.funding_source) endpoint += `funding_source=${this.filter.funding_source}&`;
      if (this.filter.region) endpoint += `region=${this.filter.region}&`;
      if (this.filter.division) endpoint += `division=${this.filter.division}&`;
      if (this.filter.section) endpoint += `section=${this.filter.section}&`;

      if (this.filter.statuses.length) for (const status of this.filter.statuses) endpoint += `statuses=${status}&`;


      if (this.filter.status) endpoint += `status=${this.filter.status}&`;
      if (this.filter.approval_status) endpoint += `approval_status=${this.filter.approval_status}&`;
      if (this.filter.approval_level) endpoint += `approval_level=${this.filter.approval_level}&`;
      if (this.filter.funding_status) endpoint += `funding_status=${this.filter.funding_status}&`;
      if (this.filter.om_cost_category) endpoint += `om_cost_category=${this.filter.om_cost_category}&`;
      if (this.filter.activity_type) endpoint += `activity_type=${this.filter.activity_type}&`;

      if (this.filter.has_ship_needs === true || this.filter.has_ship_needs === false) endpoint += `has_ship_needs=${this.filter.has_ship_needs}&`;
      if (this.filter.requires_specialized_equipment === true || this.filter.requires_specialized_equipment === false) endpoint += `requires_specialized_equipment=${this.filter.requires_specialized_equipment}&`;
      if (this.filter.has_field_component === true || this.filter.has_field_component === false) endpoint += `has_field_component=${this.filter.has_field_component}&`;
      if (this.filter.has_data_component === true || this.filter.has_data_component === false) endpoint += `has_data_component=${this.filter.has_data_component}&`;
      if (this.filter.has_lab_component === true || this.filter.has_lab_component === false) endpoint += `has_lab_component=${this.filter.has_lab_component}&`;
      if (this.status_report_filter.has_status_report === true || this.status_report_filter.has_status_report === false) endpoint += `has_status_report=${this.status_report_filter.has_status_report}&`;
      return endpoint
    },
    getDMAFilterString() {
      let endpoint = "";
      if (this.filter.id) endpoint += `project=${this.filter.id}&`;
      if (this.filter.title) endpoint += `project__title=${this.filter.title}&`;
      if (this.filter.region) endpoint += `project__section__division__branch__sector__region=${this.filter.region}&`;
      if (this.filter.division) endpoint += `project__section__division=${this.filter.division}&`;
      if (this.filter.section) endpoint += `project__section=${this.filter.section}&`;
      return endpoint
    },
    getStatusReportFilterString() {
      let endpoint = "";
      if (this.status_report_filter.created_at) endpoint += `created_at=${this.status_report_filter.created_at}&`;
      if (this.status_report_filter.status) endpoint += `status=${this.status_report_filter.status}&`;
      return endpoint
    },
    getActivityFilterString() {
      let endpoint = "";
      if (this.projectYears) endpoint += `project_years=${this.allPyIds}&`;
      if (this.approvedActivities) endpoint += `approvedOnly=4&`;
      if (this.activity_filter.status) endpoint += `status=${this.activity_filter.status}&`;
      if (this.activity_filter.classification) endpoint += `classification=${this.activity_filter.classification}&`;
      return endpoint
    },
    getProjectYearsEndpoint(pageSize = 25) {
      endpoint = `/api/ppt/project-years/`;
      // apply filters
      endpoint += `?page_size=${pageSize}&` + this.getFilterString()
      return endpoint
    },
    getDMAEndpoint(pageSize = 25) {
      endpoint = `/api/ppt/dmas/`;
      // apply filters
      endpoint += `?page_size=${pageSize}&` + this.getDMAFilterString()
      return endpoint
    },
    getStatusReportEndpoint(pageSize = 25) {
      endpoint = `/api/ppt/status-reports/`;
      // apply filters
      endpoint += `?page_size=${pageSize}&` + this.getStatusReportFilterString()
      return endpoint
    },
    getActivityEndpoint(pageSize = 25) {
      endpoint = `/api/ppt/activities/`;
      // apply filters
      endpoint += `?page_size=${pageSize}&` + this.getActivityFilterString()
      return endpoint
    },
    getProjectYears(endpoint, pageSize = 25) {
      this.projects_loading = true;
      if (!endpoint) endpoint = this.getProjectYearsEndpoint(pageSize)
      apiService(endpoint)
          .then(response => {
            if (response.results) {
              this.projects_loading = false;
              this.projectYears.push(...response.results);
              this.next = response.next;
              this.previous = response.previous;
              this.count = response.count;

              if (this.count < 200) {
                this.errorTooManyPY = false;
                endpointAll = this.getProjectYearsEndpoint(200)
                apiService(endpointAll)
                    .then(response => {
                      if (response.results) {
                        this.allPyIds = response.results.map(py => py.id)
                      }
                    })
              } else {
                this.errorTooManyPY = true;
              }

              // make all tabs reload with new list
              for (const tabLoadingKey in this.tabAPILoading) {
                this.tabAPILoading[tabLoadingKey] = true;
              }
              this.loadActiveTab();
            }
          })
    },
    refreshProjectYear(p) {
      apiService(`/api/ppt/project-years/${p.id}`).then(response => {
        if (response.id) {
          this.$set(this.projectYears, this.projectYears.indexOf(p), response)
        }
      })
    },
    submitProjectYear(projectYear, action) {
      if (action === "submit" || action === "unsubmit") {
        if (action === "submit") msg = submitMsg
        else msg = unsubmitMsg
        userInput = confirm(msg + projectYear.display_name)
        if (userInput) {
          let endpoint = `/api/ppt/project-years/${projectYear.id}/?${action}=true`;
          apiService(endpoint, "POST")
              .then(response => {
                this.$set(this.projectYears, this.projectYears.indexOf(projectYear), response);
              })
        }
      }
    },
    comingSoon() {
      alert("this feature is coming soon!")
    },
    sort(s, table = "sortedProjectYears") {
      // from https://www.raymondcamden.com/2018/02/08/building-table-sorting-and-pagination-in-vuejs
      //if s == current sort, reverse
      if (s === this.currentSort) {
        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
      }
      this.currentSort = s;
      this.currentSortTable = table;
    },
    clearProjectYears() {
      this.projectYears = []
      this.next = null
      this.count = 0
    },
    loadMoreResults() {
      if (this.next) {
        this.getProjectYears(this.next)
      }
    },
    loadMoreActivityResults() {
      if (this.activityNext) {
        this.getActivities()
      }
    },
    clearFilters() {
      this.filter = {};
      this.updateResults()
    },
    clearStatusReportFilters() {
      this.status_report_filter = {};
      this.getStatusReports()
    },
    clearActivityFilters() {
      this.activity_filter = {};
      this.upddateActivities()
    },
    toggleApprovedOnly() {
      this.approvedActivities = !this.approvedActivities;
      this.upddateActivities();
    },
    updateResults() {
      this.clearProjectYears();
      this.getProjectYears();
      this.getFilterData();
    },
    upddateActivities() {
      this.activities = []
      this.activityNext = null
      this.activityCount = 0
      this.getActivities();
    },
    changeTabs(name) {
      for (const showTabKey in this.showTab) {
        this.showTab[showTabKey] = false;
      }
      if (name === "project") this.showTab.projectList = true;
      else if (name === "staff") this.showTab.staffList = true;
      else if (name === "financial") this.showTab.financialSummary = true;
      else if (name === "reviews") this.showTab.reviews = true;
      else if (name === "approvals") this.showTab.approvals = true;
      else if (name === "dmas") this.showTab.DMAs = true;
      else if (name === "statusReports") this.showTab.statusReports = true;
      else if (name === "activities") this.showTab.activities = true;
      this.loadActiveTab();
    },

    loadActiveTab() {
      for (const tabKey in this.showTab) {
        if (this.showTab[tabKey] && this.tabAPILoading[tabKey]) {
          if (tabKey === "staffList") {
            this.getStaff()
          }
          if (tabKey === "financialSummary") {
            this.getFinancials()
          }
          if (tabKey === "DMAs") {
            this.getDMAs()
          }
          if (tabKey === "statusReports") {
            this.getStatusReports()
          }
          if (tabKey === "activities") {
            this.getActivities()
          }
        }
      }
    },

    getStaff() {
      this.tabAPILoading.staffList = true;
      this.errorTooBigStaff = false
      this.errorTooSmallStaff = false
      this.errorNoFiscalYear = false
      if (!this.filter.fiscal_year) {
        this.tabAPILoading.staffList = false;
        this.errorNoFiscalYear = true;
      } else if (!this.projectYears.length) {
        this.tabAPILoading.staffList = false;
        this.errorTooSmallStaff = true;
      } else if (this.count > 150) {
        this.tabAPILoading.staffList = false;
        this.errorTooBigStaff = true;
      } else {
        // first get the full list of project years
        if (this.errorTooManyPY) {
          this.errorTooBigStaff = true
        } else {
          let endpoint = `/api/ppt/staffing/?year=${this.filter.fiscal_year}&ids=${this.allPyIds}`;
          apiService(endpoint)
              .then(response => {
                this.tabAPILoading.staffList = false;
                this.staff = response.results;
                this.staff_level_summary = response.level_summary;
                this.staff_type_summary = response.type_summary;
                this.staff_funding_summary = response.funding_summary;
              })
        }
      }
    },
    getDMAs() {
      this.tabAPILoading.DMAs = true;
      let endpoint1 = this.getDMAEndpoint()
      apiService(endpoint1)
          .then(response => {
            this.tabAPILoading.DMAs = false;
            this.dmas = response;
          })
    },
    getStatusReports() {
      this.tabAPILoading.statusReports = true;
      this.errorTooBigStatusReports = false;

      if (this.errorTooManyPY) {
        this.tabAPILoading.statusReports = false;
        this.errorTooBigStatusReports = true;
      } else {
        let endpoint = this.getStatusReportEndpoint(pageSize = 200)
        apiService(endpoint)
            .then(response => {
              this.tabAPILoading.statusReports = false;
              this.statusReports = response;

              this.uniqueStatusReports = response.reduce(function (outArr, srStep) {
                // the following is #efficient
                // Copy the response array, remove the srStep object from the copy.
                let compArray = response.slice(0);
                let srIndex = compArray.indexOf(srStep);
                compArray.splice(srIndex, 1);
                // if the next status report's project year is not found in the response array, or if it has the most
                // recent created_at date, push the object into the output array
                if (!compArray.some(function (sr) {
                  return sr.project_year === srStep.project_year && sr.created_at > srStep.created_at
                })) {
                  outArr.push(srStep);
                }
                return outArr;
              }, []);

              let nullSr = Object.assign({}, response[0])
              Object.keys(nullSr).forEach((i) => nullSr[i] = "")

              //assign each project year a status report or the null status report
              for (let i = 0; i < this.projectYears.length; i++) {
                this.projectYears[i].status_report = this.uniqueStatusReports.find(sr => sr.project_year === this.projectYears[i].id)
                if (typeof this.projectYears[i].status_report === 'undefined') {
                  this.projectYears[i].has_status_report = false;
                  this.projectYears[i].status_report = nullSr;
                } else {
                  this.projectYears[i].has_status_report = true;
                }
              }
            })
      }
    },
    getActivities() {
      this.tabAPILoading.activities = true;

      if (this.errorTooManyPY) {
        this.tabAPILoading.activities = false;
        this.errorTooBigActivities = true;
      } else {
        let endpoint = null
        if (this.activityNext) {
          endpoint = this.activityNext
        }  else {
          this.activities = [];
          endpoint = this.getActivityEndpoint(pageSize = 25)
        }
        apiService(endpoint)
            .then(response => {
              this.activitiesResponse = response.results;
              this.activityCount = response.count;
              this.activityNext = response.next;
              //assign each status report a project and project year.  First get all project years:
              if (this.activityCount < 500){
                this.errorTooBigActivities = false;
                endpointAll = this.getProjectYearsEndpoint(200)
                apiService(endpointAll)
                  .then(response => {
                    if (response.results) {
                        let allPys = response.results
                        for (let i = 0; i < this.activitiesResponse.length; i++) {
                            let pyMatch = allPys.find(py => py.id === this.activitiesResponse[i].project_year_id)
                            if (pyMatch !== 'undefined') {
                                this.activitiesResponse[i].project_year = pyMatch
                                this.activitiesResponse[i].project = pyMatch.project
                                this.activities.push(this.activitiesResponse[i]);
                            }
                        }
                      this.tabAPILoading.activities = false;
                    }
                  })
              } else {
                this.errorTooBigActivities = true;
              }


            })
      }
    },
    getFinancials() {
      this.tabAPILoading.financialSummary = true;
      this.errorTooBigFinancial = false
      this.errorTooSmallFinancial = false

      if (!this.projectYears.length) {
        this.tabAPILoading.financialSummary = false;
        this.errorTooSmallFinancial = true;
      } else if (this.errorTooManyPY) {
        this.tabAPILoading.financialSummary = false;
        this.errorTooBigFinancial = true;
      } else {
        let endpoint = `/api/ppt/financials/?ids=${this.allPyIds}`;
        apiService(endpoint)
            .then(response => {
              this.tabAPILoading.financialSummary = false;
              this.financials = response;
            })
      }
    },
    openReviewModal(projectYear, which = "review") {
      this.projectYear2Review = projectYear;
      if (!this.projectYear2Review.review) {
        this.projectYear2Review.review = {}
      }
      this.showReviewModal = true;
      if (which === "approval") {
        this.approvalModal = true;
        this.projectYear2Review.review.approval_email_update = true
      }
    },
    openAllocationModal(existingAllocation, py, which) {
      this.allocationProjectYear = py;
      this.modalAllocation = existingAllocation;
      this.modalErrors = null;
      this.showModal[which] = true;
    },

    submitModalAllocation(allocationOptions) {
      let childAllocation = allocationOptions.allocation;
      let which = allocationOptions.which;
      let type = allocationOptions.type;
      let distribute = allocationOptions.distrubute;
      let distrubutionCosts = allocationOptions.distrubutionCosts;

      if (this.modalAllocation) {
        let endpoint = `/api/ppt/${type}/${this.modalAllocation.id}/`;
        apiService(endpoint, "PATCH", childAllocation).then(response => {
          if (response.id) {
            this.modalAllocation = response;
            if (distribute) {
              this.showModal[which] = false;
              this.openDistributionModal(this.modalAllocation, distrubutionCosts);
            } else {
              this.closeModal(this.allocationProjectYear);
            }
          } else {
            this.modalErrors = groomJSON(response);
          }
        })
      } else {
        let endpoint = `/api/ppt/${type}/`;
        childAllocation.project_year = this.allocationProjectYear.id
        apiService(endpoint, "POST", childAllocation).then(response => {
          if (response.id) {
            this.modalAllocation = response;
            if (distribute) {
              this.showModal[which] = false;
              this.openDistributionModal(this.modalAllocation, distrubutionCosts);
            } else {
              this.closeModal(this.allocationProjectYear);
            }
          } else {
            this.modalErrors = groomJSON(response);
          }
        })
      }
    },

    openDistributionModal(allocation, type) {
      this.allocation2Distribute = allocation;
      if (type === "staff") {
        let endpoint = `/api/ppt/${type}/?project_year=${allocation.project_year}`;
        apiService(endpoint)
            .then(response => {
              this.costs2Fund = response;
            })
        this.showModal['salary_distribution'] = true;
      } else if (type === "capital-costs") {
        let endpoint = `/api/ppt/${type}/?project_year=${allocation.project_year}`;
        apiService(endpoint)
            .then(response => {
              this.costs2Fund = response.results;
            })
        this.showModal['capital_distribution'] = true;

      } else if (type === "om-costs") {
        let omEndpoint = `/api/ppt/${type}/?project_year=${allocation.project_year}`;
        apiService(omEndpoint)
            .then(response => {
              this.costs2Fund = response.results;
            })
        let staffEndpoint = `/api/ppt/staff/?project_year=${allocation.project_year}`;
        apiService(staffEndpoint)
            .then(response => {
              this.omStaff2Fund = response;
            })
        this.showModal['om_distribution'] = true;
      }
    },

    closeModal(updatedProjectYear) {
      for (const showModalKey in this.showModal) {
        this.showModal[showModalKey] = false;
      }
      this.showReviewModal = false;
      this.approvalModal = false;

      if (updatedProjectYear) {
        let endpoint = `/api/ppt/project-years/${updatedProjectYear.id}/`;
        apiService(endpoint, "GET")
            .then(response => {
              this.$set(this.projectYears, this.projectYears.indexOf(updatedProjectYear), response);
            })
      }
      if (Object.keys(this.p2Update).length) {
        this.updateReview(this.p2Update)
        this.p2Update = {}
      }
    },
    toggleShowProjects(staff) {
      staff.showRelatedProjects = !staff.showRelatedProjects
      this.$forceUpdate()
    },
    toggleShowFilteredProjects(staff) {
      staff.showFilteredProjects = !staff.showFilteredProjects
      this.$forceUpdate()
    },
    toggleShowCapitalProjects(funding_source) {
      funding_source.showCapitalProjects = !funding_source.showCapitalProjects
      this.$forceUpdate()
    },
    toggleShowOMProjects(funding_source) {
      funding_source.showOMProjects = !funding_source.showOMProjects
      this.$forceUpdate()
    },
    toggleShowSalaryProjects(funding_source) {
      funding_source.showSalaryProjects = !funding_source.showSalaryProjects
      this.$forceUpdate()
    },
    generateReports(url, tag) {
      window.open(url + "?" + this.getFilterString(), tag, 'toolbar=0,status=0,height=500,width=600');
    },
    getModelMetadata() {
      apiService(`/api/ppt/meta/models/project/`).then(data => {
        this.projectLabels = data.labels;
      });
      apiService(`/api/ppt/meta/models/projectyear/`).then(data => {
        this.projectYearLabels = data.labels;
        this.services = data.service_choices;
        this.statuses = data.status_choices;
      });
      apiService(`/api/ppt/meta/models/review/`).then(data => {
        this.reviewLabels = data.labels;
      });
      apiService(`/api/ppt/meta/models/dma/`).then(data => {
        this.dmaLabels = data.labels;
      });
    },
    startReview(p) {
      apiService(`/api/ppt/project-years/${p.id}/?start_review=true`, "POST").then(data => {
        this.$set(this.projectYears, this.projectYears.indexOf(p), data);
      });
    },
    deleteReview(p) {
      userInput = confirm("{% trans "Are you sure you want to delete this project's review? This action is not reversible." %}")
      if (userInput) {
        apiService(`/api/ppt/project-years/${p.id}/?remove_review=true`, "POST").then(data => {
          this.$set(this.projectYears, this.projectYears.indexOf(p), data);
        });
      }
    },
    updateReview(p) {
      apiService(`/api/ppt/reviews/${p.review.id}/`, "PUT", p.review).then(data => {
        p.review = data
        // update the project year
        this.refreshProjectYear(p)
      })
    },
  },
  filters: {
    yesNo: vueFiltersObject["yesNo"],
    nz: vueFiltersObject["nz"],
    floatformat: vueFiltersObject["floatformat"],
    currencyFormat: vueFiltersObject["currencyFormat"],
    zero2NullMark: vueFiltersObject["zero2NullMark"],
    percentage: vueFiltersObject["percentage"],
  },
  computed: {

    sortedProjectYears() {
      if (this.currentSortTable !== "sortedProjectYears") {
        return this.projectYears;
      } else {
        return this.projectYears.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === 'desc') modifier = -1;

          if (this.currentSort && this.currentSort.search("fiscal") > -1) {
            if (a["fiscal_year"] < b["fiscal_year"]) return -1 * modifier;
            if (a["fiscal_year"] > b["fiscal_year"]) return 1 * modifier;
          } else if (this.currentSort === "id") {
            if (a["project"]["id"] < b["project"]["id"]) return -1 * modifier;
            if (a["project"]["id"] > b["project"]["id"]) return 1 * modifier;
          } else if (this.currentSort === "functional_group") {
            if (a["project"]["functional_group"] < b["project"]["functional_group"]) return -1 * modifier;
            if (a["project"]["functional_group"] > b["project"]["functional_group"]) return 1 * modifier;
          } else if (this.currentSort.includes(".")) {
            let parentKey = this.currentSort.split(".")[0];
            let childKey = this.currentSort.split(".")[1];
            if (a[parentKey][childKey] < b[parentKey][childKey]) return -1 * modifier;
            if (a[parentKey][childKey] > b[parentKey][childKey]) return 1 * modifier;
          } else if (this.projectYears[0][this.currentSort] == null) {
            if (a["project"][this.currentSort] < b["project"][this.currentSort]) return -1 * modifier;
            if (a["project"][this.currentSort] > b["project"][this.currentSort]) return 1 * modifier;
          } else {
            if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
            if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          }
          return 0;
        });
      }
    },

    sortedProjectYearsStatusReports() {
      if (this.status_report_filter.has_status_report && !this.tabAPILoading.statusReports) {
        return this.sortedProjectYears.filter(function (py) {
          return py.has_status_report;
        })
      } else {
        return this.sortedProjectYears;
      }
    },

    sortedActivities() {
      if (this.currentSortTable !== "sortedActivities") {
        return this.activities;
      } else {
        return this.activities.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === 'desc') modifier = -1;

          if (this.currentSort.includes(".")) {
            let parentKey = this.currentSort.split(".")[0];
            let childKey = this.currentSort.split(".")[1];
            if (a[parentKey][childKey] < b[parentKey][childKey]) return -1 * modifier;
            if (a[parentKey][childKey] > b[parentKey][childKey]) return 1 * modifier;
          } else {
            if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
            if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          }
          return 0;
        });
      }
    },

    statusReportCount() {
      if (this.uniqueStatusReports.length < this.count && this.status_report_filter.has_status_report) {
        return this.uniqueStatusReports.length;
      } else {
        return this.count;
      }
    },

    sortedStaffLevelSummary() {
      if (this.currentSortTable !== "sortedStaffLevelSummary") {
        return this.staff_level_summary;
      } else {
        return this.staff_level_summary.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === 'desc') modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        });
      }
    },

    sortedStaffTypeSummary() {
      if (this.currentSortTable !== "sortedStaffTypeSummary") {
        return this.staff_type_summary;
      } else {
        return this.staff_type_summary.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === 'desc') modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        });
      }
    },

    sortedStaffFundingSummary() {
      if (this.currentSortTable !== "sortedStaffFundingSummary") {
        return this.staff_funding_summary;
      } else {
        return this.staff_funding_summary.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === 'desc') modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        });
      }
    },

    sortedStaff() {
      if (this.currentSortTable !== "sortedStaff") {
        return this.staff;
      } else {
        return this.staff.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === 'desc') modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        });
      }
    },

    console_loading() {
      if (this.projects_loading) {
        return true;
      } else {
        for (const showTabKey in this.showTab) {
          if (this.showTab[showTabKey] && this.tabAPILoading[showTabKey]) {
            return true;
          }
        }
        return false;
      }
    },

    financial_totals() {
      myObj = {
        salary: 0,
        om: 0,
        capital: 0,
        total_in_om: 0,
        allocated_salary: 0,
        allocated_om: 0,
        allocated_capital: 0,
        allocated_total_in_om: 0,
      }
      if (this.financials) {
        for (var i = 0; i < this.financials.length; i++) {
          myObj.salary += this.financials[i].salary
          myObj.om += this.financials[i].om
          myObj.capital += this.financials[i].capital
          myObj.total_in_om += this.financials[i].total_in_om
          myObj.allocated_salary += this.financials[i].allocated_salary
          myObj.allocated_om += this.financials[i].allocated_om
          myObj.allocated_capital += this.financials[i].allocated_capital
          myObj.allocated_total_in_om += this.financials[i].allocated_total_in_om
        }
      }
      return myObj
    },
  },
  created() {
    this.getModelMetadata();
    this.getCurrentUser();
    this.getProjectYears();
    this.getFilterData();
  },
  mounted() {
  },
});


</script>
