<script src="http://localhost:8098"></script>
{% extends 'ppt/base.html' %}
{% load verbose_names %}
{% load i18n %}
{% load custom_filters %}
{% load static %}

{% block title_area %}
{% endblock %}

{% block crumbs %}
{% endblock %}

{% block content %}

  <div id="app" @keydown.esc.prevent="closeModal()" v-cloak>

    <div id="mySidebar" :class="{'sidebar-opened':showSidebar,'sidebar-closed':!showSidebar}">
      {% include "ppt/manage_projects/_console.html" %}
    </div>
    <div :class="{'main-opened':showSidebar, 'main-closed':!showSidebar}">
      <div class="row container-fluid bg-light curvy">
        <div class="col">


          <p class="h1 text-center">{% trans "Management Console" %}</p>
          <p class="lead text-center">{% trans "Projects over which you have managerial control" %}</p>


          <div class="">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item">
                <a :class="{ 'nav-link': true, 'active': showTab.projectList }" href="#" @click="changeTabs('project')">
                  {% trans "Project List" %}
                  <span class="badge badge-lg badge-dark ml-1 pt-1">${count}</span>
                </a>
              </li>
              <li class="nav-item">
                <a :class="{ 'nav-link': true, 'active': showTab.reviews }" href="#" @click="changeTabs('reviews')">
                  {% trans "Reviews" %}
                </a>
              </li>
              <li class="nav-item" v-if="currentUser.is_admin || currentUser.is_rds">
                <a :class="{ 'nav-link': true, 'active': showTab.approvals }" href="#" @click="changeTabs('approvals')">
                  {% trans "Approvals" %}
                </a>
              </li>
              <li class="nav-item">
                <a :class="{ 'nav-link': true, 'active': showTab.staffList }" href="#" @click="changeTabs('staff')">
                  {% trans "Staff List" %}
                </a>
              </li>
              <li class="nav-item">
                <a :class="{ 'nav-link': true, 'active': showTab.financialSummary }" href="#" @click="changeTabs('financial')">
                  {% trans "Financial Summary" %}
                </a>
              </li>
              <li class="nav-item">
                <a :class="{ 'nav-link': true, 'active': showTab.DMAs }" href="#" @click="changeTabs('dmas')">
                  {% trans "Data Management Agreements" %}
                </a>
              </li>
            </ul>
          </div>


          <div v-if="loadingReport" class="float-right">
            <button class="btn btn-outline-secondary" type="button">
              <div class="spinner-border" style="width: 1rem; height: 1rem;" role="status">
                <span class="sr-only"></span>
              </div>
            </button>
          </div>
          <div v-else class="float-right">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                {% trans "Export" %}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item clickable" @click="goReport('basic')">{% trans "Projects Export (short form)" %}</a>
                <a class="dropdown-item clickable" @click="goReport('long')">{% trans "Projects Export (long form)" %}</a>
                <a class="dropdown-item clickable" @click="goReport('costs')">{% trans "Project Costs Export" %}</a>
                <a class="dropdown-item clickable" @click="goEmailLeads()">{% trans "Email Primary Project Leads" %}</a>
              </div>
            </div>
          </div>

          {% include "ppt/manage_projects/_project_list.html" %}
          {% include "ppt/manage_projects/_staff.html" %}
          {% include "ppt/manage_projects/_financials.html" %}
          {% include "ppt/manage_projects/_reviews.html" %}
          {% include "ppt/manage_projects/_approvals.html" %}
          {% include "ppt/manage_projects/_dmas.html" %}
        </div>

      </div>
    </div>

    <modal v-if="showReviewModal" @close="closeModal" :project_year="projectYear2Review" :approval_form="approvalModal"></modal>
   <salary-allocation-modal v-if="showModal.salary_allocation" @submit-allocation="submitModalAllocation"
                              @close="closeModal" :year="allocationProjectYear" :errors="modalErrors"
                              :parent_allocation="modalAllocation"></salary-allocation-modal>
    <om-allocation-modal v-if="showModal.om_allocation" @submit-allocation="submitModalAllocation"
                              @close="closeModal" :year="allocationProjectYear" :errors="modalErrors"
                              :parent_allocation="modalAllocation"></om-allocation-modal>
    <capital-allocation-modal v-if="showModal.capital_allocation" @submit-allocation="submitModalAllocation"
                              @close="closeModal" :year="allocationProjectYear" :errors="modalErrors"
                              :parent_allocation="modalAllocation"></capital-allocation-modal>
    <capital-distribution-modal v-if="showModal.capital_distribution" @close="closeModal" :allocation="allocation2Distribute"
                        :costs="costs2Fund"></capital-distribution-modal>
    <om-distribution-modal v-if="showModal.om_distribution" @close="closeModal" :allocation="allocation2Distribute"
                        :costs="costs2Fund" :staff="omStaff2Fund"></om-distribution-modal>
    <salary-distribution-modal v-if="showModal.salary_distribution" @close="closeModal" :allocation="allocation2Distribute"
                        :costs="costs2Fund"></salary-distribution-modal>

  </div>


{% endblock %}


{% block body_js %}
  {{ block.super }}

  <script type="application/javascript">
  let submitMsg = "{% trans "Are certain you want to submit the following year of the project?" %} \n\n";
  let unsubmitMsg = "{% trans "Are certain you want to un-submit the following year of the project? The status of the project year will be reset!" %} \n\n";
  let deleteReviewMsg = "{% trans "Are certain you want to delete the review on this project?\n\nThis action is not reversible." %} \n\n";
  let reviewRubric =  {{review_score_rubric|safe}};

  </script>

  {% include "ppt/manage_projects/_script.html" %}


  {#  reload other scripts that we care about#}
  <script type="text/javascript" src="{% static "js/clickableTableRows.js" %}?version=1.1.7"></script>
  <script type=" text/javascript" src="{% static "js/popItOut.js" %}?version=1.2.2"></script>
  <script type=" text/javascript" src="{% static "js/underDevelopment.js" %}?version=1.2.4"></script>

{% endblock %}