{% load static %}
{% load humanize %}
{% load i18n %}
{% load verbose_names %}

<div class="">
    <h3>
        {% trans "Lending Agreements:" %}
    </h3>
</div>

{% if object.lendings.count == 0 %}
    <em>
        {% trans "No lending agreements have been added to this entry" %}
    </em><br>
{% else %}

    <table class="table table-hover table-sm" style="width: auto">
        <tr>

            {% for field in lend_field_list %}
            <th>

            {% get_verbose_label random_lend field %}
            </th>
            {% endfor %}
        </tr>
        <tbody>
         {% for obj in object.lendings.all %}
            <tr href="{% url 'mmutools:lending_edit' obj.id %}" pop>
            {% for field in lend_field_list %}
            <td>

            {% get_field_value obj field %}
            </td>
            {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<a class="" href="#" pop-href="{% url 'mmutools:lending_new' %}">
    {% trans "(Add Lending Agreement)" %}
</a>
<br>
<br>
<br>