{% load static %}
{% load humanize %}
{% load i18n %}

<div class="">
    <h3>
        {% trans "Lending Agreements:" %}
    </h3>
</div>

{% if object.necropsy_lending_related.count == 0 %}
    <em>
        {% trans "No lending agreements have been added to this entry" %}
    </em><br>
{% else %}

    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            <th>
                {% trans "Quantity Lent" %}
            </th>
            <th>
                {% trans "Lent To" %}
            </th>
            <th>
                {% trans "Lent Date" %}
            </th>
        </tr>
        <tbody>
        {% for obj in object.necropsy_lending_related.all %}
            <tr href="{% url 'mmutools:lending_edit' obj.id %}" pop>
                <td>
                    {{ obj.quantity_lent }}
                </td>
                <td>
                    {{ obj.lent_to }}
                </td>
                <td>
                    {{ obj.lent_date }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<a class="" href="#"
   onclick="return popitup('{% url 'mmutools:lending_new' %}','popoutWindow')">
    {% trans "(Add Lending Agreement)" %}
</a>
<br>
<br>
<br>