{% load static %}
{% load humanize %}
{% load i18n %}

<!--TODO Figure out how to use operators on fields with choices (ref "_quantity.html")-->
<!--Trying to get it to add a box with the total quantity available, see models.py Quantity model-->

<!--For a given item with X quantity entries of status = 'ON_HAND' and status = 'LENT_OUT', I want to:

sum_oh = sum quantities with status = "ON_HAND"
sum_lent = sum quantities with status = "LENT_OUT"

And then get the quantity available still by:
sum_avail = sum_oh - sum_lent
-->


<div class="">
    <h3>
        {% trans "Quantity:" %}
    </h3>
</div>

{% if object.necropsy_quantity_related.count == 0 %}
    <em>
        {% trans "No quantities have been added to this entry" %}
    </em><br>
{% else %}

    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            <th>
                {% trans "Quantity" %}
            </th>
            <th>
                {% trans "Status" %}
            </th>
            <th>
                {% trans "Location Stored" %}
            </th>
            <th>
                {% trans "Bin Id" %}
            </th>
        </tr>
        <tbody>
        {% for obj in object.necropsy_quantity_related.all %}
            <tr href="{% url 'mmutools:quantity_edit' obj.id %}" pop>
                <td>
                    {{ obj.quantity }}
                </td>
                <td>
                    {{ obj.status }}
                </td>
                <td>
                    {{ obj.location_stored }}
                </td>
                <td>
                    {{ obj.bin_id }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<a class="" href="#"
   onclick="return popitup('{% url 'mmutools:quantity_new' %}','popoutWindow')">
    {% trans "(Add Inventory)" %}
</a>
<br>
<br>
<br>