{% load static %}
{% load humanize %}
{% load i18n %}

<div class="">
    <h3>
        {% trans "Quantity:" %}
    </h3>
</div>

{% if object.necropsy_quantity_related.count == 0 %}
    <em>
        {% trans "No quantities have been added to this entry" %}
    </em><br>
{% else %}

    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            <th>
                {% trans "Quantity on Hand" %}
            </th>
            <th>
                {% trans "Quantity Lent Out" %}
            </th>
            <th>
                {% trans "Quantity on Order" %}
            </th>
            <th>
                {% trans "Location Stored" %}
            </th>
            <th>
                {% trans "Bin Id" %}
            </th>
        </tr>
        <tbody>
        {% for obj in object.necropsy_quantity_related.all %}
            <tr href="{% url 'mmutools:quantity_edit' obj.id %}" pop>
                <td>
                    {{ obj.quantity_oh }}
                </td>
                <td>
                    {{ obj.quantity_lent }}
                </td>
                <td>
                    {{ obj.quantity_oo }}
                </td>
                <td>
                    {{ obj.location_stored }}
                </td>
                <td>
                    {{ obj.bin_id }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<a class="" href="#"
   onclick="return popitup('{% url 'mmutools:quantity_new' %}','popoutWindow')">
    {% trans "(Add Inventory)" %}
</a>
<br>
<br>
<br>