{% load verbose_names %}
{% load i18n %}
<style media="screen">
.email-table {
    border: solid 1px black;
    text-align: left;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 2px;
}

</style>

<em>
  *** un message français suivra
</em>
<br><br>

<p>
  Hello {{ invitee.first_name }},
</p>
<p>
  You have been invited to the following event:
</p>

{% language 'en' %}
  <p>
  <table class="email-table">
    {% for field in field_list %}
      {% verbose_td_display invitee.event field %}
    {% endfor %}
  </table>
  </p>

  {% if invitee.event.resources.exists %}
    <p>
      There {{ invitee.event.resources.count|pluralize:"is,are" }} currently {{ invitee.event.resources.count }}
      resource{{ invitee.event.resources.count|pluralize }} available for this event:
    </p>
    <ol>
      {% for r in invitee.event.resources.all %}
        <li><a href="{{ r.turl }}">{{ r.tname }}</a></li>
      {% endfor %}
    </ol>
  {% endif %}
{% endlanguage %}

<p>
  Please send your RSVP to the following email: <a href="mailto:{{ invitee.event.rsvp_email }}">{{ invitee.event.rsvp_email }}</a>.
</p>

<p>
  With thanks,
  <br><br>
  DM Apps Events Planner
</p>

<p>
  ********************************************************************
</p>

<p>
  Bonjour {{ invitee.first_name }},
</p>
<p>
  Vous avez été invité à l'événement suivant :
</p>

{% language 'fr' %}
  <p>
  <table class="email-table">
    {% for field in field_list %}
      {% verbose_td_display invitee.event field %}
    {% endfor %}
  </table>
  </p>
   {% if invitee.event.resources.exists %}
    <p>
      Il y a actuellement {{ invitee.event.resources.count }} ressource{{ invitee.event.resources.count|pluralize }} disponible{{ invitee.event.resources.count|pluralize }}
      pour cet événement:
    </p>
    <ol>
      {% for r in invitee.event.resources.all %}
        <li><a href="{{ r.turl }}">{{ r.tname }}</a></li>
      {% endfor %}
    </ol>
  {% endif %}
{% endlanguage %}

<p>
  Veuillez envoyer votre RSVP à l'adresse e-mail suivante: <a href="mailto:{{ invitee.event.rsvp_email }}"> {{ invitee.event.rsvp_email }} </a>.
</p>

<p>
  Cordialement,
  <br><br>
  Planificateur d'événements - Applis GD
</p>


</p>






