{% load static %}
{% load humanize %}
{% load i18n %}
{% load verbose_names %}

<div class="">
    <h3>
        {% trans "Transaction Snapshot:" %}
    </h3>
    <div class="btn-group">
        <h3>
        <span class="badge badge-info">
        {% trans "Quantity Currently Available:" %}
            {{ quantity_avail }}
<!--figure out how to add a bit more space inside nested span between -->
                <a class="badge badge-danger" href="{% url 'whalebrary:item_transaction_detail' object.id %}">Details</a>
       </span>
       </h3>
       </div>
</div>

{% if object.transactions.count == 0 %}
    <em>
        {% trans "No transactions have been added to this entry" %}
    </em><br>
{% else %}

    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            {% for field in qty_field_list %}
            <th>

            {% get_verbose_label random_qty field %}
            </th>
            {% endfor %}
        </tr>
        <tbody>
        {% for obj in object.transactions.all %}
            <tr>
            {% for field in qty_field_list %}
                {% if field == "location" %}
                    <td>
                        <a href="{% url 'whalebrary:location_detail' obj.location.id %}">{{obj.location}}</a>
                     </td>
                {% else %}
                    <td>
                    {% get_field_value obj field %}
                    </td>
                {% endif %}
            {% endfor %}
            <td>
                <a href="#"
                   pop-href="{% url 'whalebrary:transaction_edit' obj.id 1 %}">
                    <img src="{% static "/admin/img/icon-changelink.svg" %}" data-toggle="tooltip" title="Edit">
                </a>
            </td>
            <td>
                <a href="#"
                   pop-href="{% url 'whalebrary:transaction_delete' obj.id 1 %}">
                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
                </a>
            </td>
<!--            <td>-->
<!--                <a href="#"-->
<!--                   pop-href="{% url 'whalebrary:location_detail' obj.location.id %}">-->
<!--                    <img src="{% static "/admin/img/icon-viewlink.svg" %}" data-toggle="tooltip" title="Location">-->
<!--                </a>-->
<!--            </td>-->

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endif %}
<a class="" href="#" pop-href="{% url 'whalebrary:transaction_new' object.id %}">
    {% trans "(Add Inventory)" %}
</a>
<br>
<br>
<br>