{% extends "whalebrary/base.html" %}
{% load static %}
{% load verbose_names %}

{% block subcontent %}

  <div class="mb-4">
    <div class="btn-group">
      <a class="btn btn-warning" href="{% url 'whalebrary:incident_edit' object.id %}">Edit</a>
      <a class="btn btn-danger" href="{% url 'whalebrary:incident_delete' object.id %}">Delete</a>
      <a class="btn btn-dark" href="{{ request.META.HTTP_REFERER }}">Back</a>
    </div>
  </div>
  <p>
    <a href="{% url 'whalebrary:incident_email' object.id %}" class="btn btn-sm btn-primary">Email Incident</a>
    <a class="btn btn-sm btn-secondary" href="#" pop-href="{% url 'whalebrary:image_new' object.id %}">Upload Image</a>
    <a class="btn btn-sm btn-success" href="#" pop-href="{% url 'whalebrary:resight_new' object.id %}">Log Resight</a>
  </p>

  <div class="row">
    <div class="col-4">
      <table class="table table-sm table-striped">
        {% for field in field_list %}
            {% if field == "first_report" %}
                <tr>
                  <th>
                    {% get_verbose_label instance=object field_name=field %}
                  </th>
                  <td>
                     {{ object.first_report }}
                  </td>
                </tr>
            {% elif field == "response_date" %}
                <tr>
                  <th>
                    {% get_verbose_label instance=object field_name=field %}
                  </th>
                  <td>
                     {{ object.response_date }}
                  </td>
                </tr>
            {% elif field == "data_folder" %}
                <tr>
                  <th>
                    {% get_verbose_label instance=object field_name=field %}
                  </th>
                  <td>
{#                      Wanted to try to open local file explorer tab to navigate directly to location on shared drive #}
{#                     {{ object.data_folder }}#}
{#                     <input type=button onClick="parent.location='file:///C:/Users/' " value='Open Location'>#}
{#                       <a href="{{ object.data_folder}}" >#}
{#                            Open Location#}
{#                       </a>#}
                          <input type="text" READONLY id="select-this" value="{{ object.data_folder}}")>
                        <input type=button id="clickMe" value="Click to Copy">
                  </td>
                </tr>
            {% else %}
                {% verbose_td_display object field %}
          {% endif %}
        {% endfor %}
      </table>
    </div>
    <div class="col-6">
        <div id="map3"></div>
        <br><br>
        {% include "whalebrary/_resight.html" %}
    </div>
  </div>
  <br><br><br>
  <div class="col-12">
    {% include "whalebrary/_image.html" %}
  </div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script>

    let pointObj = {{ object.get_leaflet_dict | safe }};
    let allPointObj = {{ all_incidents | safe }};
    let resightObj = {{ obj_resights | safe }};
    let mapboxApiKey = '{{ mapbox_api_key }}';

    </script>

    <script src="{% static 'whalebrary/map3.js' %}?version=2.1"></script>

    <script>

    let button = document.getElementById('clickMe');

    button.addEventListener('click', function(e) {
      e.preventDefault();
      document.execCommand('copy', false, document.getElementById('select-this').select());
    });

    </script>

{% endblock %}