{% extends "whalebrary/base.html" %}
{% load static %}
{% load verbose_names %}


{% block subcontent %}
    <div class="mb-4">
        <p>
            <a class="btn btn-warning" href="{% url 'whalebrary:item_edit' object.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'whalebrary:item_delete' object.id %}">Delete</a>
            <a class="btn btn-dark" href="{{ request.META.HTTP_REFERER }}">Back</a>
        </p>
    </div>


    <div class="row">
        <div class="col-3">
            <table class="table table-hover table-sm">
                {% for field in field_list %}
                    {% verbose_td_display object field %}
                {% endfor %}
            </table>
        </div>

        <div class="col-8">
            {% include "whalebrary/_transaction.html" %}
            {% include "whalebrary/_lending.html" %}
            {% include "whalebrary/_supplier.html" %}
            {% include "whalebrary/_file.html" %}
        </div>
    </div>


{% endblock %}