{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'whalebrary' %}{% endblock bug_create %}

{% block title %}Marine Mammal Tools{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block left_all %}
    <li class="nav-item"><a class="nav-link" href="{% url 'whalebrary:index' %}">Marine Mammal Tools Home</a></li>
{% endblock left_all %}

{% block left_unauth %}

{% endblock left_unauth %}

{% block left_auth %}

    {# Inventory #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Inventory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="{% url 'whalebrary:item_list' %}">Inventory</a>
            <a class="dropdown-item" href="{% url 'whalebrary:quantity_list' %}">Quantity</a>
            <a class="dropdown-item" href="{% url 'whalebrary:supplier_list' %}">Suppliers</a>

        </div>
    </li>

    {# Marine Mammal Tools #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Marine Mammal Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

			<a class="dropdown-item">More stuffff</a>
			<a class="dropdown-item">Yay stuff</a>
			<a class="dropdown-item">So much stuff</a>

        </div>
    </li>


    {# Reports #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

			<a class="dropdown-item" href="{% url 'whalebrary:report_generator' %}">Report Generator</a>

        </div>
    </li>

    {# Admin Settings #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Admin Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

			<a class="dropdown-item" href="{% url 'whalebrary:location_list' %}">Locations</a>


        </div>
    </li>
{% endblock left_auth %}

{% block left_admin %}
{% endblock left_admin %}