
.container-fluid, .container {
    border-radius: 25px;
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    background-color: rgba(255, 255, 255, 1);
    font-size: small;

}

.btn-admin {
    background-color: #5b80b2;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}