{% load verbose_names %}
{% load i18n %}

{% language 'en' %}
  <p>
    The following trip, <a href="{{SITE_FULL_URL}}{% url 'travel:trip_detail' object.id %}">{{ object.tname }}</a> is now eligible for ADM review.
    Please have your regional review and approval process completed by {{ due_date|date }} to
    ensure requests from your region are submitted to the ADM for approval.
  </p>
  <p>
    If the regional approval process has been completed, no further action is required at this time.
  </p>
{% endlanguage %}

<hr>

{% language 'fr' %}
  <p>
    Le voyage suivant <a href="{{SITE_FULL_URL}}{% url 'travel:trip_detail' object.id %}">{{ object.tname }}</a>, est maintenant admissible à l'examen du bureau du SMA.
    Veuillez faire en sorte que le processus d'examen et d'approbation de votre région soit terminé d'ici le {{ due_date|date }} afin que les demandes de votre
    région soient soumises à l'approbation du SMA.
  </p>
  <p>
    Si le processus d'approbation régional est terminé, aucune autre action n'est requise pour le moment.
  </p>
{% endlanguage %}

