{% extends 'projects2/base.html' %}
{% load verbose_names %}
{% load i18n %}
{% load custom_filters %}
{% load static %}

{% block title_area %}
{% endblock %}

{% block crumbs %}
{% endblock %}


{% block content %}
  <div id="app">

    <div id="mySidebar" class="sidebar">
      {% include "projects2/explore_projects/_console.html" %}
    </div>
    <div id="main" class="">

      <div class="row container-fluid bg-light curvy">
        <div class="col">
          <div>
            <p class="h1 text-center">{% trans "Explore Science Projects" %}</p>

            <div>
              <div class="text-center">
                <p class="font-italic font-weight-bold">${projectYears.length} of ${count} loaded</p>
              </div>
            </div>
            <table class="table table-sm">
              <thead>
              <tr>
                {% for field in field_list %}
                  {% if "title" in field %}
                    <th style="width: 400px">
                      {% get_verbose_label random_project field %}
                    </th>
                  {% elif "funding" in field %}
                    <th style="width: 150px">
                      {% get_verbose_label random_project field %}
                    </th>
                  {% elif "fiscal" in field or "funding" in field %}
                    <th style="width: 100px">
                      {% get_verbose_label random_project field %}
                    </th>
                  {% else %}
                    <th>
                      {% get_verbose_label random_project field %}
                    </th>
                  {% endif %}

                {% endfor %}
                <th v-if="isAdminOrMgmt">{% trans "Hidden?" %}</th>

              </tr>
              </thead>
              <tbody>
              <tr
                v-for="(p, index) in projectYears"
                @mouseover="hover = true"
                @mouseleave="hover = false"
                {#            :class="{'clickable': hover}"#}
                {#            @click="goProjectDetail(p)"#}
              >
                <td>${p.project.id}</td>
                <td>${p.project.title}</td>
                <td>${p.display_name}</td>
                <td v-html="p.formatted_status"></td>
                {#            <td>${p.project.section}</td>#}
                <td>${p.project.default_funding_source}</td>
                <td>${p.project.functional_group}</td>
                <td>${p.project.lead_staff}</td>
                <td v-if="isAdminOrMgmt">
                  <span v-if="p.project.is_hidden" class="highlight">{% trans "Yes" %}</span>
                  <span v-else>{% trans "No" %}</span>
                </td>
                <td>
                  <button @click="goProjectDetail(p)" data-toggle="tooltip" title="{% trans "Open in separate window" %}">
                    <span class="mdi mdi-arrow-top-right"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <div v-if="projects_loading" class="loading mb-3 mt-3 text-center mt-5">
              <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div v-else>
              <div class="text-center">
                <p class="font-italic font-weight-bold">${projectYears.length} of ${count} loaded</p>
                <button v-if="next" @click="loadMoreResults" class="btn btn-primary btn-sm">
                  {% trans "Load more results..." %}
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}


{% block body_js %}
  {{ block.super }}

  <script src="{% static '/projects2/mainExploreProjects.js' %}?version=0.0.7" type="application/javascript"></script>
  <script type="application/javascript">
  //reload other scripts that we care about
  </script>

  <script type="text/javascript" src="{% static "js/clickableTableRows.js" %}?version=1.1.7"></script>
  <script type=" text/javascript" src="{% static "js/popItOut.js" %}?version=1.2.2"></script>
  <script type=" text/javascript" src="{% static "js/underDevelopment.js" %}?version=1.2.4"></script>

{% endblock %}