{#  PROBE DATA #}
{% load static %}
{% load custom_filters %}
{% load bootstrap4 %}



<div style="font-size: .9em">

    <label for="user_input">What species would you like to add? (enter any part of name)</label>
    <input type="text" id="user_input" class="form-control"></input>

    <div id="results">
        <br><br>
        <h5>Results (common / latin / abbreviation):</h5>
        <hr>
        <div id="species-list" class="" style="font: 0.85em;"></div>
        <hr>
        <br>
        Species not in list? Click <a class="" href="{% url 'grais:species_create' %}" target="_blank">here</a>
        to add a new one.
    </div>

</div>
<br><br>


<h4>
    <b style="padding-right: 1.1em">Species Observations</b>
</h4>
<ul>
    {% for obj in object.species.all %}
        <li>
            <a href="{% url 'grais:species_detail' obj.id %}" target="_blank">{{ obj }}</a>
            <a class="delete-me" href="#" val="{{ obj.id }}">
                <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
            </a>
            <a id="secrect-delete-btn-{{ obj.id }}" href="{% url 'grais:report_species_delete' object.id obj.id %}" class="hidden"></a>
        </li>


    {% empty %}
        <em>No species observations have been reported.</em>
    {% endfor %}
</ul>
<br><br>


<script type="application/javascript">
    var speciesList = {{ species_list |safe }};

    $(".delete-me").click(function () {
        var objectId = $(this)[0].getAttribute("val");

        var userInput = "";
        while (userInput !== "n" && userInput !== "y") {
            userInput = prompt("Are you sure you want to delete this species? \n\n Please respond with 'y' for yes and 'n' for no.").toLocaleLowerCase();

        }
        if (userInput === "y") {
            window.location.href = $("#secrect-delete-btn-" + objectId).attr("href");
        }
    })

    $(document).ready(function () {
        // Stuff to do as soon as the DOM is ready
        $("#user_input").focus()
        $("#results").addClass("gone")

    });

    $("#user_input").keydown(function (event) {
        if (event.key == "Enter") {
            $(".add-btn")[0].click()
        }
    })

    $("#user_input").keyup(function (e) {
        $("#species-list").html("")
        if (this.value.length >= 2) {
            for (var i = 0; i < speciesList.length; i++) {
                // console.log(123);
                var re = new RegExp(this.value, 'gi');

                if (speciesList[i].match(re)) {
                    $("#species-list").html(
                        $("#species-list").html() + speciesList[i] + '<br>')
                }
            }
            $(".add-btn").click(function () {
                $("#user_input").val("")
                $("#species-list").html("")
                $("#user_input").focus()
                var targetURL = this.getAttribute("target-url")
                window.location.href = targetURL
            })

        }
        if ($("#user_input").val() != "") {
            $("#results").removeClass("gone")
        }
        else{
            $("#results").addClass("gone")
        }

    });


</script>


