{#  COLLECTOR LINES #}
<h4>
    <b style="padding-right: 1.1em">Traps</b>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'grais:trap_new' object.id %}"> Add </a>
</h4>
<table class="table table-hover table-sm">
    <thead>
    <th>Trap #</th>
    <th>Type</th>
    <th>Latitude (N)</th>
    <th>Longitude (W)</th>
    <th>Invasive Crab count</th>
    <th>Non-invasive Crab count</th>
    <th>Bycatch count</th>
    <th>Total green crab weight (kg)</th>
    </thead>
    <tbody>
    {% for trap in object.traps.all %}
        <tr href="{% url 'grais:trap_detail' trap.id %}">
            <td>{{ trap.trap_number }}</td>
            <td>{{ trap.get_trap_type_display }}</td>

            {% if trap.latitude_n %}
                <td>{{ trap.latitude_n|floatformat:6 }}</td>
            {% else %}
                <td>n/a</td>
            {% endif %}
            {% if trap.longitude_w %}
                <td>{{ trap.longitude_w|floatformat:6 }}</td>
            {% else %}
                <td>n/a</td>
            {% endif %}
            <td>{{ trap.get_invasive_crabs.count }}</td>
            <td>{{ trap.get_noninvasive_crabs.count }}</td>
            <td>{{ trap.get_bycatch.count }}</td>
            <td>{{ trap.total_green_crab_wt_kg }}</td>
            {#            <td>{{ l.surfaces.count }}</td>#}

        </tr>
    {% empty %}
        {# empty #}
    {% endfor %}
    </tbody>
</table>
<p>
    <b>TOTAL: {{ object.traps.count }}</b>
</p>
