{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

    {# A script to refresh the parent window; to be called in when the buttons are pushed #}
    <script>
        window.resizeTo(width = 700, height = 800);

        window.onunload = refreshParent;

        function refreshParent() {
            window.opener.location.reload();
        }

        $(document).ready(function () {
            // Stuff to do as soon as the DOM is ready
            {% if object.is_bycatch or not object %}
                $("#id_count").select();
            {% else %}
                $("#id_width").select();
            {% endif %}

        });
    </script>

    <div class="container">
        {% if object %}
            <h1>
                Editing:
            </h1>
            <h3>
                {{ object }} from {{ object.trap }}
            </h3>

        {% else %}
            <h1>
                Adding:
            </h1>
            <h3>
                {{ species }} to {{ trap }}
            </h3>
        {% endif %}<br>

        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field placeholder="" %}
            {% endfor %}

            {% buttons %}
                {% if object.id %}
                    <button type="submit" class="btn btn-success" onclick="refreshParent()">Submit</button>
                {% else %}
                    <button type="submit" class="btn btn-success" onclick="refreshParent()">Add</button>
                {% endif %}

                <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">Close</a>

            {% endbuttons %}
        </form>
    </div>
{% endblock content %}
