{% extends "grais/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">

        <h1 class="big-header">AIS Incidental Reports </h1>

        <form class="form" action="." method="get">
            {% for field in filter.form %}
                {{ field.label }}: &nbsp; {{ field }}&nbsp;&nbsp;
            {% endfor %}
            <input type="submit" value="Filter" class="btn btn btn-warning">
        </form>
        <br><br>
        <div class="row">
            <div class="col">
                {% trans "(click on a header to sort table)" %}
            </div>
            <div class="col" style="text-align: center">
                <em>displaying all {{ filter.qs.count }} records</em>
            </div>
            <div class="col" style="text-align: right; padding-bottom: 10px">
                <a href="{% url 'grais:ir_new' %}" class="btn btn-sm btn-primary">New Incidental Report</a>
            </div>
        </div>
        <table class="table table-hover table-sm sortable">
            <thead>
            <tr>
                <th scope="col">Season</th>
                <th scope="col">Source</th>
                <th scope="col">Requestor Type</th>
                {#                <th scope="col">Report date (yyyy-mm-dd)</th>#}
                <th scope="col">Species</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Follow-ups</th>

            </tr>
            </thead>
            <tbody>
            {% for obj in filter.qs %}
                <tr href="{% url 'grais:ir_detail' obj.id %}">
                    <td>{{ obj.season }}</td>
                    <td>{{ obj.get_report_source_display }}</td>
                    <td>{{ obj.get_requestor_type_display }}</td>
                    {#                    <td>{{ obj.report_date|date:"Y-m-d" }}</td>#}
                    <td>
                        {% for sp in obj.species.all %}
                            {{ sp }}<br>
                        {% empty %}
                            ---
                        {% endfor %}
                    </td>
                    <td>{{ obj.latitude_n}}</td>
                    <td>{{ obj.longitude_w }}</td>

                    <td>{{ obj.followups.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock content %}
