{% extends "grais/grais_base.html" %}
{% load static %}
{% load el_pagination_tags %}
{% load i18n %}
{% load verbose_names %}
{% load bootstrap4 %}
{% block content %}


    <div class="container">

        <h1 class="big-header">Biofouling Samples </h1>

        <form class="form" action="." method="get" id="filter-form">
            <div class="row">
                {% for field in filter.form %}
                    <div class="col">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>
                {% endfor %}
                <div class="col-2">
                    <br>
                    <input type="submit" value="Filter" class="btn btn-sm btn-warning">
                </div>
            </div>

        </form>
        <br><br>
        {% paginate 50 filter.qs as filter_list %}

        <div class="row">
            <div class="col">
                {% trans "(click on a header to sort table)" %}
            </div>
            <div class="col" style="text-align: center">
                {% show_pages %}
                <em>{% trans "displaying" %} {{ filter_list.count }} {% trans "of" %} {{ filter.qs.count }}</em>
            </div>
            <div class="col" style="text-align: right; padding-bottom: 10px">
                <a href="{% url 'grais:sample_new' %}" class="btn btn-sm btn-primary">New Sample</a>
            </div>
        </div>

        <table class="table table-hover table-sm sortable">
            <thead>
            {% for field in field_list %}
                <th>
                    {% get_verbose_label random_object field %}
                </th>
            {% endfor %}

            </thead>
            <tbody>
            {% for sample in filter_list %}
                <tr href="{% url 'grais:sample_detail' sample.id %}">

                    {% for field in field_list %}
                        <td>
                            {% if "invasive" in field %}
                                {% get_field_value sample field as my_val %}
                                {{ my_val|yesno }}
                            {% else %}
                                {% get_field_value sample field %}
                            {% endif %}
                        </td>
                    {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock content %}
