{% load i18n %}

<p>
    You're receiving this email because you requested a password reset for your user account at DM Apps. To do so, please
    go to the following page and choose a new password:
</p>
<p>
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>
<p>
    Your username, in case you've forgotten: {{ user.get_username }}
</p>


<p>
    ***************************************************************************
</p>


<p>
    Vous recevez cet e-mail, car vous avez demandé une réinitialisation du mot de passe pour votre compte d'utilisateur chez DM Apps. Pour
    ce faire, veuillez
         allez sur la page suivante et choisissez un nouveau mot de passe:
</p>

<p>
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>

<p>
    Votre nom d'utilisateur, au cas où vous auriez oublié: {{ user.get_username }}
</p>