{% extends "accounts/accounts_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    {% if message %}
        <h3>{% bootstrap_alert message alert_type='danger' %}</h3>
    {% endif %}
    <div class="container">
        <div class="jumbotron">

            <h1 class="big-header">
                {% trans "Sign In" %}
            </h1>
            <hr>


            {% if user.is_authenticated %}

            {% else %}
                <h5>
                    {% url 'accounts:signup' as sign_up_url %}
                    {% blocktrans %}
                        If you do not have an account, you can create one <a href="{{ sign_up_url }}">here</a>.
                    {% endblocktrans %}
                </h5>
                <br>
            {% endif %}
            <hr>

            {% if user.is_authenticated %}
                {# do not show the form #}
            {% else %}
                <form action="{% url 'accounts:login' %}" method="POST" class='form'>
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}

                    {% for field in form %}
                        {% if field.name == 'username' %}
                            <p>
                                {% trans "Email address" %}
                                (<a href="{% url 'password_reset' %}">
                                {% trans "forgot password?" %}
                            </a>)
                            </p>
                            {% bootstrap_field field show_label=False placeholder="" %}
                        {% else %}
                            {% bootstrap_field field %}
                        {% endif %}

                    {% endfor %}
                    <br>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Sign In" %}
                        </button>
                    {% endbuttons %}
                    {# <input type="submit" class="btn btn-primary" value="Login"> #}
                    <input type="hidden" name="next" value="{{ next }}">
                </form>

            {% endif %}

        </div>
    </div>

    <script type="application/javascript">
        $("#id_username").change(function () {
            username = $(this).val()
            if (username.match(/dfo-mpo.gc.ca/gi)==null && username.match(/@/gi)==null) {
                newUsername = username + "@dfo-mpo.gc.ca"
                $(this).val(newUsername)
            }

            username = $(this).val()
            // if the new username is not a dfo username, use red font
            if (username.match(/@dfo-mpo.gc.ca/gi)==null) {
                $(this).addClass("red-font")
            } else {
                $(this).removeClass("red-font")
            }
        })
    </script>

{% endblock %}
