{% extends "accounts/accounts_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% block content %}
    <style>
        .popover-header {
            background-color: rgba(239, 255, 59, 0.75);
        }

        .popover-body {
            background-color: #feffeb;
        }

        body {
            background-image: url("{% static 'img/waves1.jpg' %}");
            background-size: cover;
        }

        .jumbotron {
            background-color: rgba(255, 255, 255, 0.6);
            padding-top: 20px;
            padding-bottom: 20px;
        {#background-color: rgba(71, 71, 71, 0.6);#}{#color: white;#}
        }
    </style>

    {% if message %}
        <h3>{% bootstrap_alert message alert_type='danger' %}</h3>
    {% endif %}
    <div class="container">
        <br>
        <br>
        <div class="jumbotron">

            <h1 class="big-header">
                {% trans "Sign In" %}
            </h1>

            {% if user.is_authenticated %}

            {% else %}
                <h5>
                    {% url 'accounts:signup' as sign_up_url %}
                    {% blocktrans %}
                        If you do not have an account, you can create one <a href="{{ sign_up_url }}">here</a>.
                    {% endblocktrans %}
                </h5>
                <br>
            {% endif %}
            <hr>

            {% if user.is_authenticated %}
                {# do not show the form #}
            {% else %}
                <form action="{% url 'accounts:login' %}" method="POST" class='form'>
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}

                    {% for field in form %}
                        {% if field.name == 'username' %}
                            <p>
                                {% trans "Email address" %}
                                (<a href="{% url 'password_reset' %}">
                                {% trans "forgot password?" %}
                            </a>)
                            </p>

                            {% trans "Shortcut" as hdr %}
                            {% trans "press the <code>Tab</code> key after entering the first part of your email address to use the autocomplete feautre (e.g., bart.simpson)" as txt %}
                            <span data-toggle="popover"
                                  data-trigger="hover focus"
                                  data-content="{{ txt }}"
                                  data-placement="top"
                                  id="pop">
                            {% bootstrap_field field show_label=False placeholder="Email address" %}
                            </span>
                        {% else %}




                            {% bootstrap_field field %}
                        {% endif %}

                    {% endfor %}
                    <br>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Sign In" %}
                        </button>
                    {% endbuttons %}
                    {# <input type="submit" class="btn btn-primary" value="Login"> #}
                    <input type="hidden" name="next" value="{{ next }}">
                </form>

            {% endif %}

        </div>
    </div>


{% endblock %}
{% block body_js %}
    <script type="application/javascript">
        $("#id_username").change(function () {
            username = $(this).val()
            if (username.match(/dfo-mpo.gc.ca/gi) == null && username.match(/@/gi) == null) {
                newUsername = username + "@dfo-mpo.gc.ca"
                $(this).val(newUsername)
            }

            username = $(this).val()
            // if the new username is not a dfo username, use red font
            if (username.match(/@dfo-mpo.gc.ca/gi) == null) {
                $(this).addClass("red-font")
            } else {
                $(this).removeClass("red-font")
            }
        });
        $(document).ready(function () {
            // Stuff to do as soon as the DOM is ready
            $("#pop").popover('show')
        });
    </script>

{% endblock %}