{% extends "accounts/accounts_base.html" %}
{% load bootstrap4 %}
{% load i18n %}


{% block content %}
    <div class="container">
        <br>
        <h2>
            {% trans "Sign up" %}
        </h2>

        <form method="POST" class='form'>
            {% csrf_token %}
            {# {% bootstrap_form_errors form %} #}

            {% for field in form %}
                {% if field.name == 'email' %}
                    <p>
                        {% trans "Email address" %}
                    </p>
                    {% bootstrap_field field show_label=False placeholder="" %}
                {% else %}
                    {% bootstrap_field field %}
                {% endif %}

            {% endfor %}
            <br>
            {% buttons %}
                <input type="submit" class="btn btn-primary" value="{% trans "Sign Up" %}">
            {% endbuttons %}
            {# <input type="hidden" name="next" value="{{next}}"> #}
        </form>


    </div>
{% endblock %}
