{% extends "accounts/accounts_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      {% if message %}
        <h3>{% bootstrap_alert message alert_type='warning' %}</h3>
      {% endif %}
      {% if form %}
        <div class="mb-3">
          <h2>{% trans "Enter new password" %} </h2>
        </div>
        <h5>
          {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </h5>
        <br>
        <form method="POST" class='form'>
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <input type="submit" class="btn btn-primary" value="{% trans "Change my password" %}">
            <a href="{% url 'index' %}" class="btn btn-secondary">{% trans "Back" %}</a>
          {% endbuttons %}
        </form>
      {% else %}
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">
            {% trans "The link you have used is no longer valid." %}
          </h4>
          <p><a href="{% url 'index'  %}">{% trans "Back to Home" %}</a></p>
        </div>
      {% endif %}

    </div>
  </div>

{% endblock %}
