{% extends "accounts/accounts_base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      {% if message %}
      <h3>{% bootstrap_alert message alert_type='warning' %}</h3>
      {% endif %}
      <h2>Forgotten your password? </h2>
      <br>
      <br>
      <h5>
        Enter your email address below, and we'll email instructions for setting a new one.
      </h5>
      <br>
      <form  method="POST" class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <input type="submit" class="btn btn-primary" value="Submit">
          <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
        {% endbuttons %}

      </form>
    </div>
  </div>

{% endblock %}
