{% load static %}
{% load humanize %}
{% load i18n %}
{% load custom_filters %}

<div class="">
    <h4>
        {% trans "Select an Activity & Outcome:" %}
    </h4>
</div>

{% if object.project_activity_and_outcome.count == 0 %}
    <em>
        {% trans "No Activities & Outcomes have been created" %}

    </em><br>
{% else %}
    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            <th style="width: 120px">
                {% trans "Element Title" %}
            </th>
            <th style="width: 120px">
                {% trans "Activity Title" %}
            </th>
            <th style="width: 120px">
                {% trans "Species" %}
            </th>
            <th class="center-col">
                {% trans "River" %}
            </th>

        </tr>
        <tbody>
        {% for obj in object.project_activity_and_outcome.all %}
            <tr href="{% url 'spot:act_detail' obj.id  %}" data-toggle="tooltip" title="click to edit this project activity and outcome">
                <td>
                    {{ obj.element_title }}
                </td>
                <td>
                    {{ obj.activity_title }}
                </td>
                <td>
                    {{ obj.river.species }}
                </td>
                <td>
                    {{ obj.river.name }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endif %}
    <a class="" href="{% url 'spot:act_new' object.id  %}">
        {% trans "(Add an Activity and Outcome)" %}
    </a>
<br><br>
