{% load static %}
{% load humanize %}
{% load i18n %}
{% load custom_filters %}

<div class="">
    <h4>
        {% trans "Select Outcome:" %}
    </h4>
</div>

{% if object.objective_outcome.count == 0 %}
    <em>
        {% trans "No Outcomes have been entered" %}

    </em><br>
{% else %}
    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            <th style="width: 120px">
                {% trans "Outcomes Category" %}
            </th>
            <th style="width: 120px">
                {% trans "Document Reference Number" %}
            </th>
        </tr>
        <tbody>
        {% for obj in object.objective_outcome.all %}
            <tr href="{% url 'spot:objectiveoutcome_edit' obj.id  %}" pop data-toggle="tooltip" title="click to edit this outcome">
                <td>
                    {{ obj.outcome_category }}
                </td>
                <td>
                    {{ obj.report_reference }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
    <a class="" href="#" pop-href="{% url 'spot:objectiveoutcome_new' object.id  %}">
        {% trans "(Add Outcome)" %}
    </a>
<br><br>
