{% load static %}
{% load humanize %}
{% load i18n %}
{% load custom_filters %}
{% load verbose_names %}

<div class="">
    <h3>
        {% trans "Payments:" %}
    </h3>
</div>

{% if object.years.count == 0 %}
    <em>
        {% trans "No project years have been created" %}
    </em><br>
{% else %}
    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            {% for field in payment_field_list %}
                <th>
                    {% get_verbose_label my_payment field %}
                </th>
            {% endfor %}
        </tr>
        <tbody>
        {% for obj in object.payments.all %}
            <tr href="#" data-toggle="tooltip" title="click to edit this payment">
                {% for field in payment_field_list %}
                    <td>
                        {% if field == "disbursement|Total amount" %}
                            {% get_field_value obj field format="currency" %}
                        {% else %}
                            {% get_field_value obj field %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endif %}
<a class="" href="{% url 'spot:payment_new' object.id %}">
    {% trans "(New payment)" %}
</a>
<br><br>