{% load static %}
{% load humanize %}
{% load i18n %}
{% load custom_filters %}

<div class="">
    <h4>
        {% trans "Select Reporting Outcome:" %}
    </h4>
</div>

{% if object.report_outcome.count == 0 %}
    <em>
        {% trans "No Reporting Outcomes have been entered" %}

    </em><br>
{% else %}
    <table class="table table-hover table-sm" style="width: auto">
        <tr>
            <th style="width: 120px">
                {% trans "Reporting Outcome" %}
            </th>
            <th style="width: 120px">
                {% trans "Was Outcome Deliverable Met?" %}
            </th>
            <th style="width: 120px">
                {% trans "Site" %}
            </th>
            <th style="width: 120px">
                {% trans "Comment" %}
            </th>
            <th style="width: 120px">
                {% trans "Metric" %}
            </th>
            <th style="width: 120px">
                {% trans "Report Link" %}
            </th>
            <th style="width: 120px">
                {% trans "Species" %}
            </th>
        </tr>
        <tbody>
        {% for obj in object.report_outcome.all %}
            <tr href="{% url 'spot:reportoutcome_edit' obj.id  %}" pop data-toggle="tooltip" title="click to edit this outcome">
                <td>
                    {{ obj.reporting_outcome }}
                </td>
                <td>
                    {{ obj.outcome_delivered }}
                </td>
                <td>
                    {{ obj.site }}
                </td>
                <td>
                    {{ obj.report_outcome_comment }}
                </td>
                <td>
                    {{ obj.reporting_outcome_metric }}
                </td>
                <td>
                    {{ obj.report_link.document_name }}
                </td>
                <td>
                    {{ obj.activity_outcome.document_name.river.species }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
    <a class="" href="#" pop-href="{% url 'spot:reportoutcome_new' object.id  %}">
        {% trans "(Add Outcome)" %}
    </a>
<br><br>
