{% extends 'pop_base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block body %}

    <style>
        .ms-container {
            width: 100%;
        }

        label {
            font-weight: bold;
        }
    </style>

    <script>
        window.resizeTo(width = 800, height = 900);

        window.onunload = refreshParent;

        function refreshParent() {
            window.opener.location.reload();
        }


    </script>
    <div class="container-fluid">
        <h3>
            {% trans "Upload File" %}
        </h3>
        <br>
          <form method="post" class="form" enctype="multipart/form-data" %}>
              {% csrf_token %}
              {% for field in form %}
                  {% bootstrap_field field %}
              {% endfor %}

              {% buttons %}
                  <button type="submit" class="btn btn-success" onclick="refreshParent()">Submit</button>
                  <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">Close</a>
        {% endbuttons %}
        </form>
    </div>

{% endblock %}

