{% extends "spot/spot_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load i18n %}
{% block content %}

    <style>
        .label {
            font-weight: bold;
        }

        table, td {
            font-size: small;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'spot:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'spot:meth_list' %}">Method List</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'spot:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'spot:project_list' %}">Project List</a></li>
            <li class="breadcrumb-item"><a href="{% url 'spot:project_detail' object.project.id %}">Project</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <div class="container-fluid">

        <h1>{{ object }}</h1>
        {% if object.project %}
            <h1>{{ object.project.name }}</h1>
        {% endif %}


        <div class="btn-group">
            <a class="btn btn-warning" href="{% url 'spot:meth_edit' object.id %}">
                {% trans "Edit" %}
            </a>
            <a class="btn btn-danger " href="{% url 'spot:meth_delete' object.id %}">
                {% trans "Delete" %}
            </a>
        </div>
        <br><br>

        <div class="row">
            <div class="col">
                <h3>
                    Detail:
                </h3>
                <table class="table table-bordered table-sm">

                {% for field in field_list %}
                    <tr>
                    {% verbose_field_display object field %}
                    </tr>
                    {% if field == 'knowledge_consideration' %}
                        <br>{% include "spot/_method_document.html" %}<br>
                    {% endif %}
                {% endfor %}

                <br>
                </table>
            </div>
        </div>

    </div>
{% endblock content %}



