{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'spot' %}{% endblock bug_create %}


{% block title %}
    {% trans "Spot" %} {% block subtitle %}{% endblock %}
{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_all %}
    <li class="nav-item"><a class="nav-link" href="{% url 'spot:index' %}">
        {% trans "Home" %}
    </a></li>

{% endblock left_all %}

{% block left_auth %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:org_list' %}">
            {% trans "Organizations" %}
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:person_list' %}">
            {% trans "People" %}
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:project_list' %}">
            {% trans "Project Tracking" %}
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:report_search' %}">
            {% trans "Reports" %}
        </a>
    </li>

    {% for group in user.groups.all %}
        {% if group.name == "spot_admin" %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'spot:manage_activities' %}">Manage Activities</a>
                    <a class="dropdown-item" href="{% url 'spot:manage_basins' %}">Manage Drainage Basins</a>
                    <a class="dropdown-item" href="{% url 'spot:manage_watersheds' %}">Manage Watersheds</a>
                    <a class="dropdown-item" href="{% url 'sar_search:species_list' %}" target="_blank">Manage Species (via SAR Search App)</a>
                </div>
            </li>

        {% endif %}

    {% endfor %}


{% endblock left_auth %}
{% block left_admin %}
{% endblock left_admin %}
