{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'spot' %}{% endblock bug_create %}


{% block title %}
    {% trans "Spot" %} {% block subtitle %}{% endblock %}
{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_all %}
    <li class="nav-item"><a class="nav-link" href="{% url 'spot:index' %}">
        {% trans "Home" %}
    </a></li>

{% endblock left_all %}

{% block left_auth %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:org_list' %}">
            {% trans "Organizations" %}
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:person_list' %}">
            {% trans "People" %}
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:project_list' %}">
            {% trans "Projects" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:obj_list' %}">
            {% trans "Objectives" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:meth_list' %}">
            {% trans "Methods" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'spot:data_list' %}">
            {% trans "Database" %}
        </a>
    </li>

{% endblock left_auth %}
{% block left_admin %}
{% endblock left_admin %}
