{% extends "pop_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block body %}
    <style>
        label {
            font-weight: bold;
        }
    </style>


    <div class="container-fluid">

        <h3>
            {% trans "Tracking: " %} {{ step_name }}
        </h3>
        <br>
        <form method="post" class="form" {% if view.kwargs.step == "ca-admin" %}enctype="multipart/form-data"{% endif %}
        >
            {% csrf_token %}

            {% for field in form %}
                {% if field.name == "date_received" %}
                    {% bootstrap_field field size='small' placeholder="" %}
                    <p>
                        <b>
                            {% trans "EOI file uploaded?" %}
                        </b>
                        {% if object.file %}
                            <a href="{{ object.file.file.url }}">Yes</a>
                        {% else %}
                            <span class="red-font">No, click <a href="#" pop-href="{% url 'spot:file_new' object.project.id 3 %}">here</a> to upload it.</span>
                        {% endif %}
                    </p>
                {% elif field.name == "application_submission_date" %}
                    {% bootstrap_field field size='small' placeholder="" %}
                    <p>
                        <b>
                            {% trans "Application file uploaded?" %}
                        </b>
                        {% if object.application_file %}
                            <a href="{{ object.application_file.file.url }}">Yes</a>

                        {% else %}
                            <span class="red-font">No, click  <a href="#" pop-href="{% url 'spot:file_new' object.id 6 %}">here</a> to upload it.</span>
                        {% endif %}
                    </p>
                {% elif field.name == "recommended_overprogramming" %}
                    {% bootstrap_field field size='small' placeholder="" %}
                    <p>
                        <b>
                            {% trans "Project evaluation file uploaded?" %}
                        </b>
                        {% if object.project_evaluation_file %}
                            <a href="{{ object.project_evaluation_file.file.url }}">Yes</a>

                        {% else %}
                            <span class="red-font">No, click  <a href="#" pop-href="{% url 'spot:file_new' object.id 8 %}">here</a> to upload it.</span>
                        {% endif %}
                    </p>

                {% elif field.name == "project_eligible" %}
                    {% bootstrap_field field size='small' placeholder="" %}
                    <p>
                        <b>
                            {% trans "EOI evaluation file uploaded?" %}
                        </b>
                        {% if object.eoi_evaluation_file %}
                            <a href="{{ object.eoi_evaluation_file.file.url }}">Yes</a>

                        {% else %}
                            <span class="red-font">No, click  <a href="#" pop-href="{% url 'spot:file_new' object.project.id 7 %}">here</a> to upload it.</span>
                        {% endif %}
                    </p>



                {% elif field.name == "risk_assessment_score" %}
                    {% bootstrap_field field size='small' placeholder="" %}
                    <p>
                        <b>
                            {% trans "Risk assessment file uploaded?" %}
                        </b>
                        {% if object.risk_assessment_file %}
                            <a href="{{ object.risk_assessment_file.file.url }}">Yes</a>
                        {% else %}
                            <span class="red-font">No, click  <a href="#" pop-href="{% url 'spot:file_new' object.id 4 %}">here</a> to upload it.</span>
                        {% endif %}
                    </p>
                {% elif field.name == "draft_ca_sent_to_proponent" %}
                    {% bootstrap_field field size='small' placeholder="" %}
                    <p>
                        <b>
                            {% trans "Draft CA file uploaded?" %}
                        </b>
                        {% if object.draft_ca_file %}
                            <a href="{{ object.draft_ca_file.file.url }}">Yes</a>
                        {% else %}
                            <span class="red-font">No, click  <a href="#" pop-href="{% url 'spot:file_new' object.id 1 %}">here</a> to upload it.</span>
                        {% endif %}
                    </p>
                {% elif field.name == "final_ca_nhq_signed" %}
                    {% bootstrap_field field size='small' placeholder="" %}
                    <p>
                        <b>
                            {% trans "Fully signed CA file uploaded?" %}
                        </b>
                        {% if object.fully_signed_ca_file %}
                            <a href="{{ object.fully_signed_ca_file.file.url }}">Yes</a>
                        {% else %}
                            <span class="red-font">No, click  <a href="#" pop-href="{% url 'spot:file_new' object.id 2 %}">here</a> to upload it.</span>
                        {% endif %}
                    </p>
                {% else %}
                    {% bootstrap_field field size='small' placeholder="" %}
                {% endif %}

            {% endfor %}


            <div class="btn-group">
                <button type="submit" class="btn btn-primary" onclick="refreshParent()">
                    {% trans "Submit" %}
                </button>
                <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">
                    {% trans "Close" %}
                </a>

            </div>

        </form>

    </div>

    <script src="{% static 'lou-multi-select-e052211/js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <a href="#" class="hidden" data-toggle="modal" data-target="#email_1"></a>

    {#<!-- Send Certification Request Email MODAL -->#}
    <div class="modal" id="email_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> {{ email.title }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr>
                            <td><b>From</b></td>
                            <td>{{ email.from_email }}</td>
                        </tr>
                        <tr>
                            <td><b>To</b></td>
                            <td>{{ email.to_list }}</td>
                        </tr>
                        <tr>
                            <td><b>Subject</b></td>
                            <td>{{ email.subject }}</td>
                        </tr>
                        <tr>
                            <td><b>Message</b></td>

                            <td>{{ email.message }}</td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Nevermind</button>
                    <a href="#" class="btn btn-lg btn-warning float-center {% if email.something_missing %}disabled{% endif %}">
                        {% trans "Send Away!" %}
                    </a>

                </div>
            </div>
        </div>
    </div>

    {% block body_js %}

        <script>
            {% if view.kwargs.step == "attributes" %}
                window.resizeTo(width = 1500, height = 900);
            {% else %}
                window.resizeTo(width = 1000, height = 850);
            {% endif %}
            window.onunload = refreshParent;
            $(document).ready(function () {
                // Stuff to do as soon as the DOM is ready
                {#$("#id_advance_amount")[0].focus()#}
            });

            function refreshParent() {
                window.opener.location.reload();
            }
        </script>


        <script type="application/javascript">
            $(document).ready(function () {
                // Stuff to do as soon as the DOM is ready
                $("#id_initiation_acknowledgement_sent").attr("data-toggle", "modal").attr("data-target", "#email_1");
                $("#id_negotiation_letter_sent").attr("data-toggle", "modal").attr("data-target", "#email_1");

            });
        </script>
    {% endblock %}

{% endblock %}
