{% load i18n %}

<table class="table table-sm" v-if="!calendarViewOn">
  <thead>
  <tr>
    <th>{% trans "Meeting Link" %}</th>
    <th>{% trans "Process Id" %}</th>
    <th>${meetingLabels.fiscal_year}</th>
    <th>${meetingLabels.start_date}</th>
    <th>${processLabels.is_posted}</th>
    <th class="w-30">${meetingLabels.name}</th>
    <th class="w-30">${meetingLabels.nom}</th>
  </tr>
  </thead>
  <tbody>
  <tr v-for="m in meetings" :key="m.id">
    <td>
      <a target="_blank" :href="`/csas-sccs/meetings/${m.id}/view/`"><span class="mdi mdi-open-in-new lead text-primary"></span></a>
    </td>
    <td>
      ${m.process}
    </td>
    <td>${m.process_object.fiscal_year}</td>
    <td><span v-html="m.display_dates"></span></td>
    <td>${m.process_object.is_posted | yesNo}</td>
    <td>
              <textarea v-model="m.name" class="form-control" placeholder="" @change="updateMeeting(m)" :disabled="m.process_object.is_posted"
                        rows="3"></textarea>
    </td>
    <td>
              <textarea v-model="m.nom" class="form-control" placeholder="" @change="updateMeeting(m)" :disabled="m.process_object.is_posted"
                        rows="3"></textarea>
    </td>
  </tr>
  </tbody>
</table>