{% load static %}

<br>
{% if object.data_resources.count == 0 %}
    <ul>
        <em>Nothing added.</em>
    </ul>
    <br>

{% else %}
    <ul>
        {% for item in object.data_resources.all %}

            <li>
                {{ item.name_eng }}
                <a href="{% url 'inventory:data_resource_edit' item.id %}">
                    <img src="{% static "/admin/img/icon-changelink.svg" %}" data-toggle="tooltip"
                         title="Edit">
                </a>
                </a>
                <a href="{% url 'inventory:data_resource_delete' item.id %}">
                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                         title="delete">
                </a>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


