<ul>
    {% if object.children.count == 0 and object.parent == None %}
        <em>No related records</em>
    {% else %}
        <li>
            Parent:
            {% if object.parent.id %}
                <a href="{% url 'inventory:resource_detail' object.parent.id %}">
                    {{ object.parent }}
                </a>&nbsp;
                <a href="#" class="red-font">&times;</a>
            {% else %}
                <em>n/a</em>
            {% endif %}
        </li>
        <li>
            Children:
            <br>
            {% for item in object.children.all %}
                <a href="{% url 'inventory:resource_detail' item.id %}">
                    {{ item }}
                </a>&nbsp;
                <a href="#" class="red-font">&times;</a><br>
            {% empty %}
                <em>n/a</em>
            {% endfor %}
        </li>
    {% endif %}
</ul>
