{% extends "inventory/base.html" %}
{% load static %}
{% load verbose_names %}

{% block content %}

    {% url 'inventory:index' as home_url %}


    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home_url }}">Home</a></li>
                <li class="breadcrumb-item"><a
                        href="{% url 'inventory:resource_detail' resource.id %}">{{ resource.truncated_title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ object.tname }}</li>
            </ol>
        </nav>

        <br>
        {% if object.title_eng %}
            <h1>{{ object.name|title }}</h1>
        {% else %}
            <h1>{{ object.nom|title }}</h1>
        {% endif %}
        <p>

            <a class="btn btn-warning" href="{% url 'inventory:citation_edit' resource.id object.id %}">Edit</a>
            {% if object.resources.count > 0 %}
                <a class="btn btn-danger disabled" href="{% url 'inventory:citation_delete' resource.id object.id %}">Delete</a>
            {% else %}
                <a class="btn btn-danger" href="{% url 'inventory:citation_delete' resource.id  object.id %}">Delete</a>
            {% endif %}
        </p>


        {% verbose_field_display object "name" %}
        {% verbose_field_display object "nom" %}
        {% verbose_field_display object "authors" %}
        {% verbose_field_display object "year" %}
        {% verbose_field_display object "pub_number" %}
        {% verbose_field_display object "publication" %}
        {% verbose_field_display object "series" %}
        {% verbose_field_display object "region" %}
        {% verbose_field_display object "url_en" hyperlink=True %}
        {% verbose_field_display object "url_fr" hyperlink=True %}
        {% verbose_field_display object "abstract_en" %}
        {% verbose_field_display object "abstract_fr" %}


        <br>
    </div>
{% endblock content %}
