{% extends "inventory/inventory_base.html" %}
{% load static %}
{% block content %}

<div class="nav-map">
  <br>
  <a href="{% url 'inventory:dm_home' %}">Data Management Home</a> >
  Custodian List
</div>
<div class="container">

  <p>
    <h1>Data Custodian List</h1>
    TOTAL: {{custodian_count}}
  </p>


  <table class="table table-hover">
    <thead>
        <th scope="col" width="500px">Full Name</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in custodian_list  %}
        <tr>
          <td><a href="{% url 'inventory:dm_custodian_detail' obj.person.user_id %}">{{obj.person}}</a></td>
        </tr>
      {% endfor %}
      <br>

      </tbody>
    </table>

 {{id_list}}
  </div>

{% endblock content %}
