{% extends "inventory/inventory_base.html" %}
{% load static %}
{% load timedelta %}
{% load humanize %}
{% block content %}

<div class="nav-map">
  <br>
  <a href="{% url 'inventory:dm_home' %}">Data Management Home</a> >
  <a href="{% url 'inventory:dm_custodian_list' %}">All Custodians</a> >
  Custodian Details
</div>

<div class="container">
<p>
  <div class="btn-group">
    <a class="btn btn-warning" href="#">Edit User Details</a>
    <a class="btn btn-primary" href="#" id="myBtn">Send Certification Request Email</a>
  </div>
</p>
<div class="row">
  <div class="col">
    <h3>User Info:</h3>
    <p>
      <b>Username:</b><br>
      {{object.user}}
      <br>
      <b>    Full name:  </b><br>
      {{object.full_name}}
      <br>
      <b>    Email address:  </b><br>
      {{object.user.email}}
      <br>
      <b>    Language preference:  </b><br>
      {{object.get_language_display}}
      <br>
      <b>    Organization:  </b><br>
      {{object.organization.name_eng}}
    </p>
  </div>
  <div class="col">
    <h3>Correspondences:</h3>
    <ul>
      {% for obj in object.user.correspondences.all   %}
        <li>
          {{obj.date}} UTC- {{obj.subject}}
        </li>
        {% empty %}
        None
      {% endfor %}
    </ul>
  </div>

</div>
</div>
<div class="indent-med">
<div class="row">
  <div class="col">

  <h3>Resources:</h3>
  <table class="table table-hover table-sm">
    <thead>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Last certified</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in queryset  %}
        <tr>
          <td><a href="{% url 'inventory:resource_detail' obj.resource.id %}">{{obj.resource.id}}</a></td>
          <td>{{obj.resource.title_eng}}</td>
          {% if obj.resource.status.id == 3 %}
          <td class="green-font">
          {% elif obj.resource.status.id == 1 %}
          <td class="red-font">
          {% else %}
          <td>
          {% endif %}
            {{obj.resource.status}}
          </td>

          {# <td> #}
            {# {% if obj.resource.certification_history.count == 0  %} #}
              {# <span class="font-weight-bold red-font">Never</span> #}
            {# {% else %} #}
              {# {{obj.resource.certification_history.first.certification_date}} by @{{obj.resource.certification_history.first.certifying_user}}</td> #}
            {# {% endif %} #}

            {% if obj.resource.certification_history.count > 0 %}

            {% if now|timedelta:obj.resource.certification_history.first.certification_date < 90 %}
            <td class="good">
            {% elif now|timedelta:obj.resource.certification_history.first.certification_date < 180 %}
            <td class="mild-concern">

            {% elif now|timedelta:obj.resource.certification_history.first.certification_date < 270 %}
            <td class="concern">
            {% else %}
            <td class="bad">
            {% endif %}
            {{obj.resource.certification_history.first.certification_date|naturaltime}}
            {% else %}
            <td><span class="red-font"><b>Never</b></span>
            {% endif %}

        </tr>
      {% endfor %}
      <br>

      </tbody>
    </table>
  </div>
</div>

</div>

<!-- The Modal -->
<!-- Modal content -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <h1>Review Email:</h1>
    <table class="table table-bordered">
      <tr>
        <td><b>From</b></td>
        <td>{{email.from_email}}</td>
      </tr>
      <tr>
        <td><b>To</b></td>
        <td>{{email.to_list}}</td>
      </tr>
      <tr>
        <td><b>Subject</b></td>
        <td>{{email.subject}}</td>
      </tr>
      <tr>
        <td><b>Message</b></td>

          <td>{{email.message}}</td>

      </tr>
    </table>
    <div class="container">

      <a href="#" class="btn btn-lg btn-primary float-center closeBtn">Nevermind</a>
      <a href="{% url 'inventory:send_certification_email' object.user_id %}" class="btn btn-lg btn-warning float-center">Send Away!</a>
    </div>
  </div>
</div>


<script src="{% static "js/modal.js" %}"></script>




{% endblock content %}
