{% extends "inventory/inventory_base.html" %}
{% load static %}
{% load humanize %}
{% load bootstrap4 %}
{% load verbose_names %}
{% block content %}

<div class="nav-map">
  <br>
  <a href="{% url 'inventory:dm_home' %}">Data Management Home</a> >
  <a href="{% url 'inventory:dm_section_list' %}">Section List</a> >
  {{object.section}}
</div>

<div class="container">

  <p>
    <h1>
      {{object.section}} Section
    </h1>
  </p>

  <div class="btn-group">
    <a class="btn btn-warning" href="{% url "inventory:dm_section_edit" object.id %}">Edit</a>
    <a class="btn btn-primary" href="#" id="myBtn">Send Report to Section Head</a>
    <a class="btn btn-danger" href="{% url "inventory:dm_section_delete" object.id %}" id="myBtn">Delete</a>
  </div>
<br><br>
  <p><b>
    {%get_verbose_field_name object "section"%}:
  </b><br>
  {{object.section}}
  </p>

  <p><b>
    {%get_verbose_field_name object "division"%}:
  </b><br>
  {{object.division}}
  </p>

  <p><b>
    {%get_verbose_field_name object "branch"%}:
  </b><br>
  {{object.branch}}
  </p>

  <p><b>
    {%get_verbose_field_name object "unit_head"%}:
  </b><br>
  {{object.unit_head}}
  </p>

  <p><b>
    {%get_verbose_field_name object "manager"%}:
  </b><br>
  {{object.manager}}
  </p>

  {% if object.resources.count > 0  %}
  <br>
  <h3>
    Data Resources ({{object.resources.count}})
  </h3>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Custodian</th>
        <th scope="col">Previous time certified</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object.resources.all  %}
        <tr>
          <td>{{obj.id}}</td>

          <td><a href="{% url 'inventory:resource_detail' obj.id %}">{{obj.title_eng}}</a></td>

          <td>
            {% for resource_person in obj.resource_people.all %}
                {% if resource_person.role.id == 1 %}
                {{resource_person.person.full_name}};
                {% endif %}
            {% endfor %}


          </td>

          <td>
            {% if obj.certification_history.count > 0 %}
            {{obj.certification_history.last.certification_date|naturaltime}}
            {% else %}
            <span class="red-font"><b>Never</b></span>
            {% endif %}

          </td>



        </tr>
      {% endfor %}
      <br>

      </tbody>
    </table>
    {% else %}
    <em>There are no data resources that have been published to FGP</em>
    {% endif %}


  </div>



  <!-- The Modal -->
  <!-- Modal content -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <h1>Review Email:</h1>
      <table class="table table-bordered">
        <tr>
          <td><b>From</b></td>
          <td>{{email.from_email}}</td>
        </tr>
        <tr>
          <td><b>To</b></td>
          <td>{{email.to_list}}</td>
        </tr>
        <tr>
          <td><b>Subject</b></td>
          <td>{{email.subject}}</td>
        </tr>
        <tr>
          <td><b>Message</b></td>

            <td>{{email.message}}</td>

        </tr>
      </table>
      <div class="container">

        <a href="#" class="btn btn-lg btn-primary float-center closeBtn">Nevermind</a>
        <a href="{% url 'inventory:send_section_report_email' object.id %}" class="btn btn-lg btn-warning float-center">Send Away!</a>
      </div>
    </div>
  </div>


  <script src="{% static "js/modal.js" %}"></script>



{% endblock content %}
