{% extends "inventory/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}
{% load project_tags %}


{% block subcontent %}

  {% if can_modify.can_modify %}
    <div class="alert alert-success w-75 p-1 m-1 mb-3" role="alert">
      <p class="p-0 m-0">
        <span class="mdi mdi-check text-success mr-1 lead"></span>
        {{ can_modify.reason }}
      </p>
    </div>
  {% endif %}

  <div class="btns mb-3">
    {% if can_modify.can_modify %}
      <a class="btn btn-sm btn-warning" href="{% url 'inventory:dma_edit' object.id %}">{% trans "Edit" %}</a>
      <a class="btn btn-sm btn-danger " href="{% url 'inventory:dma_delete' object.id %}">{% trans "Delete" %}</a>
    {% endif %}
    <a class="btn btn-sm btn-dark" href="{% url 'inventory:dma_clone' object.id %}">{% trans "Clone Me" %}</a>
  </div>



  <div class="mb-5">

    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "General / Identification" %}
      </div>
      <div class="card-body">
        <table class="table table-sm">
          {% for field in fields_id %}
            {% if field == "comments" %}
              {% verbose_td_display object field th_width="25%" format="html" %}
            {% elif field == "ppt" %}
              <tr>
                <th>{% trans "Linkage to PPT" %}</th>
                <td>
                  {% if object.project_set.exists %}
                    {% for project in object.project_set.all %}
                      <div class="">
                        <a href="{% url 'ppt:project_detail' project.id %}">{{ project }}</a>
                      </div>
                    {% endfor %}

                  {% else %}
                    ---
                  {% endif %}

                </td>
              </tr>

            {% else %}
              {% verbose_td_display object field th_width="25%" %}
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "Metadata" %}
      </div>
      <div class="card-body">
        <table class="table table-sm">
          {% for field in fields_metadata %}
            {% if "tool" in field or "text" in field %}
              {% verbose_td_display object field format="html" th_width="25%" %}
            {% else %}
              {% verbose_td_display object field th_width="25%" %}
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "Archiving and Storage" %}
      </div>
      <div class="card-body">
        <table class="table table-sm">
          {% for field in fields_storage %}
            {% if "storage_solutions" in field %}
              {% verbose_td_display object field th_width="25%" %}
            {% else %}
              {% verbose_td_display object field format="html" th_width="25%" %}
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "Sharing" %}
      </div>
      <div class="card-body">
        <table class="table table-sm">
          {% for field in fields_sharing %}
            {% if "had_sharing_agreements" in field %}
              {% verbose_td_display object field th_width="25%" %}
            {% else %}
              {% verbose_td_display object field format="html" th_width="25%" %}
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>


    {# REVIEWS #}


    <div class="card mb-3">
      <div class="card-header lead">
        {% if is_admin %}
          <div class="float-right mb-3">
            <a href="#" pop-href="{% url 'inventory:dma_review_new' object.id %}" class="btn btn-primary">
              <span class="mdi mdi-plus text-light"></span>
            </a>
          </div>
        {% endif %}

        {% trans "Reviews" %}
      </div>
      <div class="card-body">
        {% if object.reviews.exists %}
          <table class="table table-sm table-hover">
            <thead>
            <tr>
              {% for field in dma_review_field_list %}
                {% if field == "comments" %}
                  <th class="w-40">{% get_verbose_label object.reviews.first field %}</th>
                {% else %}
                  <th>{% get_verbose_label object.reviews.first field %}</th>
                {% endif %}
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for review in object.reviews.all %}
              <tr {% if is_admin %} pop href="{% url 'inventory:dma_review_edit'  review.id %} {% endif %}">
                {% for field in dma_review_field_list %}
                  <td>{% get_field_value review field format='html' %}</td>
                {% endfor %}
                {% if is_admin %}
                  <td>
                    <a href="#" pop-href="{% url 'inventory:dma_review_delete' review.id %}" class="btn"><span class="mdi mdi-delete lead"></span></a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <em>{% trans "This DMA has not been reviewed." %}</em>
        {% endif %}
      </div>

    </div>
  </div>



{% endblock %}



