<p>
    Hello {{ object.first_name }},
</p>
<p>
    According to the regional data inventory, you are listed as the section head for the {{ section }} Section which currently has a
    total of {{ queryset.count }} data resource{{ queryset.count|pluralize }}.
</p>

<p>
    Resources within your section can now be managed directly through our new Regional Data Inventory app under the menu item entitled
    <a href="{{SITE_FULL_URL}}{% url "inventory:my_section_detail" %}">My Section</a>. You must be signed in before you can access this
    page.

    {% if  object.user.password == "pbkdf2_sha256$100000$aDyHhz2nhW58$yZBIrsyRWd8S+ILHmG8pEvSzkO+SwIkNbvME0VS2OdA=" %}
        <b>
            If you have never signed on before, your default username is <u>{{ object.user.username }}</u> and your temporary password is
            <u>Welcome1</u>.</b>
        Once logged in, you can change your password in the account settings.
        </b>
    {% endif %}

</p>
<p>
    Over the coming weeks, I will be sending out emails to all the regional data custodians and asking them to verify the records under
    their custodianship and certify their accuracy and status.
    You can follow the status of the records within your section from your "My Section" page.
</p>

<p>
    If you would like to set up a meeting to discuss any of the above, please let me know!
</p>

<p>
    Best,
    <br><br>
    {{ me.full_name }}<br><br>
    {{ me.position_eng }} <br>
    {{ me.organization.name_eng }} <br>
    {{ me.user.email }} / {{ me.phone }} <br>
    <br>
    {{ me.position_fre }} <br>
    {{ me.organization.name_fre }} <br>
    {{ me.user.email }} / {{ me.phone }} <br>
</p>
