{% extends "inventory/base.html" %}
{% load static %}
{% load verbose_names %}

{% block content %}

    {% url 'inventory:index' as home_url %}


    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home_url }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'inventory:resource_detail' resource.id %}">{{ resource.truncated_title }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ object.text_value_eng }}</li>
            </ol>
        </nav>
        <br>
        <h1>{{ object.text_value_eng|title }}</h1>
        <p>
            <a class="btn btn-warning" href="{% url 'inventory:keyword_edit' resource.id object.id %}">Edit</a>
            {% if object.resources.count > 0 %}
                <a class="btn btn-danger disabled" href="{% url 'inventory:keyword_delete' resource.id object.id %}">Delete</a>
            {% else %}
                <a class="btn btn-danger" href="{% url 'inventory:keyword_delete' resource.id  object.id %}">Delete</a>
            {% endif %}
        </p>


        {% verbose_field_display object "text_value_eng" %}
        {% verbose_field_display object "text_value_fre" %}

        <p><b>
            {% get_verbose_label object "keyword_domain" %}:
        </b><br>
            {% if object.keyword_domain.url %}
                <a href="{{ object.keyword_domain.url }}">
                    {{ object.keyword_domain }}
                </a>
            {% else %}
                {{ object.keyword_domain }}
            {% endif %}
        </p>

        {% verbose_field_display object "uid" %}
        {% verbose_field_display object "details" %}


        <br>
    </div>
{% endblock content %}
