{% extends "inventory/inventory_base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="nav-map">
<br>
  {% if person %}
  <p>
    <a href="{% url 'inventory:resource_list' %}">All Resources</a> >
    <a href="{% url 'inventory:resource_detail' resource.id %}">{{resource.truncated_title}}</a> >
    Edit {{person.full_name}} details
  </p>
  {% else %}
  <p>
    <a href="{% url 'inventory:resource_list' %}">All Resources</a> >
    <a href="{% url 'inventory:resource_detail' resource.id %}">{{resource.truncated_title}}</a> >
    <a href="{% url 'inventory:resource_person_filter' resource.id %}">Insert Person</a> >
    Add New Person to Database
    New
  </p>
  {% endif %}
</div>
<div class="container">

{% load static %}
{# Load js file to allow for popout window #}
{% if person %}

{% else %}
  <h1>New Person</h1>
{% endif %}

<form method="post" class="form">
    {% csrf_token %}

    {# {% bootstrap_form form %} #}
    {% for field in form  %}

      {% if field.name == 'notes' %}
        {% bootstrap_label field.label %}
        {% bootstrap_field field show_label=False %}
        <a href="#" class="btn btn-sm btn-warning"  id="insertDate"> Insert Date</a>
        <br><br>

      {% else %}
        {% bootstrap_field field%}
      {% endif %}
    {% endfor %}

    <p>
      <button type="submit" class="btn btn-primary">Submit</button>
      {% if object.id %}
        <a class="btn btn-secondary" href="{% url 'inventory:resource_detail' object.id %}">Cancel</a>
      {% else %}
        <a class="btn btn-secondary" href="{% url 'inventory:resource_list' %}">Cancel</a>
      {% endif %}
    </p>
</form>

<script type="text/javascript">
  // js script to add date to notes field
  $("#insertDate").click(function() {

    var today = new Date();
    var strDate = today.toDateString()
    var strInjection = ""

    if ($("#id_notes").val()==="") {
      strInjection = strDate + ": ";
    }else {
      strInjection =  "\n\n" + strDate + ": ";
    }

    $("#id_notes").val($("#id_notes").val() + strInjection)

  })

</script>
</div>

{% endblock content %}
