{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<script>
    window.resizeTo(width = 700, height = 900);

    window.onunload = refreshParent;

    function refreshParent() {
        window.opener.location.reload();
    }

    $(document).ready(function () {
        // Stuff to do as soon as the DOM is ready
        $("#id_digestion_level")[0].focus()
    });
</script>

<div class="container">

    {% load static %}
    {# Load js file to allow for popout window #}
    <h1>New Person</h1>

    <form method="post" class="form">
        {% csrf_token %}

        {# {% bootstrap_form form %} #}
        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}

        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="{% url 'shared_models:close_me' %}">Cancel</a>
        </p>
    </form>

</div>

