{% extends "inventory/base.html" %}

{% load bootstrap4 %}

{% block content %}

        {% url 'inventory:index' as home_url %}


    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home_url }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'inventory:resource_detail' object.id %}">{{ object.truncated_title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% if object.flagged_4_publication %}Flag for
                    Publication    {% else %}
                    Unflag for Publication   {% endif %}</li>
            </ol>
        </nav>

        {% load static %}

        {% if object.flagged_4_publication %}
            <h1>Are you sure you want to unflag this data resource?</h1>
        {% else %}
            <h1>
                Are you sure you want to flag this data resource for
                {% if object.fgp_publication_date %}re-publication{% else %}publication{% endif %}?
            </h1>
            <br>
            <h3>
                By clicking yes below your regional data manager will be notified and will contact you shortly in order to coordinate the
                next steps in the process
            </h3>

        {% endif %}

        <br>

        <form method="post" class="form">
            {% csrf_token %}
            {{ form }}
            <p>
                {% if object.flagged_4_publication %}
                    <button type="submit" class="btn btn-lg btn-primary ">Yes, Unflag It!</button>
                {% else %}
                    <button type="submit" class="btn btn-lg btn-primary">Yes, Flag It!</button>
                {% endif %}

                <a class="btn btn-lg btn-secondary" href="{% url 'inventory:resource_detail' object.id %}">No, Forget
                    it.</a>
            </p>
        </form>
    </div>



{% endblock content %}
