{% extends "inventory/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block subtitle %}
    -
    {% if object %}
        {% trans "Edit resource" %}
    {% else %}
        {% trans "Create resource metadata" %}
    {% endif %}
{% endblock %}

{% block content %}




    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inventory:index' %}">Home</a></li>
                {% if object %}
                    <li class="breadcrumb-item"><a
                            href="{% url 'inventory:resource_detail' object.id %}">{{ object.truncated_title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% if readonly %}Review{% else %}
                        Edit{% endif %}</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">New</li>
                {% endif %}
            </ol>
        </nav>

        {% load static %}
        {# Load js file to allow for popout window #}
        {% if object.id %}
            <h2>{{ object }}</h2><br>
        {% else %}
            <h1>New Resource</h1>
        {% endif %}

        <style media="screen">
            label {
                font-weight: bold;
            }
        </style>

        <form method="post" class="form">
            {% csrf_token %}
            {% include "inventory/_resource_form_btn_group.html" %}

            <br><br>
            <fieldset {% if readonly %}disabled{% endif %}>

                {% for field in form %}

                    {% if field.name == 'title_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'title_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'purpose_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'purpose_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'descr_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'descr_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'physical_sample_descr_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'physical_sample_descr_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'sampling_method_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'sampling_method_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'resource_constraint_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'resource_constraint_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'qc_process_descr_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'qc_process_descr_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>


                    {% elif field.name == 'security_use_limitation_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'security_use_limitation_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'geo_descr_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'geo_descr_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'parameters_collected_eng' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'parameters_collected_fre' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'time_start_day' %}
                        <div class="row">
                            <div class="col-2">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'time_start_month' %}
                            <div class="col-2">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'time_start_year' %}
                            <div class="col-2">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>


                    {% elif field.name == 'time_end_day' %}
                        <div class="row">
                            <div class="col-2">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'time_end_month' %}
                            <div class="col-2">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'time_end_year' %}
                            <div class="col-2">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>


                    {% elif field.name == 'west_bounding' %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'south_bounding' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'east_bounding' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                            {% elif field.name == 'north_bounding' %}
                            <div class="col">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>

                    {% elif field.name == 'section' %}
                        <div class="row">
                            <div class="col-8">
                                {% bootstrap_field field placeholder="" %}
                                Section not in list? Click
                                <a class="" href="#" pop-href="{% url 'shared_models:section_new' %}" target="_blank">here</a>
                                to add a new one. <br>
                                <br>

                            </div>
                        </div>
                    {% elif field.name == 'parent' %}
                        <div class="row">
                            <div class="col-8">
                                {% bootstrap_field field placeholder="" %}
                                {% if object.parent %}
                                    <p>The current selection for parent record is: <br><a class="current-resource-anchor"
                                                                                          href="{% url 'inventory:resource_detail' object.parent.id %}"
                                                                                          target="_blank">{{ object.parent }}</a>
                                    </p>
                                    <p>Click <a id="clear-parent-resource" href="#parent_id">HERE</a> to clear the current selection</p>
                                {% endif %}
                                <br>
                                <br>

                            </div>
                        </div>
                    {% elif field.name == 'fgp_url' %}
                        <div class="row">
                            <div class="col-8">
                                {% bootstrap_field field placeholder="" %}
                                <div class="mb-3">
                                    <a href="#id_fgp_url" id="fgp-guess">(guess at FGP url)</a>
                                </div>
                            </div>
                        </div>
                    {% elif field.name == 'public_url' %}
                        <div class="row">
                            <div class="col-8">
                                {% bootstrap_field field placeholder="" %}
                                <div class="mb-3">
                                    <a href="#id_public_url" id="opendata-guess">(guess at Open Data url)</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-8">
                                {% bootstrap_field field placeholder="" %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </fieldset>

            {% include "inventory/_resource_form_btn_group.html" %}

        </form>

    </div>

    <!-- Hidden button trigger & Modal -->
    <button type="button" class="btn btn-primary gone" data-toggle="modal" data-target="#parent-finder" id="parent-finder-btn"></button>
    <div class="modal fade" id="parent-finder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Which resource are you looking for?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="resource_interpreter_div">
                        {% if object.parent %}
                            <p>The current selection for parent record is: <br><a class="current-resource-anchor"
                                                                                  href="{% url 'inventory:resource_detail' object.parent.id %}"
                                                                                  target="_blank">{{ object.parent }}</a>
                            </p>
                        {% endif %}
                        <label for="resource_interpreter" class="col-form-label">
                            Search term (title, id, ...)
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control no-tab" id="resource_interpreter">
                        </div>

                        <label for="resource_list" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <p id="resource_list" style="margin-bottom: 0px;"></p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">

        var resourceList = {% if resource_list %}{{resource_list|safe}}{% else %}[]{% endif %};

        // modal needs to pop up when someone clicks on the input element
        $("#id_parent").click(function () {
            $("#parent-finder-btn")[0].click();
            $("#resource_interpreter")[0].focus();
        });

        if ($(".invalid-feedback").length > 0) {
            $(".appear-on-error").prop("hidden", false)
        }

        // parent resource
        $("#resource_interpreter").keyup(function (e) {
            $("#resource_list").html("")
            if (this.value.length >= 1) {
                for (var i = 0; i < resourceList.length; i++) {
                    var re = new RegExp(this.value, 'gi');

                    if (resourceList[i].match(re)) {
                        $("#resource_list").html(
                            $("#resource_list").html() + resourceList[i] + '<br>')
                    }
                }
                $(".resource_insert").click(function () {
                    code = this.getAttribute("code");
                    myUrl = this.getAttribute("url");
                    myTitle = $(this).text();
                    $("#id_parent").val(code);
                    $(".current-resource-anchor").attr("href", myUrl);
                    $(".current-resource-anchor").text(myTitle);
                    $("#resource_interpreter").val("");
                    $("#resource_list").html("");
                    // close the modal and focus on the parent id field
                    $("#modal-close-btn")[0].click();
                    document.getElementById("id_parent").focus();

                });
            }
        });
        $("#clear-parent-resource").click(function () {
            $("#id_parent").val("")
            $(".current-resource-anchor").attr("href", "#id_parent");
            $(".current-resource-anchor").text("");
        })


        // look through all table row
        $("label").each(function () {
            // if there is an href attr
            $(this)[0].style.cursor = "help"

        });


        $("#fgp-guess").click(function () {
            $("#id_fgp_url").val("https://gcgeo.gc.ca/geonetwork/metadata/eng/" + "{{ object.uuid }}");
        });
        $("#opendata-guess").click(function () {
            $("#id_public_url").val("https://open.canada.ca/data/dataset/" + "{{ object.uuid }}");
        });

    </script>
{% endblock content %}
