{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

{# A script to refresh the parent window; to be called in when the buttons are pushed #}
<script>
  window.resizeTo(width=600, height=800);
  window.onunload = refreshParent;
  function refreshParent() {
    window.opener.location.reload();
}
</script>

<div class="container">
  <br>
  <div class="container">

    {% if "<ul />" in verification_list %}
    <br><br><br>
    <h1 class="good">This record good-to-go!!!</h1>
    {% else %}
    <h1>Verification List:</h1>
    {{verification_list|safe}}
    {% endif %}
  </div>
</div>

<style media="screen">
  li{
    color: red;
  }
  .good{
    color: green;
    font-weight: bold;
  }
</style>

{% endblock content %}
