{% extends 'edna/base.html' %}
{% load verbose_names %}
{% load static %}
{% load i18n %}

{% block subcontent %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <style>
  .my-btn {
      font-size: small;
  }

  .my-table, .my-table > thead > tr > th, .my-table > tbody > tr > td {
      border: black solid 1px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .my-table, .my-table > tbody > tr > td {
      font-size: 10px;
  }


  #map {
      height: 300px; /* The height is 400 pixels */
      width: 100%; /* The width is the width of the web page */
  }
  </style>



  <div class="btns mb-3">
    <a href="{% url 'edna:collection_edit' object.id %}" class="btn btn-warning btn-sm"><span
      class="mdi mdi-pencil mr-1"></span> {% trans "Edit Project Details" %}</a>
    <a href="#" pop-href="{% url "edna:file_new" object.id %}" class="btn btn-primary btn-sm">
      <span class="mdi mdi-file text-light mr-1"></span> {% trans "Add a Reference File" %}
    </a>
    <a href="{% url 'edna:collection_delete' object.id %}" class="btn btn-danger btn-sm">
      <span class="mdi mdi-delete text-light mr-1"></span> {% trans "Delete" %}
    </a>

  </div>

  <div class="mb-3 row">
    <div class="col">
      <table class="table table-sm">
        {% for field in field_list %}
          {% verbose_td_display object field th_width="200px" %}
        {% endfor %}

        {# files #}
        <tr>
          <th>
            {% trans "Associated Files" %}
          </th>
          <td>
            {% if object.files.exists %}
              <ul>
                {% for file in object.files.all %}
                  <li>
                    <a href="{{ file.file.url }}">{{ file.caption }}</a> (uploaded on: {{ file.date_created|date:"F d Y" }})
                    <a href="#" pop-href="{% url 'edna:file_edit' file.id %}" class="ml-3">
                      <span class="mdi mdi-pencil" style="font-size: large"></span>
                    </a>
                    <a href="#" pop-href="{% url 'edna:file_delete' file.id %}">
                      <span class="mdi mdi-delete" style="font-size: large"></span>
                    </a>

                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <em>{% trans "There are no files attached to this collection." %}</em>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <div class="col">
      <div id="map">
      </div>
    </div>
  </div>
  </div>
  </div>



  <div class="mb-3" id="app" v-cloak>

  <div class="mb-3">
    <div class="form-group">
      <input id="samples" type="checkbox" v-model="viewSamples"> <label for="samples">{% trans "View Samples" %}</label>
    </div>
    <div class="form-group">
      <input id="filters" type="checkbox" v-model="viewFilters"> <label for="filters">{% trans "View Filters" %}</label>
    </div>
    <div class="form-group">
      <input id="extracts" type="checkbox" v-model="viewExtracts"> <label for="extracts">{% trans "View Extractions" %}</label>
    </div>
    <div class="form-group">
      <input id="pcrs" type="checkbox" v-model="viewPCRs"> <label for="pcrs">{% trans "View PCRs" %}</label>
    </div>
  </div>

  <h3>{% trans "Project Log" %}</h3>
  {% if object.samples.exists %}

    <div v-if="!ready2Show" class="loading mb-3 mt-3 mt-5">
      <div class="spinner-border mb-3" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

    <table v-else class="my-table">

      <thead>
      <tr>
        <th v-if="viewSamples" rowspan="2" colspan="9" class="lead samples">{% trans "Samples" %}</th>
        <th v-if="viewFilters" rowspan="2" colspan="9" class="lead filters">{% trans "Filters" %}</th>
        <th v-if="viewExtracts" rowspan="2" colspan="8" class="lead extracts">{% trans "Extractions" %}</th>
        <th v-if="viewPCRs && viewExtracts" rowspan="2" colspan="6" class="lead pcrs">{% trans "PCR" %}</th>
        <th v-if="viewPCRs && viewExtracts" :colspan="assaysTested.length * 6" class="lead assays">{% trans "Results" %}</th>
      </tr>
      <tr>
        <th v-if="viewPCRs && viewExtracts" colspan="6" v-for="(a, index) in assaysTested" class="assays text-muted" style="font-size: 12px">${a.name} <br><span
          v-html="a.species_display"></span></th>
      </tr>
      <tr >
        {# Samples #}
        <th v-if="viewSamples" class="samples">${sampleLabels.bottle_id}</th>
        <th v-if="viewSamples" class="samples">${sampleLabels.sample_type}</th>
        <th v-if="viewSamples" class="samples">${sampleLabels.location}</th>
        <th v-if="viewSamples" class="samples">${sampleLabels.site}</th>
        <th v-if="viewSamples" class="samples">${sampleLabels.station}</th>
        <th v-if="viewSamples" class="samples">${sampleLabels.datetime}</th>
        <th v-if="viewSamples" class="samples">${sampleLabels.samplers}</th>
        <th v-if="viewSamples" class="samples">{% trans "Coordinates" %}</th>
        <th v-if="viewSamples" class="samples">${sampleLabels.comments}</th>

        {# Filters #}
        <th v-if="viewFilters" class="filters">${filterLabels.tube_id}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.filtration_type}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.start_datetime}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.end_datetime}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.filtration_volume_ml}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.storage_location}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.filtration_ipc}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.duration_min}</th>
        <th v-if="viewFilters" class="filters">${filterLabels.comments}</th>


        {# Extractions #}
        <th v-if="viewExtracts" class="extracts">${extractLabels.extraction_number}</th>
        <th v-if="viewExtracts" class="extracts">${extractLabels.start_datetime}</th>
        <th v-if="viewExtracts" class="extracts">${extractLabels.dna_extraction_protocol}</th>
        <th v-if="viewExtracts" class="extracts">${extractLabels.storage_location}</th>
        <th v-if="viewExtracts" class="extracts">${extractLabels.extraction_plate_id}</th>
        <th v-if="viewExtracts" class="extracts">${extractLabels.extraction_plate_well}</th>
        <th v-if="viewExtracts" class="extracts">${extractLabels.extraction_ipc}</th>
        <th v-if="viewExtracts" class="extracts">${extractLabels.comments}</th>

        {# PCR #}
        {# batch / run #}
        <th v-if="viewPCRs && viewExtracts" class="pcrs">${pcrBatchLabels.plate_id}</th>
        <th v-if="viewPCRs && viewExtracts" class="pcrs">${pcrBatchLabels.machine_number}</th>
        <th v-if="viewPCRs && viewExtracts" class="pcrs">${pcrBatchLabels.run_program}</th>
        <th v-if="viewPCRs && viewExtracts" class="pcrs">${pcrBatchLabels.control_status}</th>
        <th v-if="viewPCRs && viewExtracts" class="pcrs">${pcrLabels.pcr_plate_well}</th>
        <th v-if="viewPCRs && viewExtracts" class="pcrs">${pcrLabels.master_mix}</th>

        {# results #}
        <th v-if="!assaysTested.length" class="assays">...</th>
        <template v-for="assay in assaysTested">
          <th v-if="viewPCRs && viewExtracts" class="assays">${pcrAssayLabels.threshold}</th>
          <th v-if="viewPCRs && viewExtracts" class="assays">${pcrAssayLabels.ct}</th>
          <th v-if="viewPCRs && viewExtracts" class="assays">${pcrAssayLabels.is_undetermined}</th>
          <th v-if="viewPCRs && viewExtracts" class="assays">${pcrAssayLabels.result}</th>
          <th v-if="viewPCRs && viewExtracts" class="assays">${pcrAssayLabels.edna_conc}</th>
          <th v-if="viewPCRs && viewExtracts" class="assays">${pcrAssayLabels.comments}</th>
        </template>

      </tr>
      </thead>
      <tbody>
      <template v-for="(sample, index) in samples">
        <tr v-if="viewSamples" class="samples">
          <td :rowspan="sample.rowspan"><a v-if="sample.id" :href=`/edna/samples/${sample.id}/view/` target="_blank">SB${sample.sample_batch} -${sample.bottle_id}</a> <span
            v-else>SB${sample.sample_batch} - ${sample.bottle_id}</span></td>
          <td :rowspan="sample.rowspan"> ${sample.sample_type_display}</td>
          <td :rowspan="sample.rowspan"> ${sample.location}</td>
          <td :rowspan="sample.rowspan"> ${sample.site}</td>
          <td :rowspan="sample.rowspan"> ${sample.station}</td>
          <td :rowspan="sample.rowspan"><span v-html="sample.collection_time_display"></span></td>
          <td :rowspan="sample.rowspan"> ${sample.samplers}</td>
          <td :rowspan="sample.rowspan"> ${sample.coordinates}</td>
          <td :rowspan="sample.rowspan"> ${sample.comments}</td>
        </tr>

        {# Filters #}
        <template v-for="(filter, index) in sample.filters">

          <tr v-if="viewFilters" class="filters">
            <td :rowspan="filter.rowspan">
              <a v-if="filter.id" :href=`/edna/filters/${filter.id}/view/` target="_blank">${filter.tube_id}</a>
              <span v-else>${filter.tube_id}</span>
            </td>
            <td :rowspan="filter.rowspan">${filter.filtration_type_display}</td>
            <td :rowspan="filter.rowspan">${filter.start_datetime_display}</td>
            <td :rowspan="filter.rowspan">${filter.end_datetime_display}</td>
            <td :rowspan="filter.rowspan">${filter.filtration_volume_ml}</td>
            <td :rowspan="filter.rowspan">${filter.storage_location}</td>
            <td :rowspan="filter.rowspan">${filter.filtration_ipc}</td>
            <td :rowspan="filter.rowspan">${filter.duration_min}</td>
            <td :rowspan="filter.rowspan">${filter.comments}</td>
          </tr>

          <template v-if="viewExtracts" v-for="(extract, index) in filter.extracts">
            <tr class="extracts">
              <td :rowspan="extract.rowspan">
                <a v-if="extract.id" :href=`/edna/extracts/${extract.id}/view/` target="_blank">${extract.extraction_number}</a>
                <span v-else>${extract.extraction_number}</span>
              </td>
              <td :rowspan="extract.rowspan" style="height: 100px;">${extract.datetime_display}</td>
              <td :rowspan="extract.rowspan" style="height: 100px;">${extract.dna_extraction_protocol_display}</td>
              <td :rowspan="extract.rowspan" style="height: 100px;">${extract.storage_location}</td>
              <td :rowspan="extract.rowspan" style="height: 100px;">${extract.extraction_plate_id}</td>
              <td :rowspan="extract.rowspan" style="height: 100px;">${extract.extraction_plate_well}</td>
              <td :rowspan="extract.rowspan" style="height: 100px;">${extract.extraction_ipc}</td>
              <td :rowspan="extract.rowspan" style="height: 100px;">${extract.comments}</td>
            </tr>

            <template v-if="viewPCRs && viewExtracts" v-for="(pcr, index) in extract.pcrs">
              <tr>
                <td class="pcrs">${pcr.pcr_batch_obj.plate_id}</td>
                <td class="pcrs">${pcr.pcr_batch_obj.machine_number}</td>
                <td class="pcrs">${pcr.pcr_batch_obj.run_program}</td>
                <td class="pcrs">${pcr.pcr_batch_obj.control_status}</td>
                <td class="pcrs">${pcr.pcr_plate_well}</td>
                <td class="pcrs">${pcr.master_mix_display}</td>

                <template v-for="(pcrAssay, index) in pcr.pcr_assays">
                  <template v-if="pcrAssay.id">
                    <td :class="{assays:pcrAssay.id, greyed:!pcrAssay.id}">${pcrAssay.threshold}</td>
                    <td :class="{assays:pcrAssay.id, greyed:!pcrAssay.id}">${pcrAssay.ct}</td>
                    <td :class="{assays:pcrAssay.id, greyed:!pcrAssay.id}">${pcrAssay.is_undetermined |yesNo}</td>
                    <td :class="{assays:pcrAssay.id, greyed:!pcrAssay.id}">
                      <span v-if="pcrAssay.result === 1" class="good">${pcrAssay.result_display}</span>
                      <span v-else class="bad">${pcrAssay.result_display}</span>
                    </td>
                    <td :class="{assays:pcrAssay.id, greyed:!pcrAssay.id}">${pcrAssay.edna_conc |floatformat(4)}</td>
                    <td :class="{assays:pcrAssay.id, greyed:!pcrAssay.id}">${pcrAssay.comments}</td>
                  </template>
                  <template v-else>
                    <td v-for="i in 6" class="greyed"></td>
                  </template>
                </template>
              </tr>

            </template>
          </template>
        </template>
      </template>
      </tbody>
    </table>


  {% else %}

    <em>{% trans "This project does not have any samples yet :(" %}</em>

  {% endif %}

{% endblock %}


{% block body_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static "js/apiJoins.js" %}"></script>

  <script type="application/javascript">

  let projectId = {{ object.id }};


  var app = new Vue({
    el: '#app',
    delimiters: ["${", "}"],
    data: {
      projectId,
      currentUser: null,
      errorMsg: null,
      samples: [],

      sampleLabels: [],
      filterLabels: [],
      extractLabels: [],
      pcrBatchLabels: [],
      pcrLabels: [],
      pcrAssayLabels: [],
      assaysTested: [],

      viewSamples: true,
      viewFilters: true,
      viewExtracts: true,
      viewPCRs: true,

      loadingObject: {
        samples: true,
        filters: true,
        extracts: true,
        pcrs: true,
        formatting: true,
        sampleLabels: true,
        filterLabels: true,
        extractLabels: true,
        pcrLabels: true,
        pcrAssayLabels: true,
        pcrBatchLabels: true,
        assaysTested: true,
      },
    },
    methods: {
      getCurrentUser() {
        let endpoint = `/api/edna/user/`;
        apiService(endpoint)
            .then(response => {
              this.currentUser = response;
            })
      },
      getMetadata() {
        apiService(`/api/edna/meta/models/sample/`).then(data => {
          this.sampleLabels = data.labels;
          this.loadingObject.sampleLabels = false;
        });
        apiService(`/api/edna/meta/models/filter/`).then(data => {
          this.filterLabels = data.labels;
          this.loadingObject.filterLabels = false;
        });
        apiService(`/api/edna/meta/models/extract/`).then(data => {
          this.extractLabels = data.labels;
          this.loadingObject.extractLabels = false;
        });
        apiService(`/api/edna/meta/models/pcr/`).then(data => {
          this.pcrLabels = data.labels;
          this.loadingObject.pcrLabels = false;
        });
        apiService(`/api/edna/meta/models/pcr-assay/`).then(data => {
          this.pcrAssayLabels = data.labels;
          this.loadingObject.pcrAssayLabels = false;
        });
        apiService(`/api/edna/meta/models/pcr-batch/`).then(data => {
          this.pcrBatchLabels = data.labels;
          this.loadingObject.pcrBatchLabels = false;
        });
        apiService(`/api/edna/collections/${this.projectId}/?assays_tested=true`).then(data => {
          this.assaysTested = data;
          this.loadingObject.assaysTested = false;
        });
      },
      getSamples() {
        this.loading = true;
        apiService(`/api/edna/samples/?collection=${this.projectId}`).then(response => {
          this.samples = response;
          this.loadingObject.samples = false;
          for (const sample of response) {
            sample.filters = [];
            sample.rowspan = 1;
          }
          apiService(`/api/edna/filters/?lite=true&collection=${this.projectId}`).then(response => {
            for (const filter of response) {
              filter.extracts = [];
              filter.rowspan = 1;
              // now we have to nest this filter under each sample under the "filters" key
              if (!filter.sample) { // means it is an filtration blank
                this.samples.push({filters: [filter]});
              } else {
                for (const sample of this.samples) {
                  if (sample.id === filter.sample) {
                    sample.filters.push(filter);
                    break;
                  }
                }
              }
            }
            this.loadingObject.filters = false;
            apiService(`/api/edna/extracts/?lite=true&collection=${this.projectId}`).then(response => {
              for (const extract of response) {
                extract.pcrs = [];
                // now we have to nest this extract under each filter under the "extracts" key
                if (!extract.sample && !extract.filter) { // means it is an extraction blank
                  this.samples.push(
                      {
                        filters: [{extracts: [extract]}]
                      }
                  );
                } else {
                  if (!extract.filter) {
                    for (const sample of this.samples) {
                      if (sample.id === extract.sample) {
                        sample.filters.push({extracts: [extract]});
                        break;
                      }
                    }
                  } else {
                    for (const sample of this.samples) {
                      for (const filter of sample.filters) {
                        if (filter.id === extract.filter) {
                          filter.extracts.push(extract);
                          break;
                        }
                      }
                    }
                  }
                }
              }
              this.loadingObject.extracts = false;
              apiService(`/api/edna/pcrs/?lite=true&collection=${this.projectId}`).then(pcrResponse => {
                // need to add pcr batch and assays:
                apiService(`/api/edna/pcr-assays/?lite=true&pcr__collection=${this.projectId}`).then(pcrAssayResponse => {
                  pcrArray = join_api_arrays(pcrResponse, pcrAssayResponse, "id", "pcr", true, "pcr_assays")
                  apiService(`/api/edna/pcr-batches/`).then(pcrBatchResponse => {
                    pcrArray = join_api_arrays(pcrArray, pcrBatchResponse, "pcr_batch", "id")
                    console.log(pcrArray)

                    for (const pcr of pcrArray) {
                        // now we have to nest this pcr under each extract under the "pcrs" key
                        if (!pcr.extract) {
                            this.samples.push({filters: [{extracts: [{pcrs: [pcr]}]}]});
                        } else {
                            for (const sample of this.samples) {
                                for (const filter of sample.filters) {
                                    for (const extract of filter.extracts) {
                                        if (extract.id === pcr.extract) {
                                            extract.pcrs.push(pcr);
                                            break;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    this.loadingObject.pcrs = false;
                    // figure out formatting
                    for (const sample of this.samples) {
                        sample.rowspan = 1 + sample.filters.length;
                        for (const filter of sample.filters) {
                          sample.rowspan += filter.extracts.length;
                          filter.rowspan = 1 + filter.extracts.length;
                          for (const extract of filter.extracts) {
                              sample.rowspan += extract.pcrs.length;
                              filter.rowspan += extract.pcrs.length;
                              extract.rowspan = 1 + extract.pcrs.length;

                              // need to make sure that pcr assays are in the correct order
                              for (const pcr of extract.pcrs) {
                                  // we only need to do this if there are existing pcr assays.
                                  if (pcr.pcr_assays.length) {
                                      let new_pcr_assays = [];
                                      let tempObj;
                                      for (const assay of this.assaysTested) {
                                          // for each assay tested, we will want to have an object in the new array
                                          tempObj = {};
                                          for (const pcrAssay of pcr.pcr_assays) {
                                              console.log(assay, pcrAssay)
                                              if (assay.id === pcrAssay.assay) {
                                                  tempObj = pcrAssay;
                                              }
                                          }
                                          new_pcr_assays.push(tempObj);
                                      }
                                      pcr.pcr_assays = new_pcr_assays;
                                  }


                              }


                              }
                          }
                      }

                      // this should be the last thing to do
                      this.$forceUpdate();
                      this.loadingObject.formatting = false;
                  })
                })
              })
            })
          })
        })
      }





















    },
    computed: {
      selectedItems() {
        let myArray = [];
        for (const filter of this.filters) {
          if (filter.selected) myArray.push(filter)
        }
        return myArray
      },
      ready2Show() {
        for (const loadingObjectKey in this.loadingObject) {
          if (this.loadingObject[loadingObjectKey]) return false;
        }
        return true;
      }
    },
    created() {
      this.getCurrentUser();
      this.getMetadata();
      this.getSamples();
    },
  });
  </script>

  <script type="application/javascript">
  function initialize() {
    {% if object.get_centroid %}
      map = new L.Map("map", {
        center: new L.LatLng({{ object.get_centroid.x }}, {{ object.get_centroid.y }}),
        zoom: 14,
      });
    {% else %}
      map = new L.Map("map", {
        center: new L.LatLng(47.71949771358633, -64.10716523195102),
        zoom: 6,
      });
    {% endif %}

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map)

    lineCoords = [];
    {% for sample in object.samples.all %}
      {% if sample.get_point %}
        lineCoords.push([{{sample.get_point.x}}, {{ sample.get_point.y }}])
        L.marker([{{sample.get_point.x}}, {{ sample.get_point.y }}],
            {
              title: '{{sample}}',
            }
        ).addTo(map).bindPopup("<b>Project = </b> {{object}}<br><b>Sample ID = </b> {{sample}}<br>");
      {% endif %}
    {% endfor %}
    if (lineCoords.length) map.fitBounds(lineCoords);
  }

  $(document).ready(function () {
    // Stuff to do as soon as the DOM is ready
    initialize()

  });
  </script>


{% endblock %}