{% extends "edna/base.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block header %}
  {{ block.super }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

  {#  {% include "edna/_background_img.html" %}#}
  <style>
  .backdrop {
      font-size: small;
      z-index: 0;
      font-family: 'Raleway', sans-serif;
  }

  .overlay {
      z-index: 1;
      position: fixed;
      top: 10%;
      left: 20%;

  }

  </style>
{% endblock %}

{% block content %}

  <div class="backdrop small break-long-words">
    {{ txt }}
  </div>


  {% echo "btn btn-outline-dark " as btn_class %}
  {% echo "btn btn-outline-secondary " as admin_btn_class %}
  <br>
  <div class="container bg-light curvy shadowbox overlay">
    <div class="float-left">
      <img src="{% static 'edna/Edna_Krabappel.png' %}" alt="" width="200px">
    </div>
    <div class="">
      <h1 class="text-center mt-3 mb-5">
        {% trans "Welcome to eDNA Krabappel" %}
      </h1>
      <h3 class="text-center text-muted">
        {% trans "eDNA Sample Archive and Tracking Tool" %}
      </h3>
    </div>
    <div class="mb-5"></div>
    <div class="">
      <a href="{% url 'edna:collection_list' %}" class="btn btn-primary">{% trans "Projects" %}</a>
      <div class="btn-group">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          {% trans "Lab Services" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'edna:sample_batch_list' %}">{% trans "Sample" %}</a>
          <a class="dropdown-item" href="{% url 'edna:filtration_batch_list' %}">{% trans "Filtration" %}</a>
          <a class="dropdown-item" href="{% url 'edna:extraction_batch_list' %}">{% trans "DNA Extraction" %}</a>
          <a class="dropdown-item" href="{% url 'edna:pcr_batch_list' %}">{% trans "qPCR" %}</a>
        </div>
      </div>
      <div class="btn-group mr-5">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          <span class="mdi mdi-magnify"></span>
          {% trans "Find a Sample" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'edna:sample_list' %}">{% trans "Field" %}</a>
          <a class="dropdown-item" href="{% url 'edna:filter_list' %}">{% trans "Filtration" %}</a>
          <a class="dropdown-item" href="{% url 'edna:extract_list' %}">{% trans "Extraction" %}</a>
          <a class="dropdown-item" href="{% url 'edna:pcr_list' %}">{% trans "qPCR" %}</a>
        </div>
      </div>


    </div>
      <a href="{% static 'edna/edna_sampling_fieldsheet.docx' %}" class="float-right"><span
        class="mdi mdi-file-document mr-1 text-primary"></span>{% trans "Download eDNA Fieldsheet" %}
      </a>
  </div>




{% endblock %}


