{% extends "shared_models/generic_base.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block subcontent %}
  <style>
  table, td, th {
      border: black 1px solid;
  }

  .red-font {
      color: red;
      font-weight: bold;

  }

  </style>

  <div class="container">
    <div class="mb-3">
      <h1>
        {% trans "qPCR Import Form:" %}
      </h1>
      <ul>
        <li>
          {% trans "the file must be in csv format" %}
        </li>
        <li>
          {% trans "use the prescibed template" %} (<a href="{% static 'edna/pcr_import_template.csv' %}">{% trans "download here" %}</a>)
        </li>
        <li>
          {% trans "here are descriptions of the fields. red = mandatory" %}
        </li>
      </ul>
    </div>

    <div class="mb-3 row">
      <div class="col">
        <p class="lead">{% trans "PCR Batch Level" %}</p>
        <table class="small">
          <tr>
            <th class="py-1 px-1 red-font">year</th>
            <td class="pr-3">
              <ul>
                <li>year as four digit integer; YYYY</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1 red-font">month</th>
            <td class="pr-3">
              <ul>
                <li>month as integer</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1 red-font">day</th>
            <td class="pr-3">
              <ul>
                <li>day as integer</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">hour</th>
            <td class="pr-3">
              <ul>
                <li>hour as integer; 24h format</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">minute</th>
            <td class="pr-3">
              <ul>
                <li>minutes as integer</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">comments</th>
            <td class="pr-3">
              <ul>
                <li>free text field</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">plate_id</th>
            <td class="pr-3">
              <ul>
                <li>this is the qPCR plate ID number.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">machine_number</th>
            <td class="pr-3">
              <ul>
                <li>This is the qPCR machine number</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">run_program</th>
            <td class="pr-3">
              <ul>
                <li>This is the name of the qPCR run program</li>
              </ul>
            </td>
          </tr>
        </table>

      </div>
      <div class="col">
        <p class="lead">{% trans "PCR Level" %}</p>
        <table class="small">
          <tr>
            <th class="py-1 px-1 red-font">plate_well</th>
            <td class="pr-3">
              <ul>
                <li>This is the plate well number</li>
                <li>must have the following structure: [A-H][1-12], e.g., B5</li>
                <li>is not case sensitive</li>
                <li>this identifier will correspond to a single row in this application's qPCR table</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">extract</th>
            <td class="pr-3">
              <ul>
                <li>integer</li>
                <li>This is the unique DNA extract id, as generated by this system, e.g., x123. In this example,
                  only the numerical portion of the id should be provided
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">extraction_number</th>
            <td class="pr-3">
              <ul>
                <li>free text field</li>
                <li>this is the unique identifier that has been custom assigned to a DNA extract.</li>
                <li>this field can be used to link a pcr well to an extract</li>
                <li>Warning: if an extract id is provided in the same row, it will be used instead of the extraction number</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">master_mix</th>
            <td class="pr-3">
              <ul>
                <li>name of master mix used</li>
                <li>must be an exact match of one of the below (not case sensitive)</li>
                <ul>
                  {% for obj in master_mixes %}
                    <li>{{ obj }}</li>

                  {% endfor %}

                </ul>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="col">

        <p class="lead">{% trans "Assay Level" %}</p>
        <table class="small">
          <tr>
            <th class="py-1 px-1 red-font">assay</th>
            <td class="pr-3">
              <ul>
                <li>name of assay / target used</li>
                <li>must be an exact match of one of the below (not case sensitive)</li>
                <ul>
                  {% for obj in assays %}
                    <li>{{ obj.alias }}</li>
                  {% endfor %}

                </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">threshold</th>
            <td class="pr-3">
              <ul>
                <li>float</li>
                <li>the threshold used in the analysis</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">ct</th>
            <td class="pr-3">
              <ul>
                <li>float</li>
                <li>the observed Ct value</li>
                <li>undetermined observation may have the following values (not case sensitive):</li>
                <ul>
                  <li>na</li>
                  <li>undetermined</li>
                  <li>unknown</li>
                </ul>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="py-1 px-1">comments</th>
            <td class="pr-3">
              <ul>
                <li>free text field</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="mb-3">
      <p>Click <a href="{% static 'edna/pcr_import_template.csv' %}">here</a> to download the example as a template</p>
    </div>


    <form method="post" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <h3>Please select the file to upload:</h3>
        {{ field }}
      {% endfor %}

      <br>
      <br>

      <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
      <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">{% trans "Cancel" %}</a>

    </form>

      <br>
      <br>
  </div>

{% endblock %}
