{% extends "shared_models/generic_base.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block subcontent %}
  <style>
  table, td, th {
      border: black 1px solid;
      font-size: small;
  }

  .red-font {
      color: red;
      font-weight: bold;

  }

  </style>

  <div class="container-fluid">

    <h1>
      {% trans "Sample Import Form:" %}
    </h1>
    <ul>
      <li>
        {% trans "the file must be in csv format" %}
      </li>
      <li>
        {% trans "the order of the columns in the file is NOT important" %}
      </li>
      <li>
        {% trans "the presence of extra headers (i.e. not listed below) will be ignored" %}
      </li>
      <li>
        {% trans "the file must have the follow format (headers should be in lowercase!):" %}
      </li>
      <li>
        {% trans "red = mandatory" %}
      </li>
    </ul>
    <table>
      <thead>
      <tr>
        <th class="py-1 px-1 red-font">bottle_id</th>
        <th class="py-1 px-1">sample_type</th>
        <th class="py-1 px-1 w200px">location</th>
        <th class="py-1 px-1 w200px">site</th>
        <th class="py-1 px-1 w250px">station</th>
        <th class="py-1 px-1">samplers</th>
        <th class="py-1 px-1 red-font">datetime</th>
        <th class="py-1 px-1 red-font">latitude</th>
        <th class="py-1 px-1 red-font">longitude</th>
        <th class="py-1 px-1">comments</th>
      </tr>
      </thead>
      <tr>
        <td class="py-1 px-1">
          <ul>
            <li>must be unique within database</li>
            <li>string or integer</li>
            <li>ideally this would be from an issued bottle id label</li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>integer</li>
            <li>
              must be one of the following:
              <ul>
                {% for type in sample_types %}
                  <code>{{ type.id }}</code> = {{ type }}<br>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>
              Location describes the geographic area and/or context of the study (e.g., province, National Park, Fishery Management Area, Bay Management
              Area).
            </li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>
              sites should be relatively independent of each other, such as different systems and habitats (e.g., different lakes, rivers, ponds, marine
              areas, order of tributary, marinas).
            </li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>
              Station refers to spatially distinct sampling locations within a site (i.e., spatial replicates) and are typically used to improve species
              detection or evaluate the eDNA variation within systems or habitats (e.g., samples distributed using a grid or transect design surrounding an
              aquaculture site, upper and lower reach of a river, locations within large open water environments)
            </li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>name of samplers</li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>date and time of sample collection in UTC</li>
            <li>format MUST follow: mm/dd/YYYY HH:MM</li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>positive float</li>
            <li>decimal degrees</li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>negative float</li>
            <li>decimal degrees</li>
          </ul>
        </td>
        <td class="py-1 px-1">
          <ul>
            <li>optional field comments</li>
          </ul>
        </td>
      </tr>

    </table>

    <div class="mb-3 mt-3">
      EXAMPLE:
      <table>
        <thead>
        <tr>
          <th class="py-1 px-1">bottle_id</th>
          <th class="py-1 px-1">sample_type</th>
          <th class="py-1 px-1">location</th>
          <th class="py-1 px-1">site</th>
          <th class="py-1 px-1">station</th>
          <th class="py-1 px-1">samplers</th>
          <th class="py-1 px-1">datetime</th>
          <th class="py-1 px-1">latitude</th>
          <th class="py-1 px-1">longitude</th>
          <th class="py-1 px-1">comments</th>
        </tr>
        </thead>
        {% for item in example_obj %}
          <tr>
            <td class="py-1 px-1">{{ item.bottle_id }}</td>
            <td class="py-1 px-1">{{ item.sample_type }}</td>
            <td class="py-1 px-1">{{ item.location }}</td>
            <td class="py-1 px-1">{{ item.site }}</td>
            <td class="py-1 px-1">{{ item.station }}</td>
            <td class="py-1 px-1">{{ item.samplers }}</td>
            <td class="py-1 px-1">{{ item.datetime }}</td>
            <td class="py-1 px-1">{{ item.latitude }}</td>
            <td class="py-1 px-1">{{ item.latitude }}</td>
            <td class="py-1 px-1">{{ item.comments }}</td>
          </tr>
        {% endfor %}

      </table>
    </div>
    <div class="mb-3">
      <p>Click
        <a href="{% static 'edna/sample_import_template.csv' %}">here</a>
        to download this example as a template</p>
    </div>


    <form method="post" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}

        <h2 class="red-font">
          WARNING: samples from <u>within this project</u> that have matching bottle IDs will be overwritten with the data from this CSV.
        </h2>
        <h3>Please select the file to upload:</h3>
        {{ field }}
      {% endfor %}

      <br>
      <br>

      <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
      <br>
      <br>
      <a class="btn btn-secondary" href="#" onclick="window.close()">{% trans "Cancel" %}</a>

    </form>

  </div>

{% endblock %}
