{% load verbose_names %}
{% load i18n %}

<div class="row">
    <div class="col-sm">
        <div><span class="font-weight-bold">{% get_verbose_label dep 'dep_name' %} : </span><span>{% get_field_value dep 'dep_name'%}</span></div>
        <div><span class="font-weight-bold">{% get_verbose_label dep 'dep_month' %} : </span><span>{% get_field_value dep 'dep_month'%}</span></div>
        <div><span class="font-weight-bold">{% get_verbose_label dep 'prj' %} : </span><span>{% get_field_value dep 'prj'%}</span></div>

        <div class="card my-1">
            <h5 class="card-header"><a href="#fs-deployment-list-stn" data-toggle="collapse">{% get_verbose_label dep 'stn' %}</a></h5>
            <div class="card-body collapse" id="fs-deployment-list-stn">
                <div class="card-text">{% include "whalesdb/_station.html" with stn=dep.stn %}</div>
            </div>
        </div>

         <div class="card my-1">
            <h5 class="card-header"><a href="#fs-deployment-list-mor" data-toggle="collapse">{% get_verbose_label dep 'mor' %}</a></h5>
            <div class="card-body collapse" id="fs-deployment-list-mor">
                <div class="card-text">{% include "whalesdb/_mooring_setup.html" with mor=dep.mor %}</div>
            </div>
        </div>

         <div class="card my-1">
            <div class="card-header h5">
                <a href="#fs-deployment-list-set" data-toggle="collapse">{% trans "Station Events" %}</a>
                {# for deployments 1 = Deployment event in the SET table, 2 = Recovery in the SET table #}
                <a class="btn btn-primary" href="#" onclick="return popitup('{% url 'whalesdb:create_ste' dep.pk 1 %}','popoutWindow', height=800)" title="{% trans 'Add' %}">{% trans 'Deployment Event' %}</a>
                <a class="btn btn-primary" href="#" onclick="return popitup('{% url 'whalesdb:create_ste' dep.pk 2 %}','popoutWindow', height=800)" title="{% trans 'Add' %}">{% trans 'Recovery Event' %}</a>
            </div>
            <div class="card-body" id="fs-deployment-list-set">
                {% for evt in dep.station_events.all %}
                    {{evt.set_type.set_name}} - {{ evt.ste_date }}<br />
                {% endfor %}
            </div>
        </div>
    </div>
</div>
