{% extends "whalesdb/whale_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
<div class="container">
    <div class="card whale-transparent mt-2 pt-1">
        <div class="card-header">
            <h2>{% trans title %}</h2>
        </div>
    </div>
    <div class="card whale-transparent mt-2 pt-1">
        <div class="card-body">
            <form method="post" class="form" enctype='multipart/form-data' >
                {% csrf_token %}

                {% for field in form %}
                    {% bootstrap_field field placeholder="" size="small" %}
                {% endfor %}

                {% buttons %}
                    <button type="submit" class="btn btn-success" onclick="refreshParent()">
                        {% trans "Submit" %}
                    </button>
                    <a class="btn btn-secondary" onclick="window.close()" href="#">
                        {% trans "Close" %}
                    </a>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block body_js %}
{% include 'whalesdb/_deployment_js.html'%}
{% endblock %}