{% extends "whalesdb/whale_base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% bootstrap_css %}

{% block title %}
    {% trans lookup.label|add:" Code List" %}
{% endblock title %}

{% block body %}

<div class="container mt-1" >

    <div class="row">
        <div class="col-1">
        {% with "Add "|add:lookup.label as btn_label %}
            {% if lookup.entry == 'code_entry' %}
            <a class="btn btn-primary" href="#"
               onclick="return popitup('{% url 'whalesdb:code_entry' lookup.url %}','popoutWindow')"
                title="{% trans btn_label%}">+</a>
            {% else %}
            <a class="btn btn-primary" href="#"
               onclick="return popitup('{% url 'whalesdb:'|add:lookup.entry %}','popoutWindow')"
                title="{% trans btn_label%}">+</a>
            {% endif %}
        {% endwith %}
        </div>
        <h2>{{lookup.label}}</h2>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                {% for field in lookup.fields %}
                <th>{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for elm in object_list %}
                <tr>
                    {% for v in elm %}
                    <td>{{ v }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}