{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<script type=" text/javascript" src="{% static "js/popItOut.js" %}"></script>

{% block content %}
<div class="container-fluid">
    <form method="post" class="form">
        {% csrf_token %}

        {% for field in form %}
            {% bootstrap_field field placeholder="" size="small" %}
        {% endfor %}

        {% buttons %}
            <button type="submit" class="btn btn-success" onclick="refreshParent()">
                {% trans "Submit" %}
            </button>
            {% if pop %}
                <a class="btn btn-secondary" onclick="window.close()" href="">
                    {% trans "Close" %}
                </a>
             {% else %}
                {% if obj_name %}
                <a class="btn btn-secondary" href="{% url cancel_url obj_name %}">
                {% else %}
                <a class="btn btn-secondary" href="{% url cancel_url %}">
                {% endif %}
                    {% trans "Cancel" %}
                </a>
             {% endif %}
        {% endbuttons %}
    </form>
</div>
{% endblock content %}