{% extends "whalesdb/whale_base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% bootstrap_css %}
{% load verbose_names %}

{% block tab_title %}
    {% trans "After Deployment" %}
{% endblock tab_title %}

{% block body %}
<div class="container-fluid">
    <div class="col-6">
        <table class="table table-sm table-striped">
            {% if objects %}
                {% for o in objects %}
                    {% for f in o.fields %}
                        <tr><th>{{ f.label }}</th><td>{% get_field_value o.object f.key %}</td></tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for f in fields %}
                    <tr><th>{{ f.label }}</th><td>{% get_field_value object f.key %}</td></tr>
                {% endfor %}
            {% endif %}
        </table>

        {% if channel_fields %}
        <table class="table table-sm table-striped">
            <tr>
                <th><!-- leave blank for button column --></th>
                {% for f in channel_fields %}
                <th>{{ f.label }}</th>
                {% endfor %}
            </tr>
            {% for c in channels %}
            <tr>
                <td>btn</td>
                {% for f in channel_fields %}
                <td>{% get_field_value c f.key %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <a class="btn btn-primary" href="#"
           onclick="return popitup('{% url 'whalesdb:create_channel' 'pop' object.pk %}','popoutWindow')"
           title="{% trans 'Add Channel'%}">{% trans 'Add Channel'%}</a>

        {% endif %}

    </div>
</div>
{% endblock body %}