{% extends "whalesdb/whale_base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% bootstrap_css %}
{% load verbose_names %}

{% block tab_title %}
    {% trans title %}
{% endblock tab_title %}

{% block body %}
    <div class="indent-lg">
        <form class="form" action="#" method="get" id="filter-form">
            <div class="row">

                {% for field in filter.form %}
                    {# {{field.label}}: &nbsp; {{field}}&nbsp;&nbsp; #}
                    <div class="col">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>

                {% endfor %}
                <div class="col">
                    <br>
                    <input type="submit" value="Filter" class="btn btn-warning btn-sm">
                    <a href="{% url new_object %}" class="btn btn-primary btn-sm">Create New</a>

                </div>
            </div>
        </form>

        <table class="table table-hover table-sm sortable">
            <thead>
            <tr>
                {% for lbl in fields %}
                <th scope="col" style="width: 50%">
                    {% trans lbl.label %}
                </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for obj in filter.qs %}
                {% if detail_type is 'emm' %}
                <tr href="{% url detail_object obj.emm.emm_id %}" >
                    {% for lbl in fields %}
                    <td>{% get_field_value obj lbl.key %}</td>
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <b>
            TOTAL: {{ object_list.count }}
        </b>
    </div>

{% endblock body %}