{% extends "whalesdb/whales_details.html" %}
{% load bootstrap4 %}
{% load static %}
{% load verbose_names %}
{% load i18n %}
{% bootstrap_css %}

{% block field_override %}
<h2>{{ object.mor_name }}</h2>
<div class="container" >
    <div class="row">
        <div class="col-sm">
        {% for field in fields %}
            <div><span class="font-weight-bold">{% get_verbose_label object field %} : </span><span>{% get_field_value object field%}</span></div>
        {% endfor %}
        </div>
    {% if object.mor_setup_image%}
        <span class="col-4 border">
        {% if object.mor_setup_image %}
            <img src="{{ object.mor_setup_image.url }}" />
        {% endif %}
        </span>
    {% endif %}
    </div>
</div>
{% endblock %}
