{% load verbose_names %}
{% load i18n %}
{% load custom_tags %}

<div v-if="showProjectList" class="mt-5">

  <table class="table table-sm" style="width: auto">
    <thead>
    <tr>
      {% for field in field_list %}
        {% if "title" in field %}
          <th @click="sort('{{ field }}')" style="width: 400px" class="clickable">
            {% get_verbose_label random_project field %}
          </th>
        {% elif "funding" in field or "functional" in field %}
          <th @click="sort('{{ field }}')" style="width: 150px" class="clickable">
            {% get_verbose_label random_project field %}
          </th>
        {% elif "fiscal" in field or "status" in field %}
          <th @click="sort('{{ field }}')" style="width: 100px" class="clickable">
            {% get_verbose_label random_project field %}
          </th>
        {% elif "allocated" in field %}
          <th @click="sort('{{ field }}')" style="width: 100px" class="clickable" v-if="showColumnAllocation">
            {% trans "Allocation" %}
          </th>
        {% elif "id" in field %}
          <th @click="sort('{{ field }}')" style="width: 75px" class="clickable">
            {% trans "Project Id" %}
          </th>
        {% elif "score" in field %}
          <th style="width: 100px" v-if="showColumnScore">
            {% trans "Review score" %}
          </th>
        {% elif "last_modified" in field %}
          <th style="width: 100px" v-if="showColumnLastModified">
            {% trans "Last Modified" %}
          </th>
        {% elif "lead" in field %}
          <th @click="sort('{{ field }}')" v-if="showColumnLeads" style="width: 150px" class="clickable">
            {% get_verbose_label random_project field %}
          </th>
        {% else %}
          <th @click="sort('{{ field }}')" class="clickable">
            {% get_verbose_label random_project field %}
          </th>
        {% endif %}

      {% endfor %}

      <th @click="sort('is_hidden')" v-if="isAdminOrMgmt && showColumnHidden" class="clickable">
        {% trans "Hidden?" %}
      </th>

    </tr>
    </thead>
    <tbody>
    <tr
      v-for="(p, index) in sortedProjectYears"
      @mouseover="hover = true"
      @mouseleave="hover = false"
    >
      <td>${p.project.id}</td>
      <td>${p.display_name}</td>
      <td>
        <a class="text-primary pointy" @click="goProjectDetail(p)">
          ${p.project.title}
        </a>
      </td>

      <td>${p.project.default_funding_source}</td>
      <td>${p.project.functional_group}</td>
      <td v-if="showColumnLeads">${p.project.lead_staff}</td>
      <td :class="p.status_class" v-html="p.status_display"></td>

      <td v-if="showColumnAllocation">
        <span v-if="p.review">${p.review.allocated_budget | nz(0) | currencyFormat | zero2NullMark}</span>
        <span v-else>---</span>
      </td>

      <td v-if="showColumnScore">
        <span v-if="p.review">${p.review_score_percentage}</span>
        <span v-else>---</span>
      </td>

      <td v-if="showColumnLastModified">
        <span v-if="p.last_modified">${p.last_modified}</span>
        <span v-else>---</span>
      </td>
      <td v-if="isAdminOrMgmt && showColumnHidden">
        <span v-if="p.project.is_hidden" class="highlight">{% trans "Yes" %}</span>
        <span v-else>{% trans "No" %}</span>
      </td>
      {#  Button zone!!! #}

      {% echo "small-btn-text btn btn-sm" as btn_class %}

      <td class="w85">
        <button v-if="!p.submitted" @click="submitProjectYear(p, 'submit')" class="px-1 {{ btn_class }} btn-success">
          {% trans "Submit" %}
        </button>
        <button v-else-if="p.submitted && p.status != 4" @click="submitProjectYear(p, 'unsubmit')" class="px-1 {{ btn_class }} btn-danger">
          {% trans "Un-submit" %}
        </button>
      </td>

      <td class="w90">
        <button v-if="p.status != 4 && p.review && p.review.id" @click="openReviewModal(p)"
                class="px-1 {{ btn_class }} btn-warning">
          {% trans "Edit review" %}
        </button>
        <button v-else-if="p.status != 4" @click="openReviewModal(p)" class="px-1 {{ btn_class }} btn-info">
          {% trans "Start review" %}
        </button>
      </td>

      <td class="w85" v-if="currentUser.is_admin || currentUser.is_rds">
        <button @click="openReviewModal(p, 'approval')" v-if="p.status !=1 && (currentUser.is_admin || currentUser.is_rds)"
                class="px-1 {{ btn_class }} btn-dark">
          {% trans "Approvals" %}
        </button>
      </td>


    </tr>
    </tbody>
  </table>

  <div v-if="projects_loading" class="loading mb-3 mt-3 text-center mt-5">
    <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div v-else>
    <div class="text-center">
      <p class="font-italic font-weight-bold">${projectYears.length} of ${count} loaded</p>
      <button v-if="next" @click="loadMoreResults" class="btn btn-primary btn-sm">
        {% trans "Load more results..." %}
      </button>
    </div>
  </div>
</div>

