{% extends 'projects2/base.html' %}
{% load verbose_names %}
{% load i18n %}
{% load custom_filters %}
{% load static %}

{% block title_area %}
{% endblock %}

{% block crumbs %}
{% endblock %}

{% block content %}
  <div id="app" @keydown.esc.prevent="closeModals()">

    <div id="mySidebar" class="sidebar">
      {% include "projects2/manage_projects/_console.html" %}
    </div>
    <div id="main">
      <div class="row container-fluid bg-light curvy">


        <div class="col">
          <p class="h1 text-center">{% trans "Management Console" %}</p>
          <p class="lead text-center">{% trans "Projects over which you have managerial control" %}</p>


          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a :class="{ 'nav-link': true, 'active': showProjectList }" href="#" @click="changeTabs('project')">
                {% trans "Project List" %} (${count})
              </a>
            </li>
            <li class="nav-item">
              <a :class="{ 'nav-link': true, 'active': showStaffList }" href="#" @click="changeTabs('staff')">
                {% trans "Staff List" %}
              </a>
            </li>
            <li class="nav-item">
              <a :class="{ 'nav-link': true, 'active': showFinancialSummary }" href="#" @click="changeTabs('financial')">
                {% trans "Financial Summary" %}
              </a>
            </li>
          </ul>

          {% include "projects2/manage_projects/_project_list.html" %}
          {% include "projects2/manage_projects/_staff.html" %}
          {% include "projects2/manage_projects/_financials.html" %}
        </div>

      </div>
    </div>

    {% include "projects2/manage_projects/_review_modal.html" %}
    <modal v-if="showReviewModal" @close="closeModal(projectYear2Review)" :project_year="projectYear2Review"></modal>

  </div>


{% endblock %}


{% block body_js %}
  {{ block.super }}

  <script type="application/javascript">
  var submitMsg = "{% trans "Are certain you want to submit the following year of the project?" %} \n\n"
  var unsubmitMsg = "{% trans "Are certain you want to un-submit the following year of the project? The status of the project year will be reset!" %} \n\n"

  </script>

  <script src="{% static '/projects2/mainManageProjects.js' %}?version=0.0.7" type="application/javascript"></script>
  <script src="{% static '/projects2/mainManageProjectsReviewModal.js' %}?version=0.0.0" type="application/javascript"></script>

  {#  reload other scripts that we care about#}

  <script type="text/javascript" src="{% static "js/clickableTableRows.js" %}?version=1.1.7"></script>
  <script type=" text/javascript" src="{% static "js/popItOut.js" %}?version=1.2.2"></script>
  <script type=" text/javascript" src="{% static "js/underDevelopment.js" %}?version=1.2.4"></script>

{% endblock %}