{% extends "oceanography/oceanography_base.html" %}
{% load nz %}
{% load verbose_names %}


{% block content %}

    {% load static %}
    <div class="container">
        <div class="jumbotron">
            <a href="{% url 'oceanography:mission_detail' mission.id %}" class="btn btn-primary float-right">Back</a>
            <h1>Bottle list for {{ mission.mission_number }}</h1>

        </div>
    </div>

    <style>
        .smaller {
            font-size: 0.8em;
        }
    </style>

    <div class="smaller indent">
    <p>
    </p>

    {# <h2>Please select from the following:</h2> #}
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% get_verbose_field_name bottle "bottle_uid" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "station" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "set" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "event" %}</th>
            <th scope="col">Date / Time (UTC)</th>
            <th scope="col">{% get_verbose_field_name bottle "sounding_m" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "bottle_depth_m" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "temp_c" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "salinity" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "sal_units" %}</th>
            <th scope="col">pH</th>
            <th scope="col">{% get_verbose_field_name bottle "lat_DDdd" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "long_DDdd" %}</th>
            <th scope="col">{% get_verbose_field_name bottle "ctd_filename" %}</th>
            <th scope="col" style="width: 800px;">{% get_verbose_field_name bottle "remarks" %}</th>

        </tr>
        </thead>
        <tbody>

        {% for b in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url "oceanography:bottle_detail" b.id %}">{{ b.bottle_uid }}</a></td>
                <td>{{ b.station|nz:"" }}</td>
                <td>{{ b.set|nz:"" }}</td>
                <td>{{ b.event|nz:"" }}</td>
                <td>{{ b.date_time_UTC |date:"Y-m-d H:i:s"}}</td>
                <td>{{ b.sounding_m|nz:"" }}</td>
                <td>{{ b.bottle_depth_m|nz:"" }}</td>
                <td>{{ b.temp_c|nz:"" }}</td>
                <td>{{ b.salinity|nz:"" }}</td>
                <td>{{ b.sal_units|nz:"" }}</td>
                <td>{{ b.ph|nz:"" }}</td>
                <td>{{ b.lat_DDdd|nz:""|floatformat:5 }}</td>
                <td>{{ b.long_DDdd|nz:""|floatformat:5 }}</td>
                <td>{{ b.ctd_filename|nz:"" }}</td>
                <td>{{ b.remarks|nz:"" }}</td>

            </tr>
        {% endfor %}


        </tbody>
    </table>


{% endblock content %}
