{% extends "oceanography/oceanography_base.html" %}
{% load static %}

{% block title %}Docs{% endblock title %}

{% block content %}

{# <img src="{% static 'glf_data_management/img/data.jpg' %}" class="img-fluid max-width" alt="file not found"> #}
<div class="container">
  <div class="jumbotron">
    <h1>Oceanography</h1>
  </div>
</div>

<div class="container">
  <h2>Please select among the following items:</h2>
  <table class="table table-hover">
    <tbody>
      <tr href="{% url "oceanography:doc_list" %}"><td>Document Library</td></tr>
      <tr href="{% url 'oceanography:mission_year_list'  %}"><td>Missions</td></tr>

    </tbody>
  </table>
</div>

{% endblock content %}
