{% extends "oceanography/oceanography_base.html" %}
{% load static %}
{% load custom_filters %}



{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'oceanography:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'oceanography:mission_year_list' %}">Year Selection</a></li>
            <li class="breadcrumb-item active" aria-current="page">Missions</li>
        </ol>
    </nav>
    <div class="container-fluid">
    <h1>Missions</h1>
    <br><br>
    {# <h2>Please select from the following:</h2> #}
    <div class="row">
        <div class="col">
            (click on a header to sort table)
        </div>
        <div class="col" style="text-align: center">
            <em>displaying all {{ object_list.count }} records</em>
        </div>
        <div class="col" style="text-align: right; padding-bottom: 10px">
            <a href="{% url 'oceanography:mission_new' view.kwargs.year %}" class="btn btn-sm btn-primary">New</a>
        </div>
    </div>
    <table class="table table-hover table-sm sortable">
        <thead>
        <th scope="col">Mission number</th>
        <th scope="col">Institute</th>
        <th scope="col">MEDS ID</th>
        <th scope="col">Mission name</th>
        <th scope="col">Chief scientist</th>
        <th scope="col">Number of CTD profiles</th>
        <th scope="col">Number of bottles</th>
        </thead>
        <tbody>

        {% for m in object_list %}
            <tr href="{% url "oceanography:mission_detail" m.id %}">
                <td><a>{{ m.mission_number }}</a></td>
                <td>{{ m.institute.abbrev }}</td>
                <td>{{ m.meds_id|nz:"" }}</td>
                <td>{{ m.mission_name }}</td>
                <td>{{ m.chief_scientist }}</td>
                <td>{{ m.number_of_profiles }}</td>
                <td>{{ m.bottles.count }}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>


{% endblock content %}
