{% extends "oceanography/oceanography_base.html" %}
{% load bootstrap4 %}
{% load verbose_names %}


{% block content %}

  <div class="container">
    <h1>{{object.mission_name}}</h1>
    <div class="btn-group">
      <a href="{% url "oceanography:mission_edit" object.id %}" class="btn btn-warning">Edit</a>
      <a href="{% url "oceanography:bottle_list" object.id %}" class="btn btn-primary">View Bottles</a>
      <a href="{% url "oceanography:mission_export_csv" object.id %}" class="btn btn-success">Export CSV</a>
      <a href="{% url "oceanography:file_create" object.id %}" class="btn btn-outline-dark">Add a File</a>
      <a href="{% url "oceanography:mission_list" object.season %}" class="btn btn-secondary">Back</a>
    </div>
    <br><br>

<div class="row">
  <div class="col">
        <p>
          <b>{%get_verbose_field_name object "mission_name" %}:</b><br>
          {{object.mission_name}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "mission_number" %}:</b><br>
          {{object.mission_number}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "vessel_name" %}:</b><br>
          {{object.vessel_name}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "chief_scientist" %}:</b><br>
          {{object.chief_scientist}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "samplers" %}:</b><br>
          {{object.samplers}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "start_date" %}:</b><br>
          {{object.start_date}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "probe" %}:</b><br>
          {{object.probe}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "area_of_operation" %}:</b><br>
          {{object.area_of_operation}}
        </p>
        <p>
          <b>{%get_verbose_field_name object "notes" %}:</b><br>
          {{object.notes}}
        </p>



  </div>

  <div class="col">
    <p>
      <b>Files:</b>
      {# function popitup(url,windowName, height=500, width=500,top=50,left=200) #}
      {# <a class="btn btn-sm btn-light" onclick="return popitup('{% url 'tickets:file_create' ticket.id %}','FileCreate',500,1000)"> <i class="material-icons">add</i></a> #}

      <ul>
        {% for file in object.files.all  %}
          <li>
            {# <a href="." onclick="return popitup('{% url 'tickets:file_detail' ticket=object.id pk=file.id %}','FileDetail',500,1000)">{{file.caption}}</a> (uploaded on: {{file.date_created|date:"F d Y"}}) #}
            <a href="{% url "oceanography:file_detail" file.id %}">{{file.caption}}</a> (uploaded on: {{file.date_created|date:"F d Y"}})
          </li>
        {% empty %}
          <span class="">  <em>There are no files attached to this mission.</em></span>

        {% endfor %}
      </ul>
    </p>
  </div>

  </div>
</div>

{% endblock content %}
