{% extends "cars/base.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% echo "btn btn-outline-dark " as btn_class %}
  {% echo "btn btn-outline-secondary " as admin_btn_class %}
  <div class="container py-4">
{#    <header class="pb-3 mb-4 border-bottom">#}
{#      <a href="#" class="d-flex align-items-center text-dark text-decoration-none">#}
{#        <div class="mx-3">#}
{#          <img src="{% static '/img/icons/vehicle.png' %}" alt="" width="50px">#}
{#        </div>#}
{#        <span class="fs-4">{% trans "Vehicle RSVP" %}</span>#}
{#      </a>#}
{#    </header>#}

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{% trans "Gulf Region Vehicle Reservation System" %}</h1>
        <p class="col-md-8 fs-4">
          {% blocktrans %}
            Welcome to the reservation system for the Gulf Science vehicle fleet.
          {% endblocktrans %}
        </p>
        <button class="btn btn-primary btn-lg" type="button">{% trans "Resources" %} </button>
        <button class="btn btn-success btn-lg" type="button"><span class="mdi mdi-calendar text-light me-1"></span> {% trans "Calendar" %} </button>
        <a href="{% url 'cars:vehicle_finder' %}" class="btn btn-warning btn-lg"><span class="mdi mdi-magnify me-1"></span> {% trans "Find a Vehicle" %} </a>
      </div>
    </div>


    <div class="row align-items-md-stretch mb-3">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>{% trans "Vehicles" %}</h2>
          <p>
            {% blocktrans %}
              Here is some help text we can show regarding the vehicle fleet. Perhaps we'll talk about locations and other important information.
            {% endblocktrans %}
          </p>
          <a href="{% url 'cars:vehicle_list' %}" class="btn btn-sm btn-outline-light">{% trans "View Fleet" %}</a>
          <a href="{% url 'cars:vehicle_new' %}" class="btn btn-sm btn-outline-light">
            <span class="mdi mdi-plus pe-1 text-light"></span>{% trans "Add a Vehicle" %}
          </a>
          {% if user.vehicles.exists %}
            <a href="{% url 'cars:vehicle_list' %}?personalized=true" class="btn btn-sm btn-outline-light position-relative me-3">
              {% trans "Manage Your Vehicles" %}
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                {{ user.vehicles.count }} <span class="visually-hidden">{% trans "active requests" %}</span>
              </span>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>{% trans "Reservations" %}</h2>
          <p>
            {% blocktrans %}
              Similarly, we can provide some general text about making a reservation, managing active requests etc.
            {% endblocktrans %}
          </p>
          <a href="{% url 'cars:rsvp_new' %}" class="btn btn-sm btn-outline-secondary"><span class="mdi mdi-plus pe-1"></span> {% trans "New Reservation" %}</a>

          <a href="#" class="btn btn-sm btn-outline-secondary">{% trans "Your Reservations" %}</a>

          <a href="#" class="btn btn-sm btn-outline-secondary position-relative">
            {% trans "Requests for Your Vehicles" %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">{% trans "active requests" %}</span>
          </span>
          </a>
        </div>
      </div>
    </div>


  </div>

{% endblock %}


