{% extends "shared_models/generic_form.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}



{% block form_field %}
  {% bootstrap_field field placeholder="" %}
  {% if "head" in field.name %}
    {% url 'shared_models:user_new' as new_user_url %}
    <div class="mb-3">
      {% blocktrans %}
        If the user is not in the above list, you can add a new DM Apps User using
        <a href="#" pop-href="{{ new_user_url }}">this form</a>.
      {% endblocktrans %}
    </div>
  {% endif %}

{% endblock %}

{% block form_buttons %}
  <div class="mt-3 mb-3">
    {% trans "Submit" as default_submit_text %}
    {% trans "Cancel" as default_cancel_text %}
    {% echo request.META.HTTP_REFERER as default_cancel_url %}
    <input type="submit" class="btn btn-lg {% block submit_btn_class %}btn-warning{% endblock %}"
           value="{{ submit_text|nz:default_submit_text }}">
    <a class="btn btn-lg btn-secondary" href="{{ cancel_url|nz:default_cancel_url }}">
      {{ cancel_text|nz:default_cancel_text }}
    </a>
    {% if object %}
      <a class="btn btn-lg btn-danger" href="{{ delete_url }}">
        {% trans "Delete" %}
      </a>
    {% endif %}


  </div>
{% endblock %}


{% block post_form_div %}

  {% if object %}
    <div class="mt-4">
    </div>
    {% if object|get_model_name == "region" %}
      {% if object.branches.exists %}
        <h3>
          {% blocktrans with object as parent_entity and object.branches.first|get_model_verbose_name:True as child_entity %}
            {{ child_entity }} under {{ parent_entity }}:
          {% endblocktrans %}
        </h3>
        <ul>
          {% for obj in object.branches.all %}
            <li>
              <a href="{% url 'shared_models:branch_edit' obj.id %}">{{ obj }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    {% elif object|get_model_name == "branch" %}
      {% if object.divisions.exists %}

        <h3>
          {% blocktrans with object as parent_entity and object.divisions.first|get_model_verbose_name:True as child_entity %}
            {{ child_entity }} under {{ parent_entity }}:
          {% endblocktrans %}
        </h3>
        <ul>
          {% for obj in object.divisions.all %}
            <li>
              <a href="{% url 'shared_models:division_edit' obj.id %}">{{ obj }}</a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}

    {% elif object|get_model_name == "division" %}
      {% if object.sections.exists %}

        <h3>
          {% blocktrans with object as parent_entity and object.sections.first|get_model_verbose_name:True as child_entity %}
            {{ child_entity }} under {{ parent_entity }}:
          {% endblocktrans %}
        </h3>
        <ul>
          {% for obj in object.sections.all %}
            <li>
              <a href="{% url 'shared_models:section_edit' obj.id %}">{{ obj }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    {% endif %}
  {% endif %}

{% endblock %}

