{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<script>
    window.resizeTo(width = 800, height = 800);

    window.onunload = refreshParent;

    function refreshParent() {
        window.opener.location.reload();
    }

</script>


<div class="container">

    {% load static %}
    {# Load js file to allow for popout window #}
    <h1>
        {% if object %}
            Section: {{ object }}
        {% else %}
            New Section
        {% endif %}
    </h1>

    <form method="post" class="form">
        {% csrf_token %}

        {# {% bootstrap_form form %} #}
        {% for field in form %}
            {% if field.name == "division" %}
                {% bootstrap_field field %}
                <a pop-href="{% url 'shared_models:division_new' %}" href="#">(add new division)</a><br><br>
            {% else %}
                {% bootstrap_field field %}
            {% endif %}
        {% endfor %}

        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="{% url 'shared_models:close_me' %}">Cancel</a>
        </p>
    </form>

</div>

<script type=" text/javascript" src="{% static "js/popItOut.js" %}?version1.2"></script>
