{% load static %}

<style>
    body {
        background-image: url("{% static 'inventory/kimberly-farmer-lUaaKCUANVI-unsplash.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .container-fluid, .container {
        border-radius: 25px;
        margin-top: 15px;
        padding: 15px;
        background-color: white;
        background-color: rgba(255, 255, 255, 1);
        font-size: small;

    }

    table, td, th {
        font-size: small;
    }
</style>