{% load verbose_names %}
{% load i18n %}
<style>
.email-table {
    border: solid 1px black;
    text-align: left;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 2px;
}

</style>

<em>
  *** un message français suivra
</em>
<br><br>

{% language 'en' %}
  <p>
    {{ object.csas_request.client }},
  </p>

  <p>
    Your request for Science advice entitled <a href="{% url 'csas2:request_detail' object.csas_request.id %}">{{ object.csas_request.title }}</a>
    has been reviewed and was screened-in. This means that your request will move onto the next phase of planning and prioritization.
  </p>

  {% if object.csas_request.processes.exists %}
    <p>
      Your request has been attached to the following CSAS Process{{ object.csas_request.processes.count|pluralize:"es" }}:
    </p>
    <ul>
      {% for process in object.csas_request.processes.all %}
        <li><a href="{% url 'csas2:process_detail' process.id %}">{{ process }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      In the near future, your request will be attached to one or several <a href="{% url 'csas2:process_list' %}">CSAS Processes</a>.
    </p>
  {% endif %}
  <p>
    Please refer to the associated process(es) for the tracking of any new developments.
  </p>

  <p>
    Please do not hesitate to contact your CSAS Coordinator, {{ object.csas_request.office.coordinator }}
    (<a href="mailto:{{ object.csas_request.office.coordinator.email }}">{{ object.csas_request.office.coordinator.email }}</a>), for more information.
  </p>

{% endlanguage %}

<hr>

{% language 'fr' %}
{% endlanguage %}






