{% load verbose_names %}
{% load i18n %}

<style media="screen">
    table, td, th, tr {
        border: solid 1px black;
        text-align: left;
        margin-right: 15px;
    }
</style>

<em>
    *** un message français suivra
</em>
<br><br>

{% language 'en' %}
<p>
    Hello {{ object.user }},
    <br><br>
    A CSAS Terms of Reference is awaiting your review in the DM Apps - CSAS Tracking Tool.
    Please click <a href="{{SITE_FULL_URL}}{% url 'csas2:tor_detail' object.tor.id %}">HERE</a> to review the ToR.
</p>

  <hr>

{% endlanguage %}
{% language 'fr' %}
<p>
    {{ object.user }} :
    <br><br>
    Une cadre de référence attend votre examen dans l'application DM Apps - SCAS outil de suivi.
    Veuillez cliquer <a href="{{SITE_FULL_URL}}{% url 'csas2:tor_detail' object.tor.id %}">ICI</a> pour examiner le cadre de reference.
</p>
{% endlanguage %}




