{% extends "trapnet/sample_detail/basic.html" %}
{% load static %}
{% load verbose_names %}
{% load  i18n %}
{% load custom_filters %}


{% block sample_subtype %}

  <div class="card">
    <div class="card-header lead">
      {% trans "Rotary Crew Trap (RST) Details" %}
    </div>
    <div class="card-body">
      <table class="table table-sm table-bordered">
        {% for field in rst_field_list %}
            {% verbose_td_display object field display_time=True %}
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}