{% load static %}
{% load custom_filters %}
{% load humanize %}
{% load i18n %}
{% get_current_language as LANG %}


<div class="">
  <h3>
    {% trans "Actions, Next Steps or Comments:" %}
  </h3>
</div>




{% if object.notes.count == 0 %}
  <br><em>
  {% trans "No Actions, next steps or comments have been added to this entry..." %}
</em><br>
{% else %}



  <table class="table table-hover table-sm" style="width: auto">
    <tr>
      <th>
        {% trans "Type" %}
      </th>
      <th>
        {% trans "Date" %}
      </th>
      <th>
        {% trans "Author" %}
      </th>
      <th>
        {% trans "Note" %}
      </th>
      <th>
        {% trans "Status" %}
      </th>
    </tr>
    <tbody>
    {% for obj in object.notes.all %}
      <tr href="{% url 'ihub:note_edit' obj.id %}" pop>
        <td>{{ obj.get_type_display }}</td>
        <td>{{ obj.date|date:"F d, Y" }}</td>
        <td>{{ obj.author.first_name }} {{ obj.author.last_name }}</td>
        <td>{{ obj.note }}</td>
        <td style="background: {{ obj.status.color }};">{{ obj.status }}</td>


        <td>
          <a class="note-delete-me" href="#" val="{{ obj.id }}">
            <span class="mdi mdi-delete" data-toggle="tooltip" title="Delete"></span>
          </a>
          <a id="note-secrect-delete-btn-{{ obj.id }}"
             href="{% url 'ihub:note_delete' obj.id %}" class="hidden stop"></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
<a class="primary" href="#"
   onclick="return popitup('{% url 'ihub:note_new' object.id %}','popoutWindow')">
  {% trans "(Add note)" %}
</a>
<br>
<br>
<br>

