{% load static %}
{% load humanize %}
{% load i18n %}


<div class="card entry-card mb-3">
  <div class="card-header">
    <a href="#" pop-href="{% url 'ihub:ep_new' object.id %}" class="btn btn-sm btn-primary float-right">
      {% trans "Add Person" %}
    </a>

    <h5 class="card-title"> {% trans "Contacts" %}</h5>
  </div>
  <div class="card-body">

    {% if object.people.count == 0 %}
      <em>
        {% trans "No people have been added to this entry" %}
      </em><br>
    {% else %}

      <table class="table table-hover table-sm" style="width: 75%">
        <tr>
          <th>
            {% trans "Name" %}
          </th>
          <th>
            {% trans "Organization" %}
          </th>
          <th>
            {% trans "Role" %}
          </th>
          <th class="text-center">
            {% trans "Connected user?" %}
          </th>
        </tr>
        <tbody>
        {% for obj in object.people.all %}
          <tr href="{% url 'ihub:ep_edit' obj.id %}" pop>
            <td>
              {% if obj.user.id %}
                {{ obj.user.first_name }} {{ obj.user.last_name }}
              {% else %}
                {{ obj.name }}
              {% endif %}
            </td>
            <td>
              {{ obj.organization }}
            </td>
            <td>
              {{ obj.get_role_display }}
            </td>
            <td class="text-center">
              {{ obj.user|yesno:"yes,no,no" }}
            </td>
            <td>
              <a class="person-delete-me" href="#" val="{{ obj.id }}">
                <span class="mdi mdi-delete" data-toggle="tooltip" title="Delete"></span>
              </a>
              <a id="person-secrect-delete-btn-{{ obj.id }}"
                 href="{% url 'ihub:ep_delete' obj.id %}" class="hidden stop"></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}


  </div>
</div>

