{% extends "ihub/list.html" %}
{% load static %}
{% load custom_filters %}
{% load verbose_names %}

{% block table_td %}

  {% if "entry_type" in field.name %}
    <span class='px-2 py-1' style="background-color: {{ object.entry_type.color }}">{% get_field_value object field.name safe=True %}
    </span>

  {% elif "status" in field.name %}
    <span class='px-2 py-1' style="background-color: {{ object.status.color }}">{% get_field_value object field.name safe=True %}
    </span>

  {% else %}
    {% get_field_value object field.name safe=True %}

  {% endif %}
{% endblock %}
