{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    {# A script to refresh the parent window; to be called in when the buttons are pushed #}
    <script>
        window.resizeTo(width = 600, height = 600);

        window.onunload = refreshParent;

        function refreshParent() {
            window.opener.location.reload();
        }

    </script>
    <div class="indent-med">

        <h3>
            {% if object %}
                {% trans "Editing Member:" %} {{ object }}

            {% else %}
                {% trans "Adding Member" %}
            {% endif %}
        </h3>
        <div class="btn-group">
            <button type="submit" class="btn btn-success" onclick="refreshParent()">
                {% trans "Submit" %}
            </button>
            <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">
                {% trans "Close" %}
            </a>
            {% if object %}
                <a href="{% url 'ihub:person_edit_pop' object.person.id %}" class="btn btn-warning">Edit {{ object.person.first_name }} {{ object.person.last_name }}</a>
            {% endif %}
            <a href="{% url 'ihub:person_new_pop' %}" class="btn btn-primary">Add a New Person</a>
        </div>
        <br><br>

        <form method="post" class="form">
            {% csrf_token %}

            {% for field in form %}
                {% bootstrap_field field placeholder="" size="small" %}
            {% endfor %}


        </form>


    </div>





{% endblock content %}
