{% extends "pop_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block body %}

    <div class="container">
        <script>
            window.resizeTo(width = 1000, height = 400);
        </script>
        <h1>
            {% trans "Are you sure you want to remove:" %}
            <br><br><em>{{ object }}</em>?
        </h1>
        <p>
            {% trans "(This action will only delete the member and not the person.)" %}
        </p>

        <br><br>

        <form method="post" class="form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                {% trans "Delete" %}
            </button>
            <a class="btn btn-secondary" href="{% url 'ihub:member_edit' object.id %}">
                {% trans "Cancel" %}
            </a>
        </form>

    </div>


{% endblock %}
