{% extends "ihub/list.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load i18n %}

{% block table_tr %}
  {% url row_object_url_name object.id as my_url %}
  <tr {% if row_object_url_name %}href="{{ my_url }}"{% endif %}>
    {% for field in field_list %}
      {% if "audio" in field.name|lower %}
        <td>
          {% if object.audio_file %}
            <a href="{{ object.audio_file.url }}">Listen</a>
          {% else %}
            ---
          {% endif %}
        </td>
      {% else %}
        <td class="{{ field.class }}">
          {% block table_td %}
            {% get_field_value object field.name safe=True %}
          {% endblock %}
        </td>
      {% endif %}
    {% endfor %}

  </tr>
{% endblock %}
