{% extends "ihub/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'ihub:index' %}">
                {% trans "Home" %}
            </a></li>
            <li class="breadcrumb-item"><a href="{% url 'ihub:org_list' %}">
                {% trans "Organizations" %}
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Delete" %}
            </li>
        </ol>
    </nav>

    <div class="container">

        <h1>
            {% blocktrans %}
                Are you sure you want to delete <em>{{ object }}</em> from the database?
            {% endblocktrans %}
        </h1>
        <p>
            {% trans "(You will not be able to delete this object if is attached to another record.)" %}
        </p>

        <br><br>

        <form method="post" class="form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                {% trans "Delete" %}
            </button>
            <a class="btn btn-secondary" href="{% url 'ihub:org_list' %}">
                {% trans "Cancel" %}
            </a>
        </form>

    </div>


{% endblock content %}
