{% extends "ihub/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load i18n %}
{% load el_pagination_tags %}
{% block content %}

    <style>
        .indent-lg {
            margin-left: 5em;
            margin-right: 5em;
        }

        table, td, th {
            font-size: 14px;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'ihub:index' %}">
                {% trans "Home" %}
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "People" %}
            </li>

        </ol>
    </nav>

    <div class="indent-lg">

        <h1 class="big-header">
            {% trans "People" %}
        </h1>

        <form class="form" action="." method="get" id="filter-form">
            <div class="row">
                {% for field in filter.form %}
                    <div class="col">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>
                {% endfor %}
                <div class="col-1">
                    <br>
                    <div class="btn-group">
                        <input type="submit" value="Filter" class="btn btn-sm btn-warning">
                        <a href="." class="btn btn btn-secondary btn-sm">
                            {% trans "Clear" %}
                        </a>
                    </div>
                </div>
            </div>
        </form>
        {% paginate 100 filter.qs as filter_list %}

        <br>
        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col">
                        {% trans "(click on a header to sort table)" %}
                    </div>
                    <div class="col" style="text-align: center">
                        {% show_pages %}
                        <em>{% trans "displaying" %} {{ filter_list.count }} {% trans "of" %} {{ filter.qs.count }}</em>
                    </div>
                    <div class="col" style="text-align: right; padding-bottom: 10px">
                        <a href="{% url 'ihub:person_new' %}" class="btn btn-sm btn-primary">
                            {% trans "New Person" %}
                        </a>
                    </div>
                </div>


                <table class="table table-sm table-hover sortable">
                    <thead>
                    <tr>
                        {% for field in field_list %}
                            {#                            {% if field == "last_name" %}#}
                            {#                                <th scope="col" style="width: 10%;">{% get_verbose_label my_object field %}</th>#}
                            {##}
                            {#                            {% else %}#}
                            <th scope="col" style="">{% get_verbose_label my_object field %}</th>
                            {#                            {% endif %}#}
                        {% endfor %}
                        <th scope="col" style="">Membership roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in filter_list %}
                        {% url 'ihub:person_detail' object.id as my_url %}
                        <tr href="{{ my_url }}">
                            {% for field in field_list %}
                                {% if field == "ihub_vetted" %}
                                    <td class="{% if object.ihub_vetted %}good{% endif %}">{% get_field_value object field nullmark="" %}</td>
                                {% else %}
                                    <td>{% get_field_value object field nullmark="" %}</td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                {% for membership in object.memberships.all %}
                                    {% if membership.role %}
                                        {{ membership.role }} of {{ membership.organization }},
                                    {% endif %}
                                {% endfor %}


                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock content %}
