{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

    {# A script to refresh the parent window; to be called in when the buttons are pushed #}
    <script>
        window.resizeTo(width = 700, height = 600);

        window.onunload = refreshParent;

        function refreshParent() {
            window.opener.location.reload();
        }

    </script>

    <div class="container">
        {% if object %}
            <h1>Editing Recipient:</h1>
            <h3>
                {{ object.member }}
            </h3>
            <div id="contact_card">
                {{ object.member.person.contact_card|safe }}<br>
            </div>
            <h4>
                <a href="{% url 'ihub:member_edit' object.member.id  %}">(edit member details)</a>
            </h4>
        {% else %}
            <h1>Adding Recipient:</h1>
            <h4>
                {{ member }}
            </h4>
        {% endif %}<br>


        <form method="post" class="form">
            {% csrf_token %}

            {% for field in form %}
                {% bootstrap_field field placeholder="" %}
            {% endfor %}

            {% buttons %}
                <button type="submit" class="btn btn-success" onclick="refreshParent()">Submit</button>
                <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">Close</a>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}
