{% load verbose_names %}
{% load bootstrap4 %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% bootstrap_css %}

<style type="text/css">
@page {
    size: legal landscape;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    padding-top: 0;
}


.label {
    font-weight: bold;
}

table, td, th {
    font-size: small;
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
}

td, th {
    padding: 2px;
    vertical-align: top;
}

th {
    background-color: lightblue;
    color: black;
    border: 1px solid black;
    font-weight: bold;
}

h2 {
{#font-size: 24px;#} margin: 0cm;
}
</style>
<h2 class="mb-3">
  {{ report_title }} {% if fy and fy != "None" %} ({{ fy }}) {% endif %}
</h2>

<table>
  <thead>
  <tr>
    <th style="width: 12%">
      Project / Location
    </th>
    <th style="width: 12%">
      Proponent
    </th>
    <th style="width: 12%">
      Date offer to Consult
    </th>
    <th style="width: 12%">
      Departments Involved<br>(Prov & Fed)
    </th>
    <th style="width: 40%">
      Project Status/ Correspondence / Notes
    </th>
    <th style="width: 12%">
      Follow-up Actions required
    </th>
  </tr>

  </thead>
  {% for entry in entry_list %}
    <tr>
      <td style="width: 12%">
        TITLE: {{ entry.title }}
        <br><br>
        TYPE: {{ entry.entry_type }}
        <br><br>
        LOCATION: {{ entry.location|nz:"----" }}
      </td>
      <td style="width: 12%">
        ORGANIZATIONS: {{ entry.orgs_str }}
        <br><br>
        DFO SECTORS: {{ entry.sectors_str }}
      </td>
      <td style="width: 12%">
        {{ entry.initial_date|date:"M d, Y" }}
      </td>
      <td style="width: 12%">
        {% for person in entry.people.all %}
          {{ person }}<br>
        {% endfor %}
      </td>
      <td style="width: 40%">
        Overall status: {{ entry.status }}
        <br><br>
        {% for note in entry.other_notes %}
          {{ note }}
          <br><br>
        {% endfor %}

      </td>
      <td style="width: 12%">
        {% for note in entry.followups %}
          {{ note }}
          <br><br>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>

