{% load static %}
{% load humanize %}
{% load i18n %}
<style>
    table, td {
        font-size: small;
    }
</style>

<div class="">
    <h3>
        {% trans "Financial Summary:" %}
    </h3>
</div>

<table class="table table-bordered table-sm">
    <tr>
        <th>
            {% trans "Category" %}
        </th>
        <th>
            {% trans "Total Cost" %}
        </th>
    </tr>
    <tbody>
    <tr>
        <td>
            {% trans "Salary (excluding full time employees)" %}
        </td>
        <td>{{ salary_total|floatformat:0|intcomma }}</td>
    </tr>
    <tr>
        <td>
            {% trans "O & M" %}
        </td>
        <td>{{ om_total|floatformat:0|intcomma }}</td>
    </tr>
    <tr>
        <td>
            {% trans "Capital" %}
        </td>
        <td>{{ capital_total|floatformat:0|intcomma }}</td>
    </tr>
    <tr>
        <td>
            {% trans "G & C" %}
        </td>
        <td>{{ gc_total|floatformat:0|intcomma }}</td>
    </tr>


    </tbody>
</table>