{% load static %}
{% load humanize %}
{% load i18n %}
{% load custom_filters %}

<style>
    table, td {
        font-size: small;
    }
</style>

<h4>
    {% trans "Project Staff:" %}
</h4>
{% if not object.submitted and not report_mode %}
    <a class="btn btn-sm btn-primary" href="#"
       onclick="return popitup('{% url 'projects:staff_new' object.id %}','popoutWindow')">
        {% trans "Add Staff" %}
    </a>
    <br><br>
{% endif %}

{% if object.staff_members.count == 0 %}
    <em>
        {% trans "No Staff Members" %}
    </em><br>
{% else %}

    <table class="table table-hover table-sm sortable" style="width: auto">
        <thead>
        {% if not report_mode %}
            <th></th>
        {% endif %}
        <th>
            {% trans "Name" %}
        </th>
        <th style="text-align: center">
            {% trans "Project Lead" %}
        </th>
        <th>
            {% trans "Employee type" %}
        </th>
        <th style="text-align: center">
            {% trans "Level" %}
        </th>
        <th style="text-align: center">
            {% trans "Duration (weeks)" %}
        </th>
        <th style="text-align: center">
            {% trans "Overtime hours" %}
        </th>
        <th style="text-align: center">
            {% trans "Cost Category" %}
        </th>
        <th {% if not report_mode %} colspan="2" {% endif %} style="text-align: center">
            {% trans "Funding Source" %}
        </th>
        <th style="text-align: center">
            {% trans "Cost" %}
        </th>
        </thead>
        <tbody>
        {% for obj in object.staff_members.all %}
            <tr id="staff-{{ obj.id }}"
                    {% if not object.submitted and not report_mode %}
                href="{% url 'projects:staff_edit' obj.id %}" pop
                data-toggle="tooltip" title="Edit"
                    {% endif %}
            ">
                {% if not report_mode %}
                    <td>
                        {% if not object.submitted and not report_mode %}
                            <a class="staff-delete-me" href="#" val="{{ obj.id }}">
                                <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                                     title="Delete">
                            </a>
                            <a id="staff-secrect-delete-btn-{{ obj.id }}"
                               href="{% url 'projects:staff_delete' obj.id %}" class="hidden"></a>
                        {% endif %}
                    </td>
                {% endif %}

                <td>
                    {% if obj.user.id %}
                        {{ obj.user.first_name }} {{ obj.user.last_name }}
                    {% else %}
                        {{ obj.name }}
                    {% endif %}
                </td>
                <td style="text-align: center" class="{% if obj.lead %}blue-font{% endif %}">{{ obj.lead|yesno }}</td>
                <td class="{% if obj.employee_type %}{% else %}red-font{% endif %}">{{ obj.employee_type }}</td>
                {% if  obj.employee_type is 4 %}
                    ({{ obj.student_program }}
                {% endif %}
                </td>

                <td>
                    {{ obj.level|nz:"-----" }}
                </td>


                <td style="text-align: center;" class="{% if not obj.duration_weeks %}major-error{% endif %}">
                {{ obj.duration_weeks }}
                </td>


                <td style="text-align: center">
                    {{ obj.overtime_hours }}
                </td>

                <td style="text-align: center">{{ obj.employee_type.get_cost_type_display }}</td>

                <td style="text-align: center; background-color: {{ obj.funding_source.color }}">
                    {{ obj.funding_source }}
                </td>
                {% if not report_mode %}
                    <td style="text-align: center">
                        {% if not object.submitted %}
                            <a class="toggle-source" href="#" type="staff" pk="{{ obj.id }}">
                                <img src="{% static "/lou-multi-select-e052211/img/switch.png" %}" data-toggle="tooltip"
                                     title="click to toggle funding source">
                            </a>
                            <a id="staff-secrect-toggle-btn-{{ obj.id }}" href="{% url 'projects:toggle_source' "staff" obj.id %}"
                               class="hidden"></a>
                        {% endif %}
                    </td>
                {% endif %}
                <td style="text-align: center">
                    {{ obj.cost|floatformat:0|intcomma }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<br>
