{% load static %}
{% load humanize %}
{% load i18n %}
{% load custom_filters %}

<div class="neighbours mb-2">
    <h4>
        {% trans "Project Staff" %}
    </h4>
</div>
{% if can_edit %}
    <div class="neighbours mb-3">
        <a class="btn btn-sm btn-outline-primary" href="#" pop-href='{% url 'projects:staff_new' object.id %}'>
            {% trans "Add Staff" %}
        </a>
    </div>

{% endif %}

{% if object.staff_members.count == 0 %}
    <div class="mb-3">
        <em>
            {% trans "No Staff Members" %}...
        </em>
    </div>
{% else %}

    <table class="table table-hover table-sm sortable" style="width: auto">
        <thead>
        {% if can_edit %}
            <th></th>
        {% endif %}
        <th>
            {% trans "Name" %}
        </th>
        <th class="center-col">
            {% trans "Project Lead" %}
        </th>
        <th>
            {% trans "Employee type" %}
        </th>
        <th class="center-col">
            {% trans "Level" %}
        </th>
        <th class="center-col">
            {% trans "Duration (weeks)" %}
        </th>
        <th class="center-col">
            {% trans "Overtime hours" %}
        </th>
        <th class="center-col">
            {% trans "Cost Category" %}
        </th>
        <th class="center-col">
            {% trans "Funding Source" %}
        </th>
        <th class="center-col">
            {% trans "Cost" %}
        </th>
        </thead>
        <tbody>
        {% for obj in object.staff_members.all %}
            <tr id="staff-{{ obj.id }}"
                    {% if can_edit %} href="{% url 'projects:staff_edit' obj.id %}" pop data-toggle="tooltip" title="Edit" {% endif %}>
                {% if can_edit %}
                    <td>
                        <a class="staff-delete-me" href="#" val="{{ obj.id }}" user_id="{{ obj.user.id }}">
                            <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete" width="20px">
                        </a>
                        <a id="staff-secrect-delete-btn-{{ obj.id }}" href="{% url 'projects:staff_delete' obj.id %}" class="hidden"></a>
                    </td>
                {% endif %}

                <td>
                    {% if obj.user.id %} {{ obj.user }} {% else %} {{ obj.name }}{% endif %}
                </td>
                <td class="{% if obj.lead %}blue-font{% endif %} center-col">{{ obj.lead|yesno }}</td>
                <td class="{% if obj.employee_type %}{% else %}major-error{% endif %}">
                    {{ obj.employee_type }} {% if  obj.employee_type.id == 4 %} ({{ obj.get_student_program_display }}) {% endif %}
                </td>

                <td>
                    {{ obj.level|nz:"-----" }}
                </td>


                <td class="center-col {% if not obj.duration_weeks %}major-error{% endif %}">
                    {{ obj.duration_weeks }}
                </td>

                <td class="center-col">
                    {{ obj.overtime_hours }}
                </td>

                <td class="center-col">{{ obj.employee_type.get_cost_type_display }}</td>

                <td style="background-color: {{ obj.funding_source.funding_source_type.color }}" class="center-col">
                    {{ obj.funding_source.tname }}
                </td>

                <td class="center-col"
                    class="{% if not obj.cost and not obj.employee_type.exclude_from_rollup %} major-error{% endif %}">
                    {% if obj.employee_type.exclude_from_rollup %}
                        {% trans "n/a" %}
                    {% else %}
                        {{ obj.cost|nz:0|currency }}
                    {% endif %}

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
