{% extends "shared_models/generic_base.html" %}

{% block bug_create %}
    {% include "projects/_bug_url.html" %}
{% endblock bug_create %}

{% block title %}
    {% include "projects/_app_title.html" %}
    {% block subtitle %} - {{ subtitle }}{% endblock %}
{% endblock title %}

{% block header %}
    {{ block.super }}
    {% include "projects/_style.html" %}
{% endblock %}

{% block body %}
    {{ block.super }}
{% endblock body %}

{% block left_auth %}
    {% include "projects/_nav.html" %}
{% endblock left_auth %}