{% extends "projects/projects_base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <style>
        table.table-bordered {
            border: 1px solid blue;
            margin-top: 20px;
        }

        table.table-bordered > tbody > tr > th {
            border: 1px solid blue;
        }

        table.table-bordered > tbody > tr > td {
            border: 1px solid blue;
        }


    </style>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="jumbotron">
                    <div class="row">
                        <div class="col">
                            <h1 class="three-em">
                                {% trans "Science Project Planning Application" %}
                            </h1>
                        </div>
                        <div class="col-2">
                            <img src="{% static '/img/icons/scope.svg' %}" alt="" width="100px">
                        </div>
                    </div>
                    <hr>
                    {% if user.is_authenticated %}
                        <br>
                    {% else %}
                        <br>
                        {% url 'accounts:login' as sign_in_url %}
                        {% url 'projects:index' as next_url %}
                        {% url 'accounts:signup' as sign_up_url %}

                        <p>
                            {% blocktrans %}
                                You must be <a href="{{ sign_in_url }}?next={{ next_url }}">signed in</a> to use this
                                application.
                            {% endblocktrans %}
                        <p>
                            {% blocktrans %}
                                If you do not have an account, you can create one <a href="{{ sign_up_url }}">here</a>.
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                    <br>
                    <div style="">


                        {% if user.is_authenticated %}
                            {% url 'projects:project_new' as new_proj_url %}
                            {% url 'projects:my_project_list' as my_proj_url %}
                            {% url 'projects:project_list' as all_proj_url %}
                            <div class="row">
                                <div class="col-4">
{#                                    <h4>#}
{#                                        {% trans "Projects" %}#}
{#                                    </h4>#}

{#                                    <ul>#}
                                        <h3 class="main-item">
                                            <a href="{{ new_proj_url }}">
                                                {% trans "New" %}
                                            </a>
                                        </h3>
                                        <h3 class="main-item">
                                            <a href="{{ my_proj_url }}">
                                                {% trans "Your Projects" %} ({{ user.staff_instances.count }})
                                            </a>
                                        </h3>
                                        <h3 class="main-item">
                                            <a href="{{ all_proj_url }}">
                                                {% trans "Explore Projects" %}
                                            </a>
                                        </h3>
{#                                    </ul>#}
                                </div>
                                <div class="col">
                                    <div class="mb-4">
                                        <h4>
                                            {% trans "Regional Views" %}
                                        </h4>
                                        <ul>
                                            <li>
                                                2020-2021 Gulf Region Interactive Workplan <br>
                                                <a href="{% url 'projects:iw_group_list' 1 2021 'division' %}">
                                                    ({% trans "by Section" %})
                                                </a>
                                                <a href="{% url 'projects:iw_group_list' 1 2021 'theme' %}">
                                                    ({% trans "by Theme" %})
                                                </a>
                                            </li>
                                            <li>
                                                2020-2021 Maritimes Region Interactive Workplan <br>
                                                <a href="{% url 'projects:iw_group_list' 2 2021 'division' %}">
                                                    ({% trans "by Section" %})
                                                </a>
                                                <a href="{% url 'projects:iw_group_list' 2 2021 'theme' %}">
                                                    ({% trans "by Theme" %})
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    {% if section_list.count %}

                                        <div class="mb-4">
                                            <h4>
                                                {% trans "Your Sections" %}
                                            </h4>
                                            <ul>
                                                {% for section in user.shared_models_sections.all %}
                                                    <li>
                                                        <a href="{% url 'projects:section_project_list' section.id %}">
                                                            {{ section }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        {% if section_list.count > user.shared_models_sections.count %}

                                            <div class="mb-4">
                                                <h4>
                                                    {% trans "Other Sections Opened to You" %}
                                                </h4>
                                                <ul>
                                                    {% for section in section_list %}
                                                        {% if section not in user.shared_models_sections.all %}
                                                            <li>
                                                                <a href="{% url 'projects:section_project_list' section.id %}">
                                                                    {{ section.full_name }}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>

                        {% else %}
                            <br>    <br>
                        {% endif %}
                    </div>
                </div>


            </div>
            <div class="col-4">
                <div class="card" style="width: 100%; background: #ffd738;">
                    <div class="card-body">
                        <h4 class="card-title">
                            {% blocktrans with '2020-2021' as y %}
                                {{ y }} Timelines
                            {% endblocktrans %}
                        </h4>
                        <table class="table table-bordered card-text">
                            <tr>
                                <th rowspan="2">{% trans "Phase" %}</th>
                                <th colspan="2" class="center-col">{% trans "Region specific date" %}</th>
                            </tr>
                            <tr>
                                <th class="center-col">{% trans "Gulf" %}</th>
                                <th class="center-col">{% trans "Maritimes" %}</th>
                            </tr>
                            <tr>
                                <td>
                                    {% trans "Official launch of project planning. Start building projects in app." %}
                                </td>
                                <td class="center-col" style="width: 20%;">{% trans "Nov 1" %}</td>
                                <td class="center-col" style="width: 20%;">{% trans "Nov 4" %}</td>
                            </tr>
                            <tr>
                                <td class="red-font">
                                    {% trans "Submission deadline for core projects." %}
                                </td>
                                <td class="center-col red-font">{% trans "Dec 2" %}</td>
                                <td class="center-col red-font">{% trans "Dec 18" %}</td>
                            </tr>
                            <tr>
                                <td class="">
                                    {% trans "Review of core projects." %}
                                </td>
                                <td class="center-col">{% trans "Dec 5-6" %}</td>
                                <td class="center-col">{% trans "TBD" %}</td>
                            </tr>
                            <tr>
                                <td class="red-font">
                                    {% trans "Submission deadline for flex projects." %}
                                </td>
                                <td class="center-col red-font">{% trans "Jan 6" %}</td>
                                <td class="center-col red-font">{% trans "TBD" %}</td>
                            </tr>
                            <tr>
                                <td class="">
                                    {% trans "Review of flex projects." %}
                                </td>
                                <td class="center-col">{% trans "Jan 16-17" %}</td>
                                <td class="center-col">{% trans "TBD" %}</td>
                            </tr>
                            <tr>
                                <td class="">
                                    {% trans "Review final versions of program descriptions, budgets and deliverables for fiscal 2020-2021." %}
                                </td>
                                <td class="center-col">{% trans "Mar 17" %}</td>
                                <td class="center-col">{% trans "TBD" %}</td>
                            </tr>
                        </table>

                        <br>
                        <h4 class="card-title">
                            {% trans "Reference Materials:" %}
                        </h4>
                        <ul>
                            <li>
                                <img src="{% static 'img/icons/pdf.svg' %}" alt="" width="20px">
                                &nbsp;
                                <a class="" href="{% static 'projects/Project Planning Guidance_Nov2019.pdf' %}">
                                    {% trans "Guidance for Entering New Projects (Maritimes)" %}
                                </a>
                            </li>
                            <li>
                                <img src="{% static 'img/icons/pdf.svg' %}" alt="" width="20px"> &nbsp;
                                <a class="" href="{% static 'projects/Project Planning Priorities_Nov2019.pdf' %}">
                                    {% trans "Project Planning Priorities (Maritimes)" %}
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
