{% extends "projects/projects_base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}
{% load verbose_names %}

{% block content %}
    {% get_current_language as LANG %}

    <style>
        table, td {
            font-size: 12px;
        }

        .abase {
            background-color: {{abase}};
        }

        .bbase {
            background-color: {{bbase}};
        }

        .cbase {
            background-color: {{cbase}};
        }

        .total{
            font-weight: bold;
        }

    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'projects:index' %}">
                    {% trans "Home" %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'projects:ips_program_list' fy.id %}">
                    {% trans "Program Summary" %}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Projects  from {{ section }} Section under {{ program.short_name }}
            </li>
        </ol>
    </nav>

    <div class="container-fluid">
        {{ get_current_language }}
        <div class="">
            <h1>
                Projects  from {{ section }} Section under {{ program.short_name }}
            </h1>
            <h3>
                (Submitted and approved by {{ section.head }})
            </h3>
        </div>

        <br>
        <div class="">
            <table class="table table-hover table-bordered table-sm ">
                <tr>
                    <th rowspan="2">{% trans "Project Id" %}</th>
                    <th rowspan="2">{% trans "Title" %}</th>
                    <th rowspan="2">{% trans "Core / flex" %}</th>
                    <th rowspan="2">{% trans "Under which Science programs" %}</th>
                    <th rowspan="2">{% trans "Tags / keywords" %}</th>
                    <th rowspan="2">{% trans "Project leads" %}</th>
                    <th rowspan="2">{% trans "Total FTE" %}</th>
                    <th rowspan="2">{% trans "Total OT" %}</th>
                    <th colspan="3" class="center-col">A-Base</th>
                    <th colspan="3" class="center-col">B-Base</th>
                    <th colspan="3" class="center-col">C-Base</th>
                    <th colspan="3" class="center-col">TOTAL</th>
                </tr>
                <tr>
                    {% with 60 as w %}

                    <th style="width: {{w}}px">Salary</th>
                    <th style="width: {{w}}px">O & M</th>
                    <th style="width: {{w}}px">Capital</th>
                    <th style="width: {{w}}px">Salary</th>
                    <th style="width: {{w}}px">O & M</th>
                    <th style="width: {{w}}px">Capital</th>
                    <th style="width: {{w}}px">Salary</th>
                    <th style="width: {{w}}px">O & M</th>
                    <th style="width: {{w}}px">Capital</th>
                    <th style="width: {{w}}px">Salary</th>
                    <th style="width: {{w}}px">O & M</th>
                    <th style="width: {{w}}px">Capital</th>
                    {% endwith %}

                </tr>

                <tbody>

                {% for p in project_list %}
                    <tr href="{% url 'projects:ips_project_edit' p.id program.id %}">
                        <td>{{ p.id }}</td>
                        <td>{{ p.project_title }}</td>
                        <td>{{ p.core_status }}</td>
                        <td>
                            <ul>

                                {% for program in p.programs.all %}
                                    <li>
                                        {{ program.short_name }}

                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% get_field_value p "tags" %}
                        </td>
                        <td>{{ p.project_leads }}</td>
                        <td>{{ p.total_fte }}</td>
                        <td>{{ p.total_ot }}</td>

                        <td class="abase">{{ p.a_salary|currency }}</td>
                        <td class="abase">{{ p.a_om|currency }}</td>
                        <td class="abase">{{ p.a_capital|currency }}</td>

                        <td class="bbase">{{ p.b_salary|currency }}</td>
                        <td class="bbase">{{ p.b_om|currency }}</td>
                        <td class="bbase">{{ p.b_capital|currency }}</td>

                        <td class="cbase">{{ p.c_salary|currency }}</td>
                        <td class="cbase">{{ p.c_om|currency }}</td>
                        <td class="cbase">{{ p.c_capital|currency }}</td>

                        <td>{{ p.total_salary|currency }}</td>
                        <td>{{ p.total_om|currency }}</td>
                        <td>{{ p.total_capital|currency }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="8" class="total" >
                    Totals
                    </td>
                    <td class="abase total">{{ a_salary|currency }}</td>
                    <td class="abase total">{{ a_om|currency }}</td>
                    <td class="abase total">{{ a_capital|currency }}</td>

                    <td class="bbase total">{{ b_salary|currency }}</td>
                    <td class="bbase total">{{ b_om|currency }}</td>
                    <td class="bbase total">{{ b_capital|currency }}</td>

                    <td class="cbase total">{{ c_salary|currency }}</td>
                    <td class="cbase total">{{ c_om|currency }}</td>
                    <td class="cbase total">{{ c_capital|currency }}</td>

                    <td class="total">{{ total_salary|currency }}</td>
                    <td class="total">{{ total_om|currency }}</td>
                    <td class="total">{{ total_capital|currency }}</td>

                </tr>
                </tbody>
            </table>
        </div>


    </div>

{% endblock content %}
