{% extends "projects/projects_base.html" %}
{% load static %}
{% load humanize %}
{% load timedelta %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">My Projects</li>
{#            <li class="breadcrumb-item"><a href="{% url 'diets:index' %}">Home</a></li>#}
        </ol>
    </nav>

    <div class="container">
        <h1>{{ user.first_name }}'s Project List:</h1>

        <h3>You are currently being planned for {{ weeks_total }} week{{ weeks_total|pluralize }}</h3>
        <br>

        <a href="{% url 'projects:project_new'  %}" class="btn btn btn-primary float-right">New Project</a>
        <br> <br>
         <table class="table table-hover table-sm">
            <thead>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Section</th>
            <th scope="col">Role</th>
            <th scope="col">No. weeks</th>
            <th scope="col">Submitted</th>
            </tr>
            </thead>
            <tbody>

            {% for obj in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'projects:project_detail' obj.project.id %}">
                            {{ obj.project.project_title }}
                        </a>
                    </td>
                    <td>{{ obj.project.division }}</td>
                    <td>{{ obj.project.section }}</td>
                    <td>{{ obj.employee_type }}</td>
                    <td>{{ obj.duration_weeks }}</td>

                    {% if obj.project.submitted %}
                        <td class="good">
                        {% else %}
                                                <td class="bad">

                    {% endif %}
                    
                        {{ obj.project.submitted|yesno}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <b>
            TOTAL: {{ object_list.count }}
        </b>
    </div>

{% endblock content %}
