{% extends "projects/projects_base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}

{% block content %}
    {% get_current_language as LANG %}

    <style>
        table, td {
            font-size: 14px;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "My Projects" %}
            </li>
            {#            <li class="breadcrumb-item"><a href="{% url 'diets:index' %}">Home</a></li>#}
        </ol>
    </nav>

    <div class="container">
        {{ get_current_language }}
        <h1>
            {% blocktrans with name=user.first_name %}
                {{ name }}'s Project List:
            {% endblocktrans %}
        </h1>

        <h3>
            {% blocktrans with wt=weeks_total|floatformat:1 plur=weeks_total|pluralize %}
                You are currently being planned for a total of <span class="highlight"> {{ wt }} week{{ plur }} </span>
            {% endblocktrans %}
        </h3>
        <br>

        <a href="{% url 'projects:project_new' %}" class="btn btn btn-primary float-right">
            {% trans "New Project" %}
        </a>
        <br> <br>
        <table class="table table-hover table-sm">
            <thead>
            <th scope="col" style="width: auto">
                {% trans "Fiscal Year" %}
            </th>
            <th scope="col">
                {% trans "Division" %}
            </th>
            <th scope="col">
                {% trans "Section" %}
            </th>
            <th scope="col" style="width: 30%">
                {% trans "Title" %}
            </th>
            <th scope="col">
                {% trans "Project Lead?" %}
            </th>
            <th scope="col">
                {% trans "Role" %}
            </th>
            <th scope="col">
                {% trans "No. weeks" %}
            </th>
            <th scope="col" style="text-align: center">
                {% trans "Submitted" %}
            </th>
            <th scope="col" style="text-align: center">
                {% trans "Approved by Section Head" %}
            </th>
            </thead>

            <tbody>

            {% for obj in object_list %}
                <tr href="{% url 'projects:project_detail' obj.project.id %}">
                    <td>{{ obj.project.year }}</td>
                    {% if LANG == "fr" %}
                        <td>{{ obj.project.section.division.nom }}</td>
                        <td>{{ obj.project.section.nom }}</td>
                    {% else %}
                        <td>{{ obj.project.section.division.name }}</td>
                        <td>{{ obj.project.section.name }}</td>
                    {% endif %}
                    <td>
                        {{ obj.project.project_title }}
                    </td>
                    <td>
                        {{ obj.lead|yesno }}
                    </td>
                    <td>{{ obj.employee_type }}</td>
                    <td>{{ obj.duration_weeks }}</td>

                    <td class="{% if obj.project.submitted %}good{% else %}bad{% endif %}" style="text-align:center">
                        {{ obj.project.submitted|yesno:_("yes,no") }}
                    </td>
                    <td class="{% if obj.project.section_head_approved %}good{% else %}bad{% endif %}" style="text-align:center">
                        {{ obj.project.section_head_approved|yesno:_("yes,no") }}<br>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <b>
            TOTAL: {{ object_list.count }}
        </b>
    </div>

{% endblock content %}
