{% extends "projects/projects_base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}
{% block content %}
    {% get_current_language as LANG %}

    <style>
        table, td {
            font-size: 14px;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "My Section" %}
            </li>
        </ol>
    </nav>

    {% url 'projects:report_sh' next_fiscal_year request.user.id as report_url %}

    <div class="indent-med">
        {% if object_list.count %}

            <h1>
                {% blocktrans with name=user.first_name plur=object_list|pluralize %}
                    Projects Listed under {{ name }}'s Section{{ plur }}:
                {% endblocktrans %}
            </h1>

            <br>

            <h3>
                {% blocktrans with fy=next_fiscal_year %}
                      You can download a spreadsheet with all {{ fy }} projects <a href="{{ report_url }}">here</a>
                {% endblocktrans %}
            </h3>
            <br> <br>
            <div class="row">
                <div class="col">
                    <em>displaying all {{ object.list.count }} records</em>
                </div>
                <div class="col" style="text-align: center">
                    {% trans "(click on a header to sort table)" %}
                </div>
                <div class="col" style="text-align: right; padding-bottom: 10px">
                    <a href="{% url 'projects:project_new' %}" class="btn btn-sm btn-primary">
                        {% trans "New Project" %}
                    </a>
                </div>
            </div>
            <table class="table table-hover table-sm sortable">
                <tr>
                    <th scope="col" style="width: 120px;">
                        {% trans "Fiscal Year" %}
                    </th>
                    <th scope="col">
                        {% trans "Division" %}
                    </th>
                    <th scope="col">
                        {% trans "Section" %}
                    </th>
                    <th scope="col">
                        {% trans "Title" %}
                    </th>
                    <th scope="col">
                        {% trans "FTE(s)" %}
                    </th>
                    <th scope="col">
                        {% trans "Submitted" %}
                    </th>
                </tr>
                <tbody>

                {% for section in object_list %}
                    {% for obj in section.projects.all %}
                        <tr href="{% url 'projects:project_detail' obj.id %}">
                            <td>{{ obj.fiscal_year }}</td>

                            {% if LANG == "fr" %}
                                <td>{{ obj.section.division.nom }}</td>
                                <td>{{ obj.section.nom }}</td>
                            {% else %}
                                <td>{{ obj.section.division.name }}</td>
                                <td>{{ obj.section.name }}</td>
                            {% endif %}
                            <td>
                                    {{ obj.project_title }}
                            </td>
                            <td>
                                {% for staff in obj.staff_members.all %}
                                    {% if staff.employee_type_id == 1 %}
                                        {% if staff.user_id %}
                                            {{ staff.user.first_name }} {{ staff.user.last_name }}
                                        {% else %}
                                            {{ staff.name }}
                                        {% endif %}
                                    {% endif %}
                                    {% if obj.staff_members.count > 1 %} ; {% endif %}
                                {% endfor %}
                            </td>

                            {% if obj.submitted %}
                                <td class="good">
                                    {% else %}
                                <td class="bad">
                            {% endif %}

                            {{ obj.submitted|yesno:_("yes,no") }}
                            </td>


                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            </div>

        {% else %}
            <p>
                {% blocktrans %}
                    There are no sections assigned to you. If there should be, please contact <a
                        href="mailto:david.fishman@dfo-mpo.gc.ca">david.fishman@dfo-mpo.gc.ca</a>
                {% endblocktrans %}
            </p>

        {% endif %}

{% endblock content %}
