{% extends "projects/projects_base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}
{% load bootstrap4 %}
{% load verbose_names %}
{% block content %}

    {% get_current_language as LANG %}

    <style>
        table, td {
            font-size: 14px;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "My" %} {{ type|title }}
            </li>
        </ol>
    </nav>


    <div class="indent-med">
        {% if has_section %}

            <h1>
                {% trans "Projects In Your" %} {{ type|title }}
            </h1>

            <br>
            {% if type == 'section' %}
                <h4>
                <span class="blink-me red-font">
                {% trans "NOTE TO SECTION HEADS:" %}
                </span>
                {% trans "Please verify that the Science Regional Program names are correct before approving a project." %}
                </h4>
                <br>
                <h3>
                    {% for field in fy_form %}
                        {% blocktrans with form=field %}
                            You can download a spreadsheet with all
                            {{ form }}
                            projects <a href="#" id="make_spreadsheet">here</a>
                        {% endblocktrans %}
                    {% endfor %}

                </h3>
                <br>
            {% endif %}

            <br>

            <form class="form" action="." method="get" id="filter-form">
                <div class="row">

                    {% for field in filter.form %}
                        <div class="col">
                            {% bootstrap_field field placeholder="" size="small" %}
                        </div>
                    {% endfor %}
                    <div class="col">
                        <br>
                        <input type="submit" value="Filter" class="btn btn-warning btn-sm">
                    </div>
                </div>
            </form>
            <br> <br>



            <div class="row">
                <div class="col">
                    <em>
                        {#                        {% trans "displaying all records" %}#}
                    </em>
                    {% trans "(click on a header to sort table)" %}
                </div>
                <div class="col" style="text-align: center">
                </div>
                <div class="col" style="text-align: right; padding-bottom: 10px">
                    <a href="{% url 'projects:project_new' %}" class="btn btn-sm btn-primary">
                        {% trans "New Project" %}
                    </a>
                </div>
            </div>
            <table class="table table-hover table-sm sortable">
                <thead>
                <th scope="col" style="text-align:center;">
                    {% trans "Submitted" %}
                </th>
                <th scope="col" style="width: 5%">
                    {% trans "Fiscal Year" %}
                </th>
                <th scope="col">
                    {% trans "Division" %}
                </th>
                <th scope="col">
                    {% trans "Section" %}
                </th>
                {#                <th scope="col" style="width: 5%">#}
                {#                    {% trans "Project Code" %}#}
                {#                </th>#}
                <th scope="col" style="width: 20%">
                    {% trans "Title" %}
                </th>
                <th scope="col" style="width: 10%">
                    {% trans "Project Lead" %}
                </th>
                <th scope="col" style="width: 10%">
                    {% trans "Science Regional Program Name(s)" %}
                </th>
                <th scope="col" style="width: 10%">
                    {% trans "Tags" %}
                </th>
                {% if type == "division" %}
                    <th scope="col" style="text-align:center; width: 8%">
                        {% trans "Section Head Approved" %}
                    </th>
                {% elif type == "branch" %}
                    <th scope="col" style="text-align:center; width: 8%">
                        {% trans "Division Manager Approved" %}
                    </th>
                {% endif %}

                <th scope="col" style="text-align:center; width: 8%">
                    {% trans "Approved by you" %}
                </th>
                <th scope="col" style="width: 20%">
                    {% trans "Your Feedback" %}
                </th>
                <th scope="col" style="text-align: center">
                    {% trans "Status Reports" %}
                </th>

                </th>
                </thead>
                <tbody>

                {% for obj in filter.qs %}
                    <tr href="{% url 'projects:project_detail' obj.id %}" class="{% if not obj.submitted %}red-font{% endif %}">
                        <td class="" style="text-align:center">{{ obj.submitted|yesno:_("yes,no") }}</td>
                        <td>{{ obj.year }}</td>

                        {% if LANG == "fr" %}
                            <td>{{ obj.section.division.nom }}</td>
                            <td>{{ obj.section.nom }}</td>
                        {% else %}
                            <td>{{ obj.section.division.name }}</td>
                            <td>{{ obj.section.name }}</td>
                        {% endif %}
                        {#                        <td>#}
                        {#                            {{ obj.existing_project_code.code|nz:"" }}#}
                        {#                        </td>#}
                        <td>
                            {{ obj.project_title }}
                        </td>
                        <td>
                            {{ obj.project_leads }}
                        </td>
                        <td class="{% if obj.programs.count == 0 %}bad{% endif %}">
                            {% get_field_value obj "programs" %}
                        </td>
                        <td>
                            {% get_field_value obj "tags" %}
                        </td>




                        {% if type == "section" %}
                            <td class="{% if obj.approved %}good{% else %}bad{% endif %}" style="text-align:center">
                                {{ obj.approved|yesno:_("yes,no") }}
                                <br>
                                <a href="#" style="font-size: small" class="approve"
                                   my_url="{% url 'projects:project_approval' obj.id type %}">
                                    (click to open form)
                                </a>
                            </td>
                            <td>{{ obj.section_head_feedback|nz:"n/a" }}</td>
                        {% elif type == "division" %}
                            <td class="{% if obj.approved %}good{% else %}bad{% endif %}" style="text-align:center">
                                {{ obj.approved|yesno:_("yes,no") }}
                            </td>

                            <td class="{% if obj.manager_approved %}good{% else %}bad{% endif %}" style="text-align:center">
                                {{ obj.manager_approved|yesno:_("yes,no") }}
                                <br>
                                <a href="#" style="font-size: small" class="approve"
                                   my_url="{% url 'projects:project_approval' obj.id type %}">
                                    (click to open form)
                                </a>
                            </td>
                            <td>{{ obj.manager_feedback|nz:"n/a" }}</td>
                        {% elif type == "branch" %}
                            <td class="{% if obj.manager_approved %}good{% else %}bad{% endif %}" style="text-align:center">
                                {{ obj.manager_approved|yesno:_("yes,no") }}
                            </td>
                            <td class="{% if obj.rds_approved %}good{% else %}bad{% endif %}" style="text-align:center">
                                {{ obj.rds_approved|yesno:_("yes,no") }}
                                <br>
                                <a href="#" style="font-size: small" class="approve"
                                   my_url="{% url 'projects:project_approval' obj.id type %}">
                                    (click to open form)
                                </a>
                            </td>
                            <td>{{ obj.rds_feedback|nz:"n/a" }}</td>
                        {% endif %}
                        <td class="center-col">
                            {% if obj.submitted %}{{ obj.reports.count }}{% else %}----{% endif %}
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

        {% else %}
            <p>
                {% url 'tickets:bug_create' 'projects' as my_url %}
                {% blocktrans with my_type=type my_url=my_url %}
                    You have not been assigned to a {{ type }} or there are no projects listed under your {{ type }}. If this doesn't sound
                    right, please contact a <a
                        pop-href="{{ my_url }}" href="#">site administrator</a>.
                {% endblocktrans %}
            </p>

        {% endif %}

    <script type="application/javascript">
        $(".approve").click(function (e) {
            e.stopImmediatePropagation()
            var myURL = $(this)[0].getAttribute("my_url");
            popitup(myURL)
            {#window.location.href = myURL#}

        });
        $("#make_spreadsheet").click(function () {

            window.document.location.href = $("#id_fiscal_year").val()
        })
    </script>

{% endblock content %}
