{% load static %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}
{% load verbose_names %}

{% block content %}
    <style>
        table, th, td {
            border: 1px black solid;
        }
    </style>
    <div class="container-fluid">

        <table class="table table-bordered table-sm" style="width: auto;">
            <tr>
                <th>Id</th>
                <th>Region</th>
                <th>Division</th>
                <th>Section</th>
                <th>Title</th>
                <th>Old Program Name</th>
                <th>New Programs</th>
                <th>Tags</th>
            </tr>
            <tbody>
            {% for project in object_list %}
                <tr>
                    <td> {{ project.id }}</td>
                    <td> {{ project.section.division.branch.region }}</td>
                    <td> {{ project.section.division }}</td>
                    <td> {{ project.section }}</td>
                    <td> {{ project.project_title }}</td>
                    <td> {% get_field_value project "program" %} </td>
                    <td> {% get_field_value project "programs" %} </td>
                    <td> {% get_field_value project "tags" %} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}