{% extends 'pop_base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block body %}

    {# A script to refresh the parent window; to be called in when the buttons are pushed #}
    <script>
        window.resizeTo(width = 800, height = 600);

        window.onunload = refreshParent;

        function refreshParent() {
            window.opener.location.reload();
        }


    </script>

    <div class="container">
        <h3>
            {% if view.kwargs.level == "section" %}
                {% trans "Section Head Approval" %}
            {% elif view.kwargs.level == "division" %}
                {% trans "Division Manager Approval" %}
            {% elif view.kwargs.level == "branch" %}
                {% trans "RDS Approval" %}
            {% endif %}
        </h3>
        {% if view.kwargs.level == "section" %}
            <br><h4>
                <span style="font-weight: bold">
                {% trans "Note to Section Heads:" %}
                </span><br>
                {% trans "Please verify that the Science Regional Program names are correct before approving a project." %}
            </h4>
        {% endif %}
        <br>

        <form method="post" class="form">
            {% csrf_token %}

            {% for field in form %}
                {% bootstrap_field field placeholder="" size="small" %}
            {% endfor %}
            <div class="">
                <a class="btn btn-lg btn-primary my-btn" id="approve" href="#">
                    {% trans "Approve" %}
                </a>
                <a class="btn btn-lg btn-danger my-btn" id="unapprove" href="#">
                    {% trans "Do Not Approve" %}
                </a>
                <a class="btn btn-lg btn-secondary" onclick="window.close()" href="#">
                    {% trans "Cancel" %}
                </a>
            </div>
        </form>
    </div>

{% endblock %}

{% block body_js %}
    <script type="application/javascript">
        $(".my-btn").click(function () {
            var myAction = $(this).attr("id");

            {% if view.kwargs.level == "section" %}
                var approvalField = $("#id_section_head_approved");
            {% elif view.kwargs.level == "division" %}
                var approvalField = $("#id_manager_approved");
            {% elif view.kwargs.level == "branch" %}
                var approvalField = $("#id_rds_approved");
            {% endif %}

            if (myAction == "approve") {
                approvalField.val(1)
            } else {
                approvalField.val(0)
            }
            $("form").submit()
        })
    </script>
{% endblock %}