{% extends "projects/projects_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
    <style>
        label {
            font-weight: bold;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects:my_project_list' %}">
                {% trans "My Projects" %}
            </a></li>
            {% if object %}
                <li class="breadcrumb-item"><a href="{% url 'projects:project_detail' object.id %}">{{ object }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans "Edit" %}
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans "New Project" %}
                </li>
            {% endif %}
        </ol>
    </nav>

    <div class="container">
        <h1>
            {% if object.id %}
                {{ object }}
            {% else %}
                {% trans "New Project" %}
            {% endif %}
        </h1>
        <br><br>

        <form method="post" class="form">
            {% csrf_token %}
            {% buttons %}
                <div class="btn-group">
                    {% if object.id %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Update" %}
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Add" %}
                        </button>
                    {% endif %}

                    {% if object.id %}
                        <a class="btn btn-secondary" href="{% url 'projects:project_detail' object.id %}">
                            {% trans "Cancel" %}
                        </a>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'projects:my_project_list' %}">
                            {% trans "Cancel" %}
                        </a>
                    {% endif %}
                </div>
            {% endbuttons %}

            {% for field in form %}
                {#                {% if field.name == "cruise" %}#}
                {#                    {% bootstrap_field field placeholder="" %}#}
                {#                    <a href="{% url 'diets:cruise_new'  %}" target="_blank">(add new cruise)</a><br><br> {# should produce a popout window... #}
                {#                {% else %}#}
                {% bootstrap_field field placeholder="" %}

                {#                {% endif %}#}
            {% endfor %}


            {% buttons %}
                <div class="btn-group">
                    {% if object.id %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Update" %}
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Add" %}
                        </button>
                    {% endif %}

                    {% if object.id %}
                        <a class="btn btn-secondary" href="{% url 'projects:project_detail' object.id %}">
                            {% trans "Cancel" %}
                        </a>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'projects:my_project_list' %}">
                            {% trans "Cancel" %}
                        </a>
                    {% endif %}
                </div>
            {% endbuttons %}
        </form>

    </div>
    {# only do this if we are in the project create view #}
    {% if not object %}
        <script type="application/javascript">

            divisionObj = {{ division_json|safe }};
            sectionObj = {{ section_json|safe }};

            $(document).ready(function () {
                // Stuff to do as soon as the DOM is ready
                resetFields()
            });

            function resetFields() {
                // if the region is null, clear and disable both subsequent fields
                if ($("#id_region").val() == "") {
                    $("#id_division").val("")
                    $("#id_division").prop('disabled', true)

                    $("#id_section").val("")
                    $("#id_section").prop('disabled', true)
                    // if the division is null, clear and disable section field
                } else if ($("#id_division").val() == "") {
                    $("#id_section").val("")
                    $("#id_section").prop('disabled', true)
                }
            }

            $("#id_region").change(function () {
                if ($(this).val() != "") {
                    // enable the division field
                    $("#id_division").prop('disabled', false);

                    // define options based on region selection
                    var newOptions = {"---": ""};
                    for (var i = 0; i < Object.keys(divisionObj).length; i++) {
                        var key = Object.keys(divisionObj)[i];
                        var searchTerm = $("#id_region option:selected").text();
                        var re = new RegExp(searchTerm, 'gi');
                        if (key.match(re)) {
                            newOptions[key] = divisionObj[key]
                        }
                    }
                    var $el = $("#id_division");
                    $el.empty(); // remove old options
                    $.each(newOptions, function (key, value) {
                        console.log(key)
                        console.log(value)
                        $el.append($("<option></option>")
                            .attr("value", value).text(key));
                    });
                } else {
                    resetFields()
                }
            });


            $("#id_division").change(function () {
                if ($(this).val() != "") {
                    // enable the division field
                    $("#id_section").prop('disabled', false);

                    // define options based on division selection
                    var newOptions = {"---": ""};
                    for (var i = 0; i < Object.keys(sectionObj).length; i++) {
                        var key = Object.keys(sectionObj)[i];

                        // slice length
                        // get the length of the region name + 3 chars for space are parentheses
                        var sliceLength = $("#id_division option:selected").text().length - ($("#id_region option:selected").text().length + 3);
                        // get the length of the division name
                        var searchTerm = $("#id_division option:selected").text().slice(0, sliceLength);
                        var re = new RegExp(searchTerm, 'gi');
                        if (key.match(re)) {
                            newOptions[key] = sectionObj[key]
                        }
                    }
                    var $el = $("#id_section");
                    $el.empty(); // remove old options
                    $.each(newOptions, function (key, value) {
                        console.log(key)
                        console.log(value)
                        $el.append($("<option></option>")
                            .attr("value", value).text(key));
                    });
                } else {
                    resetFields()
                }
            });

        </script>
    {% else %}
        <script type="application/javascript">
            $(document).ready(function() {
                // Stuff to do as soon as the DOM is ready

            });
        </script>
    {% endif %}

{% endblock content %}
