{% load verbose_names %}
{% load bootstrap4 %}
{% load humanize %}
{% load custom_filters %}
{% load i18n %}

{% bootstrap_css %}

<style>
    .label {
        font-weight: bold;
    }

    table, td, th {
        font-size: small;
        border: 1px solid black;
        text-align: left;
        border-collapse: collapse;
    }

    td, th {
        padding-top: 1px;
    }

    th {
        background-color: lightgray;
        color: black;
    }

    h1 {
        font-size: 24px;
    }
</style>

<h1>{{ object }} -
    {% if object.submitted %}
        {% trans "SUBMITTED" %}
    {% else %}
        <span class="red-font">
                {% trans "DRAFT VERSION" %}
                </span>
    {% endif %}
</h1>

<hr>
<div class="row">
    {% for field in field_list %}
        {% verbose_field_display object field %}
    {% endfor %}
</div>
<hr>

{% include "projects/_staff.html" %}
{% include "projects/_om_costs.html" %}
{% include "projects/_capital_costs.html" %}
{% include "projects/_gc_costs.html" %}
{% include "projects/_collaborators.html" %}
{% include "projects/_agreements.html" %}
{% include "projects/_financial.html" %}

