{% load i18n %}

<table class="table table-sm table-bordered">
  <thead>
  <tr>
    <th>${requestLabels.id}</th>
    <th>${requestLabels.fiscal_year}</th>
    <th>${requestLabels.advice_fiscal_year}</th>
    <th>${requestLabels.status}</th>
    <th>{% trans "Region" %}</th>
    <th class="w-35">${requestLabels.title}</th>
    <th class="w-35">${requestLabels.translated_title}</th>
  </tr>
  </thead>

  <tbody>
  <tr v-for="r in requests" :key="r.id">
    <td>${r.id}</td>
    <td>${r.fiscal_year}</td>
    <td>${r.advice_fiscal_year}</td>
    <td><span v-html="r.status_display_html"></span></td>
    <td>${r.region}</td>
    <td>
      <input v-model="r.title" type="text" class="form-control" placeholder="" @focusout="updateRequest(r)">
    </td>
    <td>
      <input v-model="r.translated_title" type="text" class="form-control" placeholder="" @focusout="updateRequest(r)">
    </td>

  </tr>

  </tbody>
</table>