{% load i18n %}
{% load bootstrap4 %}

<div class="table-bordered py-3 px-2 admin-panel mb-3 small">
  <form class="form " action="." method="get" id="filter-form" @change="submitForm">
    <div class="row">
      <div class="col">
        {% bootstrap_field filter.form.fiscal_year placeholder="" size="small" %}
      </div>
       <div class="col">
        {% bootstrap_field filter.form.advice_fiscal_year placeholder="" size="small" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.search placeholder="" size="small" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.region placeholder="" size="small" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.sector placeholder="" size="small" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.section placeholder="" size="small" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.status placeholder="" size="small" %}
      </div>
      <div class="col">
        {% bootstrap_field filter.form.decision placeholder="" size="small" %}
      </div>
       <div class="col">
        {% bootstrap_field filter.form.prioritization placeholder="" size="small" %}
      </div>
      <div class="col">
        <br>
        <input type="submit" value="{% trans "Filter" %}" class="btn btn-warning btn-sm">
        <a href="." class="btn btn-secondary btn-sm">{% trans "Clear" %}</a>
      </div>
    </div>
  </form>

</div>
