{% extends "csas2/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}

{% block crumbs %}
{% endblock %}

{% block messages %}{% endblock %}
{% block title_area %}
{% endblock %}


{% block subcontent %}
  {% include "shared_models/_generic_breadcrumbs.html" %}
  <div class="mb-3">
    <h2 class="">{{ h1|safe }}</h2>
  </div>

  {% include "csas2/request_reviews/_filter.html" %}
  <div id="app" v-cloak>

    <div v-if="currentUser.is_staff" class="">
      <div class="pointy mb-3" @click="toggleAdminMode">
        <p class="lead text-secondary" id="overview">
          <span :class="{'bg-danger text-light p-1': adminModeOn}">{% trans "Translation View" %}</span>
          <span class="ml-3">{% trans "OFF" %}</span>
          <span v-if="!adminModeOn" class="mx-2 mdi mdi-toggle-switch-off h4"></span>
          <span v-else class="mx-2 mdi mdi-toggle-switch h4"></span>
          <span>{% trans "ON" %}</span>
        </p>
      </div>
    </div>

    {% bootstrap_messages %}

    <div v-if="loadingRequests" class="loading mb-3 mt-3 mt-5">
      <div class="spinner-border mb-3" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <div v-else>
      <div v-if="fresh">
        <div class="mt-5">
          <em class="lead">
            {% trans "Please use the filters to get started..." %}
          </em>
        </div>
      </div>
      <div v-else-if="!requests.length">
        <div class="mt-5">
          <em class="lead">
            {% trans "No requests found..." %}
          </em>
        </div>
      </div>
      <div v-else class="m-3 mt-4">

        <div class="text-center">
          <div class="text-center">
            <p class="font-italic text-muted">${requests.length} {% trans "results loaded" %}</p>
          </div>
        </div>
        <div v-if="!adminModeOn">
          {% include "csas2/request_reviews/_regular_table.html" %}
        </div>
        <div v-else>
          {% include "csas2/request_reviews/_admin_table.html" %}
        </div>

      </div>
    </div>

  </div>

{% endblock %}


{% block body_js %}
  {{ block.super }}
  {% include "csas2/components/filter_control.html" %}
  {% include "csas2/components/email_preview.html" %}

  <script type="application/javascript">

  // register vue-select
  Vue.component('v-select', VueSelect.VueSelect);

  // vuejs instance
  var app = new Vue({
    el: '#app',
    delimiters: ["${", "}"],
    data: {
      currentUser: {},
      loadingRequests: false,
      requests: [],
      requestLabels: {},
      reviewLabels: {},
      errorMsg: null,
      statusChoices: [],
      yesNoChoices: [],
      decisionChoices: [],
      fyChoices: [],
      regionChoices: [],
      sectorChoices: [],
      sectionChoices: [],
      tagChoices: [],
      fresh: true,
      email: null,

      adminModeOn: false,
    },
    methods: {
      toggleAdminMode() {
        this.adminModeOn = !this.adminModeOn;
      },
      submitForm() {
        $("#filter-form").submit()
      },
      getCurrentUser() {
        let endpoint = `/api/csas/user/`;
        apiService(endpoint)
            .then(response => {
              this.currentUser = response;
            })
      },
      openPopout(url) {
        popitup(url, 'popoutWindow' + Date.now());
      },
      getRequests() {
        this.errorMsg = null;
        this.loadingRequests = true;
        let params = window.location.search.substring(1);

        if (!params) page_size = 5;
        else {
          this.fresh = false;
          page_size = 50000;
        }

        let endpoint = `/api/csas/requests/?${params}&page_size=${page_size}`;
        apiService(endpoint)
            .then(response => {
              if (response.results) {
                for (const r of response.results) {
                  r.issueCollapse = true;
                  r.rationaleCollapse = true;
                  r.prioritizationCollapse = true;
                  r.reviewCollapse = true;
                }
                this.requests = response.results;
                for (const r of this.requests) {
                  if (r.review && r.review.advice_date) r.review.advice_date = r.review.advice_date.split("T")[0];
                }
              }
              this.loadingRequests = false;
            })
      },
      getRequest(request) {
        let endpoint = `/api/csas/requests/${request.id}/`;
        apiService(endpoint).then(data => {
          if (data) {
            data.issueCollapse = request.issueCollapse;
            data.rationaleCollapse = request.rationaleCollapse;
            data.prioritizationCollapse = request.prioritizationCollapse;
            data.reviewCollapse = request.reviewCollapse;
            if (data.review && data.review.advice_date) data.review.advice_date = data.review.advice_date.split("T")[0];
            this.$set(this.requests, this.requests.indexOf(request), data)
          }
        });
      },
      toggleRequestCollapse(request, field) {
        request[`${field}Collapse`] = !request[`${field}Collapse`]
      },
      getNotes() {
        let endpoint = `/api/csas/request-notes/?csas_request=${requestId}`;
        apiService(endpoint).then(data => {
          this.notes = data;
        });
      },
      primeReview(request) {
        this.errorMsg = null;
        let endpoint = `/api/csas/request-reviews/`;
        apiService(endpoint, "POST", {csas_request: request.id}).then((data) => {
          if (!data.id) this.errorMsg = groomJSON(data);
          else this.getRequest(request);
        })
      },
      cleanReview(review) {
        for (const reviewKey in review) if (review[reviewKey] === "") review[reviewKey] = null;
        if (review.advice_date) review.advice_date = review.advice_date + "T12:00:00";
        return review;
      },
      updateReview(request) {
        this.errorMsg = null;
        review = this.cleanReview(request.review);
        let endpoint = `/api/csas/request-reviews/${review.id}/`;
        apiService(endpoint, "PUT", review).then(data => {
          if (!data.id) this.errorMsg = groomJSON(data);
          this.getRequest(request);
        });
      },
      previewNotificationEmail(request) {
        this.errorMsg = null;
        let review = request.review;
        let endpoint = `/api/csas/request-reviews/${review.id}/?notification_email=view`;
        apiService(endpoint, "POST", review).then(data => {
          if (!data.message) this.errorMsg = groomJSON(data);
          else this.email = data;
        });
      },
      notificationEmail(request, action) {
        this.errorMsg = null;
        let review = request.review;
        let endpoint = `/api/csas/request-reviews/${review.id}/?notification_email=${action}`;
        apiService(endpoint, "POST", review).then(data => {
          if (!data.id) this.errorMsg = groomJSON(data);
          this.getRequest(request);
          this.email = null;
        });
      },
      updateTags(request) {
        this.errorMsg = null;
        let endpoint = `/api/csas/requests/${request.id}/`;
        apiService(endpoint, "PUT", request).then(data => {
          if (!data.id) this.errorMsg = groomJSON(data);
          this.getRequest(request);
        });
      },
      deleteReview(request) {
        this.errorMsg = null;
        let userInput = confirm("{% trans 'Are you certain you want to delete this review?' %}")
        if (userInput) {
          let endpoint = `/api/csas/request-reviews/${request.review.id}/`;
          apiService(endpoint, "DELETE").then((data) => {
            if (!data.id) this.errorMsg = groomJSON(data);
            this.getRequest(request);
          })
        }
      },
      cleanRequest(request) {
        for (const requestKey in request) if (request[requestKey] === "") request[requestKey] = null;
        // if (review.advice_date) review.advice_date = review.advice_date + "T12:00:00";
        return request;
      },
      updateRequest(request) {
        this.errorMsg = null;
        let r = this.cleanRequest(request);
        let endpoint = `/api/csas/requests/${r.id}/`;
        apiService(endpoint, "PUT", r).then(data => {
          if (!data.id) this.errorMsg = groomJSON(data);
          this.getRequest(request);
        });
      },
      getMetadata() {
        apiService(`/api/csas/meta/models/request/`).then(data => {
          this.requestLabels = data.labels;
          this.statusChoices = data.status_choices;
          this.regionChoices = data.region_choices;
          this.sectorChoices = data.sector_choices;
          this.sectionChoices = data.section_choices;
          this.tagChoices = data.tag_choices;
          this.fyChoices = data.fy_choices;
        });
        apiService(`/api/csas/meta/models/request-review/`).then(data => {
          this.reviewLabels = data.labels;
          this.yesNoChoices = data.yes_no_choices;
          this.yesNoUnsureChoices = data.yes_no_unsure_choices;
          this.boolChoices = data.bool_choices;
          this.decisionChoices = data.decision_choices;
        });
      },
    },
    computed: {
      canModify() {
        return this.currentUser.can_modify && this.currentUser.can_modify.can_modify;
      }
    },
    filters: {
      yesNo: vueFiltersObject["yesNo"],
      nz: vueFiltersObject["nz"],
    },
    created() {
      this.getCurrentUser();
      this.getMetadata();
      this.getRequests();
    },
  });


  </script>

{% endblock %}