{% extends "csas2/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}

{% block crumbs %}
{% endblock %}

{% block messages %}{% endblock %}
{% block title_area %}
{% endblock %}


{% block subcontent %}
  <div id="app" v-cloak>

    {% include "shared_models/_generic_breadcrumbs.html" %}
    <div class="mb-3">
      <h2 class="">{{ h1|safe }}</h2>
    </div>
    {% bootstrap_messages %}

    {% include "csas2/process_reviews/_filter.html" %}
    <div v-if="loadingProcesses" class="loading mb-3 mt-3 mt-5">
      <div class="spinner-border mb-3" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <div v-else>
      <div v-if="fresh">
        <div class="mt-5">
          <em class="lead">
            {% trans "Please use the filters to get started..." %}
          </em>
        </div>
      </div>
      <div v-else-if="!proceses.length">
        <div class="mt-5">
          <em class="lead">
            {% trans "No proceses found..." %}
          </em>
        </div>
      </div>
      <div v-else class="m-3 mt-4">
        <table class="table table-sm">
          <thead>
          <tr>
            <th class="w25">Id</th>
            <th>${processLabels.fiscal_year}</th>
            <th class="w150">${processLabels.title}</th>
            <th>{% trans "Region" %}</th>
            {#            <th class="w150">{% trans "Section" %}</th>#}
            <th>${processLabels.status}</th>
            <th>${reviewLabels.prioritization}</th>
            <th>${reviewLabels.decision}</th>
            <th class="w250">${reviewLabels.decision_text}</th>
            <th class="w150">${reviewLabels.decision_date}</th>
            <th class="w150">${reviewLabels.advice_date}</th>
            <th class="w150">${reviewLabels.is_deferred}</th>
            <th class="w250">${reviewLabels.deferred_text}</th>
            <th>${reviewLabels.notes}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="r in proceses" :key="r.id">
            <td>${r.id}</td>
            <td>${r.fiscal_year}</td>
            <td>
              <a :href="`/csas-sccs/proceses/${r.id}/view/`" target="_blank">${r.title}</a>
            </td>
            <td>${r.region}</td>
            {#            <td>${r.section_display}</td>#}
            <td>${r.status_display}</td>
            <td>
              <v-select
                v-if="r.review"
                style="width: 100%"
                v-model="r.review.prioritization"
                @input="updateReview(r)"
                :options="prioritizationChoices"
                :reduce="choice => choice.value"
                label="text"
                :clearable="false"
                class="bg-light"
              >
              </v-select>
              <em v-else class="text-muted">{% trans "no review" %}</em>
            </td>
            <td>
              <v-select
                v-if="r.review"
                style="width: 100%"
                v-model="r.review.decision"
                @input="updateReview(r)"
                :options="decisionChoices"
                :reduce="choice => choice.value"
                label="text"
                :clearable="false"
                class="bg-light"
              >
              </v-select>
              <em v-else class="text-muted">{% trans "no review" %}</em>
            </td>
            <td>
              <textarea v-if="r.review" rows="5" class="form-control" v-model="r.review.decision_text" @change="updateReview(r)"></textarea>
              <em v-else class="text-muted">{% trans "no review" %}</em>
            </td>
            <td>
              <input v-if="r.review" v-model="r.review.decision_date" type="date" class="form-control" placeholder="{% trans "Click to select dates" %}"
                     @change="updateReview(r)">
              <em v-else class="text-muted">{% trans "no review" %}</em>
            </td>
            <td>
              <input v-if="r.review" v-model="r.review.advice_date" type="date" class="form-control" placeholder="{% trans "Click to select dates" %}"
                     @change="updateReview(r)">
              <em v-else class="text-muted">{% trans "no review" %}</em>

            </td>
            <td>
              <input v-if="r.review" v-model="r.review.is_deferred" class="" type="checkbox" id="is_deferred" @change="updateReview(r)">
              <em v-else class="text-muted">{% trans "no review" %}</em>

            </td>
            <td>
              <textarea v-if="r.review && r.review.is_deferred" rows="5" class="form-control" v-model="r.review.deferred_text"
                        @change="updateReview(r)"></textarea>
              <em v-else-if="r.review" class="text-muted">{% trans "not deffered" %}</em>
              <em v-else class="text-muted">{% trans "no review" %}</em>

            </td>
            <td>
              <textarea v-if="r.review" rows="5" class="form-control" v-model="r.review.notes" @change="updateReview(r)"></textarea>
              <em v-else class="text-muted">{% trans "no review" %}</em>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


{% endblock %}


{% block body_js %}
  {{ block.super }}
  {% include "csas2/components/filter_control.html" %}

  <script type="application/javascript">

  // register vue-select
  Vue.component('v-select', VueSelect.VueSelect);

  // vuejs instance
  var app = new Vue({
    el: '#app',
    delimiters: ["${", "}"],
    data: {
      currentUser: {},
      loadingProcesses: false,
      processes: [],
      processLabels: {},
      reviewLabels: {},
      errorMsg: null,
      statusChoices: [],
      prioritizationChoices: [],
      decisionChoices: [],
      fyChoices: [],
      regionChoices: [],
      sectorChoices: [],
      fresh: true,
      processesEndpoint: `/api/csas/processes/?`
    },
    methods: {
      getCurrentUser() {
        let endpoint = `/api/csas/user/`;
        apiService(endpoint)
            .then(response => {
              this.currentUser = response;
            })
      },
      openPopout(url) {
        popitup(url, 'popoutWindow' + Date.now());
      },
      appliedFilter(p, v) {
        if (!v) v = "";
        root = this.processesEndpoint.split("?")[0]
        params = this.processesEndpoint.split("?")[1]
        let found = false;
        let newParamArray = [];
        for (const param of params.split("&")) {
          if (!param.includes(p)) newParamArray.push(param);
        }
        this.processesEndpoint = `${root}?${newParamArray.join("&")}`
        this.processesEndpoint += `${p}=${v}&`
      },
      getProcesses(param, val) {
        this.appliedFilter(param, val);
        this.loadingProcesses = true;
        this.fresh = false;
        apiService(this.processesEndpoint).then(data => {
          if (data) {
            this.processes = data;
            for (const r of this.processes) {
              if (r.review && r.review.advice_date) r.review.advice_date = r.review.advice_date.split("T")[0];
              if (r.review && r.review.decision_date) r.review.decision_date = r.review.decision_date.split("T")[0];
            }
            this.loadingProcesses = false;
          }
        });
      },
      getProcess(proces) {
        let endpoint = `/api/csas/processes/${proces.id}/`;
        apiService(endpoint).then(data => {
          if (data) {
            if (data.review && data.review.advice_date) data.review.advice_date = data.review.advice_date.split("T")[0];
            if (data.review && data.review.decision_date) data.review.decision_date = data.review.decision_date.split("T")[0];
            console.log(data)
            this.$set(this.processes, this.processes.indexOf(process), data)
          }
        });
      },
      cleanReview(review) {
        for (const reviewKey in review) if (review[reviewKey] === "") review[reviewKey] = null;
        if (review.advice_date) review.advice_date = review.advice_date + "T12:00:00";
        if (review.decision_date) review.decision_date = review.decision_date + "T12:00:00";
        return review;
      },
      updateReview(process) {
        this.errorMsg = null;
        review = this.cleanReview(process.review);
        let endpoint = `/api/csas/process-reviews/${review.id}/`;
        apiService(endpoint, "PUT", review).then(data => {
          if (!data.id) this.errors = groomJSON(data);
          else this.getProcess(process);
        });
      },
      getMetadata() {
        apiService(`/api/csas/meta/models/process/`).then(data => {
          this.processLabels = data.labels;
          this.statusChoices = data.status_choices;
          this.regionChoices = data.region_choices;
          this.sectorChoices = data.sector_choices;
          this.fyChoices = data.fy_choices;
        });
      },
    },
    computed: {
      canModify() {
        return this.currentUser.can_modify && this.currentUser.can_modify.can_modify;
      }
    },
    filters: {
      yesNo: vueFiltersObject["yesNo"],
    },
    created() {
      this.getCurrentUser();
      {#this.getProcess(true);#}
      {#this.getReviewMetadata();#}
      this.getMetadata();
    },
  });


  </script>

{% endblock %}