{% load i18n %}

<div v-if="showReviewerForm" class="alert alert-success" role="alert">
  <div class="lead alert-heading mb-3">
    <span class="mdi mdi-eye-outline mr-2"></span>
    ${currentUser.first_name}, {% trans "please provide your review below" %}
  </div>
  <hr>
  <form @submit.prevent="submitCurrentReviewerForm(currentUser.reviewer)" class="">
    <div class="form-group">
      <label>${reviewerLabels.decision}</label>
      <select
        required
        v-model="currentUser.reviewer.decision"
        class="form-control form-control-sm"
      >
        <option :value="null">------</option>
        <option v-for="(obj, index) in decisionChoices" :value="obj.value">${obj.text}</option>
      </select>
    </div>

    <div class="form-group">
      <label v-if="currentUser.reviewer.decision === 2">{% trans "Please descibe changes" %} (*)</label>
      <label v-else>{% trans "Comments (optional)" %}</label>
      <textarea
        :required="currentUser.reviewer.decision === 2"
        v-model="currentUser.reviewer.comments"
        class="form-control form-control-sm"
        rows="5"
      ></textarea>
    </div>

    <div class="text-right">
      <input class="btn btn-warning" type="submit" value="{% trans "Submit Review" %}">
    </div>

  </form>
</div>