{% extends "csas2/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}


{% block subcontent %}


  <div class="btns mb-5">
    <a class="btn btn-sm btn-warning" href="{% url 'csas2:tor_edit' object.id %}">{% trans "Edit" %}</a>
    <a class="btn btn-sm btn-primary" href="{% url 'csas2:tor_edit' object.id %}">{% trans "Submit" %}</a>

    <div class="neighbours">
      <div class="dropdown">
        <a class="btn btn-sm btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <span class="mdi mdi-printer text-light mr-1"></span>{% trans "Export" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'csas2:tor_export' object.id %}?lang=en">{% trans "Word (en)" %}</a>
          <a class="dropdown-item" href="{% url 'csas2:tor_export' object.id %}?lang=fr">{% trans "Word (fr)" %}</a>
          <a class="dropdown-item" href="{% url 'csas2:tor_html' object.id %}?lang=en">{% trans "HTML (en)" %}</a>
          <a class="dropdown-item" href="{% url 'csas2:tor_html' object.id %}?lang=fr">{% trans "HTML (fr)" %}</a>
        </div>
      </div>
    </div>

  </div>
  <div class="mb-3">
    <table class="table table-sm w-50">
      {% for field in field_list %}
        {% verbose_td_display object field %}
      {% endfor %}
    </table>
  </div>

  <div class="mb-3">
    <table class="table table-sm table-bordered">
      <thead>
      <tr>
        <th></th>
        <th class="w-40">{% trans "English text" %}</th>
        <th class="w-40">{% trans "French text" %}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="w-10">{% trans "Context" %}</th>
        <td>
          {{ object.context_en_html|nz }}
        </td>
        <td>
          {{ object.context_fr_html|nz }}
        </td>
      </tr>
      <tr>
        <th class="w-10">{% trans "Objectives" %}</th>
        <td>
          {{ object.objectives_en_html|nz }}
        </td>
        <td>
          {{ object.objectives_fr_html|nz }}
        </td>
      </tr>
      <tr>
        <th class="w-10">{% trans "Participation" %}</th>
        <td>
          {{ object.participation_en_html|nz }}
        </td>
        <td>
          {{ object.participation_fr_html|nz }}
        </td>
      </tr>
      <tr>
        <th class="w-10">{% trans "References" %}</th>
        <td>
          {{ object.references_en_html|nz }}
        </td>
        <td>
          {{ object.references_fr_html|nz }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>



{% endblock %}
