{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}


<div class="nav-map">
<br>
  {% if object.id %}
  <p>
    <a href="{% url 'resources:resource_list' %}">All Resources</a> >
    <a href="{% url 'resources:resource_detail' resource.id %}">{{resource.truncated_title}}</a> >
    <a href="{% url 'resources:citation_detail' resource.id object.id %}">{{object.title}}</a> >
    Edit
  </p>
  {% else %}
  <p>
    <a href="{% url 'resources:resource_list' %}">All Resources</a> >
    <a href="{% url 'resources:resource_detail' resource.id %}">{{resource.truncated_title}}</a> >
    <a href="{% url 'resources:resource_keyword_filter' resource.id %}">{{object.text_value_eng}}</a> >
    New
  </p>
  {% endif %}
</div>
<div class="container">

{% load static %}
{# Load js file to allow for popout window #}

{% if object %}
<h1>Edit</h1>

{% else %}
  <h1>New Keyword</h1>
{% endif %}

<form method="post" class="form">
    {% csrf_token %}

    {% for field in form  %}
      {% if field.name == "publication" %}
      {% bootstrap_field field %}
      <a onclick="return popitup('{% url 'resources:publication_new' %}','popItOut')" href="#">Add new publication to list</a><br><br>
      {% else %}
      {% bootstrap_field field %}
      {% endif %}


    {% endfor %}


    <p>
      <button type="submit" class="btn btn-primary">Submit</button>
      {% if object.id %}
        <a class="btn btn-secondary" href="{% url 'resources:citation_detail' resource.id object.id %}">Cancel</a>
      {% else %}
        <a class="btn btn-secondary" href="{% url 'resources:resource_citation_filter' resource.id %}">Cancel</a>
      {% endif %}
    </p>
</form>

</div>

{% endblock content %}
