{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}


<div class="container">

  <p>
    <h1>Data Resource Inventory </h1>
    TOTAL: {{object_list.count}}
  </p>

  <form class="form" action="." method="get">
    <div class="row">

    {% for field in filter.form %}
      <div class="col">
        {{field.label}}: <br>{{field}}
      </div>
    {% endfor %}
  </div>
    <p>
      <input type="submit" value="Filter" class="btn btn btn-warning">
      <a href="." class="btn btn btn-secondary">Clear</a>
      <a href="{% url 'resources:resource_new' %}" class="btn btn btn-primary float-right">New Resource</a>
    </p>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        {# <th scope="col">Id</th> #}
        <th scope="col" width="500px">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Section</th>
        <th scope="col">Previous time certified</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list  %}
        <tr>
          {# <td><a href="{% url 'resources:resource_detail' obj.id %}">{{obj.id}}</a></td> #}
          <td><a href="{% url 'resources:resource_detail' obj.id %}">{{obj.title_eng}}</a></td>

          {% if obj.status.id == 3 %}
          <td class="good">

          {% elif obj.status.id == 1 %}
          <td class="bad">
          {% else %}
          <td>

          {% endif %}
            {{obj.status}}
          </td>


          <td>{{obj.section.section}}</td>

          <td>
            {% if obj.certification_history.count > 0 %}
            {{obj.certification_history.last.certification_date|naturaltime}}
            {% else %}
            <span class="red-font"><b>Never</b></span>
            {% endif %}

          </td>







        </tr>
      {% endfor %}
      <br>

      </tbody>
    </table>


  </div>

{% endblock content %}
