{% load static %}
{% load bootstrap4 %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    {#  DJANGO-BOOTSTRAP4 #}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}?version=1.4">
    {##}
    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans:300|Roboto:300" rel="stylesheet">

    <!--  Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {#    <link rel="stylesheet" href="{% static "js/chosen/docsupport/style.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "js/chosen/docsupport/prism.css" %}">#}

    {# Special JS library CSS files   #}
    <link rel="stylesheet" href="{% static "js/chosen/chosen.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <style>
        .chosen-container-single .chosen-single {
            height: 30px;
            background: -webkit-gradient(linear, left top, left bottom);
            background: linear-gradient(#ffffff, #ffffff);
        }
        .chosen-container-multi .chosen-choices {
            border-radius: 5px;

        }
    </style>


    <title>{% block title %}{% endblock title %}</title>
    {% block header %}{% endblock header %}
    {% if not USING_PRODUCTION_DB %}
        <div style="text-align: center; background-color: #ffaa06">
            WORKING IN DEV MODE: you are connected to [glf_sci_site_dev] on host [glf-sci-dm]
        </div>
    {% endif %}

    <div class="gone" id="browser-warning">
        <div class="alert alert-danger " role="alert">
            <span style="font-weight: bold; font-size: xx-large">
                {% trans "WARNING: You will have limited functionality for this site due to the browser you are using. Please switch to Google Chrome or Microsoft Edge." %}
            </span>
        </div>
    </div>

    {% autoescape off %}
        {% bootstrap_messages size='small' %}
    {% endautoescape %}

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent">
    <a class="navbar-brand bigbrand" href="{% url 'index' %}">
        <img src="{% static 'img/icons/iconfinder_cluster-data-group-organize_2205240 - white.png' %}" width="30" height="30"
             class="d-inline-block align-top" alt="" data-toggle="tooltip" title="{% trans "Data Management Home" %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% block left_all %}{% endblock left_all %}

            {% if user.is_authenticated %}
                {% block left_auth %}{% endblock left_auth %}
                {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="/admin"> Site Admin </a></li>
                    {% block left_admin %}{% endblock left_admin %}
                {% endif %}
                {% if user.is_staff %}
                    {% block left_staff %}{% endblock left_staff %}
                {% endif %}

            {% else %}
                {% block left_unauth %}{% endblock left_unauth %}
            {% endif %}
        </ul>
    </div>

    {# Everything on the right hand side #}
    <div class="collapse navbar-collapse justify-content-end headerfont2">
        <ul class="navbar-nav justify-content-end">
            {% block right_all %}{% endblock right_all %}

            {% if user.is_authenticated %}
                {% block right_auth %}{% endblock right_auth %}

                <li class="nav-item">
                    <a class="nav-link" href="#" pop-href="{% block bug_create %}{% endblock bug_create %}" data-toggle="tooltip"
                       title="Complete this form to provide feedback about the system.">
                        {% trans "Feedback / Bugs" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}" data-toggle="tooltip" title="">
                        {% trans 'Logout' %}
                    </a>
                </li>

            {% else %}
                {% block right_unauth %}{% endblock right_unauth %}
                <li class="nav-item">
                    <a class="btn btn-dark" href="{% url 'accounts:login' %}">
                        {% trans 'Sign In' %}
                    </a>

                </li>
            {% endif %}

            {% include "_language_form.html" %}

        </ul>
    </div>
</nav>


{% block body %}{% endblock body %}

<script type=" text/javascript" src="{% static "js/popItOut.js" %}?version=1.2"></script>
<script type="text/javascript" src="{% static "js/insertNote.js" %}"></script>
<script type="text/javascript" src="{% static "js/speak.js" %}"></script>
<script type="text/javascript" src="{% static "js/underDevelopment.js" %}"></script>
<script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>
<script type="text/javascript" src="{% static "js/clickableTableRows.js" %}"></script>
<script type="text/javascript" src="{% static "js/filterForm.js" %}"></script>

<script src="{% static "js/chosen/chosen.jquery.js" %}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static "js/init.js" %}?version=1.1" type="text/javascript" charset="utf-8"></script>

</body>
</html>

<script type="application/javascript">

    // Internet Explorer 6-11
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    if (isIE) {
        $("#browser-warning").removeClass("gone")
    }

</script>