{% load static %}
{% load bootstrap4 %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    {#  DJANGO-BOOTSTRAP4 #}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}?version=1.2">
    {##}
    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto" rel="stylesheet">

    <!--  Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    <title>{% block title %}{% endblock title %}</title>
    {% block header %}{% endblock header %}
    {% if not PROD_CNF %}
        <div style="text-align: center; background-color: #ffaa06">
            WORKING IN DEV MODE
        </div>
    {% endif %}

    <div class="alert alert-danger gone" role="alert" id="browser-warning">
        <b>
        {% trans "WARNING: You are using Internet Explorer. Please switch your broswer to Google Chrome or Microsoft Edge." %}
        </b>
    </div>

    {% autoescape off %}
        {% bootstrap_messages size='small' %}
    {% endautoescape %}

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent">
    <a class="navbar-brand bigbrand" href="{% url 'index' %}">
        <img src="{% static 'img/icons/iconfinder_cluster-data-group-organize_2205240 - white.png' %}" width="30" height="30"
             class="d-inline-block align-top" alt="" data-toggle="tooltip" title="{% trans "Data Management Home" %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% block left_all %}{% endblock left_all %}

            {% if user.is_authenticated %}
                {% block left_auth %}{% endblock left_auth %}
                {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="/admin"> Site Admin </a></li>
                    {% block left_admin %}{% endblock left_admin %}
                {% endif %}
                {% if user.is_staff %}
                    {% block left_staff %}{% endblock left_staff %}
                {% endif %}

            {% else %}
                {% block left_unauth %}{% endblock left_unauth %}
            {% endif %}
        </ul>
    </div>

    {# Everything on the right hand side #}
    <div class="collapse navbar-collapse justify-content-end headerfont2">
        <ul class="navbar-nav justify-content-end">
            {% block right_all %}{% endblock right_all %}

            {% if user.is_authenticated %}
                {% block right_auth %}{% endblock right_auth %}

                {# Bugs #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Bugs' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"
                           onclick="return popitup('{% block bug_create %}{% endblock bug_create %}','popWindow')">
                            {% trans 'New Report' %}
                        </a>
                        {% block bug_list_4_app %}{% endblock bug_list_4_app %}

                        <a class="dropdown-item" href="{% url 'bugs:bug_list' %}">{% trans 'All Bugs' %}</a>
                    </div>
                </li>

                <li class="nav-item wide-left"><a class="btn btn-dark "
                                                  href="{% url 'accounts:logout' %}">  {% trans 'Logout' %}  </a>

                </li>

            {% else %}
                {% block right_unauth %}{% endblock right_unauth %}
                <li class="nav-item">
                    <a class="btn btn-dark" href="{% url 'accounts:login' %}">
                        {% trans 'Sign In' %}
                    </a>

                </li>
            {% endif %}

            {% include "_language_form.html" %}

        </ul>
    </div>
</nav>


{% block body %}{% endblock body %}

<script type=" text/javascript" src="{% static "js/popItOut.js" %}"></script>
<script type="text/javascript" src="{% static "js/insertNote.js" %}"></script>
<script type="text/javascript" src="{% static "js/speak.js" %}"></script>
<script type="text/javascript" src="{% static "js/underDevelopment.js" %}"></script>
<script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>
<script type="text/javascript" src="{% static "js/clickableTableRows.js" %}"></script>
<script type="text/javascript" src="{% static "js/filterForm.js" %}"></script>

</body>
</html>

<script type="application/javascript">
    // Internet Explorer 6-11
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    if(isIE) {
        $("#browser-warning").removeClass("gone")
    }

</script>