{% extends "accounts/accounts_base.html" %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block bug_create %}{% url 'tickets:bug_create' 'general' %}{% endblock bug_create %}
{% block header %}
    <style>
        body {
            background-image: url("{% static 'img/pebbles_light.png' %}");
            background-size: cover;
        }

        .card-title {
        {#font-weight: bold;#}
        }

        .card {
            cursor: pointer;
        }

        .shrink-me {
            transform: scale(.8);
        }


    </style>

{% endblock %}

{% block title %}
    {% trans 'Data Management Home' %}
{% endblock title %}

{% block body %}
    <br>
    <div class="container-fluid">

        <div class=" text-center">
            <h1 class="text-center montserrat" style="font-size: 56px">
                {% trans 'DFO Science Data Management' %}
            </h1>
            <hr>

            {% url 'accounts:login' as sign_in_url %}
            {% url 'accounts:signup' as sign_up_url %}


            <h2 class="text-center roboto" style="font-size: 32px">
                {% if user.is_authenticated %}
                    {% blocktrans with name=user.first_name %}
                        Welcome back, {{ name }}! Please select an application below.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans %}
                        Welcome! Please <a href="{{ sign_in_url }}">sign in</a> or select an application below. If you do not have an
                        account, you can register for one
                        <a href="{{ sign_up_url }}">here.</a>
                    {% endblocktrans %}
                {% endif %}
            </h2>
        </div>
        <br><br>
            <div class="text-center roboto">
                <h2>Shared Applications:</h2>
            </div>
        <div class="jumbotron shrink-me">
            {% trans "Select" as btn_text %}
            {% with app_dict_shared as app_dict %}
                <div class="row">
                    {% for app in app_dict %}
                        <div class="card mb-3 jumbotron" style="width: 19rem; height: 20rem; margin: auto; padding-top: 1px; background-color: #ffffff"
                             href="{{ app_dict|lookup:app|lookup:"url" }}">

                            <div class="card-body text-center">
                                <img src="{% static app_dict|lookup:app|lookup:"icon_path" %}" class="card-img-top"
                                     style="width: 35%; margin: auto">
                                <br><br>
                                <h5 class="card-title">
                                    {{ app_dict|lookup:app|lookup:"title" }}
                                    <br>
                                    {% if app_dict|lookup:app|lookup:"status" == "beta" %}
                                        <span class="badge badge-pill badge-warning" style="font-size: small">
                                                {% trans "beta" %}
                                            </span>
                                    {% elif app_dict|lookup:app|lookup:"status" == "dev" %}
                                        <span class="badge badge-pill badge-danger" style="font-size: small">
                                                {% trans "development" %}
                                            </span>
                                    {% endif %}
                                </h5>
                                <p class="card-text">
                                    {{ app_dict|lookup:app|lookup:"description" }}
                                </p>
                            </div>
                            <div class="" style="margin: auto">

                                {% trans "access to this app requires special permissions" as permissions_msg %}
                                {% trans "access to this app requires you to be logged in" as login_msg %}
                                {% trans "this app is opened to all users" as open_msg %}

                                {% if app_dict|lookup:app|lookup:"access" == "permission-required" %}
                                    <span data-toggle="tooltip" title="{{ permissions_msg }}">
                                                <img src="{% static 'img/icons/padlock.svg' %}" alt="" style="width: 25px">
                                            </span>
                                {% elif app_dict|lookup:app|lookup:"access" == "login-required" %}
                                    <span data-toggle="tooltip" title="{{ login_msg }}">
                                                <img src="{% static 'img/icons/user.svg' %}"
                                                     alt="" style="width: 25px">
                                            </span>
                                {% else %}
                                    <span class="" data-toggle="tooltip" title="{{ open_msg }}">
                                                <img src="{% static 'img/icons/language.svg' %}" alt="" width="25px">
                                            </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endwith %}
        </div>

        <div class="text-center roboto">
            <h3>Gulf Region Specific Applications:</h3>
        </div>
        <div class="jumbotron shrink-me">

            {% trans "Select" as btn_text %}
            {% with app_dict_gulf as app_dict %}
                <div class="row">
                    {% for app in app_dict %}
                        <div class="card mb-3 jumbotron" style="width: 19rem; height: 20rem; margin: auto; padding-top: 1px; background-color: #ffffff"
                             href="{{ app_dict|lookup:app|lookup:"url" }}">

                            <div class="card-body text-center">
                                <img src="{% static app_dict|lookup:app|lookup:"icon_path" %}" class="card-img-top"
                                     style="width: 35%; margin: auto">
                                <br><br>
                                <h5 class="card-title">
                                    {{ app_dict|lookup:app|lookup:"title" }}
                                    <br>
                                    {% if app_dict|lookup:app|lookup:"status" == "beta" %}
                                        <span class="badge badge-pill badge-warning" style="font-size: small">
                                                {% trans "beta" %}
                                            </span>
                                    {% elif app_dict|lookup:app|lookup:"status" == "dev" %}
                                        <span class="badge badge-pill badge-danger" style="font-size: small">
                                                {% trans "development" %}
                                            </span>
                                    {% endif %}
                                </h5>
                                <p class="card-text">
                                    {{ app_dict|lookup:app|lookup:"description" }}
                                </p>
                            </div>
                            <div class="" style="margin: auto">

                                {% trans "access to this app requires special permissions" as permissions_msg %}
                                {% trans "access to this app requires you to be logged in" as login_msg %}
                                {% trans "this app is opened to all users" as open_msg %}

                                {% if app_dict|lookup:app|lookup:"access" == "permission-required" %}
                                    <span data-toggle="tooltip" title="{{ permissions_msg }}">
                                                <img src="{% static 'img/icons/padlock.svg' %}" alt="" style="width: 25px">
                                            </span>
                                {% elif app_dict|lookup:app|lookup:"access" == "login-required" %}
                                    <span data-toggle="tooltip" title="{{ login_msg }}">
                                                <img src="{% static 'img/icons/user.svg' %}"
                                                     alt="" style="width: 25px">
                                            </span>
                                {% else %}
                                    <span class="" data-toggle="tooltip" title="{{ open_msg }}">
                                                <img src="{% static 'img/icons/language.svg' %}" alt="" width="25px">
                                            </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endwith %}
        </div>


    </div>


    {#    <span style="background-color: white; font-size: x-small">#}
    {#        Photo:Jeremy Cai - https://unsplash.com/photos/mnF75FoPBWY#}
    {#    </span>#}
    <br><br>
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
       href="https://unsplash.com/@j?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank"
       rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jeremy Cai"><span
            style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                              style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                              viewBox="0 0 32 32"><title>unsplash-logo</title><path
            d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Jeremy Cai</span></a>
    <script type="application/javascript">
        $(".request-access-button").click(function () {
            popitup("{% url 'accounts:request_access' %}", "popOutWindow")
        })

        // look through all table row
        $(".card").each(function () {
            // if there is an href attr
            if ($(this)[0].getAttribute("href") != null) {
                // have the cursor change to a pointer on hover
                $(this)[0].style.cursor = "pointer"
                // add a click event listener to navigate to the specified url
                $(this).click(function () {
                    href = $(this)[0].getAttribute("href")

                    document.location.href = href

                });
            }
        });

    </script>


{% endblock body %}
