{% extends "accounts/accounts_base.html" %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block bug_create %}{% url 'tickets:bug_create' 'general' %}{% endblock bug_create %}
{% block header %}
    <style>
        body {
            background-image: url("{% static 'img/waves1.jpg' %}");
            background-size: cover;
        }
        h1 {
            font-size: 4.5em;
        }
        h2 {
            font-size: 2em;
        }

        .card {
            cursor: pointer;
            background-color: #eeeeee;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 200px;
            margin: 10px
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }


        .card-title {
            height: 50px;
            font-size: 1.3em;
        }

        .card-img {
            height: 110px;
        }

        .card-img-top {
            padding: 45px;
        }

        .card-text {
            height: 120px;
        }

    </style>

{% endblock %}

{% block title %}
    {% trans 'DM Apps' %}
{% endblock title %}

{% block body %}


    <br>
    <div class="container-fluid">

    <div class=" text-center">
        <h1 class="text-center roboto">
            {% trans 'Data Management Apps' %}
        </h1>
        <h2 class="roboto">
            {% trans "By DFO Science" %}
        </h2>
        <hr>

        {% url 'accounts:login' as sign_in_url %}
        {% url 'accounts:signup' as sign_up_url %}


        <h4 class="text-center montserrat" style="font-size: 26px">
            {% if user.is_authenticated %}
                {% blocktrans with name=user.first_name %}
                    Welcome back, {{ name }}! Please select an application below.
                {% endblocktrans %}
            {% else %}
                {% blocktrans %}
                    Welcome! Please <a href="{{ sign_in_url }}">sign in</a> or select an application below. If you do not have an
                    account, you can register for one
                    <a href="{{ sign_up_url }}">here.</a>
                {% endblocktrans %}
            {% endif %}
        </h4>
    </div>


    <div class="container">
        <br>
        {% trans "Select" as btn_text %}
        {% with app_dict_shared as app_dict %}
            <div class="row">
                {% for app in app_dict %}

                    <div class="card" href="{{ app_dict|lookup:app|lookup:"url" }}">
                        <div class="card-body">
                            <h4 class="card-title"> {{ app_dict|lookup:app|lookup:"title" }}</h4>
                            <p class="card-img">
                                <img class="card-img-top" src="{% static app_dict|lookup:app|lookup:"icon_path" %}" alt="Card image">
                            </p>
                            <p class="card-text">{{ app_dict|lookup:app|lookup:"description" }}</p>
                            <div class="text-center" style="margin: auto">

                                {% trans "access to this app requires special permissions" as permissions_msg %}
                                {% trans "access to this app requires you to be logged in" as login_msg %}
                                {% trans "this app is opened to all users" as open_msg %}

                                {% if app_dict|lookup:app|lookup:"access" == "permission-required" %}
                                    <span data-toggle="tooltip" title="{{ permissions_msg }}">
                                                                            <img src="{% static 'img/icons/padlock.svg' %}" alt=""
                                                                                 style="width: 25px">
                                                                        </span>
                                {% elif app_dict|lookup:app|lookup:"access" == "login-required" %}
                                    <span data-toggle="tooltip" title="{{ login_msg }}">
                                                                            <img src="{% static 'img/icons/user.svg' %}"
                                                                                 alt="" style="width: 25px">
                                                                        </span>
                                {% else %}
                                    <span class="" data-toggle="tooltip" title="{{ open_msg }}">
                                                                            <img src="{% static 'img/icons/language.svg' %}" alt=""
                                                                                 width="25px">
                                                                        </span>
                                {% endif %}
                                {% if app_dict|lookup:app|lookup:"status" == "beta" %}
                                    <span class="badge badge-pill badge-warning" style="font-size: small">
                                                {% trans "beta" %}
                                            </span>
                                {% elif app_dict|lookup:app|lookup:"status" == "dev" %}
                                    <span class="badge badge-pill badge-danger" style="font-size: small">
                                                {% trans "dev" %}
                                            </span>
                                {% endif %}
                            </div>
                        </div>

                    </div>


                {% endfor %}
            </div>
        {% endwith %}

        <br><br>
        {% trans "Select" as btn_text %}
        {% with app_dict_regional as app_dict %}
            <div class="row">
                {% for app in app_dict %}

                    <div class="card" href="{{ app_dict|lookup:app|lookup:"url" }}">
                        <div class="card-body">
                            <h4 class="card-title"> {{ app_dict|lookup:app|lookup:"title" }}</h4>
                            <p class="card-img">
                                <img class="card-img-top" src="{% static app_dict|lookup:app|lookup:"icon_path" %}" alt="Card image">
                            </p>
                            <p class="card-text">{{ app_dict|lookup:app|lookup:"description" }}</p>
                            <div class="text-center" style="margin: auto">

                                {% trans "access to this app requires special permissions" as permissions_msg %}
                                {% trans "access to this app requires you to be logged in" as login_msg %}
                                {% trans "this app is opened to all users" as open_msg %}

                                {% if app_dict|lookup:app|lookup:"access" == "permission-required" %}
                                    <span data-toggle="tooltip" title="{{ permissions_msg }}">
                                                                            <img src="{% static 'img/icons/padlock.svg' %}" alt=""
                                                                                 style="width: 25px">
                                                                        </span>
                                {% elif app_dict|lookup:app|lookup:"access" == "login-required" %}
                                    <span data-toggle="tooltip" title="{{ login_msg }}">
                                                                            <img src="{% static 'img/icons/user.svg' %}"
                                                                                 alt="" style="width: 25px">
                                                                        </span>
                                {% else %}
                                    <span class="" data-toggle="tooltip" title="{{ open_msg }}">
                                                                            <img src="{% static 'img/icons/language.svg' %}" alt=""
                                                                                 width="25px">
                                                                        </span>
                                {% endif %}
                                {% if app_dict|lookup:app|lookup:"status" == "beta" %}
                                    <span class="badge badge-pill badge-warning" style="font-size: small">
                                                {% trans "beta" %}
                                            </span>
                                {% elif app_dict|lookup:app|lookup:"status" == "dev" %}
                                    <span class="badge badge-pill badge-danger" style="font-size: small">
                                                {% trans "dev" %}
                                            </span>
                                {% endif %}
                            </div>
                        </div>

                    </div>


                {% endfor %}
            </div>
        {% endwith %}


    </div>


    <br><br>



    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
       href="https://unsplash.com/@nihthu?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
       target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Ahmed Nishaath"><span
            style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                              style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                              viewBox="0 0 32 32"><title>unsplash-logo</title><path
            d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Ahmed Nishaath</span></a>

    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
       href="http://www.onlinewebfonts.com" target="_blank"
       rel="noopener noreferrer" title="oNline Web Fonts"><span
            style="display:inline-block;padding:2px 3px">
        <svg xmlns="http://www.w3.org/2000/svg"
             style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
             viewBox="0 0 32 32"><title>unsplash-logo</title><path
                d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span>
        <span style="display:inline-block;padding:2px 3px">oNline Web Fonts</span></a>

    <script type="application/javascript">

        // look through all table row
        $(".card").each(function () {
            // if there is an href attr
            if ($(this)[0].getAttribute("href") != null) {
                // have the cursor change to a pointer on hover
                $(this)[0].style.cursor = "pointer"
                // add a click event listener to navigate to the specified url
                $(this).click(function () {
                    href = $(this)[0].getAttribute("href")

                    document.location.href = href

                });
            }
        });

    </script>


{% endblock body %}
