{% load static %}
{% load bootstrap4 %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    {% include "_base_css.html" %}

    <title>{% block title %}{% endblock title %}</title>
    {% block header %}{% endblock header %}
    {% if not USING_PRODUCTION_DB %}
        {% if USING_LOCAL_DB %}
            <div style="text-align: center; background-color: #fe49ff">
                WORKING IN TEST MODE: you are connected a local SQLITE database
            </div>
        {% else %}
            <div style="text-align: center; background-color: #ffaa06">
                WORKING IN DEV MODE: you are connected to [{{ DEV_DB_NAME }}] on host [{{ DEV_DB_HOST }}]
            </div>
        {% endif %}
    {% endif %}

    {% autoescape off %}
        {% bootstrap_messages size='small' %}
    {% endautoescape %}


</head>

<body>

{% block body %}{% endblock %}
{% include "_base_js.html" %}
{% block body_js %}{% endblock %}

</body>
</html>

<script type="application/javascript">

    // Internet Explorer 6-11
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    if (isIE) {
        $("#browser-warning").removeClass("gone")
    }

</script>