{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

    {# A script to refresh the parent window; to be called in when the buttons are pushed #}
    <script>
        window.onunload = refreshParent;

        function refreshParent() {
            window.opener.location.reload();
        }
    </script>

    <div class="container">
        {% if not object %}
            <h1>New Message</h1>
        {% endif %}<br>
        {% if user.is_staff %}
            <p>
                <em>
                    HEADS UP: this follow-up will be created as a github comment on issue #{{ ticket.github_issue_number }}
                </em>
            </p>
        {% endif %}
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}

            <div class="btn-group">
                <button type="submit" class="btn btn-success" onclick="refreshParent()">Submit</button>
                <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">Close</a>
            </div>
        </form>
    </div>

{% endblock content %}
