{% extends "dm_tickets/dm_tickets_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load nz %}
{% block content %}
<div class="container">
  <br>
        <h1 class="text-center font-weight-bold ">
          Regional Data Management Ticketing System (RDMTS)
        </h1>
        <br><br>
        {# <p>TOTAL: {{object_list.count}}</p><br> #}

        <form action="." method="get">
              {% for field in filter.form  %}
              {% if field.name == "title__icontains"  %}
              {{field.label}}: {{field}}

              {% endif %}
              {% endfor %}

              <input class="btn btn-sm btn-primary" type="submit" />
              <a class="btn btn-sm btn-outline-primary" href="#" id="myBtn">More Filter Options</a>
              <a class="btn btn-sm btn-outline-primary" href="."> Clear Filter</a>



        <div class="dropdown float-right">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          New Ticket
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'tickets:create' %}">Blank</a>
          <a class="dropdown-item" href="{% url 'tickets:create' %}">Hardware</a>
        </div>
      </div>


         </form>


      {# </div> #}

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        {% include "dm_tickets/_filter_ticket.html" %}
      </div>
    </div>


    {# </div> #}
  {# </div> #}
  <script src="{% static "js/modal.js" %}"></script>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
	      <th scope="col" width='150px'>Date modified</th>
        <th scope="col" width='150px'>Section</th>
        <th scope="col" width='450px'>Title</th>
        <th scope="col" width='200px'>Request Type</th>
        <th scope="col" width='100px'>Status</th>
        <th scope="col" width='250px'>People</th>
        {# <th scope="col" width='200px'>Tags</th> #}
        <th scope="col" width='200px'>Service Desk #</th>

      </tr>
    </thead>

    <tbody>
      {% for ticket in object_list  %}
        <tr>
          <td>{{ticket.date_modified|naturaltime}}</td>
          <td>{{ticket.section}}</td>
          <td><a href="{% url 'tickets:detail' pk=ticket.id %}">{{ticket.title}}</a></td>
          <td>{{ticket.request_type}}</td>

          {% if ticket.status == '5' %}
          <td class="active">
          {% elif ticket.status == '2' %}
          <td class="resolved">
          {% elif ticket.status == '6' %}
          <td class="idle">
          {% elif ticket.status == '7' %}
          <td class="unresolved">
          {% endif %}
          {{ticket.get_status_display}}
          </td>

          <td>{{ticket.people_pretty|safe}}</td>
          {# <td>{{ticket.tags_pretty}}</td> #}
          <td>{{ticket.sd_ref_number|nz:""}}</td>


          {# <td>{{ticket.title}}</td> #}
          {# <td>{{ticket.description}}</td> #}
        </tr>
      {% endfor %}
      <br>

      </tbody>
    </table>
</div>

<script src="{% static "js/listCondFormating.js" %}"></script>


{% endblock content %}
