{% extends "dm_tickets/dm_tickets_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load custom_filters %}
{% block content %}

    <style>
    table,td{
        font-size: small;
    }
    </style>

    <div class="container">
        <br>
        <h1 class="text-center font-weight-bold ">
            Data Management Tickets
        </h1>
        <br><br>
        {# <p>TOTAL: {{object_list.count}}</p><br> #}


        <form class="form" action="." method="get" id="filter-form">
            <div class="row">

                {% for field in filter.form %}
                    {# {{field.label}}: &nbsp; {{field}}&nbsp;&nbsp; #}
                    <div class="col">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>

                {% endfor %}
                <div class="col">
                    <br>
                    <input type="submit" value="Filter" class="btn btn-warning btn-sm">

                </div>
            </div>
        </form>
        <br><br>

        <div class="row">
            <div class="col">
                (click on a header to sort table)
            </div>
            <div class="col" style="text-align: center">
                <em>displaying {{ filter.qs.count }} of {{ filter.qs.count }}</em>
            </div>
            <div class="col" style="text-align: right; padding-bottom: 10px">
                <a href="{% url 'tickets:create' %}" class="btn btn-sm btn-primary">New Ticket</a>
            </div>
        </div>
        <table class="table table-hover table-sm sortable">
            <thead>
            <tr>
                <th scope="col" width='150px'>Ticket Id</th>
                <th scope="col" width='150px'>Date modified</th>
                <th scope="col" width='150px'>Section</th>
                <th scope="col" width='450px'>Title</th>
                <th scope="col" width='200px'>Request Type</th>
                <th scope="col" width='100px'>Status</th>
                <th scope="col" width='250px'>People</th>
                {# <th scope="col" width='200px'>Tags</th> #}
                <th scope="col" width='200px'>Service Desk #</th>

            </tr>
            </thead>

            <tbody>
            {% for ticket in filter.qs %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.date_modified|naturaltime }}</td>
                    <td>{{ ticket.section }}</td>
                    <td><a href="{% url 'tickets:detail' pk=ticket.id %}">{{ ticket.title }}</a></td>
                    <td>{{ ticket.request_type }}</td>

                    {% if ticket.status == '5' %}
                        <td class="active1">
                            {% elif ticket.status == '2' %}
                        <td class="resolved">
                            {% elif ticket.status == '6' %}
                        <td class="idle">
                            {% elif ticket.status == '7' %}
                        <td class="unresolved">
                    {% endif %}
                    {{ ticket.get_status_display }}
                    </td>

                    <td>{{ ticket.people_pretty|safe }}</td>
                    {# <td>{{ticket.tags_pretty}}</td> #}
                    <td>{{ ticket.sd_ref_number|nz:"" }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/listCondFormating.js" %}"></script>


{% endblock content %}
