{% extends "dm_tickets/dm_tickets_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load nz %}
{% block content %}
<div class="container">
  <br>
        <h1 class="text-center font-weight-bold ">
          Regional Data Management Ticketing System (RDMTS)
        </h1>
        <br><br>
        {# <p>TOTAL: {{object_list.count}}</p><br> #}

        <form action="." method="get">
              {% for field in filter.form  %}
              {% if field.name == "title__icontains"  %}
              {{field.label}}: {{field}}

              {% endif %}
              {% endfor %}

              <input class="btn btn-sm btn-primary" type="submit" />
                <a href="#" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#more_filter_options">More Filter Options</a>



              <a class="btn btn-sm btn-outline-primary" href="."> Clear Filter</a>

        <a class="btn btn-warning float-right" href="{% url 'tickets:create' %}">New Ticket</a>





         </form>


      {# </div> #}


{#<!-- More Filter Options MODAL -->#}
        <div class="modal fade" id="more_filter_options" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Filter options </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  {% include "dm_tickets/_filter_ticket.html" %}

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


    {# </div> #}
  {# </div> #}

  <table class="table table-hover table-sm">
    <thead>
      <tr>
	      <th scope="col" width='150px'>Date modified</th>
        <th scope="col" width='150px'>Section</th>
        <th scope="col" width='450px'>Title</th>
        <th scope="col" width='200px'>Request Type</th>
        <th scope="col" width='100px'>Status</th>
        <th scope="col" width='250px'>People</th>
        {# <th scope="col" width='200px'>Tags</th> #}
        <th scope="col" width='200px'>Service Desk #</th>

      </tr>
    </thead>

    <tbody>
      {% for ticket in filter.qs  %}
        <tr>
          <td>{{ticket.date_modified|naturaltime}}</td>
          <td>{{ticket.section}}</td>
          <td><a href="{% url 'tickets:detail' pk=ticket.id %}">{{ticket.title}}</a></td>
          <td>{{ticket.request_type}}</td>

          {% if ticket.status == '5' %}
          <td class="active1">
          {% elif ticket.status == '2' %}
          <td class="resolved">
          {% elif ticket.status == '6' %}
          <td class="idle">
          {% elif ticket.status == '7' %}
          <td class="unresolved">
          {% endif %}
          {{ticket.get_status_display}}
          </td>

          <td>{{ticket.people_pretty|safe}}</td>
          {# <td>{{ticket.tags_pretty}}</td> #}
          <td>{{ticket.sd_ref_number|nz:""}}</td>


          {# <td>{{ticket.title}}</td> #}
          {# <td>{{ticket.description}}</td> #}
        </tr>
      {% endfor %}
      <br>

      </tbody>
    </table>
</div>

<script src="{% static "js/listCondFormating.js" %}"></script>


{% endblock content %}
