{% load divide %}
{% load percentage %}

<!-- The Modal -->
<!-- Modal content -->

<div id="myModal" class="modal">
  <div class="modal-content">
    <h3>Help Menu</h3>
    <br>
    <div class="row">
      <div class="col-6">
            <table class="table table-sm table-bordered">
              <thead>
                <th>Action</th>
                <th>Key</th>
              </thead>
              <tbody>
                <tr>
                  <td>Help Menu</td>
                  <td>Help</td>
                </tr>
                <tr>
                  <td>Exit Help Menu</td>
                  <td>Esc</td>
                </tr>
                <tr>
                  <td>Move to previous record</td>
                  <td>PageUp</td>
                </tr>
                <tr>
                  <td>Move to next record</td>
                  <td>PageDown</td>
                </tr>
                <tr>
                  <td>Back to sample detail page</td>
                  <td>Home</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

      <a href="#" class="closeBtn" id="closeBtn">Close (Esc)</a>
    </div>
  </div>
