{% load static %}
{% load verbose_names %}
{% load custom_filters %}

<style media="screen">
    .value {
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<h4>Sample Details:</h4>

<table class="table table-sm table-striped" style="font-size: small">
    {% for field in field_list %}
        {% verbose_td_display object field %}

    {% endfor %}


</table>


<div class="hidden" style="height: 0px;">
    <span class="mandatory">{{ object.get_type_display }}</span>
    <span class="mandatory">{{ object.sample_date }}</span>
    <span class="mandatory">{{ object.sampler }}</span>
    <span class="mandatory">{{ object.sampler_ref_number }}</span>
    <span class="mandatory">{{ object.total_fish_preserved }}</span>
    <span class="mandatory">{{ object.total_fish_measured }}</span>
</div>
