{% extends "herring/list.html" %}

{% load humanize %}

{% block table %}

  <table class="table table-sm">
    <thead>
    <th>Last modified</th>
    <th>Modified by</th>
    <th>Fish detail</th>
    <th>Sample</th>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ object.last_modified_date }} ({{ object.last_modified_date|naturaltime }})</td>
        <td>{{ object.last_modified_by.first_name }} {{ object.last_modified_by.last_name }}</td>
        <td><a href="{% url 'herring:fish_detail' object.id %}">{{ object }}</a></td>
        <td><a href="{% url 'herring:sample_detail' object.sample.id %}">{{ object.sample }}</a></td>
      </tr>

    {% endfor %}
    </tbody>
  </table>





{% endblock %}
