{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'tickets:bug_create' 'herring' %}{% endblock bug_create %}

{% block title %}HERmorrhage {% block subtitle %}{% endblock %}{% endblock title %}

{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}

{% block left_all %}
{% endblock left_all %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_auth %}
    <li class="nav-item"><a class="nav-link" href="{% url 'herring:index' %}">Home</a></li>

    {# Samples #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Samples
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'herring:sample_new' %}">New</a>
            <a class="dropdown-item" href="{% url 'herring:sample_list' %}">Search</a>
            {# <a class="dropdown-item" href="#">New Sea Sample</a> #}
        </div>
    </li>

    {# Reports #}
    <li class="nav-item"><a class="nav-link" href="{% url 'herring:report_search' %}">Reports</a></li>

    {% for group in user.groups.all %}
        {% if group.name == 'herring_admin' %}
            {# Admin #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Hermorrhage Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'herring:check_usage' %}">Check Usage</a>
                    <a class="dropdown-item" href="{% url 'herring:import' "sample" %}">Import Sample Data from Sedna</a>
                    <a class="dropdown-item" href="{% url 'herring:import' "lf" %}">Import LF Data from Sedna</a>
                    <a class="dropdown-item" href="{% url 'herring:import' "detail" %}">Import Fish Detail Data from Sedna</a>
                    <a class="dropdown-item" href="{% url 'herring:sampler_list' %}">Manage Samplers</a>
                </div>
            </li>
        {% endif %}
    {% endfor %}

{% endblock left_auth %}

{% block left_admin %}


{% endblock left_admin %}
