{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block bug_create %}{% url 'bugs:bug_create' 4 %}{% endblock bug_create %}
{% block bug_list_4_app %}
  <a class="dropdown-item" href="{% url 'bugs:bug_list_4_app' 4 %}">HERmorrhage Bugs</a>
{% endblock bug_list_4_app %}

{% block title %}HERmorrhage{% endblock title %}

{% block body %}
  {% block content %}{% endblock content %}
{% endblock body %}

{% block left_all %}
{% endblock left_all %}

{% block left_unauth %}
{% endblock left_unauth %}

{% block left_auth %}

  {# Samples #}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Fish Samples
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'herring:sample_list' %}">Find a sample</a>
      <a class="dropdown-item" href="{% url 'herring:port_sample_new' %}">New Port Sample</a>
      {# <a class="dropdown-item" href="#">New Sea Sample</a> #}
    </div>
  </li>

    {# Reports #}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reports
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'herring:progress_report_list' %}">Annual progress report</a>
      {# <a class="dropdown-item" href="#">New Sea Sample</a> #}
    </div>
  </li>





{% endblock left_auth %}

{% block left_admin %}{% endblock left_admin %}
