{% extends "herring/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block crumbs %}{% endblock %}
{% block title_area %}{% endblock %}

{% block subcontent %}

  <div class="jumbotron">

    <div class="float-left mr-5">
      <img src="{% static 'herring/Herman_Hermann.png' %}" alt="" width="200px">
    </div>
    <div class="">
      <div class="float-right">
        <img src="{% static "herring/herring.png" %}" width="300" alt="..." class="py-0">
      </div>
      <div class="mb-3">
        <h1 class="three-em">HERMAN</h1>
      </div>
      <br>
      <hr>
      <h3>Gulf Region's <b>He</b>rring and Gaspereau P<b>r</b>ogra<b>m</b> for D<b>a</b>ta E<b>n</b>try</h3>
      <br>
      <p>Welcome back, {{ user.first_name }}!</p>
    </div>
  </div>

  <div>
    <a href="{% url 'herring:sample_search' %}" class="btn btn-dark"><span class="mdi mdi-magnify text-light mr-1"></span>Find a Sample</a>
    <a href="{% url 'herring:sample_new' %}" class="btn btn-success"><span class="mdi mdi-plus text-light mr-1"></span>New Sample</a>
    <a href="{% url 'herring:sample_list' %}" class="btn btn-primary"><span class="mdi mdi-view-list text-light mr-1"></span>View All Samples</a>
  </div>



{% endblock %}

