{% extends "herring/herring_base.html" %}

{% load bootstrap4 %}
{% load verbose_names %}

{% block content %}
<div class="nav-map">
<br>
  <p>
    <a href="{% url 'herring:sample_list' %}">All Samples</a> >
    <a href="{% url 'herring:sample_detail' view.kwargs.sample %}">Sample {{view.kwargs.sample}}</a> >
    Confirmation before proceeding
  </p>
</div>

<div class="container" align='center'>
  <br>
  <h1>
    <u>
      WARNING:
    </u>
  </h1>
  <br>
  <h3>It seems the preserved fish for this sample have been fully processed.</h3><br>
  <h3>Are you certain you want to create a new entry?</h3><br>

  <a class="btn btn-lg btn-danger" href="{% url 'herring:lab_sample_primer' view.kwargs.sample %}">Yes, I want to continue with a new entry!</a>
  <a href="{% url 'herring:sample_detail' view.kwargs.sample %}" class="btn btn-lg btn-primary">Nevermind</a>

</div>
{%endblock content%}
