{% extends "herring/herring_base.html" %}

{% load bootstrap4 %}
{% load verbose_names %}

{% block content %}
<div class="nav-map">
<br>
  <p>
    <a href="{% url 'herring:sample_list' %}">All Samples</a> >
    Sample {{object.id}}</a>
  </p>
</div>

<div class="container">

  <h1>Port Sample {{object.id}}</h1>
  <br>
  <div class="btn-group">
    <a class="btn btn-warning" href="{% url 'herring:port_sample_edit' object.id %}">Edit</a>
    {% if object.length_frequencies.count > 0  %}
    <a class="btn btn-danger disabled" href="{% url 'herring:port_sample_delete' object.id %}">Delete</a>
    {% else %}
    <a class="btn btn-danger" href="{% url 'herring:port_sample_delete' object.id %}">Delete</a>
    {% endif %}
  </div>


  <div class='btn-group'>
    {% if object.length_frequencies.count > 0 %}
      <a class="btn btn-outline-primary" href="#" onclick="return popitup('{% url 'herring:lf_wizard_confirmation' object.id %}','popoutWindow0')">Re-enter Length Frequencies</a>
    {% else %}
      <a class="btn btn-outline-primary" href="#" onclick="return popitup('{% url 'herring:lf_wizard_setup' object.id %}','popoutWindow0')">Enter Length Frequencies</a>
    {% endif %}

    <a class="btn btn-outline-primary" href="{% url 'herring:lab_form' object.id %}">Enter Lab Detail</a>
  </div>

  <br><br>
  {% include "herring/_sample_detail.html" %}
<hr>
<br>
  <div class="row">
    <div class="col">
      {% include "herring/_sample_length_frequency.html" %}
    </div>
    <div class="col">
      {% include "herring/_sample_fish_detail.html" %}
    </div>
    <div class="col">
      {% include "herring/_sample_qc.html" %}
    </div>

  </div>

</div>
<script type="text/javascript">
  window.name = "portSampleDetail"
</script>
{% endblock content %}
