{% extends "herring/list.html" %}
{% load static %}
{% load custom_filters %}
{% block table_class %}
  {{ block.super }}
  sortable
{% endblock %}

{% block table_td %}

  {#  {% if "sample_date" in field.name %}#}
  {#    {{ object.sample_date|date:"F d, Y" }}#}

  {% if "date_processed" in field.name %}
    {{ object.fish_details.last.lab_processed_date|date:"Y-m-d"|nz:"---" }}
  {% elif "lab_complete" in field.name %}

    {% if object.lab_processing_complete %}
      <img src="{% static "/admin/img/icon-yes.svg" %}" alt="">
    {% else %}
      <img src="{% static "/admin/img/icon-no.svg" %}" alt="">
    {% endif %}
    ({{ object.lab_complete_fish.count }} of {{ object.total_fish_preserved|nz:0 }})

  {% elif "egg_complete" in field.name %}


    {% if object.total_egg_fish.exists %}
      {% if object.egg_processing_complete %}
        <img src="{% static "/admin/img/icon-yes.svg" %}" alt="">
      {% else %}
        <img src="{% static "/admin/img/icon-no.svg" %}" alt="">
      {% endif %}
      ({{ object.egg_complete_fish.count }} of {{ object.total_egg_fish.count }})
    {% endif %}


  {% elif "otoliths_complete" in field.name %}
    {% if object.otolith_processing_complete %}
      <img src="{% static "/admin/img/icon-yes.svg" %}" alt="">
    {% else %}
      <img src="{% static "/admin/img/icon-no.svg" %}" alt="">
    {% endif %}
    ({{ object.oto_complete_fish.count }} of {{ object.total_fish_preserved|nz:0 }})

  {% else %}
    {{ block.super }}
  {% endif %}


{% endblock %}
