{% extends "herring/herring_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load verbose_names %}
{% block content %}

    <style type="text/css">
        table {
            font-size: 0.85em;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'herring:index' %}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Sample List
            </li>

        </ol>
    </nav>

    <div class="container-fluid">

        <h1 class="big-header">Herring Samples </h1>
        <p>TOTAL: {{ object_list.count }}</p>
        <p>
        </p>

        <form class="form" action="." method="get">
            <div class="row">

                {% for field in filter.form %}
                    {# {{field.label}}: &nbsp; {{field}}&nbsp;&nbsp; #}
                    <div class="col">
                        {% bootstrap_field field placeholder="" %}
                    </div>

                {% endfor %}
                <div class="col">
                    <br>
                    <input type="submit" value="Filter" class="btn btn-warning">
                </div>
            </div>
        </form>

        <br>
        <div class="btn-group">
            <a href="{% url 'herring:sample_new' %}" class="btn btn-sm btn-outline-primary ">New Sample</a>
        </div>
        <br>
        <br>
        <table class="table table-hover table-sm sortable">
            <thead>
            {% for field in field_list %}
                <th class="{% if 'total' in field or 'ref' in field %}center-col{% endif %}">
                    {% if field == "sample_date" %}
                        Sample date<br>(yyyy-mm-dd)
                    {% else %}
                        {% get_verbose_label object_list.first field %}
                    {% endif %}
                </th>
            {% endfor %}


            <th scope="col" class="center-col"># Fish processed</th>
            <th scope="col">Date processed<br>(yyyy-mm-dd)</th>
            <th scope="col" class="center-col">Lab complete</th>
            <th scope="col" class="center-col">Otoliths complete</th>
            </thead>
            <tbody>
            {% for sample in filter.qs %}
                <tr>

                    {% for field in field_list %}
                        <td class="{% if 'total' in field or 'ref' in field %}center-col{% endif %}">
                            {% get_field_value sample field %}
                        </td>
                    {% endfor %}

                    <td class='center-col'>{{ sample.fish_details.count }}</td>
                    <td class=''>{{ sample.fish_details.last.lab_processed_date|date:"Y-m-d" }}</td>
                    <td class='center-col'>
                        {% if sample.lab_processing_complete %}
                            <img src="{% static "/admin/img/icon-yes.svg" %}" alt="">
                        {% else %}
                            <img src="{% static "/admin/img/icon-no.svg" %}" alt="">
                        {% endif %}
                    </td>
                    {##}
                    <td align='center'>
                        {% if sample.otolith_processing_complete %}
                            <img src="{% static "/admin/img/icon-yes.svg" %}" alt="">
                        {% else %}
                            <img src="{% static "/admin/img/icon-no.svg" %}" alt="">
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
