<div class="neighbours">
    <h3>Species observations:</h3>
</div>
<div class="neighbours">
    <a href={% url 'camp:species_obs_search' object.id %} class="btn btn-outline-primary">Add</a>
</div>
<br><br>
<table class="table table-bordered table-sm">
    <tr>
        <th rowspan="2">Species</th>
        <th colspan="4">Observations</th>
    </tr>
    <tr>
        <th>Adults</th>
        <th>YOY</th>
        <th>Other</th>
        <th>TOTAL</th>

    </tr>
    <tbody>
    {% for obj in sample.sample_spp.all %}
        {% if obj.species.sav %}
            <tr>
                <td>{{ obj.species }}</td>
                <td>{{ obj.unknown|nz:"--" }}</td>
                <td><b>{{ obj.total_non_sav|nz:"--" }}</b></td>
                <td>
                    <a href="#"
                       onclick="return popitup('{% url 'camp:species_obs_edit' obj.id %}','popoutWindow')">
                        <img src="{% static "/admin/img/icon-changelink.svg" %}" data-toggle="tooltip"
                             title="Edit">
                    </a>
                </td>
                <td>
                    <a class="delete-me" href="#" val="{{ obj.id }}">
                        <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                             title="Delete">
                    </a>
                    <a id="secrect-delete-btn-{{ obj.id }}"
                       href="{% url 'camp:species_obs_delete' obj.id "detail" %}" class="hidden"></a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<b>Total species count: {{ non_sav_count }}</b>


<div class="">
    <h3>SAV observations:</h3>
</div>

<br><br>
<table class="table table-bordered table-sm">
    <thead>
        <th>Species</th>
        <th>Category / Level</th>
    </thead>
    <tbody>
    {% for obj in sample.sample_spp.all %}
        {% if obj.species.sav %}
            <tr>
                <td>{{ obj.species }}</td>
                <td>{{ obj.total_sav|nz:"--" }}</td>
                <td>
                    <a href="#"
                       onclick="return popitup('{% url 'camp:species_obs_edit' obj.id %}','popoutWindow')">
                        <img src="{% static "/admin/img/icon-changelink.svg" %}" data-toggle="tooltip"
                             title="Edit">
                    </a>
                </td>
                <td>
                    <a class="delete-me" href="#" val="{{ obj.id }}">
                        <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                             title="Delete">
                    </a>
                    <a id="secrect-delete-btn-{{ obj.id }}"
                       href="{% url 'camp:species_obs_delete' obj.id "detail" %}" class="hidden"></a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<b>Total species count: {{ sav_count }}</b>
