{% extends "easy_pdf/base.html" %}
{% load static %}

{% block content %}

    <div class="nav-map">
        <br>
        <a href="{% url 'camp:report_search' %}"> Back </a>
    </div>

{#    <div style="text-align: center;">#}
{#        <h1>{{ species }}: Species Count by Year</h1>#}
{#    </div>#}

{#    <div class="" align="center" >#}
{#        {% include "camp/temp/pie_chart.html" %}#}
{#        {% include "camp/temp/species_richness.html" %}#}
{#        {% include "camp/temp/do.html" %}#}
{#        {% include "camp/temp/green_crab.html" %}#}
{#    </div>#}
Test 123
     <div class="" align="center" >
     <img src="{% static "/img/camp/mummi_red.png" %}" class="rounded" width="20%" alt="...">
         <img src="camp/temp/pie_chart.png" alt="">
         <img src="camp/temp/species_richness.png" alt="">
         <img src="camp/temp/do.png" alt="">
         <img src="camp/temp/green_crab.png" alt="">
    </div>

    <script>
        $("form").submit(function () {
            $("#submit").val("Searching...")
            $("#submit").addClass("disabled")
        })

    </script>

{% endblock content %}
