{% extends "inventory/resource_detail/section_template.html" %}

{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block wd %} w-75 {% endblock %}

{% block mdi_class %}mdi-key{% endblock %}
{% block btn_href_arg %}href{% endblock %}
{% block section_title %}
  {% trans "Keywords etc." %}
{% endblock %}

{% block optional_btn_url %}
  {% url 'inventory:resource_keyword_edit' object.id %}
{% endblock %}

{% block section_table_header_rows %}
  <th class="w-20">{% trans "Domain" %}</th>
  <th class="">{% trans "Keywords" %}</th>

{% endblock %}

{% block section_table %}
  {% if not object.keywords.exists %}
    <em>{% trans "No data resources have been added to this record." %}</em>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block section_table_body_rows %}
  <tr>
    <td>
      ISO Topic Categories
    </td>
    <td>
      {% for item in object.keywords.all %}
        {% if item.keyword_domain.id == 8 %}
          <a href="{% url 'inventory:keyword_detail' object.id item.id %}">
            {{ item }}
          </a>
          <a href="{% url 'inventory:resource_keyword_delete' resource.id item.id %}" class="red-font">&times;</a>, &nbsp;
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>
      GC Core Subjects
    </td>
    <td>
      {% for item in object.keywords.all %}
        {% if item.keyword_domain.id == 6 %}
          <a href="{% url 'inventory:keyword_detail' object.id item.id %}">
            {{ item }}
          </a>
          <a href="{% url 'inventory:resource_keyword_delete' resource.id item.id %}" class="red-font">&times;</a>, &nbsp;
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>
      Taxonomic
    </td>
    <td>
      {% for item in object.keywords.all %}
        {% if item.is_taxonomic %}
          <a href="{% url 'inventory:keyword_detail' object.id item.id %}">
            <em>{{ item }} ({{ item.keyword_domain.abbrev }})</em>
          </a>
          <a href="{% url 'inventory:resource_keyword_delete' resource.id item.id %}" class="red-font">&times;</a>, &nbsp;
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>
      DFO Area
    </td>
    <td>
      {% for item in object.keywords.all %}
        {% if item.keyword_domain.id == 7 %}
          <a href="{% url 'inventory:keyword_detail' object.id item.id %}">
            {{ item }}
          </a>
          <a href="{% url 'inventory:resource_keyword_delete' resource.id item.id %}" class="red-font">&times;</a>, &nbsp;
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>
      Other
    </td>
    <td>
      {% for item in object.keywords.all %}
        {% if item.is_taxonomic == False and item.keyword_domain.id != 6 and item.keyword_domain.id != 8 and item.keyword_domain.id != 7 %}
          <a href="{% url 'inventory:keyword_detail' object.id item.id %}">
            {{ item }} ({{ item.keyword_domain.abbrev }})
          </a>
          <a href="{% url 'inventory:resource_keyword_delete' resource.id item.id %}" class="red-font">&times;</a>, &nbsp;
        {% endif %}
      {% endfor %}
    </td>
  </tr>
{% endblock %}

