{% load static %}

<ul>
    {% if object.data_resources.count == 0 %}
        <em>Nothing added.</em>
    {% else %}
        {% for item in object.data_resources.all %}
            <li>
                <a href="#" pop-href="{% url 'inventory:data_resource_edit' item.id %}">
                    {{ item }}
                </a>
                <br>
                (<a href="{{ item.url }}" target="_blank">visit URL</a>)
                <a href="{% url 'inventory:data_resource_clone' item.id %}"><span class="mdi mdi-content-copy"></span></a>
                <a href="#" pop-href="{% url 'inventory:data_resource_delete' item.id %}"class="red-font">&times;</a>
            </li>
        {% endfor %}
    {% endif %}


</ul>