{% load static %}

<br>
<ul>
    {% if object.web_services.count == 0 %}
        <em>Nothing added.</em>
    {% else %}
        {% for item in object.web_services.all %}
            <li>
                <a href="{% url 'inventory:web_service_edit' item.id %}">
                    {{ item.content_type }} ({{ item.get_service_language_display }})
                </a>
                <br>
                (<a href="{{ item.url }}" target="_blank">visit URL</a>)
                <a href="{% url 'inventory:web_service_delete' item.id %}">
                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                         title="delete">
                </a>
                <a href="{% url 'inventory:web_service_clone' item.id %}">
                    <img src="{% static "/img/iconfinder_copy_172587.svg" %}" data-toggle="tooltip"
                         title="duplicate" width="15px">
                </a>
            </li>
        {% endfor %}
    {% endif %}


</ul>
