
.container-fluid, .container {
    /*margin-top: 15px;*/
    padding: 15px;
    font-size: small;
}

.crumbs {
    background-color: rgba(255, 255, 255, 0);

}

.curvy {
    border-radius: 10px;
}

.label {
    font-weight: bold;
}

table, td {
    font-size: small;
}

.saved-borders > thead > tr > th, .saved-borders > tbody > tr > td {
    border: green 1px solid;
    font-size: 12px;
}


.my-table > thead > tr > th, .my-table > tbody > tr > td {
    padding: 3px;
}

.table-small-12 > thead > tr > th, .table-small-12 > tbody > tr > td, .table-small-12 > tbody > tr > td > input, .table-small-12 > tbody > tr > td > select {
    font-size: 12px;
}


.table-small-10 > thead > tr > th, .table-small-10 > tbody > tr > td, .table-small-10 > tbody > tr > td > input, .table-small-10 > tbody > tr > td > select {
    font-size: 10px;
}

.unsaved-borders > thead > tr > th, .unsaved-borders > tbody > tr > td {
    border: red 1px solid;
}

.no-borders {
    border: 0;
    width: 100%;
}


h1 {
    font-size: 60px;
}

.small-btn-text {
    font-size: 11px;
}


.toolbar {
    background-color: #dfd2f6;
    border: #4c4c4c 1px solid;
    border-radius: 10px;
}

.toolbar2 {
    background-color: #e3e0e3;
    border-radius: 10px;
    border: #4c4c4c 1px solid;
}

.vgroup {
    width: 100%;
    margin-bottom: 25px;
}

.custom-btn {
    text-align: left;
}

.icon {
    padding-right: 5px;
}

.narrow-col {
    width: 30%
}

.draft {
    background-color: #fff396;
}

.submitted {
    background-color: #ffda84;
}

.reviewed {
    background-color: #a2c4fa;
}

.edit {
    background-color: #d3f8da;
}

.cancelled {
    background-color: #c1c1c1;
}

.not-approved {
    background-color: #ff9191;
}


.to-the-right {
    width: 125px;

}

.w50 {
    width: 50px;
}

.w75 {
    width: 75px;
}

.w85 {
    width: 85px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}


.w300 {
    width: 300px;
}

.clickable {
    cursor: pointer;
}

.filter {
    font-size: small;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

label.filter {
    margin-right: 5px;
}

.form-control {
    font-size: small;
}

/*For side bar  https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp */
/* The sidebar menu */
@media screen {
    .sidebar {
        height: 100%; /* 100% Full-height */
        width: 300px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }


    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s; /* If you want a transition effect */
        margin-left: 300px; /* If you want a transition effect */
        padding: 20px;
    }
}

.high {
    background-color: pink;
}

.uncertain {
    background-color: yellow;
}

.certain {
    background-color: greenyellow;
}

.bg-light-green {
    background-color: #ddfabe;
}

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*  .sidebar {padding-top: 15px;}*/
/*}*/

.shadowbox {
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.95);
}


.no-borders {
    border: 0;
    width: 100%;
}

/*.no-borders:focus {*/
/*    outline: none;*/
/*}*/

.saved-borders > thead > tr > th, .saved-borders > tbody > tr > td {
    border: green 1px solid;
}

.unsaved-borders > thead > tr > th, .unsaved-borders > tbody > tr > td {
    border: red 1px solid;
}


.info-card {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 253, 253, .85);
    transition: 0.3s;
    margin: 10px;
    border-radius: 10px;
}



/*
 * Style for modals
 */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 113, 148, 0.5);
    display: table;
    transition: opacity .5s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 1100px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .5s ease;
    /*font-family: Helvetica, Arial, sans-serif;*/
    overflow-y: auto;
    max-height: calc(100vh - 210px);
}

.modal-header h3 {
    margin-top: 0;
}

.modal-body {
    margin: 20px 0;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
