
.container-fluid, .container {
    /*margin-top: 15px;*/
    padding: 15px;
    font-size: small;
}

.crumbs {
    background-color: rgba(255, 255, 255, 0);

}

.curvy {
    border-radius: 10px;
}

.label {
    font-weight: bold;
}

table, td {
    font-size: small;
}


h1 {
    font-size: 60px;
}

.small-btn-text {
    font-size: 11px;
}


.toolbar {
    background-color: #dfd2f6;
    border: #4c4c4c 1px solid;
    border-radius: 10px;
}

.toolbar2 {
    background-color: #e3e0e3;
    border-radius: 10px;
    border: #4c4c4c 1px solid;
}

.vgroup {
    width: 100%;
    margin-bottom: 25px;
}

.custom-btn {
    text-align: left;
}

.icon {
    padding-right: 5px;
}

.narrow-col {
    width: 30%
}


.draft, .preparation, .initiation {
    background-color: #ffff9d;
}

.submitted, .on {
    background-color: #009fdb;
    color: white;
}

.finalization, .tentative, .ready-for-review {
    background-color: #e3aefa;
}

.in-progress, .review, .under-review {
    color: white;
    background-color: #4c6fc6;
}

.unapproved, .deferred, .delayed {
    color: white;
    background-color: #e94a65;
}

.accepted, .approved, .posted, .ok, .complete, .final {
    background-color: #d5faae;
}

.withdrawn {
    background-color: #cacaca;
}

.fulfilled {
    background-color: #87ff76;
}

.deferred {
    background-color: #854747;
    color: white;
}

.to-the-right {
    width: 125px;

}

.w25 {
    width: 50px;
}

.w50 {
    width: 50px;
}

.w75 {
    width: 75px;
}

.w85 {
    width: 85px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w125 {
    width: 150px;
}
.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}


.w300 {
    width: 300px;
}

.w400 {
    width: 300px;
}

.pointy {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.filter {
    font-size: small;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

label.filter {
    margin-right: 5px;
}

.form-control {
    font-size: small;
}


.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/*For side bar  https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp */
/* The sidebar menu */
@media screen {
    .sidebar-opened {
        height: 100%; /* 100% Full-height */
        width: 500px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        right: 0;
        overflow-y: auto;
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
        background-color: #eeeeee;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.95);
    }

    .sidebar-closed {
        height: 100%; /* 100% Full-height */
        width: 50px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        right: 0;
        /*overflow-x: hidden; !* Disable horizontal scroll *!*/
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
        background-color: #eeeeee;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.95);
    }

    /*!* Style page content - use this if you want to push the page content to the right when you open the side navigation *!*/
    /*.main-opened {*/
    /*    transition: margin-left .5s; !* If you want a transition effect *!*/
    /*    margin-left: 225px; !* If you want a transition effect *!*/
    /*    padding: 20px;*/
    /*}*/
    /*.main-closed {*/
    /*    transition: margin-left .5s; !* If you want a transition effect *!*/
    /*    margin-left: 20px; !* If you want a transition effect *!*/
    /*    padding: 20px;*/
    /*}*/

}


/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*  .sidebar {padding-top: 15px;}*/
/*}*/

.shadowbox {
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.95);
}


.no-borders {
    border: 0;
    width: 100%;
}

/*.no-borders:focus {*/
/*    outline: none;*/
/*}*/

.saved-borders > thead > tr > th, .saved-borders > tbody > tr > td {
    border: green 1px solid;
}

.unsaved-borders > thead > tr > th, .unsaved-borders > tbody > tr > td {
    border: red 1px solid;
}

.btn-primary {
    background-color: #0d47a1;
}

.btn-success {
    background-color: #08830d;
}

.btn-purple {
    background-color: #b64aff;
    color: white;
}

/*
 * Style for modals
 */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 113, 148, 0.5);
    display: table;
    transition: opacity .5s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 1100px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .5s ease;
    /*font-family: Helvetica, Arial, sans-serif;*/
    overflow-y: auto;
    max-height: calc(100vh - 210px);
}

.modal-header h3 {
    margin-top: 0;
}

.modal-body {
    margin: 20px 0;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.admin-panel {
    background-color: #e7e6e6;
    border: 1px black solid;
    box-shadow: 0 4px 8px 0 rgba(93, 93, 93, 0.95);

}

.tabby {
    border-top: #868484 1px solid;
    border-left: #868484 1px solid;
    border-right: #868484 1px solid;

}


.tracking-card {
    background-color: #e7e6e6;
    margin-top: 15px;
    margin-bottom: 15px;
    border: #868484 1px solid;

}

.dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}

.strike {
    text-decoration: line-through;
    color: #8f8f8f;
}

.notepad {
    width: 100%;
    min-height: 200px;
    background-color: #fffff1;
    box-shadow: 0 4px 8px 0 rgba(93, 93, 93, 0.95);

}