{% extends "oceanography/oceanography_base.html" %}
{% load static %}
{% load custom_filters %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load i18n %}

{% block content %}



    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'cruises:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Cruise List
            </li>

        </ol>
    </nav>

    <div class="container-fluid">

        <h1 class="big-header">Cruise List </h1>
        <p>TOTAL: {{ object_list.count }}</p>


        <form class="form" action="." method="get">
            <div class="row">
                {% for field in filter.form %}
                    <div class="col">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>
                {% endfor %}
                <div class="col-3">
                    <br>
                    <input type="submit" value="Filter" class="btn btn btn-warning">
                </div>

            </div>


        </form>


        <div class="row">
            <div class="col">
                {% trans "(click on a header to sort table)" %}
            </div>
            <div class="col" style="text-align: center">
                <em>displaying {{ filter.qs.count }} of {{ object_list.count }}</em>
            </div>
            <div class="col" style="text-align: right; padding-bottom: 10px">
                <a href="{% url 'cruises:mission_new' %}" class="btn btn-sm btn-primary">New</a>
            </div>
        </div>
        <table class="table table-sm table-hover sortable">
            <thead>
            <tr>
                {% for field in field_list %}
                    <th scope="col">{% get_verbose_label my_object field %}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for object in filter.qs %}
                {% url 'cruises:mission_detail' object.id as my_url %}
                <tr href="{{ my_url }}">

                    {% for field in field_list %}
                        {% if "scientific" in field %}
                            {% get_field_value object field as my_key %}
                            <td>
                                <em>{% get_field_value object field nullmark="" %}</em>
                            </td>
                        {% else %}
                            <td>{% get_field_value object field nullmark="" %}</td>
                        {% endif %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>



    {#    <nav aria-label="breadcrumb">#}
    {#        <ol class="breadcrumb">#}
    {#            <li class="breadcrumb-item"><a href="{% url 'cruises:index' %}">Home</a></li>#}
    {#            <li class="breadcrumb-item"><a href="{% url 'cruises:mission_year_list' %}">Year Selection</a></li>#}
    {#            <li class="breadcrumb-item active" aria-current="page">Missions</li>#}
    {#        </ol>#}
    {#    </nav>#}
    {#    <div class="container-fluid">#}
    {#    <h1>Missions</h1>#}
    {#    <br><br>#}
    {# <h2>Please select from the following:</h2> #}
    {#    <div class="row">#}
    {#        <div class="col">#}
    {#            (click on a header to sort table)#}
    {#        </div>#}
    {#        <div class="col" style="text-align: center">#}
    {#            <em>displaying all {{ object_list.count }} records</em>#}
    {#        </div>#}
    {#        <div class="col" style="text-align: right; padding-bottom: 10px">#}
    {#            <a href="{% url 'cruises:mission_new' view.kwargs.year %}" class="btn btn-sm btn-primary">New</a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <table class="table table-hover table-sm sortable">#}
    {#        <thead>#}
    {#        <th scope="col">Mission number</th>#}
    {#        <th scope="col">Institute</th>#}
    {#        <th scope="col">MEDS ID</th>#}
    {#        <th scope="col">Mission name</th>#}
    {#        <th scope="col">Chief scientist</th>#}
    {#        <th scope="col">Number of CTD profiles</th>#}
    {#        <th scope="col">Number of bottles</th>#}
    {#        </thead>#}
    {#        <tbody>#}
    {##}
    {#        {% for m in object_list %}#}
    {#            <tr href="{% url "cruises:mission_detail" m.id %}">#}
    {#                <td><a>{{ m.mission_number }}</a></td>#}
    {#                <td>{{ m.institute.abbrev }}</td>#}
    {#                <td>{{ m.meds_id|nz:"" }}</td>#}
    {#                <td>{{ m.mission_name }}</td>#}
    {#                <td>{{ m.chief_scientist }}</td>#}
    {#                <td>{{ m.number_of_profiles }}</td>#}
    {#                <td>{{ m.bottles.count }}</td>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {##}
    {##}
    {#        </tbody>#}
    {#    </table>#}


{% endblock content %}
