{% load bootstrap4 %}


<h3>Metadata:</h3>
{# Metadata fields #}
{% for field in form %}
    {% if "metadata" in field.field.widget.attrs.class %}
        {% bootstrap_field field layout='horizontal' placeholder="" size='small' %}
    {% endif %}
{% endfor %}
<br>
<h3>Measurements:</h3>
<table class="table">
    <thead>
    {% for field in form %}
        {% if not "metadata" in field.field.widget.attrs.class %}
            {% if not field.name == "sample" %}
                <th>{{ field.label }}</th>
            {% endif %}
        {% endif %}
    {% endfor %}
    </thead>
    <tbody>
    {% for field in form %}
        {% if not "metadata" in field.field.widget.attrs.class %}
            {% if not field.name == "sample" %}
                <td>  {% bootstrap_field field show_label=False placeholder="" size="small" %}</td>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for field in form %}
        {% if field.name == "sample" %}
            <td>  {% bootstrap_field field show_label=False placeholder="" size="small" %}</td>
        {% endif %}
    {% endfor %}

    </tbody>
</table>
