{#  PROBE DATA #}
{% load static %}
{% load custom_filters %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_tags %}

<div class="my-form mb-4">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-7">
                    <label for="species">What species would you like to report from this trap? (enter any part of name)</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="col-2">
                <br>
                <input type="submit" value="Add" id="submit" class="btn btn-sm btn-success">
            </div>
        </div>
    </form>
</div>

<div class="mb-4">
    {% if not object.get_invasive_crabs.count %}
        {% echo "disabled" as my_disabled_var_1 %}
    {% endif %}
    <div class="float-right">
        <a href="{% url 'grais:manage_catch' object.id "invasive" %}" class="btn btn-sm btn-primary {{ my_disabled_var_1 }}">Tabular Edit</a>
    </div>

    <h4>
        <b style="padding-right: 1.1em">Invasive Crabs ({{ object.get_invasive_crabs.count }})</b>
    </h4>
    {% if object.get_invasive_crabs.count == 0 %}
        <em>No invasive crab observations have been logged.</em>
    {% else %}
        <table class="table table-hover table-sm">
            <thead>
            {% for field in crab_field_list %}
                <th>{% get_verbose_label random_catch_object field %}</th>

            {% endfor %}
            </thead>
            <tbody>
            {% for obj in object.get_invasive_crabs.all %}
                <tr href="{% url 'grais:catch_edit' obj.id %}" pop>
                    {% for field in crab_field_list %}
                        <td>{% get_field_value obj field safe=True %}</td>
                    {% endfor %}
                    <td>
                        <a class="catch-delete-me" href="#" val="{{ obj.id }}">
                            <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
                        </a>
                        <a id="secrect-catch-delete-btn-{{ obj.id }}" href="{% url 'grais:catch_delete' obj.id %}" class="hidden"></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

</div>
<div class="mb-4">
    {% if not object.get_noninvasive_crabs.count %}
        {% echo "disabled" as my_disabled_var_2 %}
    {% endif %}
    <div class="float-right">
        <a href="{% url 'grais:manage_catch' object.id "noninvasive" %}" class="btn btn-sm btn-primary {{ my_disabled_var_2 }}">Tabular Edit</a>
    </div>
    <h4>
        <b style="padding-right: 1.1em">Non-invasive Crabs ({{ object.get_noninvasive_crabs.count }})</b>
    </h4>
    {% if object.get_noninvasive_crabs.count == 0 %}
        <em>No non-invasive crab observations have been logged.</em>
    {% else %}
        <table class="table table-hover table-sm">
            <thead>
            {% for field in crab_field_list %}
                <th>{% get_verbose_label random_catch_object field %}</th>

            {% endfor %}
            </thead>
            <tbody>
            {% for obj in object.get_noninvasive_crabs.all %}
                <tr href="{% url 'grais:catch_edit' obj.id %}" pop>
                    {% for field in crab_field_list %}
                        <td>{% get_field_value obj field safe=True %}</td>
                    {% endfor %}
                    <td>
                        <a class="catch-delete-me" href="#" val="{{ obj.id }}">
                            <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
                        </a>
                        <a id="secrect-catch-delete-btn-{{ obj.id }}" href="{% url 'grais:catch_delete' obj.id %}" class="hidden"></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
</div>
<div class="mb-4">
    {% if not object.get_bycatch.count %}
        {% echo "disabled" as my_disabled_var_3 %}
    {% endif %}
    <div class="float-right">
        <a href="{% url 'grais:manage_catch' object.id "bycatch" %}" class="btn btn-sm btn-primary {{ my_disabled_var_3 }}">Tabular Edit</a>
    </div>
    <h4>
        <b style="padding-right: 1.1em">Bycatch ({{ object.get_bycatch.count }})</b>
    </h4>
    {% if object.get_bycatch.count == 0 %}
        <em>No bycatch observations have been logged.</em>
    {% else %}
        <table class="table table-hover table-sm" style="width: 50%">
            <thead>
            {% for field in bycatch_field_list %}
                <th>{% get_verbose_label random_catch_object field %}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for obj in object.get_bycatch.all %}
                <tr href="{% url 'grais:catch_edit' obj.id %}" pop>
                    {% for field in bycatch_field_list %}
                        <td>{% get_field_value obj field safe=True %}</td>
                    {% endfor %}
                    <td>
                        <a class="catch-delete-me" href="#" val="{{ obj.id }}">
                            <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="Delete">
                        </a>
                        <a id="secrect-catch-delete-btn-{{ obj.id }}" href="{% url 'grais:catch_delete' obj.id %}" class="hidden"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>


<br><br>

<script type="application/javascript">
        $(".catch-delete-me").click(function (e) {
            e.stopImmediatePropagation()
            var objectId = $(this)[0].getAttribute("val");

            var userInput = "";
            while (userInput !== "n" && userInput !== "y") {
                userInput = prompt("Are you sure you want to delete this species? \n\n Please respond with 'y' for yes and 'n' for no.").toLocaleLowerCase();

            }
            if (userInput === "y") {
                document.location.href = $("#secrect-catch-delete-btn-" + objectId)[0].getAttribute('href');
            }
        });
</script>