{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

{# A script to refresh the parent window; to be called in when the buttons are pushed #}
<script>
window.resizeTo(width=500, height=600);

window.onunload = refreshParent;
function refreshParent() {
  window.opener.location.reload();
}
</script>

<div class="container">
{% if object %}
  <h1>Edit Note</h1>
{% else %}
  <h1>New Note</h1>
{% endif %}

  <form method="post" class="form" >
      {% csrf_token %}

      {% bootstrap_form form %}

      {% buttons %}
          <button type="submit" class="btn btn-primary" onclick="refreshParent()">Submit</button>
          <a class="btn btn-secondary" onclick="refreshParent(); window.close()" href="#">Cancel</a>
      {% endbuttons %}
  </form>
</div>
{% endblock content %}
