{% extends "grais/grais_base.html" %}
{% load static %}
{% load verbose_names %}

{% block header %}
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

        .label {
            font-weight: bold;
        }

    </style>

{% endblock header %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'grais:index' %}"> Home </a></li>
            <li class="breadcrumb-item"><a href="{% url 'grais:gcsample_list' %}"> All green crab samples </a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <div class="indent-med">

        <h1 class="neighbours" style="padding-right: 1.1em">{{ object }}</h1>
        <div class="btn-group">
            <a class="btn btn-warning" href="{% url 'grais:gcsample_edit' object.id %}">Edit</a>
            {% if object.traps.count > 0 %}
                <a class="btn btn-danger disabled" href="{% url 'grais:gcsample_delete' object.id %}">Delete</a>
            {% else %}
                <a class="btn btn-danger" href="{% url 'grais:gcsample_delete' object.id %}">Delete</a>
            {% endif %}
        </div>

        <br><br>
        <div class="row">
            <div class="col-2">
                {# Detail about the sample #}
                {% for field in field_list %}
                    {% verbose_field_display object field %}
                {% endfor %}
            </div>

            <div class="col-6">
                <div id="map">
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                {% include "grais/_gcprobes.html" %}
            </div>
            <div class="col">
                {% include "grais/_traps.html" %}
            </div>

        </div>
    </div>

        <script>
            function initialize() {
                var locations = [
                    {% if object.site.latitude_n and object.site.longitude_w %}
                        ['<a href="{% url 'grais:site_detail' object.site.id %}">Site {{object.site.id}}</a>', {{object.site.latitude_n}}, {{object.site.longitude_w}}, '{% static "/img/grais/blue_MarkerS.png" %}'],
                    {% endif %}

                    {% for trap in object.traps.all %}
                        {% if trap.latitude_n and trap.longitude_w %}
                            ['<a href="{% url 'grais:trap_detail' trap.id %}"> {{trap}}</a>', {{trap.latitude_n}}, {{trap.longitude_w}}, '{% static "img/grais/crab_small.png" %}'],
                        {% endif %}
                    {% endfor %}
                ];
                console.log(locations)
                window.map = new google.maps.Map(document.getElementById('map'), {
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                });

                var infowindow = new google.maps.InfoWindow();

                var bounds = new google.maps.LatLngBounds();

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map,
                        icon: locations[i][3]
                    });

                    bounds.extend(marker.position);

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

                map.fitBounds(bounds);

                // var listener = google.maps.event.addListener(map, "idle", function () {
                //     map.setZoom(10);
                //     google.maps.event.removeListener(listener);
                // });
            }

            function loadScript() {
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = "https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initialize";
                document.body.appendChild(script);
            }

            window.onload = loadScript();

        </script>

    {#    {% include "grais/_sample_modals.html" %}#}





{% endblock content %}
