{% extends "grais/grais_base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}

    <style>
        .ms-container {
            width: 100%;
        }

        label {
            font-weight: bold;
        }
    </style>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'grais:index' %}"> Home </a></li>
            <li class="breadcrumb-item"><a href="{% url 'grais:gcsample_list' %}"> Green Crab Samples </a></li>
            {% if object %}
                <li class="breadcrumb-item"><a href="{% url 'grais:gcsample_detail' object.id %}"> {{ object }} </a></li>
                <li class="breadcrumb-item active" aria-current="page"> Edit</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">New</li>
            {% endif %}

        </ol>
    </nav>

    <div class="container">
        <h1>
            {% if object.id %}
                {{ object }}
            {% else %}
                New Sample
            {% endif %}
        </h1>

        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'samplers' %}
                    {% bootstrap_field field %}
                    <div style="font-size: 0.9em; padding-bottom: 1.2em">
                        Sampler not in list? Click <b><a href="{% url 'grais:person_create' %}" id="insertDate"
                                                         target="_blank"> here</a></b> to insert a new one.
                    </div>

                {% else %}
                    {% bootstrap_field field %}
                {% endif %}
            {% endfor %}
            <p>
                <button type="submit" class="btn btn-primary">Submit</button>
                {% if object.id %}
                    <a class="btn btn-secondary" href="{% url 'grais:gcsample_detail' object.id %}">Cancel</a>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'grais:gcsample_list' %}">Cancel</a>
                {% endif %}
            </p>
        </form>
    </div>

{% endblock content %}
