{% extends "grais/grais_base.html" %}
{% load bootstrap4 %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'grais:index' %}"> Home </a></li>
            <li class="breadcrumb-item"><a href="{% url 'grais:sample_list' %}"> All samples </a></li>
            <li class="breadcrumb-item"><a href="{% url 'grais:sample_detail' object.sample.id %}"> {{ object.sample }} </a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>


    <br>
    <div class="container">
        <div class="btn-group">
            <a class="btn btn-warning" href="{% url 'grais:probe_measurement_edit' object.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'grais:probe_measurement_delete' object.id %}">Delete</a>
        </div>
        <br><br>

        <fieldset disabled>
            {% include "grais/_probe_measurement_form.html" %}
        </fieldset>

        {#  <p>#}
        {#    <b>Last modified by:</b><br>#}
        {#    {% if object.last_modified_by %}#}
        {#    {{object.last_modified_by}}#}
        {#    {% else %}#}
        {#    n/a#}
        {#    {% endif %}#}
        {#  </p>#}


    </div>

{% endblock content %}
