{% extends "grais/grais_base.html" %}
{% load static %}

{% block content %}
    <div class="container">

        <h1 class="big-header">AIS Incidental Reports </h1>
        <p>TOTAL: {{ object_list.count }}</p>
        <p>
        </p>

        <form class="form" action="." method="get">
            {% for field in filter.form %}
                {{ field.label }}: &nbsp; {{ field }}&nbsp;&nbsp;
            {% endfor %}
            <input type="submit" value="Filter" class="btn btn btn-warning">
            <a href="{% url 'grais:report_new' %}" class="btn btn btn-success ">New Report</a>
        </form>

        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Report date</th>
                <th scope="col">Source</th>
                <th scope="col">Species</th>
                <th scope="col">Follow-ups</th>

            </tr>
            </thead>
            <tbody>
            {% for obj in filter.qs %}
                <tr>
                    <td><a href="{% url 'grais:report_detail' obj.id %}">{{ obj.report_date|date:"F m, Y" }}</a></td>
                    <td>{{ obj.get_report_source_display }}</td>
                    <td>
                        {% for sp in obj.species.all %}
                            {{ sp }},
                        {% empty %}
                            ---
                        {% endfor %}

                    </td>
                    <td>None</td>
                </tr>
            {% endfor %}
            <br>

            </tbody>
        </table>


    </div>

{% endblock content %}
