{% extends "grais/grais_base.html" %}

{% load bootstrap4 %}
{% load static %}


{% block header %}
    <link rel="stylesheet" href="{% static 'lou-multi-select-e052211/css/multi-select.css' %}" media="screen"
          type="text/css">
{% endblock %}


{% block content %}

    <style>
        .ms-container {
            width: 100%;
        }

        label {
            font-weight: bold;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'grais:index' %}"> Home </a></li>
            <li class="breadcrumb-item"><a href="{% url 'grais:sample_list' %}"> All samples </a></li>
            {% if object.id %}
                <li class="breadcrumb-item"><a href="{% url 'grais:sample_detail' object.id %}"> {{ object }} </a></li>
                <li class="breadcrumb-item active" aria-current="page"> Edit</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">New</li>
            {% endif %}

        </ol>
    </nav>


    <div class="container">

        {% load static %}
        {# Load js file to allow for popout window #}
        {% if object.id %}
            <h1>Sample {{ object.id }}</h1><br>
        {% else %}
            <h1>New Sample</h1>
        {% endif %}


        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'samplers' %}
                    {% bootstrap_field field %}
                    <div style="font-size: 0.9em; padding-bottom: 1.2em">
                        Sampler not in list? Click <b><a href="{% url 'grais:person_create' %}" id="insertDate"
                                                         target="_blank"> here</a></b> to insert a new one.
                    </div>

                {% else %}
                    {% bootstrap_field field %}
                {% endif %}
            {% endfor %}
            <p>
                <button type="submit" class="btn btn-primary">Submit</button>
                {% if object.id %}
                    <a class="btn btn-secondary" href="{% url 'grais:sample_detail' object.id %}">Cancel</a>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'grais:sample_list' %}">Cancel</a>
                {% endif %}
            </p>
        </form>
        <script type="text/javascript">
            // js script to add date to notes field
            $("#insertDate").click(function () {

                var today = new Date();
                var strDate = today.toDateString()
                var strInjection = ""

                if ($("#id_notes").val() === "") {
                    strInjection = strDate + ": ";
                } else {
                    strInjection = "\n\n" + strDate + ": ";
                }

                $("#id_notes").val($("#id_notes").val() + strInjection)

            })

        </script>
    </div>

    <script src="{% static 'lou-multi-select-e052211/js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script type="application/javascript">
        $("#id_samplers").multiSelect()
    </script>

{% endblock content %}
