{% extends "grais/grais_base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'grais:index' %}"> Home </a></li>
            <li class="breadcrumb-item"><a href="{% url 'grais:species_list' %}"> All Species </a></li>
            {% if object.id %}
                <li class="breadcrumb-item"><a href="{% url 'grais:species_detail' object.id %}"> {{ object }} </a></li>
                <li class="breadcrumb-item active" aria-current="page"> Edit</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">New</li>
            {% endif %}

        </ol>
    </nav>


<div class="container">

  {% if object.id %}
    <h1>{{object}}</h1>
  {% else %}
    New Species
  {% endif %}

  <br><br>

  <form method="post" class="form" >
      {% csrf_token %}

      {% bootstrap_form form %}

      {% buttons %}
        {% if object.id %}
          <button type="submit" class="btn btn-success" >Submit</button>
        {% else %}
          <button type="submit" class="btn btn-success" >Add</button>
        {% endif %}

        {% if object.id %}
          <a class="btn btn-secondary" href="{% url 'grais:species_detail' object.id %}">Cancel</a>
        {% else %}
          <a class="btn btn-secondary" href="{% url 'grais:species_list'  %}">Cancel</a>
        {% endif %}

      {% endbuttons %}
  </form>

  </div>
</div>
</div>

{% endblock content %}
