{% extends "grais/grais_base.html" %}
{% load static %}

{% block content %}
    <div class="indent-med">

        <h1 class="big-header">grAIS Species List </h1>
        <p>TOTAL: {{ object_list.count }}</p>


        <form action="." method="get">
            <div class="neighbours">
                <table>
                    {% for field in filter.form %}
                        <tr>
                            <td><em>{{ field.label }}:</em></td>
                            <td>{{ field }}</td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="neighbours btn-group">
                <input type="submit" value="Filter" class="btn btn-warning"/>
                <a href="{% url 'grais:species_create' %}" class="btn btn-primary">New Species</a><br>
            </div>
        </form>


        <table class="table table-hover table-sm sortable">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Common name (eng)</th>
                <th scope="col">Common name (fra)</th>
                <th scope="col">Scientific name</th>
                <th scope="col">Abbreviation</th>
                <th scope="col">Epibiont type</th>
                <th scope="col">ITIS TSN</th>
                <th scope="col">AphiaID</th>
                <th scope="col">Has color morph?</th>
                <th scope="col">Invasive?</th>
                <th scope="col">Has occurred in db?</th>
            </tr>
            </thead>
            <tbody>
            {% for object in filter.qs %}
                <tr href="{% url 'grais:species_detail' object.id %}">
                    <td>{{ object.id }}</td>
                    <td>{{ object.common_name }}</td>
                    <td>{{ object.common_name_fra }}</td>
                    <td><em>{{ object.scientific_name }}</em></td>
                    <td>{{ object.abbrev }}</td>
                    <td>{{ object.get_epibiont_type_display}}</td>
                    <td>{{ object.tsn }}</td>
                    <td>{{ object.aphia_id }}</td>
                    <td>{{ object.color_morph|yesno }}</td>
                    <td>{{ object.invasive|yesno }}</td>
                    <td>
                        {% if object.surface_spp.count > 0 %}
                            yes
                        {% else %}
                            no
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <br>
            </tbody>
        </table>


    </div>

    <script type="application/javascript">
        $("#id_search_term")[0].focus()
    </script>
    
{% endblock content %}
