{% extends "grais/grais_base.html" %}
{% load static %}


{% block header %}
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 300px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
{% endblock header %}


{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'grais:index' %}"> Home </a></li>
            <li class="breadcrumb-item"><a href="{% url 'grais:station_list' %}"> All Stations </a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <div class="container">

        <br>
        <h1>{{ object }}</h1>
        <p>
            {# <a class="btn btn-secondary" href="{% url 'grais:sample_list' %}">Back to List</a> #}
            <a class="btn btn-warning" href="{% url 'grais:station_edit' object.id %}">Edit</a>
            {% if object.samples.count == 0 %}
                <a class="btn btn-danger" href="{% url 'grais:station_delete' object.id %}">Delete</a>
            {% else %}
                <a class="btn btn-danger disabled" href="{% url 'grais:station_delete' object.id %}">Delete</a>
            {% endif %}
        </p>

        <br><br>
        <div class="row">
            <div class="col">
                {# Detail about the sample #}
                <p>
                    <b>Latitude (N)</b><br>
                    {{ object.latitude_n|floatformat:6 }}
                </p>
                <p>
                    <b>Longitude (W)</b><br>
                    {{ object.longitude_w|floatformat:6 }}
                </p>
                <p>
                    <b>depth (m)</b><br>
                    {{ object.depth }}
                </p>
                <p>
                    <b>Site description</b><br>
                    {{ object.site_desc }}
                </p>
                <p>
                    <b>Last modified by:</b><br>
                    {% if object.last_modified_by %}
                        @{{ object.last_modified_by }}
                    {% else %}
                        n/a
                    {% endif %}
                </p>

            </div>

            <div class="col">
                <div id="map"></div>
            </div>
        </div>
        {#  Samples  #}
        <br><br>
        <h4>
            <b>Sample History:</b>

        </h4>
        <table class="table table-sm table-hover" style="width: 25%">
            <thead class="full-table">
            <th>Id</th>
            <th>season</th>
            </thead>
            <tbody>
            {% for sample in object.samples.all %}
                <tr href="{% url 'grais:sample_detail' sample.id %}">
                    <td>{{ sample.id }}</td>
                    <td>{{ sample.season }}</td>
                </tr>
            {% empty %}
                {# <td>n/a</td> #}
                {# empty #}
            {% endfor %}
            </tbody>
        </table>
        <p>
            <b>TOTAL: {{ object.probe_data.count }}</b>
        </p>
    </div>

    <script>

        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: {{object.latitude_n}}, lng: {{object.longitude_w}}};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
    </script>


{% endblock content %}
