{% extends "grais/grais_base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">

        <h1 class="big-header">AIS Sampling Stations </h1>

        <form class="form" action="." method="get">
            {% for field in filter.form %}
                {{ field.label }}: &nbsp; {{ field }}&nbsp;&nbsp;
            {% endfor %}
            <input type="submit" value="Filter" class="btn btn btn-warning">
        </form>

        <br><br>
        <div class="row">
            <div class="col">
                {% trans "(click on a header to sort table)" %}
            </div>
            <div class="col" style="text-align: center">
                <em>displaying {{ filter.qs.count }} records </em>
            </div>
            <div class="col" style="text-align: right; padding-bottom: 10px">
                <a href="{% url 'grais:station_create' %}" class="btn btn-sm btn-primary">New Station</a>
            </div>
        </div>

        <table class="table table-hover table-sm sortable">
            <thead>
            <tr>
                <th scope="col">Station #</th>
                <th scope="col">Name</th>
                <th scope="col">Province</th>
                <th scope="col">Sample Count</th>

            </tr>
            </thead>
            <tbody>
            {% for obj in filter.qs %}
                <tr href="{% url 'grais:station_detail' obj.id %}">
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.station_name }}</td>
                    <td>{{ obj.province.abbrev_eng }}</td>
                    <td>{{ obj.samples.count }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock content %}
