{% extends "grais/grais_base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="nav-map">
  <br>
    <p>
      <a href="{% url 'grais:sample_list' %}">All samples</a> >
      <a href="{% url 'grais:sample_detail' object.line.sample.id %}">{{object.line.sample}}</a> >
      <a href="{% url 'grais:line_detail' object.line.id %}">{{object.line}}</a> >
      <a href="{% url 'grais:surface_detail' object.id %}">{{object}}</a> >
      Delete
    </p>
<br>
</div>
<div class="container">

{% load static %}
{# Load js file to allow for popout window #}
<h1>Are you sure you want to delete Surface {{object.id}}?</h1>
  <p>(This action is permanent.)</p>
  <br>

<form method="post" class="form">
    {% csrf_token %}

    <p>
      <button type="submit" class="btn btn-lg btn-danger">Delete</button>
      <a class="btn btn-lg btn-secondary" href="{% url 'grais:surface_detail' object.id %}">Cancel</a>
    </p>
</form>
</div>

{% endblock content %}
