{% extends "grais/grais_base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block content %}

<div class="nav-map">
  <p><br>
  {% if object.id %}
    <a href="{% url 'grais:sample_list' %}">All samples</a> >
    <a href="{% url 'grais:sample_detail' object.line.sample.id %}">{{object.line.sample}}</a> >
    <a href="{% url 'grais:line_detail' object.line.id %}">Line {{object.line}}</a> >
    <a href="{% url 'grais:surface_detail' object.id %}">{{object}}</a> >
    Edit
  {% else %}
    <a href="{% url 'grais:sample_list' %}">All samples</a> >
    <a href="{% url 'grais:sample_detail' view.kwargs.sample %}">Sample {{view.kwargs.sample}}</a> >
    <a href="{% url 'grais:line_detail' view.kwargs.sample view.kwargs.line %}">Line {{view.kwargs.line}}</a> >
    New Surface
  {% endif %}
  </p>
</div>

<div class="container">
<br>
{# Load js file to allow for popout window #}

{% if object.id %}
  <br> <h1>  Surface {{object.id}}</h1><br>
{% else %}
  {# empty #}
{% endif %}

<form method="post" class="form" enctype="multipart/form-data" >
    {% csrf_token %}
    {% bootstrap_form form %}

    <p>
      <input type="submit" value="Submit" class="btn btn-primary">
      {% if object.id %}
        <a class="btn btn-secondary" href="{% url 'grais:surface_detail' object.id %}">Back</a>
      {% else %}
        <a class="btn btn-secondary" href="{% url 'grais:line_detail' view.kwargs.sample view.kwargs.line %}">Cancel</a>
      {% endif %}
    </p>
</form>

</div>

{% endblock content %}
