{% load i18n %}

<li class="nav-item"><a class="nav-link" href="{% url 'cruises:index' %}">
  {% trans "Home" %}
</a></li>


{% for group in user.groups.all %}
  {% if group.name == "oceanography_admin" %}


    <li class="nav-item"><a class="nav-link" href="#">
      {% trans "Reports" %}
    </a></li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        {% trans "Settings" %}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <a class="dropdown-item" href="{% url 'cruises:manage_institutes' %}">
          {% trans "Institutes" %}
        </a>
        <a class="dropdown-item" href="{% url 'cruises:manage_vessels' %}">
          {% trans "Vessels" %}
        </a>
        <a class="dropdown-item" href="{% url 'cruises:manage_component_types' %}">
          {% trans "Instrument Component Types" %}
        </a>

      </div>
    </li>

  {% endif %}

{% endfor %}




