{% extends "csas2/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}

{% block crumbs %}
{% endblock %}

{% block messages %}{% endblock %}
{% block title_area %}
{% endblock %}

{% block header %}
  {{ block.super }}

{% endblock %}

{% block subcontent %}
  <div id="app" v-cloak>
    <div>
      {% include "shared_models/_generic_breadcrumbs.html" %}
      <div class="mb-3">
        <h2 class="">{{ h1|safe }}</h2>
        <p class="lead text-muted mt-1 mb-0">{% trans "Process ID:" %} {{ object.id }}</p>
      </div>
      {% bootstrap_messages %}
      <div v-if="canModify" class="alert alert-primary no-print" role="alert">
        <p class="mb-0">
          <span class="h5 mdi mdi-information-outline mr-3"></span> <span class="h6">${currentUser.can_modify.reason}</span>
        </p>
      </div>
    </div>

    <div v-if="canModify" class="mb-3">
      <a class="btn btn-sm btn-warning" href="{% url 'csas2:process_edit' object.id %}">{% trans "Edit" %}</a>
      <a class="btn btn-sm btn-danger" href="{% url 'csas2:process_delete' object.id %}">{% trans "Delete" %}</a>
      {% if object.tor %}
        {% url 'csas2:tor_edit' object.tor.id as tor_url %}
      {% else %}
        {% url 'csas2:tor_new' object.id as tor_url %}
      {% endif %}

      {% if object.tor %}
        <a class="btn btn-sm btn-primary ml-3" href="{{ tor_url }}">
          <span class="mdi mdi-pencil text-light mr-1"></span>{% trans "Modify ToR" %}
        </a>
        <div class="neighbours">
          <div class="dropdown">
            <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              <span class="mdi mdi-file-word text-light mr-1"></span>{% trans "Export ToR" %}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'csas2:tor_export' object.tor.id %}?lang=en">{% trans "Word (en)" %}</a>
              <a class="dropdown-item" href="{% url 'csas2:tor_export' object.tor.id %}?lang=fr">{% trans "Word (fr)" %}</a>
              <a class="dropdown-item" href="{% url 'csas2:tor_html' object.tor.id %}?lang=en">{% trans "HTML (en)" %}</a>
              <a class="dropdown-item" href="{% url 'csas2:tor_html' object.tor.id %}?lang=fr">{% trans "HTML (fr)" %}</a>
            </div>
          </div>
        </div>
      {% else %}
        <a class="btn btn-sm btn-primary ml-3" href="{{ tor_url }}">
          <span class="mdi mdi-pencil text-light mr-1"></span>{% trans "Initiate ToR" %}
        </a>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-8">
        <div class="mb-5">
          <div v-if="loading" class="loading mb-3 mt-3 mt-5">
            <div class="spinner-border mb-3" style="width: 5rem; height: 5rem;" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
          <table v-else class="table table-sm" style="width: auto">
            <tr>
              <th class="text-left w300" v-html="processLabels.fiscal_year"></th>
              <td class="text-left">${process.fiscal_year|nz}</td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Name" %}</th>
              <td class="text-left">${process.tname|nz}</td>
            </tr>
            <tr>
              <th class="text-left" v-html="processLabels.advice_date"></th>
              <td class="text-left">${process.advice_date_display}</td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Status" %}</th>
              <td class="text-left" v-html="process.status_display_html"></td>
            </tr>
            <tr>
              <th class="text-left" v-html="processLabels.is_posted"></th>
              <td class="text-left">
                <span class="mr-2">${process.is_posted|yesNo}</span>
                <button v-if="!process.posting_request_date && !process.is_posted" class="badge badge-pill btn-purple" @click="requestPosting">
                  {% trans "Request to Post" %}
                </button>
                <em v-else-if="!process.is_posted" class=" text-muted">
                  &mdash; {% trans "Posting request made on" %} ${process.posting_request_date}
                </em>
              </td>
            </tr>


            <tr>
              <th class="text-left">{% trans "Advisory process type" %}</th>
              <td class="text-left">${process.scope_type|nz}</td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Meeting Chair" %}</th>
              <td class="text-left">
                <em v-if="!process.has_tor">
                  {% blocktrans %}
                    The <a href="{{ tor_url }}">terms of reference</a> has not yet been initiated for this process.
                  {% endblocktrans %}
                </em>
                <em v-else-if="!process.has_tor_meeting">
                  {% blocktrans %}
                    The <a href="{{ tor_url }}"> terms of reference </a> has not been linked to a meeting.
                  {% endblocktrans %}
                </em>
                <span v-else>${process.chair|nz}</span>
              </td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Science Lead" %}</th>
              <td class="text-left">
                <em v-if="!process.science_leads">{% trans "No science leads have been tagged in any meetings." %}</em>
                <span v-else>${process.science_leads|nz}</span>
              </td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Client leads" %}</th>
              <td class="text-left">
                <em v-if="!process.client_leads">{% trans "No client leads have been tagged in any meetings." %}</em>
                <span v-else>${process.client_leads|nz}</span>
              </td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Client sector(s)" %}</th>
              <td class="text-left">
                ${process.client_sectors|nz}
              </td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Steering Committee Members" %}</th>
              <td class="text-left">
                <em v-if="!process.committee_members">{% trans "No steering committee members have been tagged in any meetings." %}</em>
                <span v-else>${process.committee_members|nz}</span>
              </td>
            </tr>


            <tr>
              <th class="text-left" v-html="processLabels.coordinator"></th>
              <td class="text-left">${process.coordinator|nz}</td>
            </tr>

            <tr>
              <th class="text-left" v-html="processLabels.advisors"></th>
              <td class="text-left">${process.advisors|nz}</td>
            </tr>
            <tr>
              <th class="text-left" v-html="processLabels.editors"></th>
              <td class="text-left">${process.editors|nz}</td>
            </tr>

            <tr>
              <th class="text-left" v-html="processLabels.lead_region"></th>
              <td class="text-left">${process.lead_region|nz}</td>
            </tr>
            <tr>
              <th class="text-left" v-html="processLabels.other_regions"></th>
              <td class="text-left">${process.other_regions|nz}</td>
            </tr>
            <tr>
              <th>
                {% trans "Connected requests" %}
              </th>
              <td>
                {% if object.csas_requests.exists %}
                  {% for obj in object.csas_requests.all %}
                    <div>
                      <a href="{% url 'csas2:request_detail' obj.id %}">{{ obj.fiscal_year }} - {{ obj }} ({{ obj.id }})</a>
                    </div>
                  {% endfor %}
                {% else %}
                  <em>{% trans "There are no requests attached to this process." %}</em>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th class="text-left">{% trans "Metadata" %}</th>
              <td class="text-left" v-html="process.metadata"></td>
            </tr>
          </table>
        </div>
      </div>
      {# Notes #}
      <div class="col">
        <note-pad v-if="process.id" parent_name="process" :parent_id="process.id" :notes="notes" @update-notes="getNotes"></note-pad>
      </div>
    </div>


    <div class="mb-5">
      <div class="float-left">
        <span class="mdi mdi-account-group mr-3 h4"></span>
      </div>
      <div class="neighbours">
        <h4>{% trans "Meetings" %}</h4>
      </div>
      <div v-if="canModify" class="mb-2 neighbours">
        <a class="btn btn-sm btn-primary py-0 px-1" href="{% url 'csas2:meeting_new' object.id %}">
          <span class="h5 mdi mdi-plus text-light"></span>
        </a>
      </div>

      {% if object.meetings.exists %}

        <table class="table table-hover table-sm">
          <thead>
          <tr>
            {% for field in meeting_field_list %}
              <th class="{% if "title" in field %}w400{% endif %}">{% get_verbose_label object.meetings.first field %}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for obj in object.meetings.all %}
            <tr @click="followLink('{% url 'csas2:meeting_detail' obj.id %}')" class="pointy">
              {% for field in meeting_field_list %}
                <td>{% get_field_value obj field safe=True %}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <em>{% trans "There are no meetings associated with this process." %}</em>
      {% endif %}
    </div>

    <div class="mb-5">
      <div class="float-left">
        <span class="mdi mdi-file-document mr-3 h4"></span>
      </div>
      <div class="neighbours">
        <h4>{% trans "Documents" %}</h4>
      </div>
      <div v-if="canModify" class="mb-2 neighbours">
        <a class="btn btn-sm btn-primary py-0 px-1" href="{% url 'csas2:document_new' object.id %}">
          <span class="h5 mdi mdi-plus text-light"></span>
        </a>
      </div>

      {% if object.documents.exists %}

        <table class="table table-hover table-sm">
          <thead>
          <tr>
            <th rowspan="2" class="w400">{% trans "Title" %}</th>
            <th rowspan="2">{% trans "Type" %}</th>
            <th rowspan="2">{% trans "Status" %}</th>
            <th v-if="keystoneMeetings.length" class="text-center" :colspan="keystoneMeetings.length">{% trans "Meeting Linkages" %}</th>
          </tr>
          <tr>
            <th v-for="m, index in keystoneMeetings" :key="m.id" class="text-center text-muted">${m.display}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="d, index in docs" :key="d.id" @click="goDocumentDetail(d)" class="pointy">
            <td>${d.ttitle}</td>
            <td>${d.document_type}</td>
            <td v-html="d.status_display"></td>
            <td v-for="m, index in keystoneMeetings" :key="m.id" class="text-center">
              <button v-if="d.meetings.includes(m.id)" @click="toggleMeetingLinkage(d, m, $event)" class="btn my-0 py-0"><span
                class="py-0 my-0 mdi mdi-checkbox-marked-outline"></span></button>
              <button v-else @click="toggleMeetingLinkage(d, m, $event)" class="btn my-0 py-0"><span class="py-0 my-0 mdi mdi-checkbox-blank-outline"></span>
              </button>
            </td>

          </tr>
          </tbody>
        </table>
      {% else %}
        <em>{% trans "There are no documents associated with this process." %}</em>
      {% endif %}
    </div>
    <div class="mb-5">
      {% include "csas2/process_detail/_costs.html" %}
    </div>
    {# end #}
  </div>


{% endblock %}


{% block body_js %}
  {{ block.super }}

  {% include "csas2/components/note_pad.html" %}
  {% include "csas2/process_detail/components/cost_editor.html" %}

  <script type="application/javascript">
  var processId = "{{ object.id }}"

  // register vue-select
  Vue.component('v-select', VueSelect.VueSelect);

  // vuejs instance
  var app = new Vue({
    el: '#app',
    delimiters: ["${", "}"],
    data: {
      currentUser: {},
      process: {},
      loading: false,
      loadingDocs: false,
      loadingMeetings: false,
      docs: [],
      meetings: [],
      notes: [],
      costs: [],
      processLabels: {}
    },
    methods: {
      requestPosting() {
        let userInput = confirm("{% trans 'Are you certain you want to make a request for this process to be posted on the National CSAS website?' %}")
        if (userInput) {
          let endpoint = `/api/csas/processes/${processId}/?request_posting=true`;
          apiService(endpoint, "POST").then(data => {
            this.getProcess()
          });
        }
      },
      getCosts() {
        let endpoint = `/api/csas/process-costs/?process=${this.process.id}`;
        apiService(endpoint).then(data => {
          this.costs = data;
        });
      },
      deleteCost(cost) {
        let userInput = confirm("{% trans 'Are you certain you want to delete this cost?' %}")
        if (userInput) {
          let endpoint = `/api/csas/process-costs/${cost.id}/`;
          apiService(endpoint, "DELETE").then(() => {
            this.getCosts();
          })
        }
      },
      getCurrentUser() {
        let endpoint = `/api/csas/user/?process=${processId}`;
        apiService(endpoint)
            .then(response => {
              this.currentUser = response;
            })
      },
      getProcess(update_notes) {
        this.loading = true;
        let endpoint = `/api/csas/processes/${processId}/`;
        apiService(endpoint).then(data => {
          this.loading = false;
          if (data) {
            this.process = data;
            if (update_notes) this.getNotes();
            this.getDocuments();
            this.getMeetings();
            this.getCosts();
          }
        });
      },
      getNotes() {
        let endpoint = `/api/csas/process-notes/?process=${processId}`;
        apiService(endpoint).then(data => {
          this.notes = data;
        });
      },
      openPopout(url) {
        popitup(url, 'popoutWindow' + Date.now());
      },
      followLink(url) {
        window.location.href = url;
      },
      goDocumentDetail(document) {
        window.location.href = `/csas-sccs/documents/${document.id}/view/`;
      },
      toggleMeetingLinkage(doc, meeting, event) {
        console.log(event)
        // stop propagation of window change
        event.stopPropagation()
        let endpoint = `/api/csas/documents/${doc.id}/?meeting=${meeting.id}`;
        apiService(endpoint, "POST")
            .then(response => {
              this.getDocuments()
            })
      },
      getDocuments() {
        this.loadingDocs = true;
        let endpoint = `/api/csas/documents/?process=${processId}`;
        apiService(endpoint)
            .then(response => {
              if (response.length && response[0].id) {
                this.docs = response;
                this.loadingDocs = false;
              }
            })
      },
      getMeetings() {
        this.loadingMeetings = true;
        let endpoint = `/api/csas/meetings/?process=${processId}`;
        apiService(endpoint)
            .then(response => {
              if (response.length && response[0].id) {
                this.meetings = response;
                this.loadingMeetings = false;
              }
            })
      },
      getProcessMetadata() {
        let endpoint = `/api/csas/meta/models/process/`;
        apiService(endpoint).then(data => {
          this.processLabels = data.labels;
        });
      },
    },
    filters: {
      nz: vueFiltersObject["nz"],
      yesNo: vueFiltersObject["yesNo"],
      date: vueFiltersObject["date"],
    },
    computed: {
      canModify() {
        return this.currentUser.can_modify && this.currentUser.can_modify.can_modify;
      },
      keystoneMeetings() {
        let myArray = [];
        let m;
        for (var i = 0; i < this.meetings.length; i++) {
          m = this.meetings[i];
          if (!m.is_planning) myArray.push(m);
        }
        return myArray;
      },
      totalCost() {
        let total = 0;
        for (var i = 0; i < this.costs.length; i++) {
          total += Number(this.costs[i].amount)
        }
        return total
      }
    },
    created() {
      this.getCurrentUser();
      this.getProcess(true);
      this.getProcessMetadata();
    },
  });


  </script>

{% endblock %}