{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{# {% if object.id %} #}

<div class="nav-map">
{% if object.id %}
  <p><br>
    <a href="{% url 'biofouling:sample_list' %}">All samples</a> >
    <a href="{% url 'biofouling:sample_detail' view.kwargs.sample %}">Sample {{view.kwargs.sample}}</a> >
    Line {{object}}
  </p>
{% else %}
  <p>
    <a href="{% url 'biofouling:sample_list' %}">All samples</a> >
    <a href="{% url 'biofouling:sample_detail' view.kwargs.sample %}">Sample {{view.kwargs.sample}}</a> >
    New Line
  </p>
  {% endif %}
</div>

<div class="container">


  {% if object.id %}
    <h1>Line {{object.id}}</h1><br>
  {% else %}
    <h1>NEW LINE</h1>
  {% endif %}

<form method="post" class="form">
  {% csrf_token %}
  {% for field in form %}
    {% if field.name == 'collector' %}

    {%bootstrap_field field%}
      <a class="btn btn-sm btn-outline-success" href="#" onclick="return popitup('{% url 'biofouling:collector_create' %}','popup')"> Add New Collector</a><br><br>


    {% else %}
      {%bootstrap_field field%}
    {% endif %}

  {% endfor %}


  {% buttons %}
      <button type="submit" class="btn btn-primary">Submit</button>
      {% if object.id %}
        <a class="btn btn-secondary" href="{% url 'biofouling:line_detail' view.kwargs.sample object.id %}">Back</a>
      {% else %}
        <a class="btn btn-secondary" href="{% url 'biofouling:sample_detail' view.kwargs.sample %}">Cancel</a>
      {% endif %}

  {% endbuttons %}
</form>
</div>
</div>
<script type="text/javascript" src="{% static "js/popItOut.js" %}"></script>


{% endblock content %}
