{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="nav-map">
  <br>
    <p>
      <a href="{% url 'biofouling:sample_list' %}">All samples</a> >
      <a href="{% url 'biofouling:sample_detail' view.kwargs.sample %}">Sample {{view.kwargs.sample}}</a> >
      <a href="{% url 'biofouling:line_detail' view.kwargs.sample object.id %}">Line {{object.id}}</a> >
      Delete
    </p>
<br>
</div>
<div class="container">

{% load static %}
{# Load js file to allow for popout window #}
<h1>Are you sure you want to delete Line {{object.id}}?</h1>
  <p>(This action is permanent.)</p>
  <br>

<form method="post" class="form">
    {% csrf_token %}

    <p>
      <button type="submit" class="btn btn-lg btn-danger">Delete</button>
      <a class="btn btn-lg btn-secondary" href="{% url 'biofouling:line_detail' object.sample.id object.id %}">Cancel</a>
    </p>
</form>
</div>

{% endblock content %}
