{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

  <h1 class="big-header">grAIS Species List </h1>
  <p>TOTAL: {{object_list.count}}</p>


  <a href="#" id="myBtn" class="btn btn-warning">Filter List</a>
  <a href="{% url 'biofouling:species_create' %}" class="btn btn-outline-primary">New Species</a><br>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="float-right">
        <a href="#" class="btn btn-primary closeBtn my-btn">&times;</a>
      </div>
      <form action="." method="get">
        <p>
          <table>
              {% for field in filter.form  %}
              <tr>
                <td><em>{{field.label}}:</em></td>
                <td>{{field}}</td>

              </tr>
              {% endfor %}
            </table>
              <br><br>
              <p>
                <input type="submit" value="Filter" class="btn btn-warning" />
                <a class="btn btn-info" href=".">Clear</a>
              </p>
        </p>
       </form>
       <br>
     </div>
   </div>
<script src="{% static "js/modal.js" %}"></script>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Common name</th>
        <th scope="col">Scientific name</th>
        <th scope="col">Abbreviation</th>
        <th scope="col">ITIS TSN</th>
        <th scope="col">AphiaID</th>
        <th scope="col">Has color morph?</th>
        <th scope="col">Invasive?</th>
        <th scope="col">Biofouling?</th>
        <th scope="col">Has occurred in db?</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list  %}
        <tr>
          <td><a href="{% url 'biofouling:species_detail' object.id %}">{{object.id}}</a></td>
          <td>{{object.common_name}}</td>
          <td><em>{{object.scientific_name}}</em></td>
          <td>{{object.abbrev}}</td>
          <td>{{object.tsn}}</td>
          <td>{{object.aphia_id}}</td>
          <td>{{object.color_morph|yesno}}</td>
          <td>{{object.invasive|yesno}}</td>
          <td>{{object.biofouling|yesno}}</td>
          <td>
            {% if object.surface_spp.count > 0  %}
            yes
            {% else %}
            no
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <br>
      </tbody>
    </table>


  </div>

{% endblock content %}
