{% load i18n %}
{% load project_tags %}
{% load verbose_names %}
{% load static %}
{% load bootstrap4 %}

<div class="mb-5">
  <div v-if="!milestone_loading" class="float-right">
    <button @click="openMilestoneModal()">
      <span class="mdi mdi-plus"></span> {% trans "Add Milestone" %}
    </button>
  </div>
  <h2>{% trans "Milestones" %}</h2>

  <div v-if="milestone_loading">
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
    </button>
  </div>

  <div v-else>

    <div
      v-if="!milestones.length"
      class="font-italic"
    >
      {% trans "No milestones have been added to this year of the project" %}
    </div>

    <table v-else class="table table-sm" >
      <thead>
      {% get_milestone_field_list as milestone_field_list %}
      {% for field in milestone_field_list %}
        <th>
          {% get_verbose_label random_milestone field %}
        </th>
      {% endfor %}
      </thead>
      <tbody>
      <tr v-for="(item, index) in milestones">
        {% for field in milestone_field_list %}
          {% if "latest_update" in field %}
            <td>${item.latest_update | nz }</td>
          {% elif "target" in field %}
            <td>${item.target_date_display | nz }</td>
          {% else %}
            <td>${ item.{{ field }} | nz}</td>
          {% endif %}
        {% endfor %}
        <td class="to-the-right">
          <button @click="openMilestoneModal(item)"><span class="mdi mdi-pencil"></span></button>
          <button @click="deleteMilestone(item)"><span class="mdi mdi-delete"></span></button>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

</div>
</tr>