{% load verbose_names %}
{% load project_filters %}
{% load custom_tags %}
{% load i18n %}

{% echo "btn btn-sm btn-outline-secondary" as btn_class_1 %}
{% echo "btn btn-sm btn-outline-secondary px-1 py-0" as btn_class_2 %}

<div v-if="canModify" class="mb-3 float-right">
  <button class="btn btn-sm btn-outline-secondary no-print"
          @click="goProjectYearEdit(projectYear.id)">
    <span class="mdi mdi-pencil"></span>
    {% trans "Edit" %}
  </button>
  <button class="btn btn-sm btn-outline-secondary no-print"
          @click="goProjectYearDelete(projectYear.id)">
    <span class="mdi mdi-delete"></span>
    {% trans "Delete" %}
  </button>
  <button class="btn btn-sm btn-outline-secondary no-print"
          @click="goProjectYearClone(projectYear.id)">
    <span class="mdi mdi-content-copy"></span>
    {% trans "Clone" %}
  </button>
</div>
<p class="lead">{% trans "Overview" %}</p>


{# OVERVIEW #}
<div class="mb-5">
{#  <h2>Project Year: ${projectYear.display_name}</h2>#}
  <table class="table table-sm">
    {% for field in project_year_field_list %}

      {% if field|in_field_group:"specialized_equipment" %}
        <tr v-if="projectYear.requires_specialized_equipment">
          <th class="narrow-col">{% get_verbose_label object.years.first field %}</th>
          {% include "projects2/project_detail/_project_year_field.html" %}
        </tr>

      {% elif field|in_field_group:"field" %}
        <tr v-if="projectYear.has_field_component">
          <th class="narrow-col">{% get_verbose_label object.years.first field %}</th>
          {% include "projects2/project_detail/_project_year_field.html" %}
        </tr>

      {% elif field|in_field_group:"data" %}
        <tr v-if="projectYear.has_data_component">
          <th class="narrow-col">{% get_verbose_label object.years.first field %}</th>
          {% include "projects2/project_detail/_project_year_field.html" %}
        </tr>

      {% elif field|in_field_group:"lab" %}
        <tr v-if="projectYear.has_lab_component">
          <th class="narrow-col">{% get_verbose_label object.years.first field %}</th>
          {% include "projects2/project_detail/_project_year_field.html" %}
        </tr>

      {% elif "priorities" in field  %}
        <tr>
          <th v-if="!isCSRF" class="narrow-col">{% get_verbose_label object.years.first field %}</th>
          <th v-else class="narrow-col">{% trans "Methods applied to achieve project objectives (CSRF)" %}</th>
          {% include "projects2/project_detail/_project_year_field.html" %}
        </tr>

      {% else %}
        <tr>
          <th class="narrow-col">{% get_verbose_label object.years.first field %}</th>
          {% include "projects2/project_detail/_project_year_field.html" %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>

  <div v-if="canModify && projectYear.review" class="mt-3">
    <p class="lead text-muted">{% trans "Visible Only to Project Leads " %}</p>
    <table class="table table-sm">
      {% for field in review_field_list %}
        <tr>
          <th class="narrow-col">{% get_verbose_label random_review field %}</th>
          {% if "total_score" in field %}
            <td>
              ${ projectYear.review_score_percentage } (${ projectYear.review_score_fraction })
            </td>
          {% elif "approval_level" in field %}
            <td v-html='projectYear.review.approval_level_display'></td>
          {% elif "collaboration_score_html" in field %}
            <td v-html='projectYear.review.collaboration_score_html'></td>
          {% elif "strategic_score_html" in field %}
            <td v-html='projectYear.review.strategic_score_html'></td>
          {% elif "operational_score_html" in field %}
            <td v-html='projectYear.review.operational_score_html'></td>
          {% elif "ecological_score_html" in field %}
            <td v-html='projectYear.review.ecological_score_html'></td>
          {% elif "scale_score_html" in field %}
            <td v-html='projectYear.review.scale_score_html'></td>
          {% else %}
            <td v-html='projectYear.review.{{ field }}'></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>

</div>


{% include "projects2/project_detail/_activities.html" %}
{% include "projects2/project_detail/_staff.html" %}
{% include "projects2/project_detail/_om_costs.html" %}
{% include "projects2/project_detail/_capital_costs.html" %}
{% include "projects2/project_detail/_collaborations.html" %}
{% include "projects2/project_detail/_files.html" %}
{% include "projects2/project_detail/_status_reports.html" %}
{% include "projects2/project_detail/_financials.html" %}


{##}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "O&M Costs" %}</th>#}
{#      <td></td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "Grant & Contributions" %}</th>#}
{#      <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "External Collaborators" %}</th>#}
{#      <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "Collaborative Agreements" %}</th>#}
{#      <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "Project Activities" %}</th>#}
{#      <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "Supporting Resources" %}</th>#}
{#      <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "Status Reports" %}</th>#}
{#      <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th class="narrow-col">{% trans "Financial Summary" %}</th>#}
{#      <td></td>#}
{#    </tr>#}