{% extends "projects2/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}
{% load project_tags %}

{% block crumbs %}
{% endblock %}

{% block messages %}{% endblock %}
{% block title_area %}
{% endblock %}

{% block header %}
  {{ block.super }}

{% endblock %}

{% block subcontent %}
  <div id="app" @keydown.esc.prevent="closeModals()" v-cloak>

    <div id="mySidebar" :class="{'sidebar-opened':showSidebar,'sidebar-closed':!showSidebar, 'no-print':true}">
      {% include "projects2/project_detail/_console.html" %}
    </div>

    <div :class="{'main-opened':showSidebar, 'main-closed':!showSidebar, 'no-print':true}">
      <div style="padding-left: 30px">
        {% include "shared_models/_generic_breadcrumbs.html" %}

        <div class="mb-3">
          <h2 class="">{{ h1|safe }}</h2>
          <p class="lead text-muted mt-1 mb-0">{% trans "Project ID:" %} {{ object.id }}</p>
        </div>


        {% bootstrap_messages %}
        <div v-if="canModify" class="alert alert-primary no-print" role="alert" style="width: 60%">
          <p class="mb-0">
            <span class="h5 mdi mdi-information-outline mr-3"></span> <span class="h6">${currentUser.reason}</span>
          </p>
        </div>
      </div>

      <div class="row container-fluid bg-light curvy">
        <div class="col">
          <div v-if="showOverview">
            <div class="mb-3">
              <div class="section-card">
                <div class="pointy" @click="collapseOverview = !collapseOverview">
                  <div v-if="canModify" class="mb-3 float-right">
                    <button class="btn btn-sm btn-warning no-print" @click="goProjectEdit(project.id)">
                      <span class="mdi mdi-pencil"></span> {% trans "Edit" %}
                    </button>
                  </div>
                  <h4 id="overview"> {% trans "Project Overview" %} </h4>
                </div>
                <div v-if="!collapseOverview">
                  {% trans "<span class='red-font'>missing</span>" as nulltext %}
                  <table class="table table-sm mb-5">
                    {% for field in project_field_list %}
                      {% if "overview" in field %}
                        <tr>
                          <th>{% get_verbose_label object field %}</th>
                          <td>
                            {{ object.overview_html|nz:nulltext }}
                          </td>
                        </tr>
                      {% elif "references" in field %}
                        <tr>
                          <th>
                            {% get_verbose_label object field %}
                            (<a href="{% url 'projects2:project_references' object.id %}">{% trans "manage" %}</a>)
                          </th>
                          <td>
                            {% if object.references.exists %}
                              <ul>
                                {% for ref in object.references.all %}
                                  <li>{{ ref.short_citation_html|safe }}</li>
                                {% endfor %}
                              </ul>
                            {% else %}
                              ---
                            {% endif %}
                          </td>
                        </tr>

                      {% elif "csrf_theme" in field %}
                        <tr>
                          <th>{% get_verbose_label object field %}</th>
                          <td>
                            {% if object.client_information %}
                              {{ object.client_information.csrf_priority.csrf_sub_theme.csrf_theme }}
                            {% else %}
                              ---
                            {% endif %}
                          </td>
                        </tr>
                      {% elif "csrf_sub_theme" in field %}
                        <tr>
                          <th>{% get_verbose_label object field %}</th>
                          <td>
                            {% if object.client_information %}
                              {{ object.client_information.csrf_priority.csrf_sub_theme }}
                            {% else %}
                              ---
                            {% endif %}
                          </td>
                        </tr>
                      {% elif "csrf_priority" in field %}
                        <tr>
                          <th>{% get_verbose_label object field %}</th>
                          <td>
                            {% if object.client_information %}
                              {{ object.client_information.csrf_priority }} ({{ object.client_information.csrf_priority.code }})
                            {% else %}
                              ---
                            {% endif %}
                          </td>
                        </tr>
                      {% else %}
                        {% verbose_td_display object field th_width="30%" td_width="70%" nullmark=nulltext %}
                      {% endif %}
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>

            {% include "projects2/project_detail/_project_financials.html" %}

            {% include "projects2/project_detail/_submit.html" %}


            <div class="mb-5" id="project-year">
              <div class="section-card">

                <div class="mb-2 neighbours">
                  <h4>{% trans "Project Years" %}</h4>
                </div>
                <div class="mb-3">
                  <ul class="nav nav-tabs">
                    <li class="nav-item" v-for="(year, index) in project.years" :key="index">
                      <a @click="displayProjectYear(year.id)" :class="{ 'nav-link': true, 'active': year.id == projectYear.id }" href="#project-year">
                        <span v-if="year.submitted" class="text-primary lead"> ${ year.display_name }</span>
                        <span v-else class="text-danger lead"> ${ year.display_name } ({% trans "draft" %})</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a v-if="canModify && project.years && project.years.length " href="#" class="nav-link" data-toggle="modal"
                         data-target="#new-year-modal"
                         title="{% trans "Add a new year to this project" %}">
                        <span class="lead">{% trans "Add Project Year" %}</span>
                      </a>
                      <a v-else-if="canModify" href="{% url 'projects2:year_new' object.id %}" class="nav-link">
                        <span class="lead">{% trans "Add Project Year" %}</span>
                      </a>
                    </li>
                  </ul>
                </div>


                <div v-if="projectYear.id">
                  {% include "projects2/project_detail/_project_year_detail.html" %}
                  {% include "projects2/project_detail/_project_year_modal_form.html" %}

                  <modal v-if="showNewStaffModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'staff'"></modal>
                  <modal v-if="showOldStaffModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'staff'"
                         :my_staff="staffToEdit"></modal>

                  <modal v-if="showNewOMCostModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'om_cost'"></modal>
                  <modal v-if="showOldOMCostModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'om_cost'"
                         :my_om_cost="omCostToEdit"></modal>

                  <modal v-if="showNewCapitalCostModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'capital_cost'"></modal>
                  <modal v-if="showOldCapitalCostModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'capital_cost'"
                         :my_capital_cost="capitalCostToEdit"></modal>

                  <modal v-if="showNewActivityModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'activity'"></modal>
                  <modal v-if="showOldActivityModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'activity'"
                         :my_activity="activityToEdit"></modal>

                  <modal v-if="showNewCollaborationModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'collaboration'"></modal>
                  <modal v-if="showOldCollaborationModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'collaboration'"
                         :my_collaboration="collaborationToEdit"></modal>

                  <modal v-if="showNewStatusReportModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'status_report'"></modal>
                  <modal v-if="showOldStatusReportModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'status_report'"
                         :my_status_report="statusReportToEdit"></modal>

                  <modal v-if="showNewFileModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'file'"></modal>
                  <modal v-if="showOldFileModal" @close="closeModals(projectYear)" :year="projectYear" :mtype="'file'"
                         :my_file="fileToEdit"></modal>

                </div>


              </div>
            </div>
          </div>

          <div v-if="!showOverview">
            <div v-if="py_loading" class="loading mb-3 mt-3 text-center mt-5">
              <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
                <span class="sr-only"></span>
              </div>
            </div>


            <div v-else>
              <h3>Uh oh. something bad happened</h3>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>



  {#<!-- modal_label MODAL -->#}
  <div class="modal fade" id="new-year-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {% trans "Add a New Year to This Project" %}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>
            {% trans "Please select among the following:" %}
          </h4>
          <div class="btns">
            {% for year in object.years.all %}
              <a href="{% url 'projects2:year_clone'  year.id %}" class="btn btn-warning mb-1">
                {% blocktrans %}
                  Clone from {{ year }}
                {% endblocktrans %}
              </a> <br>
            {% endfor %}
            <a href="{% url 'projects2:year_new' object.id %}" class="btn btn-success">{% trans "Start from Scratch" %}</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block body_js %}
  {{ block.super }}
  <script type="application/javascript">

  var warningMsg = "{% trans "WARNING! If you remove yourself as project lead you will loose the ability to further modify this project." %}";
  var submitMsg = "{% trans "Are certain you want to submit the following year of the project?" %} \n\n"
  var unsubmitMsg = "{% trans "Are certain you want to un-submit the following year of the project? The status of the project year will be reset!" %} \n\n"
  var deleteMsg = "{% trans "Are you sure you want to delete this item: " %} \n\n"
  var deleteSelfMsg = "{% trans "Are you sure you want to remove yourself?" %}\n\n{% trans "WARNING: This action might result in you loosing the ability to modify this project." %}"
  var processOTMsg = "{% trans "Do you want to add this OT description to the current staff member?" %}"
  var projectId = "{{ object.id }}"
  let markActivityAsComplete = "{% trans "Do you want to mark this activity as 'complete'? \n\nYou may provide comments below (optional)." %}"
  let markActivityAsIncomplete = "{% trans "Do you want to mark this activity as 'incomplete'?  \n\nYou may provide comments below (optional)." %}"


  function activateChosen() {
    var config = {
      '.chosen-select': {placeholder_text_multiple: "Select multiple", search_contains: false},
      '.chosen-select-contains': {placeholder_text_multiple: "Select multiple", search_contains: true},
    };
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  }

  </script>

  <script src="{% static '/projects2/mainProjectDetail.js' %}?version=1.11" type="application/javascript"></script>
  <script src="{% static '/projects2/mainProjectDetailModal.js' %}?version=1.0" type="application/javascript"></script>

  {% if request.GET.project_year %}
    <script type="application/javascript">
    {#app.displayProjectYear({{request.GET.project_year}})#}
    {#document.location.href = "#project-year"#}
    </script>
  {% endif %}

  {#  // reload other scripts that we care about#}

  <script type="text/javascript" src="{% static "js/clickableTableRows.js" %}?version=1.1.7"></script>
  <script type=" text/javascript" src="{% static "js/popItOut.js" %}?version=1.2.2"></script>
  <script type=" text/javascript" src="{% static "js/underDevelopment.js" %}?version=1.2.4"></script>

{% endblock %}