{% load i18n %}

<li class="nav-item"><a class="nav-link" href="{% url 'csas2:index' %}">
  {% trans "Home" %}
</a></li>

{% if is_admin %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'csas2:reports' %}">
      {% trans "Reports" %}
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
      {% trans "Settings" %}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'csas2:manage_series' %}">
        {% trans "Manage Publication Series" %}
      </a>
    </div>
  </li>
{% endif %}





