{% load i18n %}

<div v-if="loadingAchievements" class="loading mb-3 mt-3 mt-5">
  <div class="spinner-border mb-3" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div v-else class="table table-sm">
  <div v-if="achievements.length">
    <achievement
      v-for="achievement in achievements" :key="achievement.id"
      :object="achievement"
      :editable="canModify" :dirty="unsavedChanges"
      @keypress="unsavedChanges=true"
      :category_choices="categoryChoices"
      :publication_type_choices="publicationTypeChoices"
      :labels="achievementLabels"
      @change="updateAchievement"
      @clone="cloneAchievement"
      @remove="deleteAchievement"
    ></achievement>
  </div>
  <div v-else>
    <em class="text-muted">
      {% trans "No achievements have been added to this application." %}
    </em>
  </div>
</div>