{% load i18n %}

{% include "res/application_detail/_error_alert.html" %}

<div v-if="loadingApplication" class="loading mb-3 mt-3 mt-5">
  <div class="spinner-border mb-3" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div v-else class="table table-sm">
  <editable-cell
    :label="applicationLabels.fiscal_year"
    :object="application"
    field="fiscal_year_display"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.status"
    :object="application"
    field="status_display_html"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.applicant"
    :object="application" field="applicant" display_field="applicant_display"
     :editable="canModify" input_type="select" :options="applicantChoices"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.manager"
    :object="application" field="manager" display_field="manager_display"
     :editable="canModify" input_type="select" :options="applicantChoices"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.application_start_date"
    :object="application" field="application_start_date" display_field="application_start_date_display"
     :editable="canModify" input_type="date"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.application_end_date"
    :object="application" field="application_end_date" display_field="application_end_date_display"
     :editable="canModify" input_type="date"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>
  <editable-cell
    label="{% trans "Application period" %}"
    :object="application"
    field="application_range_description"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.section"
    :object="application" field="section" display_field="section_display"
     :editable="canModify" input_type="select" :options="sectionChoices"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.current_group_level"
    :object="application" field="current_group_level" display_field="current_group_level_display"
     :editable="canModify" input_type="select" :options="groupLevelChoices"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.target_group_level"
    :object="application" field="target_group_level" display_field="target_group_level_display"
     :editable="canModify" input_type="select" :options="groupLevelChoices"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>

  <editable-cell
    :label="applicationLabels.current_position_title"
    :object="application" field="current_position_title"
    :editable="canModify" 
    @change="updateApplication" @keypress="unsavedChanges=true"
  ></editable-cell>

  <editable-cell
    :label="applicationLabels.work_location"
    :object="application" field="work_location"
    :editable="canModify"  :options="orgChoices"
    @change="updateApplication" @keypress="unsavedChanges=true"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.last_application"
    :object="application" field="last_application" display_field="last_application_display"
     :editable="canModify" input_type="date"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.last_promotion"
    :object="application" field="last_promotion" display_field="last_promotion_display"
     :editable="canModify" input_type="date"
    @keypress="unsavedChanges=true" @change="updateApplication"
  ></editable-cell>

  <editable-cell
    :label="applicationLabels.academic_background" :object="application" field="academic_background"
    display_field="academic_background_html"
    input_type="textarea" :markdown="true"
    :editable="canModify" :dirty="unsavedChanges"
    @change="updateApplication" @keypress="unsavedChanges=true"
  ></editable-cell>
  <editable-cell
    input_type="textarea"
    :label="applicationLabels.employment_history" :object="application"
    field="employment_history" display_field="employment_history_html"
    :markdown="true" :editable="canModify" :dirty="unsavedChanges"
    @change="updateApplication" @keypress="unsavedChanges=true"
  ></editable-cell>
  <editable-cell
    :label="applicationLabels.submission_date"
    :object="application"
    field="submission_date_display"
    null_mark="-----"
  ></editable-cell>
  <editable-cell
    label="{% trans "Metadata" %}"
    :object="application"
    field="metadata"
  ></editable-cell>

</div>