{#  PROBE DATA #}
{% load static %}
{% load custom_filters %}
{% load bootstrap4 %}
{% load i18n %}

{% trans "<b class='highlight'>MISSING EMAIL</b>" as missing_email %}
{% trans "<b class='highlight'>MISSING ROLE</b>" as missing_role %}

<style>
    table, td {
        font-size: small;
    }
</style>

<div style="font-size: .9em">

    <label for="user_input">
        Who would you like to add?
    </label>
    <input type="text" id="user_input" class="form-control"></input>

    <div id="results">
        <br><br>
        <h5>Results (Person / role / organization):</h5>
        <hr>
        <div id="member-list" class="" style="font: 0.85em;"></div>
        <hr>
        <br>
        Person not in list? Click <a class="" href="#" target="_blank">here</a>
        to create a new person.
    </div>

</div>
<br><br>


<h4>
    <b style="padding-right: 1.1em">
        Recipients:
    </b>
</h4>

<table class="table table-hover table-sm sortable">
    <thead>
    <th></th>
    <th>TO / CC</th>
    <th>Person</th>
    <th>Role</th>
    <th>Organization</th>
    <th>Email Address</th>
    <th>Last Modified</th>
    <th>Last Modified By</th>

    </thead>
    <tbody>
    {% for recipient in object.recipients.all %}
        <tr href="{% url 'spot:recipient_edit' recipient.id %}" pop style="background-color: {% if recipient.to_cc == 1 %}lightgreen{% else %}lightblue{% endif %}">
            <td>
                <a class="delete-me" href="#" val="{{ recipient.id }}">
                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip" title="{% trans "Remove recipient" %}">
                </a>
                <a id="secrect-delete-btn-{{ recipient.id }}" href="{% url 'spot:recipient_delete' recipient.id %}"
                   class="hidden"></a>
            </td>
            <td>{{ recipient.get_to_cc_display }}</td>
            <td>{{ recipient.member.person.first_name }} {{ recipient.member.person.last_name }}</td>
            <td>{{ recipient.member.role|nz:missing_role }}</td>
            <td>{{ recipient.member.organization }}</td>
            <td>{{ recipient.member.person.email_1|nz:missing_email }}</td>
        <td>{{ recipient.date_last_modified }}</td>
        <td>{{ recipient.last_modified_by.first_name }} {{ recipient.last_modified_by.last_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<script type="application/javascript">
    var memberList = {{ member_list |safe }};

    $(".delete-me").click(function () {
        var objectId = $(this)[0].getAttribute("val");

        var userInput = "";
        while (userInput !== "n" && userInput !== "y") {
            userInput = prompt("Are you sure you want to remove this recipient? \n\n Please respond with 'y' for yes and 'n' for no.").toLocaleLowerCase();

        }
        if (userInput === "y") {
            $("#secrect-delete-btn-" + objectId)[0].click();
        }
    });

    $(document).ready(function () {
        // Stuff to do as soon as the DOM is ready
        $("#user_input").focus()
        $("#results").addClass("gone")

    });

    $("#user_input").keydown(function (event) {
        if (event.key == "Enter") {
            $(".add-btn")[0].click()
        }
    });

    $("#user_input").keyup(function (e) {
        $("#member-list").html("");

        // it is at least four digits long
        if (this.value.length >= 3) {
            for (var i = 0; i < memberList.length; i++) {

                var re = new RegExp(this.value, 'gi');

                if (memberList[i].match(re)) {
                    $("#member-list").html(
                        $("#member-list").html() + memberList[i] + '<br>')
                }
            }
            $(".add-btn").click(function () {
                $("#user_input").val("")
                $("#member-list").html("")
                $("#user_input").focus()
                var targetURL = this.getAttribute("target-url")
                popitup(targetURL, "popWindow")
            })

        }


        if ($("#user_input").val() != "") {
            $("#results").removeClass("gone")
        }
        else {
            $("#results").addClass("gone")
        }

    });


</script>


