<em>
    *** un message français suivra
</em>
<br><br>
<p>
    A new entry in the spot web app has been logged with the following details:
</p>
<table>
    <tr>
        <td><b>title:</b></td>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <td><b>sector:</b></td>
        <td>{{ object.sector }}</td>
    </tr>
    <tr>
        <td><b>entry_type:</b></td>
        <td>{{ object.entry_type }}</td>
    </tr>
    <tr>
        <td><b>subject:</b></td>
        <td>{{ object.subject }}</td>
    </tr>
    <tr>
        <td><b>date_created:</b></td>
        <td>{{ object.date_created }}</td>
    </tr>
    <tr>
        <td><b>created_by:</b></td>
        <td>{{ object.created_by }}</td>
    </tr>
</table>
<p>
    The full entry can be viewed <a href="{{SITE_FULL_URL}}{% url 'spot:entry_detail' object.id %}">HERE</a>.
</p>

<style media="screen">
    table, td {
        border: solid 1px black;
    }
</style>
