{% load i18n %}
{% load bootstrap4 %}
{% load custom_filters %}
{% load static %}


<script type="text/x-template" id="capital-project-template">
<ul>
  <li v-for="(py, index) in fs.capital_pys">
    <span v-html="py.status_display"></span> &rarr;
    <span v-html="py.year_display"></span>
    -
    <a v-html="py.title" href="#" @click="goProjectDetail(py)"></a>
    (<span v-html="py.section"></span>) &rarr;
    <span v-html="py.capital"></span> requested /
    <span v-html="py.allocated_capital"></span> allocated.  </li>
</ul>
</script>


<script type="application/javascript">
Vue.component("capital-project-table", {
  template: "#capital-project-template",
  delimiters: ["${", "}"],
  props: {
    fs: {
      type: Object,
      required: true,
    },
  },
  methods: {
    goProjectDetail(projectYear) {
      url = `/ppt/projects/${projectYear.project}/view/?project_year=${projectYear.id}`;
      var win = window.open(url, '_blank');
    },
  }
});
</script>

<script type="text/x-template" id="om-project-template">
<ul>
  <li v-for="(py, index) in fs.om_pys">
    <span v-html="py.status_display"></span> &rarr;
    <span v-html="py.year_display"></span>
    -
    <a v-html="py.title" href="#" @click="goProjectDetail(py)"></a>
    (<span v-html="py.section"></span>) &rarr;
    <span v-html="py.om"></span> requested /
    <span v-html="py.allocated_om"></span> allocated.
  </li>
</ul>
</script>



<script type="application/javascript">
Vue.component("om-project-table", {
  template: "#om-project-template",
  delimiters: ["${", "}"],
  props: {
    fs: {
      type: Object,
      required: true,
    },
  },
  methods: {
    goProjectDetail(projectYear) {
      url = `/ppt/projects/${projectYear.project}/view/?project_year=${projectYear.id}`;
      var win = window.open(url, '_blank');
    },
  }
});
</script>

<script type="text/x-template" id="salary-project-template">
<ul>
  <li v-for="(py, index) in fs.salary_pys">
    <span v-html="py.status_display"></span> &rarr;
    <span v-html="py.year_display"></span>
    -
    <a v-html="py.title" href="#" @click="goProjectDetail(py)"></a>
    (<span v-html="py.section"></span>) &rarr;
    <span v-html="py.salary"></span> requested /
    <span v-html="py.allocated_salary"></span> allocated.  </li>
</ul>
</script>

<script type="application/javascript">
Vue.component("salary-project-table", {
  template: "#salary-project-template",
  delimiters: ["${", "}"],
  props: {
    fs: {
      type: Object,
      required: true,
    },
  },
  methods: {
    goProjectDetail(projectYear) {
      url = `/ppt/projects/${projectYear.project}/view/?project_year=${projectYear.id}`;
      var win = window.open(url, '_blank');
    },
  }
});
</script>
