<script type="application/javascript">
    $("#plot_btn").click(function (e) {
        onPlotCLick();
    })

    function onPlotCLick() {
        var e = document.getElementById("id_plot");
        var plotType = e.value;
        console.log(plotType)

        if ( plotType==0 ) {
            return;
        }
        else if ( plotType==1 ) {
            plotUrl = "{% url 'bio_diversity:plot_temp_data' model_key object.pk  'pop'%}";
        }
        else if (plotType==2) {
            plotUrl = "{% url 'bio_diversity:plot_oxy_data' model_key object.pk  'pop'%}";
        }
        window.open(plotUrl, '_blank', 'fullscreen=no');

    }
</script>