{% load verbose_names %}

<div class="container" >
    <div class="row">
        <div class="col-sm">
            <div><span class="font-weight-bold">{% get_verbose_label matp 'evnt_id' %} : </span><span>{% get_field_value matp 'evnt_id' %}</span></div>
            <div><span class="font-weight-bold">{% get_verbose_label matp 'stok_id' %} : </span><span>{% get_field_value matp 'stok_id' %}</span></div>
            <div><span class="font-weight-bold">{% get_verbose_label matp 'matp_xls' %} : </span><span>{% if matp.matp_xls %}
                <a href="{{ MEDIA_URL }}{{matp.matp_xls.url}}">Mating Plan File</a>
            {% endif %} </span></div>
            <div><span class="font-weight-bold">{% get_verbose_label matp 'comments' %} : </span><span>{% get_field_value matp 'comments' %}</span></div>
            <div><span class="font-weight-bold">{% get_verbose_label matp 'created_by' %} : </span><span>{% get_field_value matp 'created_by' %}</span></div>
            <div><span class="font-weight-bold">{% get_verbose_label matp 'created_date' %} : </span><span>{% get_field_value matp 'created_date' %}</span></div>
        </div>
    </div>
</div>
