{% extends "bio_diversity/bio_diversity_base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load verbose_names %}
{% load i18n %}
{% bootstrap_css %}

{% block body %}
    <div class="container pt-5 text-center">
        <div class="jumbotron border border-dark">
            <h1>{% trans "Biodiversity Tool" %}</h1>
            <div class="row">
                <div class="col">
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_orga'%}">{% trans "Organization" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_proga'%}">{% trans "Program Authority" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_protc'%}">{% trans "Protocol Code" %}</a>
                    </div>
                </div>
                 <div class="col">
                     <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_evntc'%}">{% trans "Event Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_facic'%}">{% trans "Facility Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_role'%}">{% trans "Role Code" %}</a>
                    </div>
                </div>
                <div class="col">
                     <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_locc'%}">{% trans "Location Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_relc'%}">{% trans "Site Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_rive'%}">{% trans "River Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_trib'%}">{% trans "Tributary" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_subr'%}">{% trans "Subriver Code" %}</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_coll'%}">{% trans "Collection Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_prio'%}">{% trans "Priority Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_stok'%}">{% trans "Stock Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_spec'%}">{% trans "Species Code" %}</a>
                    </div>
                </div>
                <div class="col">
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_unit'%}">{% trans "Units" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_qual'%}">{% trans "Quality Codes" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_contdc'%}">{% trans "Container Detail Code" %}</a>
                    </div>

                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_cdsc'%}">{% trans "Container Detail Subjective Code" %}</a>
                    </div>
                </div>
                <div class="col">
                <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_envc'%}">{% trans "Environment Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_envsc'%}">{% trans "Environment Subjective Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_instc'%}">{% trans "Instrument Code" %}</a>
                    </div>

                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_instdc'%}">{% trans "Instrument Detail Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_envtc'%}">{% trans "Environment Treatment Code" %}</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_fecu'%}">{% trans "Fecundity" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_spwndc'%}">{% trans "Spawn Detail Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_spwnsc'%}">{% trans "Spawn Detail Subjective Code" %}</a>
                    </div>
                </div>
                <div class="col">
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_imgc'%}">{% trans "Image Code" %}</a>
                    </div>
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_feedc'%}">{% trans "Feeding Code" %}</a>
                    </div>
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_indvtc'%}">{% trans "Individual Treatment Code" %}</a>
                    </div>
                </div>
                 <div class="col">
                      <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_anidc'%}">{% trans "Animal Detail code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_adsc'%}">{% trans "Animal Detail Subjective Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_sampc'%}">{% trans "Sample Code" %}</a>
                    </div>
                     <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_cntc'%}">{% trans "Count Code" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}