{% extends "bio_diversity/bio_details.html" %}
{% load bootstrap4 %}
{% load static %}
{% load verbose_names %}
{% load i18n %}
{% bootstrap_css %}

{% block model_buttons %}
    {% if object.indv_valid %}
        <a class="btn btn-primary" href="#" onclick="return pop('{% url 'bio_diversity:create_mort' 'indv' object.pk  'pop'%}')" title="{% trans 'Record Mortality' %}">{% trans 'Record Mortality' %}</a>
    {% else %}
        <a class="btn btn-primary disabled" href="#" onclick="return pop('{% url 'bio_diversity:create_mort' 'indv' object.pk  'pop'%}')" title="{% trans 'Record Mortality' %}">{% trans 'Record Mortality' %}</a>
    {% endif %}
    <a class="btn btn-primary" href="#" onclick="return pop('{% url 'bio_diversity:plot_growth' 'indv' object.pk  'pop'%}')" title="{% trans 'Plot Growth Chart' %}">{% trans 'Plot Growth Chart' %}</a>
    {% if report_url %}
        <a class="btn btn-primary" href={{report_url}} title="{% trans 'Individual Report' %}">{% trans 'Individual Report' %}</a>
    {% endif %}
{% endblock model_buttons %}


{% block detail_tables %}
    {{ block.super }}
     {% if "heritage_set" %}
        <div class="card border border-dark my-1" name="heritage-details">
            <h5 class="card-header">{% trans "Heritage History" %}</h5>
            <table class="table table-sm sortable table-hover">
                <thead>
                {% for field in heritage_field_list %}
                <th>{{ field }}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for obj in heritage_set %}
                {# the 1 is to select the group object from obj, which is a tuple #}
                {% if obj.1 %}
                <tr href="{% url 'bio_diversity:details_grp' 'indv' object.id obj.1.id %}">
                    {% for field in obj %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}



