{% extends "shared_models/generic_form_with_help_text.html" %}

{% block jquery_import %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block bug_create %}
    {% include "bio_diversity/base/_bug_url.html" %}
{% endblock bug_create %}

{% block title %}
    {% include "bio_diversity/base/_app_title.html" %}
    {% block subtitle %} - {{ subtitle }}{% endblock %}
{% endblock title %}

{% block header %}
    {{ block.super }}
<style>
    {% include "bio_diversity/bio_diversity.css" %}

    .container-fluid, .container {
        border-radius: 25px;
        margin-top: 15px;
        padding: 15px;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: small;
    }

    .label {
        font-weight: bold;
    }

    table, td {
        font-size: small;
    }
    .btn-std {
      width: 300px;
  }

</style>{% endblock %}

{% block body %}
    {{ block.super }}
{% endblock body %}

{% block left_auth %}
    {% include "bio_diversity/base/_nav_left_auth.html" %}
{% endblock left_auth %}

{% block body_js %}
    {{ block.super }}
    {% for script in scripts %}
        {% include script %}
    {% endfor %}
{% endblock %}