{% extends "bio_diversity/bio_diversity_base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load verbose_names %}
{% load i18n %}
{% bootstrap_css %}

{% block body %}
    <div class="container pt-5 text-center">
        <div class="jumbotron border border-dark">
            <h1>{% trans "Biodiversity Tool" %}</h1>

            <hr>
            <div class="container pt-3">
                <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_inst'%}">{% trans "Instrument" %}</a>
            </div>
            <div class="container pt-3">
                <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_instc'%}">{% trans "Instrument Code" %}</a>
            </div>
            <div class="container pt-3">
                <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_instd'%}">{% trans "Instrument Detail" %}</a>
            </div>
            <div class="container pt-3">
                <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_instdc'%}">{% trans "Instrument Detail Code" %}</a>
            </div>

        </div>
    </div>

{% endblock body %}
