{% extends "bio_diversity/bio_diversity_base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load verbose_names %}
{% load i18n %}
{% bootstrap_css %}

{% block body %}
    <div class="container pt-5 text-center">
        <div class="jumbotron border border-dark">
            <h1>{% trans "Program Admin" %}</h1>
            <div class="row">
                <div class="col">
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_prog'%}">{% trans "Program " %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_prot'%}">{% trans "Protocol " %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_proga'%}">{% trans "Program Authority" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_protf'%}">{% trans "Protocol File" %}</a>
                    </div>
                </div>
                 <div class="col">
                     <hr>

                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_perc'%}">{% trans "Personnel Code" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_team'%}">{% trans "Team" %}</a>
                    </div>
                </div>
                 <div class="col">
                    <hr>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_relc'%}">{% trans "Site Codes" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_matp'%}">{% trans "Mating Plans" %}</a>
                    </div>
                    <div class="container pt-3">
                        <a class="btn btn-secondary btn-lg" href="{% url 'bio_diversity:list_feedm'%}">{% trans "Feeding Method" %}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}