<!-- template for the modal component -->
{% load i18n %}

<script type="text/x-template" id="email-preview-template">
<div v-if="email">
  <transition  name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container" style="width: 1000px">
          <div class="modal-header">
            <h4> {% trans "Preview Email" %}</h4>
          </div>
          <div class="modal-body">
            <p><u class="font-weight-bold">{% trans "FROM:" %}</u><br><span v-html="email.from"></span></p>
            <p><u class="font-weight-bold">{% trans "TO:" %}</u><br><span v-html="email.to"></span></p>
            <p><u class="font-weight-bold">{% trans "SUBJECT:" %}</u><br><span v-html="email.subject"></span></p>
            <p><u class="font-weight-bold">{% trans "MESSAGE:" %}</u><br><span v-html="email.message"></span></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" @click="clear">{% trans "Back" %}</button>
            <button class="btn btn-success" @click="send">{% trans "Send" %}</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</div>
</script>

<script type="application/javascript">

Vue.component("email-preview", {
  template: "#email-preview-template",
  delimiters: ["${", "}"],
  name: "email-preview",
  props: {
    email: {
      required: true
    },
    object: {
      required: true
    },
  },
  data() {
    return {
      overlay: false,
      error: null,
    };
  },
  methods: {
    openDialog() {
      this.error = null;
      this.overlay = true;
      this.getEmailPreview();
    },
    send() {
      this.$emit("send", this.object, "send")
    },
    clear() {
      this.$emit("clear")
    }
  },
  watch: {
    email() {
    }
  }
});
</script>
