{% extends 'scuba/base.html' %}
{% load verbose_names %}
{% load i18n %}
{% load static %}


{% block subcontent %}
  <style>
  table, td, th {
      border: #0f0f0f solid 1px;
      padding: 2px;
  }
  </style>

  <div id="app">


    <div class="mb-3">

      <div v-if="loadingSections" class="loading mb-3 mt-3 text-center mt-5">
        <div class="spinner-border mb-3" style="width: 10rem; height: 10rem;" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <div v-else>
        {#  this is display mode!!  #}
        <div v-if="!editMode">
          <div class="btns mb-3">
            <a href="{% url 'scuba:dive_detail' object.id %}" class="btn btn-primary btn-sm">{% trans "All Done!" %}</a>
          </div>
          <h3>{% trans "Observations" %}</h3>
          <div class="mb-3">
            <table class="" style="width: 50%">
              {% for field in field_list %}
                {% verbose_td_display object field %}
              {% endfor %}
            </table>
          </div>
          <div class="row">

            <div class="col" style="text-align: right; padding-bottom: 10px">
              <button
                @click="editSection()"
                class="btn btn-sm btn-success">{% trans 'New Section' %}</button>
            </div>
          </div>
          <table v-if="!editMode" class="custom-table">
            <thead>
            <tr>
              {% for field in section_field_list %}
                <th rowspan="2">
                  {% get_verbose_label object.sections.first field %}
                </th>
              {% endfor %}
              <th class="text-center" colspan="5">{% trans "Observations" %}</th>
              <th rowspan="2"></th>
            </tr>
            <tr>
              {% for field in observation_field_list %}
                <th>
                  {% get_verbose_label random_observation field %}
                </th>
              {% endfor %}
            </tr>
            </thead>
            <tbody v-for="(section, index) in sections">
            <tr v-for="obs, index1 in section.observations">

              <td v-if="index1==0" :rowspan="section.observations.length" v-html="section.interval"></td>
              <td v-if="index1==0" :rowspan="section.observations.length" v-html="section.depth_ft"></td>
              <td v-if="index1==0" :rowspan="section.observations.length" v-html="section.substrate_profile" style="width: 100px"></td>
              <td v-if="index1==0" :rowspan="section.observations.length" v-html="section.observations.length" style="width: 120px"></td>
              <td v-if="index1==0" :rowspan="section.observations.length" v-html="section.comment" style="width: 120px"></td>
              <td v-html="obs.sex_display"></td>
              <td v-html="obs.egg_status_display"></td>
              <td v-html="obs.carapace_length_mm"></td>
              <td v-html="obs.certainty_rating_display"></td>
              <td v-html="obs.comment"></td>
              <td v-if="index1==0" :rowspan="section.observations.length" style="width: 120px" class="text-center">
                <button
                  @click="editSection(section)"
                  class="mdi mdi-pencil h4"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        {# if edit mode!! #}
        <div v-else>
          <span ref="top"></span>
          <form @submit.prevent="submitSectionForm">
            <div
              v-if="sectionFormErrors"
              class="alert alert-danger" role="alert" style="width: 50%;">
              <p class="alert-heading h5">${sectionFormErrors} </p>
            </div>

            <table>
              {{ section_form.as_table }}
            </table>
            <div class="mt-2">
              <p>{% trans "Substrate total percentage:" %}
                <span :class="{'bad px-1 py-1':totalPercentage!='100%','good px-1 py-1':totalPercentage=='100%'}" v-html="totalPercentage"></span>
              </p>
            </div>


            <input
              v-if="unsavedSectionWork"
              :disabled="totalPercentage!='100%'"
              type="submit"
              value="{% trans "Save Section" %}"
              class="btn btn-primary">


          </form>


          <div class="mt-4">
            <button
              @click="closeEditMode"
              class="btn btn-secondary">{% trans "Back" %}</button>
            <button
              v-if="sectionToEdit.id"
              @click="deleteSection(sectionToEdit)"
              class="btn btn-danger">{% trans "Delete" %}</button>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}


{% block body_js %}
  {{ block.super }}
  <script type="application/javascript">
  diveId = {{ object.id }};
  </script>

  <script src="{% static '/scuba/mainDiveDataEntry.js' %}?version=1.7" type="application/javascript"></script>


{% endblock %}

