{% load static %}

<br>
{% if object.web_services.count == 0 %}
    <ul>
        <em>Nothing added.</em>
    </ul>
    <br>

{% else %}
    <ul>
        {% for item in object.web_services.all %}

            <li>
                <a href="{{ item.url }}" target="_blank">
                    {{ item.content_type }} ({{ item.get_service_language_display }})
                </a>
                <a href="{% url 'inventory:web_service_edit' item.id %}">
                    <img src="{% static "/admin/img/icon-changelink.svg" %}" data-toggle="tooltip"
                         title="Edit">
                </a>
                </a>
                <a href="{% url 'inventory:web_service_delete' item.id %}">
                    <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                         title="delete">
                </a>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


