<title>PSSI - Pacific Salmon Data Hub</title>

{% extends "pssi/base.html" %} <!-- Extention of base.html page -->

<!-- 
    Purpose: Display business glossary used in the Data Assets
    Input: Requires the terms used in the Business Glossary Excel Sheet
    Output: Displays the business terms in an organised format.
-->

{% block subcontent %}
<!-- Styling for elements in the page --> 
{% include "pssi/glossary/_glossary_style.html" %}

{% with categories="ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}

{% include "pssi/glossary/_glossary_navigation.html" %}


  <div class="container py-5 px-10" id="A">
      <h1 class="letter-anchor">A</h1>

      <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Analytics</h6>
        <div class="px-5 description p-2">
          The term analytics refers to the systematic analysis of data. Analytics applications and toolkits contain mathematical algorithms and computational engines that can manipulate large datasets to uncover patterns, trends, relationships, and other intelligence that allow users to ask questions and gain useful insights about their business, operations, and markets. Many modern analytics toolkits are designed for use by non-technical business people, allowing them to perform these analyses with minimal assistance from data scientists or IT specialists.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://www.sap.com/insights/data-management-glossary.html">https://www.sap.com/insights/data-management-glossary.html</a>    
              </span>
          </h6>
        </div>            
      </div>

      <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">API Analytics</h6>
        <div class="px-5 description p-2">
          Rate limiting will be part of any API platform, without some sort of usage log and analytics showing developers where they stand, the rate limits will cause nothing but frustration. API Analytics clearly show developers where they are at with daily, weekly or monthly API usage and provide proper relief valves allowing them to scale their usage properly.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://support.google.com/analytics/answer/6086092?hl=en">https://support.google.com/analytics/answer/6086092?hl=en</a>    
              </span>
          </h6>
        </div>            
      </div>

      <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">API Documentation</h6>
        <div class="px-5 description p-2">
          Quality API documentation is the gateway to a successful API. API documentation needs to be complete, yet simplistic a very difficult balance to achieve. This balance takes work and will take the work of more than one individual on an API development team to make happen. API documentation can be written by developers of the API, but additional edits should be made by developers who were not responsible for deploying the API. As a developer, its easy to overlook parameters and other details that developers have made assumptions about.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://swagger.io/blog/api-documentation/what-is-api-documentation-and-why-it-matters/">https://swagger.io/blog/api-documentation/what-is-api-documentation-and-why-it-matters/</a>    
              </span>
          </h6>
        </div>            
      </div>

      <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Application Programming Interface</h6>
        <div class="px-5 description p-2">
          An application programming interface (API) is a set of defined rules and protocols that explain how applications talk to one another.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
              </span>
          </h6>
        </div>            
      </div>

      <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Artificial Intelligence</h6>
        <div class="px-5 description p-2">
          Artificial intelligence (AI) is a wide-ranging branch of computer science concerned with building smart machines capable of performing tasks commonly associated with intelligent beings.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
              </span>
          </h6>
        </div>            
      </div>

      <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Audit Status</h6>
        <div class="px-5 description p-2">
          An outcome following an audit that facilitates the audited business to effectively identify actions and a plan to meet the conditions set out in the audit results.  

          The status of a System Audit or a Process Audit are:  
          
          Pass - no issues found. 
          Pass with Condition (no follow-up audit required) - some minor issues found, and conditions are set to rectify them, but no follow-up audit is required. 
          Pass with Condition (follow-up audit required) - some minor issues found, and conditions are set to rectify them. A follow-up audit is required. 
          Fail – some major issues found, and conditions are set to rectify them. A follow-up audit is required. 
          Critical Fail – significant issues found. Full review and a follow-up audit are required.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://intranet.ent.dfo-mpo.ca/dfo/en/search-acronym-glossary">https://intranet.ent.dfo-mpo.ca/dfo/en/search-acronym-glossary</a>    
              </span>
          </h6>
        </div>            
      </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="B">
    <h1 class="letter-anchor">B</h1>
    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Basic Auth</h6>
      <div class="px-5 description p-2">
        Basic Auth is a way for a web browser or application to provide credentials in the form of a username and password. Because Basic Auth is integrated into HTTP protocol it is the easiest way for users to authenticate with a RESTful API. Basic Auth is easily integrated, however if SSL is not used, the username and password are passed in plain text and can be easily intercepted on the open Internet.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://swagger.io/docs/specification/authentication/basic-authentication/">https://swagger.io/docs/specification/authentication/basic-authentication/</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Batch Processing</h6>
      <div class="px-5 description p-2">
        The running of high-volume, repetitive data jobs that can run without manual intervention, and typically scheduled to run as resources permit. A batch process has a beginning and an end.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Big Data</h6>
      <div class="px-5 description p-2">
        Refers to data that is so large, fast or complex that it's difficult or impossible to process using traditional methods yet growing exponentially with time.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Big Data</h6>
      <div class="px-5 description p-2">
        Big Data is a term that describes extremely large datasets of structured, unstructured, and semi-structured data. Big Data is often characterized by the five Vs: the sheer volume of data collected, the variety of data types, the velocity at which the data is generated, the veracity of the data, and the value of it. With Big Data management systems and analytics, companies can mine Big Data for deep insights that guide decision-making and actions.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href=""></a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">BigQuery</h6>
      <div class="px-5 description p-2">
        A fully-managed, serverless data warehouse that enables scalable analysis over petabytes of data by enabling super-fast SQL queries using the processing power of Google's infrastructure.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://www.sap.com/insights/data-management-glossary.html">https://www.sap.com/insights/data-management-glossary.html</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Business Intelligence</h6>
      <div class="px-5 description p-2">
        Business intelligence (BI) combines business analytics, data mining, data visualization, data tools and infrastructure, and best practices to help organizations to make more data-driven decisions.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://www.tableau.com/learn/articles/business-intelligence">https://www.tableau.com/learn/articles/business-intelligence</a>    
            </span>
        </h6>
      </div>            
    </div>
  </div>

  <hr width="80%;"/>
  
  <div class="container py-5 px-10" id="C">
    <h1 class="letter-anchor">C</h1>
    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Code Library</h6>
      <div class="px-5 description p-2">
        Working code samples in all the top programming languages are common place in the most successful APIs. Documentation will describe in a general way, how to use an API, but code samples will speak in the specific language of developers.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://www.yourdictionary.com/code-library">https://www.yourdictionary.com/code-library</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Conforming Data</h6>
      <div class="px-5 description p-2">
        Data that is of high quality (e.g., conforms to business requirements in a manner that is “fit for purpose”). 
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://intranet.ent.dfo-mpo.ca/dfo/en/search-acronym-glossary">https://intranet.ent.dfo-mpo.ca/dfo/en/search-acronym-glossary</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Content API</h6>
      <div class="px-5 description p-2">
        A web service that provides dynamic access to the page content of a website, includes the title, body, and body elements of individual pages. Such an API often but not always functions atop a Content Management System.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="http://www.clevegibbon.com/2013/06/why-content-apis/">http://www.clevegibbon.com/2013/06/why-content-apis/</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Comma-Separated Values</h6>
      <div class="px-5 description p-2">
        A comma separated values (CSV) file is a computer data file used for implementing the tried and true organizational tool, the Comma Separated List. The CSV file is used for the digital storage of data structured in a table of lists form. Each line in the CSV file corresponds to a row in the table. Within a line, fields are separated by commas, and each field belongs to one table column. CSV files are often used for moving tabular data between two different computer programs (like moving between a database program and a spreadsheet program)
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="http://www.data.gov/glossary">http://www.data.gov/glossary</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Comma-Separated Values</h6>
      <div class="px-5 description p-2">
        A Comma-Separated Values (CSV) file is a delimited text file in which information is separated by commas, and is common in spreadsheet apps.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Catalog Service for the Web</h6>
      <div class="px-5 description p-2">
        Catalog Service for the Web (CSW) is an API used by geospatial systems to provide metadata in open standards, including in the FGDC-endorsed ISO 19115 schema. The CSW-provided metadata can be mapped into the Project Open Data metadata schema.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://digital.gov/resources/how-to-get-your-open-data-on-data-gov/%23federal-geospatial-data">https://digital.gov/resources/how-to-get-your-open-data-on-data-gov/%23federal-geospatial-data</a>    
            </span>
        </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Customer Data Onboarding </h6>
      <div class="px-5 description p-2">
        The process of ingesting online and offline customer data into a product’s operational system(s) in order to successfully use that product.
        <h6 class="pt-1 my-0 source">Source:
            <span>
                <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
            </span>
        </h6>
      </div>            
    </div>

  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="D">
    <h1 class="letter-anchor">D</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
          Reinterpretable representations of information in a formalized manner suitable for communication, interpretation, or processing.
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href="https://www.tbs-sct.canada.ca/pol/glossary-lexique-eng.aspx#glos-lex-D">https://www.tbs-sct.canada.ca/pol/glossary-lexique-eng.aspx#glos-lex-D</a>    
                </span>
            </h6>
        </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Data Analytics </h6>
      <div class="px-5 description p-2">
        The science of analyzing raw data in order to make conclusions about that information.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
              </span>
          </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Data Architecture</h6>
      <div class="px-5 description p-2">
        Defines how information flows in an organization for both physical and logical data assets, and governs how they are controlled. The goal of data architecture is to translate business needs into data and system requirements and to manage data and its flow through the enterprise.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
              </span>
          </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Data Architecture</h6>
      <div class="px-5 description p-2">
        Data architecture is the overall design for the structure, policies, and rules that define an organization’s data and how it will be used and managed. Data architecture includes the details of how the data strategy is implemented in support of business needs and goals – and serves as the foundation for development of databases, procedures, safeguards, security, and data governance.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://www.sap.com/insights/data-management-glossary.html">https://www.sap.com/insights/data-management-glossary.html</a>    
              </span>
          </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Data Asset</h6>
      <div class="px-5 description p-2">
        An artifact (e.g. dataset, database or document) that stores data which holds a strategic value to the organization
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://intranet.ent.dfo-mpo.ca/dfo/en/search-acronym-glossary">https://intranet.ent.dfo-mpo.ca/dfo/en/search-acronym-glossary</a>    
              </span>
          </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Data Asset</h6>
      <div class="px-5 description p-2">
        A collection of data elements or datasets that make sense to group together. Each community of interest identifies the Data Assets specific to supporting the needs of their respective mission or business functions. Notably, a Data Asset is a deliberately abstract concept. A given Data Asset may represent an entire database consisting of multiple distinct entity classes, or may represent a single entity class.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://csrc.nist.gov/glossary/term/data_asset">https://csrc.nist.gov/glossary/term/data_asset</a>    
              </span>
          </h6>
      </div>            
    </div>

    <div class="container py-2 ps-5 line">
      <h6 class="my-0 term">Data Augmentation</h6>
      <div class="px-5 description p-2">
        A technique to artificially increase the amount of training data from existing training data without actually collecting new data.
          <h6 class="pt-1 my-0 source">Source:
              <span>
                  <a class="link" href="https://www.osmos.io/blog/data-terms-glossary-list">https://www.osmos.io/blog/data-terms-glossary-list</a>    
              </span>
          </h6>
      </div>            
    </div>

  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="E">
    <h1 class="letter-anchor">E</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="F">
    <h1 class="letter-anchor">F</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="G">
    <h1 class="letter-anchor">G</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="H">
    <h1 class="letter-anchor">H</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="I">
    <h1 class="letter-anchor">I</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="J">
    <h1 class="letter-anchor">J</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="K">
    <h1 class="letter-anchor">K</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="L">
    <h1 class="letter-anchor">L</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="M">
    <h1 class="letter-anchor">M</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="N">
    <h1 class="letter-anchor">N</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="O">
    <h1 class="letter-anchor">O</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="P">
    <h1 class="letter-anchor">P</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="Q">
    <h1 class="letter-anchor">Q</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="R">
    <h1 class="letter-anchor">R</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="S">
    <h1 class="letter-anchor">S</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="T">
    <h1 class="letter-anchor">T</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="U">
    <h1 class="letter-anchor">U</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="V">
    <h1 class="letter-anchor">V</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="W">
    <h1 class="letter-anchor">W</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="X">
    <h1 class="letter-anchor">X</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="Y">
    <h1 class="letter-anchor">Y</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

  <hr width="80%;"/>

  <div class="container py-5 px-10" id="Z">
    <h1 class="letter-anchor">Z</h1>
    <div class="container py-2 ps-5 line">
        <h6 class="my-0 term">Data</h6>
        <div class="px-5 description p-2">
            <h6 class="pt-1 my-0 source">Source:
                <span>
                    <a class="link" href=""></a>    
                </span>
            </h6>
        </div>            
    </div>
  </div>

{% endwith %}
{% endblock %}